Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

feat: write lua docs to given path
  deno.jsonc
  src/catalua.cpp
  src/catalua.h
  src/main.cpp
  src/path_display.cpp
  src/path_info.cpp
  src/path_info.h
Labels: src

build: fix manual release boolean check
  .github/workflows/manual-release.yml
Labels: none

"very funny"
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
Labels: JSON

feat: write lua docs to given path (#6442)
  deno.jsonc
  doc/src/content/docs/en/dev/reference/cli_options.md
  src/catalua.cpp
  src/catalua.h
  src/main.cpp
  src/path_display.cpp
  src/path_info.cpp
  src/path_info.h
Labels: src, docs

update 2014 recipe
  data/json/items/gun/flammable.json
  data/json/recipes/weapon/bashing.json
Labels: JSON

feat(UI): `looks_like` for `effect_type`, status effect emotes (#6431)
  data/json/effects.json
  doc/src/content/docs/en/mod/json/reference/creatures/effects_json.md
  src/character.cpp
  src/character.h
  src/effect.cpp
  src/effect.h
  src/npctalk.cpp
  src/savegame_json.cpp
Labels: src, JSON, docs

gun
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/40.json
  data/json/items/gun/45.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/40.json
  data/json/items/magazine/45.json
  data/json/items/magazine/9mm.json
  data/json/uncraft/magazine/45.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: JSON, mods

feat: reintroduce shishkebab, aux flamer, makeshift flamethrowers (#6448)
  data/json/items/gun/flammable.json
  data/json/items/gunmod/barrel.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/mapgen/bandit_camp.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/obsoletion/uncategorized.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/ranged.json
  data/json/uncraft/tools.json
Labels: JSON

extremely important
  data/json/items/gun/357sig.json
Labels: JSON

minor typo
  data/json/items/gun/9mm.json
  data/json/items/magazine/9mm.json
Labels: JSON

tralalero tralala
  data/json/items/magazine/40.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: JSON, mods

pure evil
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/itemgroups/military.json
  data/json/items/book/electronics.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/gun/40x53mm.json
  data/json/monsters/turrets.json
  data/json/recipes/electronic/other.json
Labels: JSON

extra comma
  data/json/items/gun/40x53mm.json
Labels: JSON

moves some uncrafts where they are supposed to be
  data/json/uncraft/magazine/40.json
  data/json/uncraft/magazine/45.json
  data/json/uncraft/magazine/9mm.json
Labels: JSON

Update data/json/monsters/turrets.json
  data/json/monsters/turrets.json
Labels: JSON

h
  data/json/uncraft/magazine/9mm.json
Labels: JSON

missing comma lul
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
Labels: JSON

final recipe?
  data/json/recipes/weapon/bashing.json
Labels: JSON

naming
  data/json/items/gun/223.json
Labels: JSON

vive la france
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/223.json
Labels: JSON

adds the things
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/gunmod/mechanism.json
  data/json/recipes/weapon/mods.json
  data/mods/Generic_Guns/gunmods/gg_gunmods_blacklist.json
Labels: JSON, mods

wtf
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
Labels: JSON

build: always enable Lua
  .github/workflows/experimental-release.yml
  .github/workflows/manual-release.yml
  .github/workflows/matrix.yml
  .github/workflows/osx.yml
  .github/workflows/release.yml
  CMakeLists.txt
  CMakePresets.json
  Makefile
  build-scripts/get_all_mods.py
  build-scripts/gha_compile_only.sh
  build-scripts/gha_test_only.sh
  doc/src/content/docs/en/mod/lua/explanation/lua_integration.md
  doc/src/content/docs/en/mod/lua/guides/binding.md
  src/CMakeLists.txt
  src/catalua.cpp
  src/catalua_bindings.cpp
  src/catalua_bindings_coords.cpp
  src/catalua_bindings_creature.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_bindings_magic.cpp
  src/catalua_bindings_mutation.cpp
  src/catalua_console.cpp
  src/catalua_impl.cpp
  src/catalua_iuse_actor.cpp
  src/catalua_log.cpp
  src/catalua_readonly.cpp
  src/catalua_serde.cpp
  tests/catalua_test.cpp
Labels: src, tests, docs

style: spaces
  data/mods/teleportation_mod/item.json
Labels: JSON, mods

build: always enable Lua (#6447)
  .github/workflows/experimental-release.yml
  .github/workflows/manual-release.yml
  .github/workflows/matrix.yml
  .github/workflows/osx.yml
  .github/workflows/release.yml
  CMakeLists.txt
  CMakePresets.json
  Makefile
  build-scripts/get_all_mods.py
  build-scripts/gha_compile_only.sh
  build-scripts/gha_test_only.sh
  data/mods/teleportation_mod/item.json
  doc/src/content/docs/en/mod/lua/explanation/lua_integration.md
  doc/src/content/docs/en/mod/lua/guides/binding.md
  src/CMakeLists.txt
  src/catalua.cpp
  src/catalua_bindings.cpp
  src/catalua_bindings_coords.cpp
  src/catalua_bindings_creature.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_bindings_magic.cpp
  src/catalua_bindings_mutation.cpp
  src/catalua_console.cpp
  src/catalua_impl.cpp
  src/catalua_iuse_actor.cpp
  src/catalua_log.cpp
  src/catalua_readonly.cpp
  src/catalua_serde.cpp
  tests/catalua_test.cpp
Labels: src, tests, JSON, mods, docs

json
  data/json/player_activities.json
  src/player_activity.cpp
Labels: src, JSON

implement time preview
  src/activity_actor_definitions.h
  src/activity_speed_adapters.h
  src/crafting.cpp
  src/crafting.h
  src/crafting_gui.cpp
Labels: src

uncomment tests
  tests/crafting_test.cpp
Labels: tests

fix: Don't fallthrough unused m_flag
  src/monstergenerator.cpp
Labels: src

big knife
  data/json/items/melee/swords_and_blades.json
Labels: JSON

Un-delete the no anthills mod
  data/mods/No_Anthills/modinfo.json
Labels: JSON, mods

Oops, fix mod test blacklist for ants too
  build-scripts/mod_test_blacklist
Labels: none

Add 0.8.0 to metainfo
  data/XDG/org.cataclysmbn.CataclysmBN.metainfo.xml
Labels: JSON

a
  data/json/items/ammo/46.json
  data/json/items/ammo/57.json
  data/json/items/gun/57.json
Labels: JSON

chore: Update metainfo (#6458)
  data/XDG/org.cataclysmbn.CataclysmBN.metainfo.xml
Labels: JSON

Update data/json/items/gun/223.json
  data/json/items/gun/223.json
Labels: JSON

feat(balance): Removes NO_CVD flag from RM42 knife, adjusts stats (#6457)
  data/json/items/melee/swords_and_blades.json
Labels: JSON

feat(balance): revamps Kriss Vector & mags, adds 9mm variant, increases drop rate (#6450)
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/357sig.json
  data/json/items/gun/40.json
  data/json/items/gun/45.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/40.json
  data/json/items/magazine/45.json
  data/json/items/magazine/9mm.json
  data/json/uncraft/magazine/40.json
  data/json/uncraft/magazine/45.json
  data/json/uncraft/magazine/9mm.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: JSON, mods

feat(balance): decreases 5.7x26mm and 4.6x30mm recoil, increases FN Five SeveN handling (#6459)
  data/json/items/ammo/46.json
  data/json/items/ammo/57.json
  data/json/items/gun/57.json
Labels: JSON

feat: adds G36 stanag adapter, AUG nato conversion kit (#6455)
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/gunmod/mechanism.json
  data/json/recipes/weapon/mods.json
  data/mods/Generic_Guns/gunmods/gg_gunmods_blacklist.json
Labels: JSON, mods

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*
