Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, data, mods, translation

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

data:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

feat: add option for minimizing
  src/options.cpp
  src/sdltiles.cpp
Labels: src

Add missing damage sources kills and suicide to kills list (#2092)
  src/ballistics.cpp
  src/bionics.cpp
  src/character.cpp
  src/computer_session.cpp
  src/explosion.cpp
  src/explosion.h
  src/explosion_queue.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/item.cpp
  src/item.h
  src/itype.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/magic.h
  src/magic_spell_effect.cpp
  src/map.cpp
  src/mondeath.cpp
  src/monster.cpp
  src/player.cpp
  src/player.h
  src/projectile.cpp
  src/projectile.h
  src/trapfunc.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
Labels: src

Removes overmap generation from test startup (#2090)
  tests/test_main.cpp
Labels: tests

Fix ambient sound not updating in game on setting options change (#2030)
  src/options.cpp
  src/sdlsound.cpp
  src/sdlsound.h
Labels: src

Integrate basic.json into data/json (#2106)
  data/core/basic.json
  data/json/items/ammo_types.json
  data/json/items/comestibles/drink.json
Labels: data

[DDA Port] port compose.py (#2095)
  tools/gfx_tools/compose.py
Labels: none

[Port] Add in-game progression diary (#1965)
  data/raw/keybindings.json
  src/action.cpp
  src/action.h
  src/avatar.cpp
  src/avatar.h
  src/character_martial_arts.cpp
  src/character_martial_arts.h
  src/diary.cpp
  src/diary.h
  src/diary_ui.cpp
  src/game.cpp
  src/handle_action.cpp
  src/inventory.cpp
  src/kill_tracker.h
  src/popup.h
  src/string_editor_window.cpp
  src/string_editor_window.h
Labels: src, data
