Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

curses output attempt 4.1
  src/ncurses_def.cpp
Labels: src

make rm298 HMG a mounted weapon
  data/json/items/gun/8x40mm.json
Labels: JSON

open HHG page buttons, unhardcode wiki page
  data/raw/keybindings/keybindings.json
  src/action.cpp
  src/action.h
  src/examine_item_menu.cpp
  src/game.cpp
  src/handle_action.cpp
  src/options.cpp
Labels: src, JSON

hide from menu if not defined
  src/examine_item_menu.cpp
Labels: src

fix weird keybinding behavior
  data/raw/keybindings/keybindings.json
Labels: JSON

add ump40/ump9, correct some ump stuff
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/defense_mode.json
  data/json/items/gun/40.json
  data/json/items/gun/45.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/40.json
  data/json/items/magazine/45.json
  data/json/items/magazine/9mm.json
  data/json/recipes/weapon/magazines.json
  data/json/uncraft/magazine/40.json
  data/json/uncraft/magazine/45.json
  data/json/uncraft/magazine/9mm.json
Labels: JSON

add ump40 makeshift mag uncraft
  data/json/uncraft/magazine/40.json
Labels: JSON

edit messages describing wield times
  src/item.cpp
Labels: src

typo
  src/item.cpp
Labels: src

add ump40 makeshift mag uncraft
  data/json/uncraft/magazine/40.json
Labels: JSON

add ump40/ump9, correct some ump stuff Co-authored-by: carmakazi <49455167+carmakazi@users.noreply.github.com>
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/defense_mode.json
  data/json/items/gun/40.json
  data/json/items/gun/45.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/40.json
  data/json/items/magazine/45.json
  data/json/items/magazine/9mm.json
  data/json/recipes/weapon/magazines.json
  data/json/uncraft/magazine/40.json
  data/json/uncraft/magazine/45.json
  data/json/uncraft/magazine/9mm.json
Labels: JSON

add ump40 makeshift mag uncraft
  data/json/uncraft/magazine/40.json
Labels: JSON

feat(balance): give RM298 HMG `MOUNTED_GUN` flag (#6481)
  data/json/items/gun/8x40mm.json
Labels: JSON

add-uilist-entry-bindings
  doc/src/content/docs/en/mod/lua/reference/lua.md
  src/catalua_bindings.cpp
  src/catalua_luna_doc.h
Labels: src, docs

fix: build warnings
  src/iuse.cpp
Labels: src

i drink your milkshake
  data/json/items/armor/power_armor.json
Labels: JSON

curses output attempt 5
  src/ncurses_def.cpp
  src/output.cpp
Labels: src

Add folding stock to UMP45, correct its weight, its mag material, uncraft from it, add cooler descs from DDA Co-authored-by: carmakazi <49455167+carmakazi@users.noreply.github.com>
  data/json/items/gun/45.json
  data/json/items/magazine/45.json
  data/json/uncraft/magazine/45.json
Labels: JSON

x
  data/json/items/tool_armor.json
Labels: JSON

coding and whatnot
  data/json/flags.json
  data/json/items/tool_armor.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/character.cpp
  src/flag.cpp
  src/flag.h
Labels: src, JSON, docs

curses output release candidate
  src/ncurses_def.cpp
  src/output.cpp
  src/output.h
Labels: src

Update urban_16_house_ranch.json
  data/json/mapgen/city_blocks/urban_16_house_ranch.json
Labels: JSON

Update multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

what-i-found
  src/map.cpp
Labels: src

comment typo
  src/ncurses_def.cpp
Labels: src

feat: use the standard domestic palette for urban_16_house_ranch (#6489)
  data/json/mapgen/city_blocks/urban_16_house_ranch.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

sprites
  data/json/items/tool_armor.json
  gfx/MSX++UnDeadPeopleEdition/normal_items.png
Labels: JSON

experimental?
  data/json/items/tool_armor.json
Labels: JSON

briefer messages
  data/json/items/tool_armor.json
Labels: JSON

literally just changes 2 pixels thats it
  gfx/MSX++UnDeadPeopleEdition/normal_items.png
Labels: none

ehh
  data/json/items/tool_armor.json
Labels: JSON

refactor: rearrange flags
  data/json/items/tool_armor.json
Labels: JSON

external tileset
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
Labels: JSON

silliness
  data/json/external_tileset/External_Tileset_DP_Normal.png
Labels: JSON

fix: unit
  data/json/items/tool_armor.json
Labels: JSON

chore: revert changes to `gfx/`
  gfx/MSX++UnDeadPeopleEdition/normal_items.png
Labels: none

fix: iuse build warnings (#6486)
  src/iuse.cpp
Labels: src

feat: enhance UI on lua (#6485)
  doc/src/content/docs/en/mod/lua/reference/lua.md
  src/catalua_bindings.cpp
  src/catalua_luna_doc.h
Labels: src, docs

avatar-read
  src/catalua_bindings_creature.cpp
Labels: src

Initial version
  src/handle_action.cpp
  src/magic.cpp
  src/magic.h
Labels: src

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*
