Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

standardize with cmake --build
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

add section for WSL
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

use cmake --install
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

missed a cd
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

Update urban_19_victorian.json
  data/json/mapgen/city_blocks/urban_19_victorian.json
Labels: JSON

Update multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

docs: Add WSL section for cmake (#6509)
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

Description fixes, no warmth
  data/json/items/armor/power_armor.json
Labels: JSON

feat(balance): exo-suit description fix, warmth removal (#6511)
  data/json/items/armor/power_armor.json
Labels: JSON

test: skip flaky monster tests
  tests/monster_test.cpp
Labels: tests

ci: fix vcpkg failure
  .github/workflows/msvc-full-features-cmake.yml
Labels: none

style: format javascript
  .github/workflows/msvc-full-features-cmake.yml
Labels: none

Update item_creation.md
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

ci: fix vcpkg failure (#6514)
  .github/workflows/msvc-full-features-cmake.yml
Labels: none

docs: add cast_spell documentation (#6515)
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

fix grammar errors. potentially factual errors
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

test: hide flaky monster move tests (#6512)
  tests/monster_test.cpp
Labels: tests

add function min_pain(), check it in get_pain(), add game option to disable the whole thing
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/options.cpp
Labels: src

update perceived pain when wearing and removing equipment to get rid of inconsistent morale warnings when using splints
  src/character.cpp
Labels: src

replace Character::get_pain() with get_pain(Character)
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
Labels: src

remove min_pain declaration from character.h, streamline Character::get_pain
  src/character.cpp
  src/character.h
Labels: src

update morale when healing
  src/character.cpp
Labels: src

docs: fix bad grammar and potential error in cast_spell documentation (#6516)
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

feat: use the standard domestic palette for urban_19_victorian (#6510)
  data/json/mapgen/city_blocks/urban_19_victorian.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

define pain numbers as constants to make them more convenient to change in the future
  src/character.cpp
Labels: src

feat(UI): open HHG page buttons, unhardcode wiki page (#6482)
  data/raw/keybindings/keybindings.json
  src/action.cpp
  src/action.h
  src/examine_item_menu.cpp
  src/game.cpp
  src/handle_action.cpp
  src/options.cpp
Labels: src, JSON

Add orichalcum mines
  data/mods/MagicalNights/worldgen/orichalcum_mine.json
  data/mods/MagicalNights/worldgen/overmap_specials.json
  data/mods/MagicalNights/worldgen/overmap_terrain.json
Labels: JSON, mods

alert for player and followers
  src/monattack.cpp
Labels: src

feat(UI): popup for zombie technician's pull (#6519)
  src/monattack.cpp
Labels: src

feat: flagify `BRASS_CATCHER` (#6499)
  data/json/items/gunmod/brass_catcher.json
  src/avatar_functions.cpp
  src/item.cpp
  src/ranged.cpp
Labels: src, JSON

Revert-avatar-read-and-code-ebook-lua
  data/mods/ebook_lua/item_action.json
  data/mods/ebook_lua/items/tools.json
  data/mods/ebook_lua/main.lua
  data/mods/ebook_lua/modinfo.json
  data/mods/ebook_lua/preload.lua
  src/catalua_bindings_creature.cpp
Labels: src, JSON, mods

firmware-version-change
  data/mods/ebook_lua/main.lua
Labels: JSON, mods

missing-format
  data/mods/ebook_lua/main.lua
Labels: JSON, mods

Running-deno-task-dprint-fmt
  data/mods/ebook_lua/main.lua
  data/mods/ebook_lua/preload.lua
Labels: JSON, mods

fix some load errors
  data/mods/MagicalNights/worldgen/orichalcum_mine.json
  data/mods/MagicalNights/worldgen/overmap_specials.json
Labels: JSON, mods

Add tile
  data/mods/MagicalNights/MagicalNights_Tiles.png
  data/mods/MagicalNights/mod_tileset.json
Labels: JSON, mods

fix some tileset bugs
  data/mods/MagicalNights/mod_tileset.json
Labels: JSON, mods

feat(mods/MagicalNights): Add orichalcum mines (#6521)
  data/mods/MagicalNights/MagicalNights_Tiles.png
  data/mods/MagicalNights/mod_tileset.json
  data/mods/MagicalNights/worldgen/orichalcum_mine.json
  data/mods/MagicalNights/worldgen/overmap_specials.json
  data/mods/MagicalNights/worldgen/overmap_terrain.json
Labels: JSON, mods

Update json_inheritance.md
  doc/src/content/docs/en/mod/json/reference/items/json_inheritance.md
Labels: docs

edit-mod-info
  data/mods/ebook_lua/modinfo.json
Labels: JSON, mods

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*
