Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

add looks_like to effect_types, and document it
  doc/src/content/docs/en/mod/json/reference/creatures/effects_json.md
  src/effect.cpp
  src/effect.h
Labels: src, docs

rework emotes to use new system and looks_like
  data/json/effects.json
  src/avatar_action.cpp
  src/character.cpp
  src/character.h
  src/npctalk.cpp
Labels: src, JSON

unhardcode emoting messages
  data/json/effects.json
  src/npctalk.cpp
Labels: src, JSON

fix: introduce missing `hands` workbench to activity speed formula (#6429)
  src/activity_speed.cpp
  src/crafting.cpp
  src/crafting.h
Labels: src

last_emote serialization bug fixed, move code
  src/character.cpp
  src/character.h
  src/savegame_json.cpp
Labels: src

polishing values
  src/activity_actor_definitions.h
  src/character.h
  src/craft_command.cpp
  src/crafting.cpp
  src/crafting.h
  src/crafting_gui.cpp
  src/item.h
  src/player_activity.cpp
  src/player_activity.h
Labels: src

.
  src/crafting.h
Labels: src

typo
  src/crafting.cpp
Labels: src

fully jsonified, fix remove_message
  data/json/effects.json
  src/npctalk.cpp
Labels: src, JSON

fix accidental space, i think other one was already fixed
  src/avatar_action.cpp
  src/character.cpp
Labels: src

reorder emotes, remove leftover code
  data/json/effects.json
  src/npctalk.cpp
Labels: src, JSON

remove "asthma" emote since we have winded
  data/json/effects.json
Labels: JSON

Update src/npctalk.cpp
  src/npctalk.cpp
Labels: src

add spraycan flamethrower back
  data/json/items/gun/flammable.json
  data/json/obsoletion/items.json
  data/json/obsoletion/uncategorized.json
  data/json/recipes/weapon/ranged.json
Labels: JSON

add simple flamethrower, recipe fix
  data/json/items/gun/flammable.json
  data/json/obsoletion/items.json
  data/json/recipes/weapon/ranged.json
Labels: JSON

extend shishkebab burn time
  data/json/items/melee/swords_and_blades.json
Labels: JSON

style: accidental line removal
  src/character.h
Labels: src

refactor: simplify logic
  src/character.cpp
  src/npctalk.cpp
Labels: src

chore: use V2 save format as default
  src/world.cpp
Labels: src

feat:Add Lua binding for traps
  src/catalua_bindings.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_luna_doc.h
  src/trap.cpp
  src/trap.h
Labels: src

THE FUCKING COMMA!
  src/activity_speed.h
Labels: src

chore: use V2 save format as default (#6438)
  src/world.cpp
Labels: src

feat(port): dab pens, thc extraction, dispensary & headshop update (#6422)
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/stashes.json
  data/json/itemgroups/supplies.json
  data/json/items/ammo.json
  data/json/items/armor/torso_clothes.json
  data/json/items/book/fabrication.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/med.json
  data/json/items/generic.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/items/tool/smoking.json
  data/json/mapgen/dispensary.json
  data/json/mapgen/headshop.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/items_generic.json
  data/json/obsoletion/items.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/recipes/chem/drugs.json
  data/json/recipes/other/tools.json
Labels: JSON

feat(balance): rebalances "handling" stat for all guns and mods (#6362)
  data/json/items/classes/gun.json
  data/json/items/gun/10mm.json
  data/json/items/gun/20x66mm.json
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/gun/308.json
  data/json/items/gun/32.json
  data/json/items/gun/357sig.json
  data/json/items/gun/38.json
  data/json/items/gun/380.json
  data/json/items/gun/38super.json
  data/json/items/gun/40.json
  data/json/items/gun/44.json
  data/json/items/gun/45.json
  data/json/items/gun/45colt.json
  data/json/items/gun/50.json
  data/json/items/gun/545x39.json
  data/json/items/gun/700nx.json
  data/json/items/gun/8x40mm.json
  data/json/items/gun/9mm.json
  data/json/items/gun/misc.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/barrel.json
  data/json/items/gunmod/grip.json
  data/json/items/gunmod/muzzle.json
  data/json/items/gunmod/stock.json
  data/json/items/gunmod/underbarrel.json
  tests/ranged_burst_balance_test.cpp
Labels: tests, JSON

feat: Add Lua binding for traps (#6439)
  src/catalua_bindings.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_luna_doc.h
  src/trap.cpp
  src/trap.h
Labels: src

docs: add traps lua API
  doc/src/content/docs/en/mod/lua/reference/lua.md
Labels: docs

docs: add traps lua API (#6441)
  doc/src/content/docs/en/mod/lua/reference/lua.md
Labels: docs

feat(UI): remove verbose activity speed description for certain activities (#6440)
  data/json/player_activities.json
Labels: JSON

docs: fix wrong clang-tidy build instruction in fedora
  doc/src/content/docs/en/dev/reference/tooling.md
Labels: docs

docs: fix wrong clang-tidy build instruction in fedora (#6443)
  doc/src/content/docs/en/dev/reference/tooling.md
Labels: docs

chore: disclaimer for docs in PR template
  .github/pull_request_template.md
Labels: none

chore: checkbox to update lua docs in PR template
  .github/pull_request_template.md
Labels: none

build: add `linux-full` cmake preset
  CMakePresets.json
Labels: none

build: simplify manual release
  .github/workflows/manual-release.yml
Labels: none

update attachments, update recipe
  data/json/items/gun/flammable.json
  data/json/items/gunmod/barrel.json
  data/json/recipes/weapon/ranged.json
Labels: JSON

unobsolete battletorch, fix flamer attachment
  data/json/items/gunmod/barrel.json
  data/json/items/melee/bludgeons.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/recipes/weapon/bashing.json
  data/json/uncraft/tools.json
Labels: JSON

build: simplify manual release (#6446)
  .github/workflows/manual-release.yml
Labels: none

build: add `linux-full` cmake preset (#6445)
  CMakePresets.json
Labels: none

chore: mention lua and docs in PR template (#6444)
  .github/pull_request_template.md
Labels: none

docs: update CLI options
  doc/src/content/docs/en/dev/reference/cli_options.md
  src/catalua.cpp
  src/catalua.h
Labels: src, docs

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*
