Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*

does the necessary things
  data/json/items/ammo/22.json
  data/json/items/ammo/32.json
  data/json/items/ammo/38.json
  data/json/items/ammo/380.json
  data/json/items/ammo/38super.json
  data/json/items/ammo/45.json
  data/json/items/ammo/46.json
  data/json/items/ammo/57.json
  data/json/items/ammo/762x25.json
  data/json/items/ammo/9mm.json
  data/json/items/ammo/9x18.json
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: JSON, docs

misinput
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

grenades
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
Labels: JSON

gonna put this in a seperate PR
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

feat: Un-inline some clothing itemgroups (#6406)
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/mods/pride_flags/item_groups.json
Labels: JSON, mods

consume_drug improvements & documentation
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: src, docs

JSONify weed & tobacco items, modernize ecigs
  data/json/items/comestibles/med.json
  data/json/items/comestibles/wheat.json
  data/json/items/tool/smoking.json
Labels: JSON

snippet chance, fix ecig error, replace CHEW
  data/json/items/comestibles/med.json
  data/json/snippets/snippets.json
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: src, JSON, docs

move iuses to obsolete section
  src/item_factory.cpp
  src/iuse.h
Labels: src

tear iuses out completely
  data/json/item_actions.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: src, JSON

rename fake_ecig, fix hand-rolled and add snippet
  data/json/items/comestibles/med.json
  data/json/snippets/snippets.json
Labels: JSON

reorder output text, remove evil blunt debug item
  data/json/items/comestibles/med.json
  data/json/items/comestibles/wheat.json
  data/json/items/tool/smoking.json
  src/iuse_actor.cpp
Labels: src, JSON

forgot to push snippet changes
  data/json/snippets/snippets.json
Labels: JSON

fix description
  data/json/items/comestibles/med.json
  data/json/snippets/snippets.json
Labels: JSON

fix snippets i missed again
  data/json/snippets/snippets.json
Labels: JSON

minor optimisation, function split
  src/examine_item_menu.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/salvage.cpp
  src/salvage.h
Labels: src

cigar health value, my sweet cataclysm description
  data/json/items/comestibles/med.json
  data/mods/My_Sweet_Cataclysm/items/vanilla_extentions.json
Labels: JSON, mods

Fix the garage doors
  data/mods/MagicalNights/worldgen/wizard-towers.json
Labels: JSON, mods

fix(mods/MagicalNights): Fix the garage doors on wizard towers (#6411)
  data/mods/MagicalNights/worldgen/wizard-towers.json
Labels: JSON, mods

feat(port): port civilians from DDA as opt-in mod (#6393)
  data/mods/Civilians/civilians.json
  data/mods/Civilians/modinfo.json
  data/mods/Civilians/monster_gun.json
  data/mods/Civilians/monstergroup.json
  data/mods/Civilians/speech.json
Labels: JSON, mods

add unused MF_ value to fill hole
  src/mtype.h
Labels: src

port DDA #61490
  src/npctalk.cpp
Labels: src

Add `MF_UNUSED_76` to `enum_to_string<m_flag>`
  src/monstergenerator.cpp
Labels: src

Minor JSON updates
  data/json/bionics.json
  data/json/items/ammo.json
  data/json/items/ammo_types.json
Labels: JSON

port dda change #71427
  src/npctalk.cpp
Labels: src

add emote context
  src/npctalk.cpp
Labels: src

add always-false stub for deprecated `item:is_filthy` LUA call
  src/catalua_bindings.cpp
Labels: src

Update urban_11_house_brick.json
  data/json/mapgen/city_blocks/urban_11_house_brick.json
Labels: JSON

Update multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

ADDS THE STORAGE
  data/json/items/tool_armor.json
Labels: JSON

astyle
  src/mapgen.cpp
Labels: src

fix: force named palettes to be unique
  src/mapgen.cpp
Labels: src

doc: Add documentation that palettes can no longer be redefined.
  doc/src/content/docs/en/mod/json/guides/map/mapgen.md
Labels: docs

fix: turn all mapgen of urban_11_house_brick to the north (#6414)
  data/json/mapgen/city_blocks/urban_11_house_brick.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

Update urban_12_house.json
  data/json/mapgen/city_blocks/urban_12_house.json
Labels: JSON

Update multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

optimize invetory calls
  src/examine_item_menu.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/salvage.cpp
  src/salvage.h
Labels: src

rename to monologue
  src/npctalk.cpp
Labels: src

feat: use the standard domestic palette for urban_12_house (#6420)
  data/json/mapgen/city_blocks/urban_12_house.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

fix tests
  tests/iuse_actor_test.cpp
  tests/salvage_test.cpp
Labels: tests
