Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

set me free, tree
  data/json/items/tool/science.json
Labels: JSON

unobsolete shishkebab & aux flamethrower
  data/json/items/gunmod/barrel.json
  data/json/items/melee/swords_and_blades.json
  data/json/mapgen/bandit_camp.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/ranged.json
Labels: JSON

port randomize trait hotkeys, create rest of them
  data/raw/keybindings/keybindings.json
  src/newcharacter.cpp
Labels: src, JSON

fix unintended change
  src/newcharacter.cpp
Labels: src

refactor: remove unused functions
  src/iuse.cpp
  src/iuse_actor.cpp
Labels: src

refactor: remove unused functions (#6427)
  src/iuse.cpp
  src/iuse_actor.cpp
Labels: src

feat(port): add "monologue" action in speech menu with context (#6413)
  src/npctalk.cpp
Labels: src

add emote status menu
  src/avatar_action.cpp
  src/character.cpp
  src/character.h
  src/npctalk.cpp
Labels: src

add more emotes, obsolete useless/bad looking ones
  src/npctalk.cpp
Labels: src

improve locking
  src/npctalk.cpp
Labels: src

reorder emotes again, add locking
  src/avatar_action.cpp
  src/character.h
  src/npctalk.cpp
Labels: src

reorder stuff, final list?
  src/npctalk.cpp
Labels: src

feat(UI): custom overmap location marker (#6347)
  data/raw/keybindings/keybindings.json
  src/avatar.cpp
  src/avatar.h
  src/overmap_ui.cpp
  src/sdltiles.cpp
Labels: src, JSON

fix: remove pots and pans being dropped by advanced butchery station
  data/json/vehicleparts/utilities.json
Labels: JSON

fix: remove pots and pans being dropped from the advanced butchery station (#6428)
  data/json/vehicleparts/utilities.json
Labels: JSON

code and micro-optimisation
  src/activity_speed.cpp
  src/crafting.cpp
  src/crafting.h
Labels: src

revert some player -> character changes
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/character.cpp
  src/character.h
  src/crafting.cpp
  src/item.h
  src/player.cpp
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
Labels: src

remove extra commented out code
  src/npctalk.cpp
Labels: src

Plastic frames adjustment
  data/json/items/vehicle/frames.json
  data/json/vehicleparts/frames.json
Labels: JSON

Plastic soldering frame
  data/json/vehicleparts/frames.json
Labels: JSON

another undo
  src/crafting.cpp
  src/crafting.h
  src/item.cpp
Labels: src

port character appearance randomization
  data/raw/keybindings/keybindings.json
  src/avatar.h
  src/character.h
  src/newcharacter.cpp
Labels: src, JSON

few fixes and reverts
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/character.cpp
  src/item.cpp
  src/player.h
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
Labels: src

ripping out more code
  src/crafting.cpp
Labels: src

fix: monster on_hit actions trigger properly
  src/monster.cpp
  src/monster.h
Labels: src

fix: monster on_hit actions trigger properly (#6434)
  src/monster.cpp
  src/monster.h
Labels: src

rip out more code
  src/crafting.cpp
  src/crafting.h
Labels: src

move crafting activity code
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/crafting.cpp
Labels: src

migrate crafting funcs from player to character
  src/character.cpp
  src/character.h
  src/construction.cpp
  src/craft_command.h
  src/crafting.cpp
  src/crafting_gui.cpp
  src/item.cpp
  src/item.h
  src/player.cpp
  src/player.h
  src/player_activity.cpp
  src/requirements.cpp
  src/requirements.h
Labels: src

mute crafting tests
  tests/crafting_test.cpp
Labels: tests

fix(balance): Plastic, Carbon Fiber Frames Folding, Description (#6432)
  data/json/items/vehicle/frames.json
  data/json/vehicleparts/frames.json
Labels: JSON

`include` cleanup, code movements
  src/activity_actor.h
  src/activity_handlers.cpp
  src/activity_speed.cpp
  src/activity_speed.h
  src/activity_speed_adapters.cpp
  src/activity_speed_adapters.h
  src/activity_type.h
  src/character.h
  src/construction.h
  src/craft_command.cpp
  src/crafting.cpp
  src/crafting.h
  src/crafting_gui.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/iuse.h
  src/player.h
  src/player_activity.cpp
  src/player_activity.h
  src/recipe.cpp
  src/recipe.h
  src/requirements.cpp
  tests/state_helpers.cpp
Labels: src, tests

fix typo, remove parameter
  src/activity_actor.h
  src/activity_speed.h
  src/crafting_gui.cpp
Labels: src

fix linker problem, pretty speed, tweak assistant func
  src/activity_actor.cpp
  src/activity_speed.cpp
  src/activity_speed.h
  src/crafting_gui.cpp
  src/player_activity.cpp
  src/player_activity.h
Labels: src

Split off activity speed adapters
  src/activity_actor.h
  src/activity_speed.cpp
  src/activity_speed.h
  src/activity_speed_adapters.cpp
  src/activity_speed_adapters.h
  src/crafting.cpp
  src/crafting.h
  src/player_activity.h
Labels: src

fix linker problem, pretty speed
  src/activity_actor.cpp
  src/activity_speed.cpp
  src/activity_speed.h
Labels: src

post-CP fixes
  src/activity_speed.cpp
  src/activity_speed.h
  src/activity_speed_adapters.cpp
  src/activity_speed_adapters.h
Labels: src

unneeded extra
  src/activity_speed.h
Labels: src

unneeded change
  src/crafting.cpp
Labels: src

missed code removal
  src/crafting.cpp
Labels: src

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*
