Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts, lua

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - docs/**/*

scripts:
  - scripts/**/*

lua:
  - "**/*.lua"

feat: add more lua bindings for `terrain` / `furniture` (#6566)
  docs/en/mod/lua/reference/lua.md
  lua_annotations.lua
  src/catalua_bindings_ids.cpp
Labels: src, docs, lua

feat: handle more container types
  data/raw/generate_types.lua
Labels: JSON, lua

chore: update lua types
  lua_annotations.lua
Labels: lua

docs: better lua annotation for `std::` containers (#6897)
  data/raw/generate_types.lua
  lua_annotations.lua
Labels: JSON, lua

feat(balance): allow stacking money items, move to valuables category and adjust pre-apoc value, adjust uncrafts, spawn in more places
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/corpses.json
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/monsterdrops/zombie.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_default.json
  data/json/monsterdrops/zombie_military_pilot.json
  data/json/monsterdrops/zombie_resort.json
  data/json/monsterdrops/zombie_soldier.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/uncraft/generic.json
Labels: JSON

feat: korean nickname and world names
  data/names/ko.json
Labels: JSON

zapper zombie buff
  data/json/monsters/zed_electric.json
Labels: JSON

feat(balance): make zapper zombies stronger (#6900)
  data/json/monsters/zed_electric.json
Labels: JSON

speedydex pt2
  data/mods/speedydex/main.lua
  data/mods/speedydex/modinfo.json
  data/mods/speedydex/preload.lua
Labels: JSON, mods, lua

feat(i18n): add missing korean nickname and world names (#6899)
  data/names/ko.json
Labels: JSON

docs:fix broken links
  .github/pull_request_template.md
Labels: none

docs: update outdated lua gen command
  .github/pull_request_template.md
Labels: none

docs: fix outdated links and commands (#6902)
  .github/pull_request_template.md
Labels: none

scarf's suggestions
  data/mods/speedydex/modinfo.json
  data/mods/speedydex/preload.lua
Labels: JSON, mods, lua

break up huge file into proper locations, misc changes
  data/json/itemgroups/Locations_MapExtras/locations_waterbody.json
  data/json/mapgen/lake.json
  data/json/mapgen/lake_sunken_cargo.json
  data/json/monstergroups/misc.json
  data/json/monsters/slimes.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_waterbody.json
  data/json/start_locations.json
Labels: JSON

Delete data/mods/StatsThroughSkills/modinfo.json
  data/mods/StatsThroughSkills/modinfo.json
Labels: JSON, mods

Discard changes to data/mods/StatsThroughSkills/modinfo.json
  data/mods/StatsThroughSkills/modinfo.json
Labels: JSON, mods

fix accidental ter_set changes
  data/json/furniture_and_terrain/terrain-doors.json
Labels: JSON

ran deno
  docs/en/mod/lua/reference/lua.md
  lua_annotations.lua
Labels: docs, lua

increase sea scooter spawns, profession changes
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/json/professions.json
  data/json/scenarios.json
Labels: JSON

ran deno pt2 electric boogaloo
  docs/en/mod/lua/reference/lua.md
  lua_annotations.lua
Labels: docs, lua

break up lake bed scenario, rename scenario, pirate churl profession
  data/json/professions.json
  data/json/scenarios.json
  data/json/start_locations.json
Labels: JSON

match other feral challenge profession traits
  data/json/professions.json
Labels: JSON

feat: more boats and ways to find them
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/stashes.json
  data/json/itemgroups/supplies.json
  data/json/items/book/maps.json
  data/json/mapgen/Bastion_Fort.json
  data/json/mapgen/bandit_cabin.json
  data/json/mapgen/bandit_camp.json
  data/json/mapgen/bandit_garage.json
  data/json/mapgen/dock.json
  data/json/mapgen/lake.json
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/json/mapgen/map_extras/corpses.json
  data/json/mapgen/marina.json
  data/json/mapgen/meth_lab.json
  data/json/mapgen/riverside/whaleys_boat_rental.json
  data/json/mapgen_palettes/bastion_fort_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
  data/json/scenarios.json
  data/json/start_locations.json
  data/json/uncraft/generic.json
  data/json/vehicle_groups.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/boats.json
  data/json/vehicles/vans_busses.json
Labels: JSON

Scrungled by the weight of my syntax errors
  data/json/scenarios.json
Labels: JSON

apply chaos' suggested changes
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/mapgen/lake_sunken_cargo.json
Labels: JSON

Apply suggestions from code review
  data/json/mapgen/lake.json
Labels: JSON

feat: add bionic vending machine to AFS clinic
  data/json/mapgen/aftershock/augmentation_clinic.json
Labels: JSON

implement chaos' suggestions pt2
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/professions.json
  data/json/scenarios.json
Labels: JSON

forgot to remove definitions
  data/json/start_locations.json
Labels: JSON

Lil thingies
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/mapgen/lake.json
Labels: JSON

feat: add bionic vending machine to AFS clinic (#6905)
  data/json/mapgen/aftershock/augmentation_clinic.json
Labels: JSON

feat(mods): unhardcode speedydex into lua (#6901)
  data/json/game_balance.json
  data/mods/speedydex/modinfo.json
  data/mods/speedydex/preload.lua
  docs/en/mod/lua/reference/lua.md
  lua_annotations.lua
  src/catalua_bindings_creature.cpp
  src/character.cpp
  src/character.h
  src/character_turn.cpp
Labels: src, JSON, mods, docs, lua

test: use WithinRel
  tests/char_healing_test.cpp
Labels: tests
