Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

remove-region-folding
  data/mods/ebook_lua/main.lua
Labels: JSON, mods

docs: Update json_inheritance.md (#6523)
  doc/src/content/docs/en/mod/json/reference/items/json_inheritance.md
Labels: docs

fix: Change wielding messages to be a bit more intuitive (#6484)
  src/item.cpp
Labels: src

Update urban_18_victorian.json
  data/json/mapgen/city_blocks/urban_18_victorian.json
Labels: JSON

Update multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

Add folding stock to UMP45, correct its weight, its mag material, uncraft from it, add cooler descs from DDA
  data/json/items/gun/45.json
  data/json/items/magazine/45.json
  data/json/uncraft/magazine/45.json
Labels: JSON

Add ward effects based on Arcana
  data/mods/MagicalNights/effects/effects.json
Labels: JSON, mods

Add spells to apply the wards
  data/mods/MagicalNights/Spells/biomancer.json
  data/mods/MagicalNights/Spells/classless.json
  data/mods/MagicalNights/Spells/kelvinist.json
  data/mods/MagicalNights/Spells/stormshaper.json
Labels: JSON, mods

remove-firmware-and-adjust-updating-name
  data/mods/ebook_lua/main.lua
Labels: JSON, mods

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*
