Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

ci: remove mxe/msys2 builds (#6390)
  .github/workflows/experimental-release.yml
  .github/workflows/manual-release.yml
  .github/workflows/msys2-cmake.yml
  .github/workflows/osx.yml
  .github/workflows/release.yml
  CMakeLists.txt
  CMakeModules/Find/FindSDL2.cmake
  build-scripts/requirements.sh
  doc/src/content/docs/en/dev/guides/building/cmake.md
  src/CMakeLists.txt
Labels: src, docs

chore: add git blame ignore-revs-file (#6391)
  .git-blame-ignore-revs
Labels: none

Update data/json/itemgroups/vending_machines.json
  data/json/itemgroups/vending_machines.json
Labels: JSON

increase spawns
  data/mods/Civilians/monstergroup.json
Labels: JSON, mods

oops accidentally removed speech
  data/json/speech.json
Labels: JSON

feat: dialogue visualizer
  scripts/dialogue_visualizer.ts
  scripts/utils.ts
Labels: scripts

add mod category
  data/mods/Civilians/modinfo.json
Labels: JSON, mods

feat(balance): remove damage penalty in suppressors (#4490)
  data/json/items/gunmod/muzzle.json
Labels: JSON

Update data/json/itemgroups/vending_machines.json
  data/json/itemgroups/vending_machines.json
Labels: JSON

Update data/json/itemgroups/vending_machines.json
  data/json/itemgroups/vending_machines.json
Labels: JSON

Update data/json/itemgroups/vending_machines.json
  data/json/itemgroups/vending_machines.json
Labels: JSON

Update data/json/itemgroups/vending_machines.json
  data/json/itemgroups/vending_machines.json
Labels: JSON

Update data/json/itemgroups/vending_machines.json
  data/json/itemgroups/vending_machines.json
Labels: JSON

Derg brain smol, forgot about that comma when I suggested the change
  data/json/itemgroups/vending_machines.json
Labels: JSON

remove redundant group, remove redundant GROUP_ZOMBIE entries
  data/mods/Civilians/civilians.json
  data/mods/Civilians/monstergroup.json
Labels: JSON, mods

itype_water reference
  src/activity_item_handling.cpp
Labels: src

Update iuse_actor.cpp
  src/iuse_actor.cpp
Labels: src

Delete allow_filthy
  src/item.h
  src/recipe.cpp
Labels: src

Update vending_machines.json
  data/json/itemgroups/vending_machines.json
Labels: JSON

Suggestions
  doc/src/content/docs/en/mod/lua/reference/lua.md
  src/item.h
Labels: src, docs

Update src/iuse_actor.cpp
  src/iuse_actor.cpp
Labels: src

Remove SMELLS flag from most zombies
  data/json/monsters/zed-classic.json
  data/json/monsters/zed-winged.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_children.json
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_fusion.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_soldiers.json
  data/json/monsters/zed_survivor.json
Labels: JSON

Accidentally leave in extra , oops
  data/json/monsters/zed_fusion.json
  data/json/monsters/zed_misc.json
Labels: JSON

feat: gps pinpointer & military gps pinpointer (#6340)
  data/json/item_actions.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/main.json
  data/json/itemgroups/military.json
  data/json/itemgroups/tools.json
  data/json/items/tool/electronics.json
  data/json/vehicles/helicopters.json
  data/json/vehicles/military.json
  src/item_factory.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/overmapbuffer.h
Labels: src, JSON

update desc
  data/json/monsters/turrets.json
Labels: JSON

hm?
  tests/ranged_burst_balance_test.cpp
Labels: tests

if you're reading this kiss your local emo
  data/json/items/classes/gun.json
  tests/ranged_burst_balance_test.cpp
Labels: tests, JSON

feat: Adds .50BMG anti-material turrets (#6349)
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/itemgroups/military.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/gun/50.json
  data/json/monsters/turrets.json
  data/json/recipes/electronic/other.json
Labels: JSON

adds pistol lanyards and mod handling rebalance
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/classes/gun.json
  data/json/items/gunmod/barrel.json
  data/json/items/gunmod/grip.json
  data/json/items/gunmod/muzzle.json
  data/json/items/gunmod/sling.json
  data/json/items/gunmod/stock.json
  data/json/items/gunmod/underbarrel.json
  data/json/professions.json
  data/json/recipes/weapon/mods.json
  src/handle_action.cpp
Labels: src, JSON

removes the handle action thing
  src/handle_action.cpp
Labels: src

adds a missing thing >_<
  data/json/items/gun/45colt.json
  data/json/items/gun/5x50.json
Labels: JSON

rawr xD
  data/json/items/classes/gun.json
  data/json/items/gun/22.json
Labels: JSON

documents handling stat
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

those who knows >>
  data/json/items/classes/gun.json
Labels: JSON

undoes subcom abstract
  data/json/items/classes/gun.json
Labels: JSON

nitpicked
  data/json/items/classes/gun.json
Labels: JSON

restores bipod stat
  data/json/items/gunmod/underbarrel.json
Labels: JSON

its truly incredible
  data/json/items/gun/20x66mm.json
  data/json/items/gun/8x40mm.json
Labels: JSON

comitting before I forget
  data/json/items/gun/700nx.json
  data/json/items/gun/9mm.json
  tests/ranged_burst_balance_test.cpp
Labels: tests, JSON

im goated?
  tests/ranged_burst_balance_test.cpp
Labels: tests

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*
