Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*

include cleanup
  tests/iuse_actor_test.cpp
  tests/salvage_test.cpp
Labels: tests

remove doc section
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

fix typo
  src/item.h
Labels: src

feat(balance): Adjusts recoil values for small caliber rounds and 40mm grenades (#6409)
  data/json/items/ammo/22.json
  data/json/items/ammo/32.json
  data/json/items/ammo/38.json
  data/json/items/ammo/380.json
  data/json/items/ammo/38super.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/45.json
  data/json/items/ammo/46.json
  data/json/items/ammo/57.json
  data/json/items/ammo/762x25.json
  data/json/items/ammo/9mm.json
  data/json/items/ammo/9x18.json
Labels: JSON

fix: give solar backpacks storage (#6416)
  data/json/items/tool_armor.json
Labels: JSON

feat: (atomic) soda machines, co2 tanks & "suicide" soda drink (#6372)
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/main.json
  data/json/itemgroups/military.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/mutagen.json
  data/json/items/containers.json
  data/json/items/fake.json
  data/json/items/tool/cooking.json
  data/json/items/tool/science.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/items_generic.json
  data/json/recipes/chem/drugs.json
  data/json/recipes/electronic/tools.json
  data/json/recipes/food/drinks.json
Labels: JSON

feat: JSONize ecigs, smoking, chewing, weed_cake. modernize ecigs (#6410)
  data/json/item_actions.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/wheat.json
  data/json/items/tool/smoking.json
  data/json/snippets/snippets.json
  data/mods/My_Sweet_Cataclysm/items/vanilla_extentions.json
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: src, JSON, mods, docs

obsolete old thc wax items, replace with new one
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/stashes.json
  data/json/items/ammo.json
  data/json/items/comestibles/med.json
  data/json/items/tool/misc.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/items_generic.json
  data/json/obsoletion/items.json
Labels: JSON

disposable pen, nectar collector, unrefined thc
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/items/ammo.json
  data/json/items/tool/misc.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/items_generic.json
Labels: JSON

tolerance & lightweight json modification
  data/json/items/tool/misc.json
Labels: JSON

rip out more old distillate PR
  data/json/items/book/fabrication.json
  data/json/items/tool/misc.json
  data/json/obsoletion/items.json
Labels: JSON

vacuum quality & initial recipes
  data/json/items/tool/cooking.json
  data/json/recipes/chem/drugs.json
  data/json/recipes/other/tools.json
  data/json/tool_qualities.json
Labels: JSON

more nectar collector spawns
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/stashes.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/items_generic.json
Labels: JSON

document changes, descriptions, recipe category
  data/json/items/ammo.json
  data/json/items/tool/misc.json
  data/json/recipes/chem/drugs.json
Labels: JSON

blunt pt2 and jsonify cigarette/cigar/joint items
  data/json/items/comestibles/med.json
  data/json/items/generic.json
Labels: JSON

remove quality, move tools, add bong and groups
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/stashes.json
  data/json/items/ammo.json
  data/json/items/tool/cooking.json
  data/json/items/tool/misc.json
  data/json/items/tool/smoking.json
  data/json/mapgen/headshop.json
  data/json/recipes/chem/drugs.json
  data/json/tool_qualities.json
Labels: JSON

blunt recipe fix
  data/json/items/generic.json
  data/json/recipes/chem/drugs.json
Labels: JSON

new itemgroups, fix headshop & dispensary items
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/misc.json
  data/json/mapgen/dispensary.json
  data/json/mapgen/headshop.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/items_generic.json
Labels: JSON

add still to recipe, add drug rugs
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/items/armor/torso_clothes.json
  data/json/mapgen/headshop.json
  data/json/recipes/chem/drugs.json
Labels: JSON

reorder smoke_shop group, add thc candy
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/items/comestibles/junkfood.json
  data/json/mapgen/headshop.json
Labels: JSON

fix merge issues
  data/json/items/comestibles/med.json
  data/json/items/tool/misc.json
Labels: JSON

Added tool qualities
  data/json/items/armor/gloves.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/fake.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/science.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/json/recipes/ammo/launcher.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/traps.json
  data/json/requirements/toolsets.json
  data/json/tool_qualities.json
  data/json/uncraft/generic.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
Labels: JSON, mods

basic chem set in recipe, change drug rug, rename
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/items/armor/torso_clothes.json
  data/json/mapgen/dispensary.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/recipes/chem/drugs.json
Labels: JSON

obsolete butane_tank for now
  data/json/items/tool/science.json
  data/mods/Aftershock/items/obsolete.json
Labels: JSON, mods

woops messed up name
  data/json/recipes/chem/drugs.json
Labels: JSON

Update tools.json
  data/json/recipes/other/tools.json
Labels: JSON

robot fix
  data/json/items/armor/torso_clothes.json
Labels: JSON

tree please & remove tool recipe, use quality
  data/json/items/ammo.json
  data/json/recipes/chem/drugs.json
Labels: JSON

Revert "obsolete butane_tank for now"
  data/json/items/tool/science.json
  data/mods/Aftershock/items/obsolete.json
Labels: JSON, mods

add butane tank, spawns for it, fix recipes again
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/supplies.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/recipes/chem/drugs.json
Labels: JSON

accidentally included
  data/json/items/armor/torso_clothes.json
  data/json/items/tool/misc.json
Labels: JSON

feat: add vending park & additional vending itemgroups (#6365)
  data/json/itemgroups/vending_machines.json
  data/json/mapgen/park_vending.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/regional_map_settings.json
Labels: JSON

fix warn
  src/activity_actor_definitions.h
Labels: src

fix uint64 errot, fix \n problem
  src/salvage.cpp
Labels: src

Update multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

move around some vars, extra tests
  src/salvage.cpp
  src/salvage.h
  tests/salvage_test.cpp
Labels: src, tests

another test
  tests/salvage_test.cpp
Labels: tests

feat: Migrate some tools to qualities (#6423)
  data/json/items/armor/gloves.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/fake.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/science.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/json/recipes/ammo/launcher.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/traps.json
  data/json/requirements/toolsets.json
  data/json/tool_qualities.json
  data/json/uncraft/generic.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
Labels: JSON, mods

fix: remove the road connection of urban_23_dense_office_theater (#6424)
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

fix tests, fix leather
  data/json/items/generic.json
  src/salvage.cpp
  src/salvage.h
  tests/salvage_test.cpp
Labels: src, tests, JSON
