Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

style: remove spaces in `operator"" _<name>`
  src/calendar.h
  src/fmtlib_format.h
  src/units_angle.h
  src/units_energy.h
  src/units_mass.h
  src/units_money.h
  src/units_probability.h
  src/units_temperature.h
  src/units_volume.h
Labels: src

docs: update lua API for FILTHY
  doc/src/content/docs/en/mod/lua/reference/lua.md
Labels: docs

docs: update lua API for FILTHY (#6473)
  doc/src/content/docs/en/mod/lua/reference/lua.md
Labels: docs

fix MISSION_ISHERWOOD_JACK_1 jars count string
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
Labels: JSON

fixes names and does things
  data/json/items/gun/357sig.json
  data/json/items/gun/40.json
  data/json/items/gun/45.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/40.json
  data/json/items/magazine/45.json
  data/json/items/magazine/9mm.json
Labels: JSON

zzz
  data/json/items/gun/357sig.json
Labels: JSON

fix: update mission name in MISSION_ISHERWOOD_JACK_1 to match count (#6474)
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
Labels: JSON

build: loosen compiler version requirement
  CMakePresets.json
Labels: none

style: remove spaces in `operator"" _<name>` (#6472)
  src/calendar.h
  src/fmtlib_format.h
  src/units_angle.h
  src/units_energy.h
  src/units_mass.h
  src/units_money.h
  src/units_probability.h
  src/units_temperature.h
  src/units_volume.h
Labels: src

build: loosen compiler version requirement (#6476)
  CMakePresets.json
Labels: none

Revert "Merge branch 'main' into add-lua-binding-for-mtype"
  .github/pull_request_template.md
  CMakePresets.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/223.json
  data/json/items/magazine/223.json
  data/json/items/vehicle/seating.json
  data/json/mapgen/park_vending.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/obsoletion/items.json
  data/json/recipes/other/vehicles.json
  data/raw/keybindings/keybindings.json
  src/avatar.h
  src/calendar.h
  src/character.h
  src/fmtlib_format.h
  src/iuse.cpp
  src/newcharacter.cpp
  src/units_angle.h
  src/units_energy.h
  src/units_mass.h
  src/units_money.h
  src/units_probability.h
  src/units_temperature.h
  src/units_volume.h
Labels: src, JSON

Update urban_15_house.json
  data/json/mapgen/city_blocks/urban_15_house.json
Labels: JSON

Update multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

Reapply "Merge branch 'main' into add-lua-binding-for-mtype"
  .github/pull_request_template.md
  CMakePresets.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/223.json
  data/json/items/magazine/223.json
  data/json/items/vehicle/seating.json
  data/json/mapgen/park_vending.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/obsoletion/items.json
  data/json/recipes/other/vehicles.json
  data/raw/keybindings/keybindings.json
  src/avatar.h
  src/calendar.h
  src/character.h
  src/fmtlib_format.h
  src/iuse.cpp
  src/newcharacter.cpp
  src/units_angle.h
  src/units_energy.h
  src/units_mass.h
  src/units_money.h
  src/units_probability.h
  src/units_temperature.h
  src/units_volume.h
Labels: src, JSON

feat: use the standard domestic palette for urban_15_house (#6477)
  data/json/mapgen/city_blocks/urban_15_house.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

console output attempt #1
  src/output.cpp
  src/output.h
Labels: src

Fix typo in Teleportation Unit CBM description
  data/json/items/bionics.json
Labels: JSON

console output attempt #2
  src/output.cpp
Labels: src

fix: typo in Teleportation Unit CBM description (#6478)
  data/json/items/bionics.json
Labels: JSON

ugly fix
  src/activity_handlers.cpp
Labels: src

fix: too much dissection xp gain (#6479)
  src/activity_handlers.cpp
Labels: src

lua-ui-enhancing
  doc/src/content/docs/en/mod/lua/reference/lua.md
  src/catalua_bindings.cpp
  src/catalua_luna_doc.h
Labels: src, docs

feat: add lua binding for `mtype_id` (#6471)
  doc/src/content/docs/en/mod/lua/reference/lua.md
  src/catalua_bindings.cpp
  src/catalua_bindings_creature.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_luna_doc.h
  src/mtype.h
Labels: src, docs

feat: add Mk 19 automatic grenade launcher turret (#6451)
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/itemgroups/military.json
  data/json/items/book/electronics.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/gun/40x53mm.json
  data/json/monsters/turrets.json
  data/json/recipes/electronic/other.json
Labels: JSON

Update activity_speed_adapters.h
  src/activity_speed_adapters.h
Labels: src

Update design_document.md
  doc/src/content/docs/en/dev/explanation/design_document.md
Labels: docs

Update doc/src/content/docs/en/dev/explanation/design_document.md
  doc/src/content/docs/en/dev/explanation/design_document.md
Labels: docs

Update doc/src/content/docs/en/dev/explanation/design_document.md
  doc/src/content/docs/en/dev/explanation/design_document.md
Labels: docs

Update doc/src/content/docs/en/dev/explanation/design_document.md
  doc/src/content/docs/en/dev/explanation/design_document.md
Labels: docs

Update doc/src/content/docs/en/dev/explanation/design_document.md
  doc/src/content/docs/en/dev/explanation/design_document.md
Labels: docs

Update design_document.md
  doc/src/content/docs/en/dev/explanation/design_document.md
Labels: docs

make sure copy-from works
  data/json/tool_qualities.json
  src/requirements.cpp
  src/requirements.h
Labels: src, JSON

minor cleaning
  src/salvage.cpp
  src/salvage.h
Labels: src

refactor: split `workbench_info_wrapper` and it's dependancies off of crafting code (#6437)
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_speed.cpp
  src/activity_speed.h
  src/activity_speed_adapters.cpp
  src/activity_speed_adapters.h
  src/crafting.cpp
  src/crafting.h
  src/player_activity.h
Labels: src

post-merge fixes
  src/activity_actor.h
  src/activity_speed.cpp
  src/activity_speed.h
  src/activity_speed_adapters.h
Labels: src

missed val
  src/activity_actor.cpp
Labels: src

missing `include` directive
  src/requirements.h
Labels: src

console output attempt three
  src/output.cpp
Labels: src

fix manual release workflow
  .github/workflows/manual-release.yml
Labels: none

curses output attempt 4
  src/ncurses_def.cpp
  src/output.cpp
Labels: src

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*
