Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*

bipod buff
  data/json/items/gunmod/underbarrel.json
Labels: JSON

documents handling stat
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

Revert "documents handling stat"
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

feat: add pistol lanyards
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/classes/gun.json
  data/json/items/gunmod/sling.json
  data/json/professions.json
  data/json/recipes/weapon/mods.json
  src/handle_action.cpp
Labels: src, JSON

Revert "feat: add pistol lanyards"
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/classes/gun.json
  data/json/items/gunmod/sling.json
  data/json/professions.json
  data/json/recipes/weapon/mods.json
Labels: JSON

orderites are in full control
  tests/ranged_burst_balance_test.cpp
Labels: tests

another bunch of code
  data/raw/keybindings/keybindings.json
  src/activity_actor_definitions.h
  src/activity_speed.cpp
  src/game.cpp
  src/player_activity.cpp
  src/salvage.cpp
  src/salvage.h
Labels: src, JSON

fix
  data/json/items/tool/toiletries.json
Labels: JSON

item salvage option
  src/examine_item_menu.cpp
Labels: src

refactor: apply clang-tidy fixes
  src/crafting_gui.cpp
  src/game.cpp
  src/handle_action.cpp
  src/input.cpp
  src/magic.cpp
  src/martialarts.cpp
  src/mondeath.cpp
  src/savegame_json.cpp
  src/vehicle_use.cpp
Labels: src

handling boost to small calibers
  data/json/items/gun/22.json
  data/json/items/gun/32.json
  data/json/items/gun/38.json
Labels: JSON

modded bipod desc thing
  data/json/items/gunmod/underbarrel.json
Labels: JSON

funny
  data/json/items/ammo/380.json
  data/json/items/ammo/762x25.json
  data/json/items/ammo/9mm.json
Labels: JSON

game menus integration
  data/raw/keybindings/keybindings.json
  src/action.cpp
  src/action.h
  src/examine_item_menu.cpp
  src/examine_item_menu.h
  src/game.cpp
  src/game_inventory.cpp
  src/game_inventory.h
  src/handle_action.cpp
  src/item.h
  src/salvage.cpp
  src/salvage.h
Labels: src, JSON

cleanup
  src/activity_actor.h
  src/activity_speed.cpp
  src/activity_speed.h
  src/iuse.h
  src/player_activity.cpp
  src/requirements.h
Labels: src

another cleanup
  src/activity_speed.h
Labels: src

another warnings cleanup
  src/activity_actor.cpp
  src/salvage.cpp
Labels: src

comment
  src/salvage.cpp
Labels: src

Update urban_10_house_brick_pool.json
  data/json/mapgen/city_blocks/urban_10_house_brick_pool.json
Labels: JSON

Update multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

feat: add pistol lanyards (#6399)
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/classes/gun.json
  data/json/items/gunmod/sling.json
  data/json/professions.json
  data/json/recipes/weapon/mods.json
  src/handle_action.cpp
Labels: src, JSON

changes
  data/json/player_activities.json
Labels: JSON

complete check
  data/json/player_activities.json
Labels: JSON

another bunch of warnings
  src/game.cpp
  src/game_inventory.cpp
Labels: src

possible warning fix
  src/activity_actor.h
Labels: src

chore: moving hitbutton_iso 'sees_player' icon mod into hitbutton tileset
  data/mods/sees_player_hitbutton/mod_tileset.json
  data/mods/sees_player_hitbutton/modinfo.json
  gfx/HitButton_iso/sees_player_hitbutton_green.png
  gfx/HitButton_iso/sees_player_hitbutton_pink.png
  gfx/HitButton_iso/sees_player_hitbutton_red.png
  gfx/HitButton_iso/sees_player_hitbutton_yellow.png
  gfx/HitButton_iso/tile_config.json
Labels: JSON, mods

chore: moving retrodays 'sees_player' icon mod into retrodays and retrodays+ tilesets
  data/mods/sees_player_retro/mod_tileset.json
  data/mods/sees_player_retro/modinfo.json
  gfx/RetroDays+Tileset/sees_player_retro.png
  gfx/RetroDays+Tileset/tile_config.json
  gfx/RetroDaysTileset/sees_player_retro.png
  gfx/RetroDaysTileset/tile_config.json
Labels: JSON, mods

post-merge cleanup
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/activity_speed.cpp
  src/activity_speed.h
  src/crafting.cpp
  src/crafting.h
  src/iuse.cpp
  src/player_activity.cpp
Labels: src

another cleanup
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/character.cpp
  src/item.cpp
  src/item.h
  src/recipe.cpp
  src/recipe.h
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
Labels: src

docs: document gun `handling` stat (#6398)
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

chore: combine "player_sees" graphical mods into their respective tilesets by default (#6405)
  data/mods/sees_player_hitbutton/mod_tileset.json
  data/mods/sees_player_hitbutton/modinfo.json
  data/mods/sees_player_retro/mod_tileset.json
  data/mods/sees_player_retro/modinfo.json
  gfx/HitButton_iso/sees_player_hitbutton_green.png
  gfx/HitButton_iso/sees_player_hitbutton_pink.png
  gfx/HitButton_iso/sees_player_hitbutton_red.png
  gfx/HitButton_iso/sees_player_hitbutton_yellow.png
  gfx/HitButton_iso/tile_config.json
  gfx/RetroDays+Tileset/sees_player_retro.png
  gfx/RetroDays+Tileset/tile_config.json
  gfx/RetroDaysTileset/sees_player_retro.png
  gfx/RetroDaysTileset/tile_config.json
Labels: JSON, mods

feat(balance): Make 9mm recoil `+P+` > `+P`, add AP to `.380 +P`, increase `7.62x25mm` recoil (#6402)
  data/json/items/ammo/380.json
  data/json/items/ammo/762x25.json
  data/json/items/ammo/9mm.json
Labels: JSON

feat: use the standard domestic palette for the house urban_10_house_brick_pool (#6403)
  data/json/mapgen/city_blocks/urban_10_house_brick_pool.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

Un-inline some itemgroups
  data/json/itemgroups/Clothing_Gear/clothing.json
Labels: JSON

Make the change to the pride flags
  data/mods/pride_flags/item_groups.json
Labels: JSON, mods

fix a mispelling
  data/json/itemgroups/Clothing_Gear/clothing.json
Labels: JSON

Gunsmith kit
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/items/fake.json
Labels: JSON

feat: add grid gunsmith kit (#6408)
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/items/fake.json
Labels: JSON

Apply suggestions from code review
  data/json/items/tool/toiletries.json
Labels: JSON

feat(balance): add fine cutting tool quality to razor blade (#6400)
  data/json/items/tool/toiletries.json
Labels: JSON
