Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

Spell Flag Version and debug spell
  data/json/debug_spells.json
  src/handle_action.cpp
  src/magic.cpp
  src/magic.h
Labels: src, JSON

edit_json_flags_descriptions
  data/json/flags.json
  src/item.cpp
Labels: src, JSON

typo, make strength loading be <good>
  data/json/flags.json
Labels: JSON

make 'hand-loaded' <info> instead
  src/item.cpp
Labels: src

utility light symbol, color
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: JSON

mute_prompts typo fix
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/salvage.cpp
Labels: src

unneded variable, rearrange
  src/game_inventory.cpp
Labels: src

copy-from for CUT-FINE
  data/json/tool_qualities.json
Labels: JSON

fix examine action menu (S)alvage rate
  src/examine_item_menu.cpp
Labels: src

Update urban_17_house_ranch.json
  data/json/mapgen/city_blocks/urban_17_house_ranch.json
Labels: JSON

Update multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

rearrange and extra info
  src/salvage.cpp
Labels: src

Revert "copy-from for CUT-FINE"
  data/json/tool_qualities.json
Labels: JSON

fix: change utility light symbol (#6496)
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: JSON

feat: use the standard domestic palette for urban_17_house_ranch (#6498)
  data/json/mapgen/city_blocks/urban_17_house_ranch.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

just remove exosuit flag info
  data/json/flags.json
Labels: JSON

build: c++20 -> c++23
  CMakeLists.txt
  Makefile
  android/app/jni/Application.mk
  doc/src/content/docs/en/dev/guides/building/makefile.md
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-vcpkg-static.vcxproj
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/test/check_clang_tidy.py
  tools/clang-tidy-plugin/test/lit.cfg
Labels: docs

build: errors
  src/editmap.cpp
  src/event_statistics.cpp
  src/event_statistics.h
  src/init.cpp
  src/mattack_actors.cpp
  src/mattack_actors.h
  src/veh_interact.cpp
Labels: src

test: workaround catch2 clang issue
  tests/catalua_test.cpp
Labels: tests

refactor: use c++23 optional monadic operator
  src/cata_algo.h
  src/iexamine_elevator.cpp
Labels: src

build: bump android ndk to 27
  android/gradle.properties
Labels: none

initial + fix mistake
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-windows.json
Labels: JSON

glass wall constructions & tiles
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-windows.json
Labels: JSON

Update urban_18_victorian.json
  data/json/mapgen/city_blocks/urban_18_victorian.json
Labels: JSON

Update multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

feat: use the standard domestic palette for urban_18_victorian (#6502)
  data/json/mapgen/city_blocks/urban_18_victorian.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

add function min_pain(), check it in get_pain(), add game option to disable the whole thing
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/options.cpp
Labels: src

update perceived pain when wearing and removing equipment to get rid of inconsistent morale warnings when using splints
  src/character.cpp
Labels: src

update morale when healing
  src/character.cpp
Labels: src

feat(UI): clearer `"info"` field for some json flags (#6495)
  data/json/flags.json
  src/item.cpp
Labels: src, JSON

feat: tape up empty windows & glass walls (#6501)
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-windows.json
Labels: JSON

feat: flagify `BRASS_CATCHER`
  data/json/items/gunmod/brass_catcher.json
  src/avatar_functions.cpp
  src/item.cpp
  src/ranged.cpp
Labels: src, JSON

docs: update MXE targets for windows cross-compile
  doc/src/content/docs/en/dev/guides/building/makefile.md
Labels: docs

docs: update MXE targets for windows cross-compile (#6506)
  doc/src/content/docs/en/dev/guides/building/makefile.md
Labels: docs

docs: Add CMake on WSL
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

update ubuntu 24 dependencies
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

replace Character::get_pain() with get_pain(Character)
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
Labels: src

replace Character::min_pain() with min_pain(Character)
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
Labels: src

remove shell prompt for easier copy-pasting
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

remove min_pain declaration from character.h, streamline Character::get_pain
  src/character.cpp
  src/character.h
Labels: src

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*
