Repository cataclysmbnteam/Cataclysm-BN, changes with the labels that .github/labeler.yml gives for each.
All labels: src, tests, JSON, mods, translation, docs, scripts

.github/labeler.yml:

src:
  - src/**/*

tests:
  - tests/**/*

JSON:
  - data/**/*

mods:
  - data/mods/**/*

translation:
  - lang/**/*

docs:
  - doc/**/*

scripts:
  - scripts/**/*

ci: fix boolean check (again)
  .github/workflows/manual-release.yml
Labels: none

fix: renames SIG 552 to SIG 552 SWAT (#6452)
  data/json/items/gun/223.json
Labels: JSON

obsoletion
  data/json/items/magazine/223.json
  data/json/obsoletion/items.json
Labels: JSON

remove unnecessary mutable
  src/character.cpp
Labels: src

replace emplace_back, single allocation of parts vector
  src/character.cpp
Labels: src

le gun xD
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/223.json
  data/json/items/gunmod/mechanism.json
  data/json/monsterdrops/feral_humans.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/mods.json
Labels: JSON

firerate
  data/json/items/gun/223.json
Labels: JSON

lace your shoes
  data/json/items/gunmod/mechanism.json
  data/json/recipes/weapon/mods.json
Labels: JSON

ay caramba
  data/json/items/gun/223.json
Labels: JSON

missing coma
  data/json/recipes/weapon/mods.json
Labels: JSON

bad girls do it well
  data/json/items/gunmod/mechanism.json
Labels: JSON

yes king
  data/json/recipes/weapon/mods.json
Labels: JSON

its mopping time
  src/iuse.cpp
Labels: src

j
  data/json/items/magazine/10mm.json
  data/json/items/magazine/12mm.json
  data/json/items/magazine/20x60mm.json
  data/json/items/magazine/22.json
  data/json/items/magazine/223.json
  data/json/items/magazine/300.json
  data/json/items/magazine/3006.json
  data/json/items/magazine/308.json
  data/json/items/magazine/32.json
  data/json/items/magazine/357sig.json
  data/json/items/magazine/380.json
  data/json/items/magazine/38super.json
  data/json/items/magazine/40.json
  data/json/items/magazine/40mm.json
  data/json/items/magazine/410shot.json
  data/json/items/magazine/44.json
  data/json/items/magazine/45.json
  data/json/items/magazine/4570.json
  data/json/items/magazine/46.json
  data/json/items/magazine/460.json
  data/json/items/magazine/50.json
  data/json/items/magazine/545x39.json
  data/json/items/magazine/57.json
  data/json/items/magazine/5x50.json
  data/json/items/magazine/66mm.json
  data/json/items/magazine/762.json
  data/json/items/magazine/762x25.json
  data/json/items/magazine/8x40mm.json
  data/json/items/magazine/9mm.json
  data/json/items/magazine/9x18.json
  data/json/items/magazine/chemical_spray.json
  data/json/items/magazine/liquid.json
  data/json/items/magazine/nail.json
  data/json/items/magazine/shot.json
  data/json/items/magazine/weldgas.json
Labels: JSON

finger slip
  data/json/items/magazine/308.json
Labels: JSON

saddle_recipe
  data/json/items/vehicle/seating.json
  data/json/recipes/other/vehicles.json
Labels: JSON

feat(balance): changes MAS 223 to FAMAS G2 (#6454)
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/223.json
  data/json/items/magazine/223.json
  data/json/obsoletion/items.json
Labels: JSON

feat(balance): make M249 unable to load snail mags and 150 round mags (#6462)
  data/json/items/gun/223.json
Labels: JSON

even less parts actually
  data/json/recipes/other/vehicles.json
Labels: JSON

feat(balance): increase time it takes to mop tiles (#6463)
  src/iuse.cpp
Labels: src

deletes minimum skill
  data/json/items/gunmod/mechanism.json
Labels: JSON

feat: craftable bike saddles (#6465)
  data/json/items/vehicle/seating.json
  data/json/recipes/other/vehicles.json
Labels: JSON

Update park_vending.json
  data/json/mapgen/park_vending.json
Labels: JSON

feat: Update the vending park (#6466)
  data/json/mapgen/park_vending.json
Labels: JSON

feat(port,UI): random selection keybinds for traits, scenarios, professions, skills (#6426)
  data/raw/keybindings/keybindings.json
  src/avatar.h
  src/character.h
  src/newcharacter.cpp
Labels: src, JSON

remove filthy flag
  src/salvage.cpp
Labels: src

feat: Add lua binding for mtype
  src/catalua_bindings.cpp
  src/catalua_bindings_creature.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_luna_doc.h
  src/mtype.h
Labels: src

init
  data/json/player_activities.json
  src/activity_speed.cpp
  src/activity_type.cpp
  src/activity_type.h
  src/avatar.cpp
  src/character_functions.cpp
  src/character_functions.h
  src/crafting.cpp
  src/player_activity.cpp
  tests/reading_test.cpp
Labels: src, tests, JSON

remove morale block
  data/json/player_activities.json
Labels: JSON

add atomic lamp, cuz light level matter now
  tests/player_activities_test.cpp
Labels: tests

add-lua-doc
  doc/src/content/docs/en/mod/lua/reference/lua.md
Labels: docs

fix: typo
  .github/pull_request_template.md
Labels: none

define new line drawing symbols
  src/output.h
Labels: src

additional comments for line drawing symbol definitions
  src/output.h
Labels: src

special symbol replacement for reading vehicles from json
  src/output.cpp
Labels: src

fix-enters
  doc/src/content/docs/en/mod/lua/reference/lua.md
Labels: docs

tile rotation
  src/tileray.cpp
Labels: src

line drawing
  src/sdl_font.cpp
  src/sdltiles.cpp
Labels: src

fix comment typo in sdl_font.cpp
  src/sdl_font.cpp
Labels: src

fix-docs
  doc/src/content/docs/en/mod/lua/reference/lua.md
Labels: docs
