Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2022-10, with the labels that each got.

#2090 Removes overmap generation from test startup
  tests/test_main.cpp
Labels: tests

#2106 Integrate basic.json into data/json
  data/core/basic.json
  data/json/items/ammo_types.json
  data/json/items/comestibles/drink.json
Labels: data

#1965 [Port] Add in-game progression diary
  data/raw/keybindings.json
  src/action.cpp
  src/action.h
  src/avatar.cpp
  src/avatar.h
  src/character_martial_arts.cpp
  src/character_martial_arts.h
  src/diary.cpp
  src/diary.h
  src/diary_ui.cpp
  src/game.cpp
  src/handle_action.cpp
  src/inventory.cpp
  src/kill_tracker.h
  src/popup.h
  src/string_editor_window.cpp
  src/string_editor_window.h
Labels: src, data

#1863 Robots no longer completely immune to lasers
  data/json/monsters/defense_bot.json
  data/json/monsters/drones.json
  data/json/monsters/mechsuits.json
  data/json/monsters/turrets.json
  data/json/monsters/utility_bot.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/mobs/turrets.json
  data/mods/Magiclysm/monsters/golems.json
  src/monster.cpp
Labels: src, data, mods

#1943 Rework teleglow, nether attention, stare monattack
  data/json/effects.json
  data/json/snippets/snippets.json
  src/character.cpp
  src/character.h
  src/monattack.cpp
  src/player_hardcoded_effects.cpp
Labels: src, data

#1851 Ammo rebalance project, part 6
  data/json/items/ammo/223.json
  data/json/items/ammo/270win.json
  data/json/items/ammo/300.json
  data/json/items/ammo/3006.json
  data/json/items/ammo/300blk.json
  data/json/items/ammo/308.json
  data/json/items/ammo/36paper.json
  data/json/items/ammo/44paper.json
  data/json/items/ammo/4570.json
  data/json/items/ammo/50.json
  data/json/items/ammo/545x39.json
  data/json/items/ammo/700nx.json
  data/json/items/ammo/762.json
  data/json/items/ammo/762R.json
Labels: data

#1865 Port over fix for spellcasting monsters and summon spells
  src/mattack_actors.cpp
Labels: src

#2037 Shadow and cult creature updates from Arcana
  data/json/monsters/nether.json
Labels: data

#2129 used_UPS and charged_UPS itemgroups now differ
  data/json/itemgroups/tools.json
Labels: data

#2125 Make sneakers less warm
  data/json/items/armor/boots.json
Labels: data

#2124 Add better pet food message
  src/iuse.cpp
Labels: src

#2117 Fix `overmap_debug_mongroup` debugmsg on save+load
  src/savegame_json.cpp
Labels: src

#2120 Fix submap rotation rotating vehicles
  src/submap.cpp
Labels: src

#2112 Fix edge case in movement over diagonal rails
  src/vehicle_move.cpp
  tests/vehicle_rails_test.cpp
Labels: src, tests

#2113 Removed unused variables
  src/vehicle_autodrive.cpp
  src/worldfactory.cpp
  tests/colony_test.cpp
Labels: src

#1793 Crouching beside vehicle holes
  src/lightmap.cpp
  src/lightmap.h
  src/map.cpp
  src/map.h
  src/point.h
Labels: src

#2109 Allow marking construction recipes as favorite, sort recipes by name in construction UI
  data/json/construction_category.json
  data/raw/keybindings.json
  src/construction.cpp
  src/savegame_json.cpp
  src/uistate.h
Labels: src, data

#2135 Fix several prying/picking tools bugs
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  src/iexamine.cpp
  src/iuse_actor.cpp
Labels: src, data

#2131 [DinoMod] the sauropods
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/forage.json
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/items/forage.json
  data/mods/DinoMod/monstergroups/fungi.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: data, mods

#2119 Update damage type of sling ammo, beanbags, etc
  data/json/items/ammo.json
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/40x46mm.json
  data/json/items/handloaded_bullets.json
  data/json/items/ranged/crossbows.json
  data/json/items/ranged/pneumatic.json
  data/json/items/ranged/slings.json
Labels: data

#1953 Migrate to C++17
  .clang-tidy
  .editorconfig
  .github/workflows/astyle.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/documentation.yml
  .github/workflows/json.yml
  .github/workflows/manual-release.yml
  .github/workflows/matrix.yml
  .github/workflows/push-translation-template.yml
  .github/workflows/release.yml
  CMakeLists.txt
  CataclysmWin.cbp
  Makefile
  build-scripts/build.sh
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-vcpkg-static.vcxproj
  src/json.cpp
  src/main.cpp
  src/sdltiles.cpp
Labels: src

#2118 Expand NPC talk tags, dialogue fixes
  data/json/npcs/TALK_COMMON_ALLY.json
  data/json/npcs/talk_tags.json
  tests/npc_talk_test.cpp
Labels: data, tests

#2133 Fix deactivate friendly robots message spam when moving on same tile
  src/avatar_action.cpp
Labels: src
