Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2022-11, with the labels that each got.

#2111 Add bungalow 01 and 02
  data/json/mapgen/house/bungalow01.json
  data/json/mapgen/house/bungalow02.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#2149 Loop element hotfix
  pch/main-pch.hpp
  src/diary.cpp
Labels: src

#2116 add NPCs to biker_dump
  data/json/mapgen/ws_biker_dump.json
Labels: data

#2122 Add mountable autodoc and autodoc couch (with EgorBelphegor additions)
  data/json/items/tool/med.json
  data/json/items/vehicle/utilities.json
  data/json/recipes/other/vehicles.json
  data/json/vehicleparts/vehicle_parts.json
  gfx/MSX++UnDeadPeopleEdition/tile_config.json
  gfx/RetroDays+Tileset/tile_config.json
  gfx/RetroDaysTileset/tile_config.json
  src/activity_handlers.cpp
  src/game.cpp
  src/iexamine.cpp
  src/map.cpp
  src/map.h
  src/monattack.cpp
  src/monmove.cpp
  src/vehicle_use.cpp
Labels: src, data

#2160 Fix android build StopTextInput error
  src/string_editor_window.cpp
Labels: src

#1204 Fixes for active transforming ter/furn, add grid-powered space heaters
  data/json/construction.json
  data/json/construction_group.json
  data/json/emit.json
  data/json/furniture_and_terrain/furniture-appliances.json
  src/distribution_grid.cpp
Labels: src, data

#1916 Quickfix for sweetbread missing from offal_raw
  data/json/items/comestibles/meat_dishes.json
  data/json/requirements/cooking_components.json
Labels: data

#2139 Add option for minimizing on focus loss
  src/options.cpp
  src/sdltiles.cpp
Labels: src

#2145 Globals cleanup
  src/game.cpp
  src/item.cpp
  src/iuse_actor.cpp
  src/magic_spell_effect.cpp
  src/monexamine.cpp
  src/npctalk.cpp
  src/projectile.cpp
  src/ranged.cpp
  src/suffer.cpp
Labels: src

#2146 Fix rare armor name field inconsistency
  data/json/items/armor/storage.json
Labels: data

#2148 Update sausage cases, cooked wasteland sausage
  data/json/items/comestibles/meat_dishes.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/other.json
Labels: data

#2144 Remove overmap_debug_mongroup
  src/savegame_json.cpp
Labels: src

#2190 Fix explosions delayed on special monster death effects
  src/mondeath.cpp
Labels: src

#2169 Fix Regular / Reinforced Plastic Window Cost
  data/json/construction.json
Labels: data

#2167 Reduce blinking effects speed (300 -> 800ms), and add an option to change it in game
  src/editmap.cpp
  src/game.cpp
  src/game_constants.h
  src/options.cpp
  src/overmap_ui.cpp
Labels: src

#2153 [DinoMod] the ornithiscians
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/cooking_components.json
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/monstergroups/fungi.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: data, mods

#2154 Allow easier installing/removing of some parts
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/lights.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/wheel.json
Labels: data

#2177 Fix several pets AI bugs, add player homeostatic effect on pets
  data/json/monsters/mammal.json
  src/character.cpp
  src/monmove.cpp
  src/monster.cpp
Labels: src, data

#2163 `maximum_charges()` now defaults to 0. Optical Cloak changed to TOOL_ARMOR category
  data/json/items/armor/cloaks.json
  src/itype.h
Labels: src, data

#2180 Fix rare crash when unfavoriting an item twice
  src/inventory_ui.cpp
Labels: src

#2172 Appliance update. Extend `crafting_pseudo_item`. JSONize freezers and fridges. Update Freezers/Fridges to use `iexamine::transform`
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-zztesting.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/fake.json
  data/json/items/furniture.json
  data/json/mapgen/bakery.json
  data/json/mapgen/city_blocks/urban_14_dense_house_mart_food.json
  data/json/mapgen/homeimprovement_superstore.json
  data/json/mapgen/irradiator_1.json
  data/json/mapgen/mall/mall_second_floor.json
  data/json/mapgen/megastore.json
  data/json/mapgen/nested/retail_nested.json
  data/json/mapgen/pizza_parlor.json
  data/json/mapgen/restaurant.json
  data/json/mapgen/restaurant_fast.json
  data/json/mapgen/s_furniture.json
  data/json/mapgen/s_grocery.json
  data/json/mapgen/s_icecream.json
  data/json/recipes/other/other.json
  data/json/vehicleparts/utilities.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/game.cpp
  src/iexamine.cpp
  src/inventory.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen.cpp
Labels: src, data
