Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2022-12, with the labels that each got.

#2218 Extract furniture switch prompt for translation
  lang/extract_json_strings.py
Labels: translation

#2192 [Port] Fix stats through kills missing max hp modification
  src/avatar.cpp
  src/character.cpp
Labels: src

#2193 Autodoc Deconstruction update
  data/json/furniture_and_terrain/furniture-medical.json
Labels: data

#2196 Camo tank top recipe
  data/json/items/armor/undergarment.json
Labels: data

#2201 Fixes grappler zombies going through holes
  src/monattack.cpp
Labels: src

#2210 Fix MSYS2 build by rewriting turret ammo finalization check
  src/veh_type.cpp
Labels: src

#2215 Fix construction recipe
  data/json/construction.json
Labels: data

#2195 Makes Autodoc Couches assignable as seats in vehicles. Adjust autodoc couch capacity.
  data/json/vehicleparts/vehicle_parts.json
Labels: data

#2155 Grid constructions now use workshop category
  data/json/construction.json
Labels: data

#2207 Fixes a rendering bug with lower z levels
  src/cata_tiles.cpp
Labels: src

#2194 Display name of loaded ammo instead of ammo type (#51439)
  src/item.cpp
Labels: src

#2186 Fix light power armor being weaker than its helmet
  data/json/items/armor/power_armor.json
Labels: data

#2143 Cathedral overhaul
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/itemgroups/misc.json
  data/json/mapgen/cathedral.json
  data/json/mapgen_palettes/cathedral_palette.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
Labels: data

#2211 [DDA Port] Build from custom MXE GCC 11
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
  build-scripts/requirements.sh
  src/debug.cpp
Labels: src

#2213 Purge inherited workflows, utilities and build files
  .appveyor.yml
  .github/CODEOWNERS
  .github/stale.yml
  .lgtm.yml
  .travis.yml
  Cataclysm-DDA.sublime-project
  CataclysmWin.cbp
  Makefile
  build-scripts/Dockerfile.debian-build
  build-scripts/build.sh
  build-scripts/files_changed
  build-scripts/requirements.sh
  build-scripts/validate_pr_in_jenkins
  data/xdg/cataclysm-dda.appdata.xml
  data/xdg/cataclysm-dda.desktop
  data/xdg/cataclysm-dda.svg
  doc/CODE_STYLE.md
  doc/COMPILING/COMPILING-FLATPAK.md
  doc/COMPILING/COMPILING.md
  doc/DEVELOPER_TOOLING.md
  doc/HOW_YOU_CAN_HELP.md
  doc/cataclysm-tiles.6
  doc/cataclysm.6
  lgtm/cpp-queries/c-style-math-functions.qhelp
  lgtm/cpp-queries/c-style-math-functions.ql
  org.cataclysmdda.CataclysmDDA.json
  snapcraft.yaml
  tools/clang-tidy-plugin/HeaderGuardCheck.cpp
  tools/flagdoc/flagdoc.pl
  tools/flagdoc/sections.conf
  tools/flagdoc/template.in
  tools/generate_changelog.py
  tools/json_tools/cddaUpdateJsonVolume.js
  tools/merge_summaries.sh
Labels: data

#2233 Refactor package loading, get rid of 'core' non-mod and per-world mod folders
  Makefile
  data/core/tips.json
  data/raw/tips.json
  lang/bn_extract_json_strings.sh
  src/cata_tiles.cpp
  src/dependency_tree.cpp
  src/dependency_tree.h
  src/dump.cpp
  src/game.cpp
  src/game.h
  src/init.cpp
  src/init.h
  src/main.cpp
  src/main_menu.cpp
  src/mod_manager.h
  src/path_info.cpp
  src/path_info.h
  src/sdlsound.cpp
  src/text_snippets.cpp
  src/text_snippets.h
  tests/test_main.cpp
  tools/update_blueprint_needs.py
Labels: translation, src, data, tests

#2224 Debug option to show missing tiles
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/debug_menu.cpp
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/options.cpp
  src/sdltiles.cpp
Labels: src

#2230 Fix terrain rendering above character in iso mode
  src/cata_tiles.cpp
Labels: src

#2121 Ammo rebalance project, part 7
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/itemgroups/military.json
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/5x50.json
  data/json/items/ammo/8x40mm.json
  data/json/items/ammo/flintlock.json
  data/json/items/ammo/shot.json
  data/json/items/ammo/shotpaper.json
  data/json/items/generic/casing.json
  data/json/items/handloaded_bullets.json
  data/json/items/migration.json
  data/json/obsoletion/recipes.json
  data/json/professions.json
  data/json/recipes/ammo/shot.json
  data/mods/Dark-Skies-Above/blacklists/item_blacklist.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
  data/mods/No_Rivtech_Guns/modinfo.json
  data/mods/more_classes_scenarios/cs_classes.json
  doc/GAME_BALANCE.md
Labels: data, mods

#2208 Character code reorganization 27-nov-2022
  src/activity_handlers.cpp
  src/avatar.cpp
  src/avatar.h
  src/avatar_action.cpp
  src/avatar_functions.cpp
  src/avatar_functions.h
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/bionics_ui.h
  src/character.cpp
  src/character.h
  src/character_effects.cpp
  src/character_effects.h
  src/character_functions.cpp
  src/character_functions.h
  src/character_turn.cpp
  src/character_turn.h
  src/condition.cpp
  src/creature.cpp
  src/creature.h
  src/game.cpp
  src/handle_action.cpp
  src/item.cpp
  src/iuse_actor.cpp
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/mutation.cpp
  src/mutation_ui.cpp
  src/mutation_ui.h
  src/newcharacter.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
  src/panels.cpp
  src/player.cpp
  src/player.h
  src/player_activity.cpp
  src/player_hardcoded_effects.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/suffer.cpp
  tests/mondefense_test.cpp
  tests/player_helpers.cpp
  tests/player_helpers.h
Labels: src, tests

#2188 Allow repairing items with forges
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/items/fake.json
  data/json/items/tool/metalworking.json
  tests/iteminfo_test.cpp
Labels: data, tests

#2197 [DDA Port] Check mapgen dimensions, stop duplicating mapgen functions
  data/json/mapgen/airliner.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_log.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_rock.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_standard.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_wad.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_wood.json
  data/json/mapgen/basecamps/primitive_field.json
  data/json/mapgen/bike_shop.json
  data/json/mapgen/campus/buildings/admin_f0.json
  data/json/mapgen/campus/buildings/admin_f1.json
  data/json/mapgen/campus/buildings/media_f0.json
  data/json/mapgen/campus/buildings/media_f1.json
  data/json/mapgen/campus/buildings/media_f2.json
  data/json/mapgen/campus/buildings/media_f3.json
  data/json/mapgen/campus/buildings/media_roof.json
  data/json/mapgen/church.json
  data/json/mapgen/dumpsite.json
  data/json/mapgen/farm.json
  data/json/mapgen/hotel_tower.json
  data/json/mapgen/house/house05_ab.json
  data/json/mapgen/irradiator_1.json
  data/json/mapgen/isherwood_farms/dairy_farm_isherwood.json
  data/json/mapgen/isherwood_farms/farm_isherwood.json
  data/json/mapgen/lab/lab_rooms.json
  data/json/mapgen/mall/mall_second_floor.json
  data/json/mapgen/nested/city_npc_nested_spawns.json
  data/json/mapgen/parking_lot.json
  data/json/mapgen/steel_mill/steel_mill_z1.json
  data/json/mapgen/steel_mill/steel_mill_z2.json
  data/json/mapgen/trailhead.json
  data/json/mapgen/ws_regional_dump.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
  data/mods/DinoMod/mapgen/church.json
  data/mods/Magiclysm/worldgen/black_dragon_lair.json
  data/mods/Magiclysm/worldgen/magic_academy.json
  data/mods/No_Hope/Mapgen/bike_shop.json
  data/mods/No_Hope/Mapgen/dairy_farm_isherwood.json
  data/mods/No_Hope/Mapgen/farm_isherwood.json
  data/mods/No_Hope/Mapgen/hotel_tower.json
  data/mods/No_Hope/Mapgen/irradiator_1.json
  data/mods/No_Hope/Mapgen/lab_rooms.json
  data/mods/No_Hope/Mapgen/mall_second_floor.json
  data/mods/No_Hope/Mapgen/ws_regional_dump.json
  src/mapgen.cpp
  src/mapgen.h
  src/overmap.cpp
Labels: src, data, mods

#2187 Adds grid forge rigs, chemistry sets, and chemlabs
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/items/fake.json
Labels: data

#2165 Turrets target moving cars
  data/json/monsters/defense_bot.json
  data/json/monsters/mi-go.json
  data/json/monsters/turrets.json
  src/mattack_actors.cpp
  src/mattack_actors.h
Labels: src, data

#2168 [DinoMod] spawn updates
  data/mods/DinoMod/monstergroups/misc.json
  data/mods/DinoMod/monstergroups/wilderness.json
Labels: data, mods

#2244 Fix android build, add android to CI
  .github/workflows/android.yml
  src/mutation_ui.cpp
Labels: src
