Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-04, with the labels that each got.

#2533 Fix more segfault behaviour for turrets.
  src/ranged.cpp
Labels: src

#2522 Port abandoned textile mill again
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/itemgroups/trash_and_debris.json
  data/json/mapgen/abandoned_textile_mill/abandoned_textile_mill_a.json
  data/json/mapgen/abandoned_textile_mill/abandoned_textile_mill_b.json
  data/json/mapgen_palettes/abandoned_textile_mill.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
  data/json/regional_map_settings.json
Labels: data

#2535 Stop NPCs from using arms to pseudo-block.
  src/character.cpp
  src/melee.cpp
Labels: src

#2554 fix: add more monster blacklist for fungi
  data/mods/No_Fungi/modinfo.json
Labels: data, mods

#2564 Enable No Rail Stations mod by default, tweak description
  data/mods/No_Rail_Stations/modinfo.json
  data/mods/default.json
Labels: data, mods

#2565 Nerf nerf bats
  data/json/items/melee/bludgeons.json
Labels: data

#2551 Gun store eargear spawn fix
  data/json/mapgen/s_gun.json
Labels: data

#2574 Fix swapped-around stats of C.R.I.T. reso-blade
  data/mods/CRT_EXPANSION/items/crt_tools.json
Labels: data, mods

#2547 Mutation threshold achievements
  data/json/achievements.json
  data/json/statistics.json
Labels: data

#2532 perf: port `std::moving` items
  src/inventory.cpp
  src/profession.cpp
Labels: src

#2568 feat: allow cancelling activity with `main_menu(ESC)` key
  src/game.cpp
Labels: src

#2538 refactor: use vector based check for `Character::can_use_floor_warmth`
  src/character.cpp
Labels: src

#2524 perf: `cata::void_t` to `std::void_t`
  src/cata_void.h
  src/generic_factory.h
  src/generic_readers.h
  src/mod_tracker.h
Labels: src

#2580 Added gun mods to mil bunker spawns
  data/json/itemgroups/military.json
  data/json/mapgen/bunker.json
Labels: data

#2519 Port DDA title screen update with BN-specific tweaks
  .clang-tidy
  data/raw/keybindings.json
  src/avatar.cpp
  src/avatar.h
  src/cata_utility.cpp
  src/cata_utility.h
  src/character.h
  src/debug_menu.cpp
  src/enums.h
  src/game.cpp
  src/game.h
  src/gamemode.cpp
  src/gamemode.h
  src/gamemode_defense.h
  src/gamemode_tutorial.h
  src/init.cpp
  src/main_menu.cpp
  src/main_menu.h
  src/mapbuffer.cpp
  src/mapbuffer.h
  src/newcharacter.cpp
  src/overmap.cpp
  src/player.h
  src/savegame_json.cpp
  src/scenario.h
  src/trait_group.cpp
  src/worldfactory.cpp
  src/worldfactory.h
  tests/map_helpers.cpp
Labels: src, data, tests

#2595 fix: macos build failure hotfix, take 2
  src/animation.cpp
  src/animation.h
Labels: src

#2593 Update radio.json
  data/json/snippets/radio.json
Labels: data

#2588 feat: make animals be able to carry heavier weight
  data/json/monsters/mammal.json
  doc/MONSTERS.md
  src/mtype.h
Labels: src, data

#2602 test: missing translation hotfix from #2519
  tests/translations_test.cpp
Labels: tests

#2134 3d shadowcasting
  src/lightmap.cpp
Labels: src

#1864 2D shadowcasting optimizations
  src/lightmap.cpp
  src/shadowcasting.h
  tests/shadowcasting_test.cpp
Labels: src, tests

#2603 test: fix yet another translation fail
  tests/translations_test.cpp
Labels: tests

#2511 feat: togglable message log window size
  data/raw/keybindings/keybindings.json
  data/raw/keybindings/messages.json
  src/input.cpp
  src/messages.cpp
  src/options.cpp
  src/path_info.cpp
  src/path_info.h
  src/savegame_json.cpp
  src/uistate.h
Labels: src, data

#2608 Port over MST Extra items that've been ported to DDA (plus grape leaves)
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/stashes.json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  data/json/recipes/food/bread.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/snack.json
  data/json/recipes/food/veggi.json
  data/json/requirements/cooking_components.json
Labels: data

#2581 Mil bunker gunmods part 2
  data/json/itemgroups/military.json
  data/json/mapgen/bunker.json
Labels: data

#2599 Allow stripping bot chassis for parts, potentially superalloy
  data/json/items/robot_parts.json
  data/json/uncraft/generic.json
Labels: data

#2607 feat: remove `EDIBLE_FROZEN` flag
  data/json/flags.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/irradiated_fruit.json
  data/json/items/comestibles/irradiated_veggy.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/mushroom.json
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/protein.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/spice.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  data/json/obsoletion/items.json
  data/mods/Magiclysm/items/comestibles.json
  data/mods/My_Sweet_Cataclysm/sweet_comestibles.json
  data/mods/TEST_DATA/items.json
  doc/JSON_FLAGS.md
Labels: data, mods

#2591 feat: make NPC guards complain at player stealing items
  src/npcmove.cpp
Labels: src

#2590 feat: prompt player to return to main menu on character death
  src/game.cpp
  src/options.cpp
Labels: src

#2510 feat: use SI units as the default option
  src/options.cpp
Labels: src

#2589 Fix turrets aiming through walls
  src/map.cpp
  src/map.h
  src/mattack_actors.cpp
Labels: src

#2546 Fix MGOAL_FIND_ITEM_GROUP, fix up some code
  doc/MISSIONS_JSON.md
  src/mission.cpp
  src/mission.h
  src/missiondef.cpp
Labels: src

#2397 The Find Antibiotics mission should also accept broad-spectrum antibiotics
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/npcs/missiondef.json
Labels: data

#2618 Rehydrated fruit for fruit wine must recipe
  data/json/recipes/food/brew.json
Labels: data

#2632 A Signal Tree shouldn't have human skin
  data/json/monsters/power_leech.json
Labels: data

#2631 Torso slot bags coverage halved
  data/json/items/armor/storage.json
Labels: data

#2633 Adds engine controls to electronic controls & tweaks portable generator
  data/json/vehicles/utility.json
  src/vehicle_use.cpp
Labels: src, data

#2628 Fix scenario message printing on each load
  src/main_menu.cpp
Labels: src

#2634 Updates/fixes to factions and epilogues
  data/json/npcs/factions.json
  data/json/snippets/epilogue_factions.json
  src/faction.cpp
Labels: src, data

#2543 Weapon Category tweaks.
  data/json/items/classes/range.json
  data/json/items/ranged/crossbows.json
  data/json/weapon_categories.json
  data/mods/Aftershock/items/gun/projectile.json
Labels: data, mods

#2600 Fix an incorrect use of TALK_NONE instead of TALK_DONE in mission dialogue
  data/json/npcs/TALK_COMMON_MISSION.json
Labels: data

#2621 Fix weird speed buff/penalty stacking. Add Speed Mult. Update Character display for speed.
  src/character.cpp
  src/character.h
  src/character_display.cpp
  src/character_turn.cpp
  src/creature.cpp
  src/creature.h
  src/monster.cpp
Labels: src

#2622 Fix spellcasting items consuming charges when canceled
  src/activity_handlers.cpp
  src/iuse_actor.cpp
Labels: src

#2598 Touchups to spellcasting behavior and UI
  src/handle_action.cpp
  src/panels.cpp
Labels: src

#2540 Expand profession options for scenarios a bit
  data/json/scenarios.json
  data/mods/more_classes_scenarios/cs_scenarios.json
Labels: data, mods

#2606 More use of heat-type damage for flares, torches, and dragon's breath
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/shot.json
  data/json/items/ammo/signal_flare.json
  data/json/items/tool/lighting.json
Labels: data

#2381 Increase damage and armor penetration of 84x246mm and RPG-7 ammo.
  data/json/items/ammo/84x246mm.json
  data/json/items/ammo/rpg.json
Labels: data

#2610 Helipad on hospital roof
  data/json/mapgen/hospital.json
  data/json/mapgen_palettes/hospital.json
Labels: data

#2649 Aftershock butcher fixes
  data/mods/Aftershock/mobs/uplifted_monsters.json
Labels: data, mods

#2645 Grammar fixes to appearance mutations
  data/json/mutations/mutation_appearance.json
Labels: data

#2656 Broken Generator deconstruct port from DDA
  data/json/furniture_and_terrain/terrain-manufactured.json
Labels: data

#2655 Urban_Development pt.1 - Sewer & Foundation Renovation
  data/mods/Urban_Development/building_jsons/urban_10_house_brick_pool.json
  data/mods/Urban_Development/building_jsons/urban_11_house_brick.json
  data/mods/Urban_Development/building_jsons/urban_12_house.json
  data/mods/Urban_Development/building_jsons/urban_15_house.json
  data/mods/Urban_Development/building_jsons/urban_16_house_ranch.json
  data/mods/Urban_Development/building_jsons/urban_18_victorian.json
  data/mods/Urban_Development/building_jsons/urban_19_victorian.json
  data/mods/Urban_Development/building_jsons/urban_20_duplex.json
  data/mods/Urban_Development/building_jsons/urban_21_house.json
  data/mods/Urban_Development/building_jsons/urban_22_house_pool.json
  data/mods/Urban_Development/building_jsons/urban_23_dense_office_theater.json
  data/mods/Urban_Development/building_jsons/urban_24_dense_bank_house.json
  data/mods/Urban_Development/building_jsons/urban_25_dense_diner_apt.json
  data/mods/Urban_Development/building_jsons/urban_26_dense_club.json
  data/mods/Urban_Development/building_jsons/urban_27_dense_barber_apt.json
  data/mods/Urban_Development/building_jsons/urban_28_dense_cafe_laundry.json
  data/mods/Urban_Development/building_jsons/urban_29_dense_row.json
  data/mods/Urban_Development/building_jsons/urban_30_dense_subway.json
  data/mods/Urban_Development/building_jsons/urban_31_police_station.json
  data/mods/Urban_Development/building_jsons/urban_32_fire_station.json
  data/mods/Urban_Development/building_jsons/urban_33_hotel.json
  data/mods/Urban_Development/building_jsons/urban_35_hospital.json
  data/mods/Urban_Development/building_jsons/urban_36_projects.json
  data/mods/Urban_Development/building_jsons/urban_37_office_tower_beehive.json
  data/mods/Urban_Development/building_jsons/urban_38_bar_hardware_house.json
  data/mods/Urban_Development/building_jsons/urban_39_market_subway_newspaper.json
  data/mods/Urban_Development/building_jsons/urban_41_library.json
  data/mods/Urban_Development/building_jsons/urban_7_house_garden.json
  data/mods/Urban_Development/building_jsons/urban_8_house_brick_garden.json
  data/mods/Urban_Development/building_jsons/urban_9_house_garage_loft.json
  data/mods/Urban_Development/mapgen_palettes/acidia_commercial_destroyed_palette.json
  data/mods/Urban_Development/mapgen_palettes/acidia_residential_commercial_palette.json
  data/mods/Urban_Development/modinfo.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/regional_overlay.json
Labels: data, mods

#2653 fix: incorrect temperature for vehicle parts
  src/rot.cpp
Labels: src

#2648 Reimplement and rebalance post-apoc professions
  data/json/professions.json
  data/json/scenarios.json
  data/json/vehicle_groups.json
  data/json/vehicles/custom_vehicles.json
Labels: data

#2660 ci: add problem matchers
  .github/workflows/msvc-full-features.yml
  build-scripts/build.sh
  build-scripts/problem-matchers/catch2.json
  build-scripts/problem-matchers/debugmsg.json
  build-scripts/requirements.sh
  src/cached_options.cpp
  src/cached_options.h
  src/debug.cpp
  src/json.cpp
  tests/Makefile
  tests/json_test.cpp
  tests/test_main.cpp
Labels: src, tests

#2482 Add Essential field to Body Parts. Rework Repair Nanobots and NPC first aid action.
  data/json/bionics.json
  data/json/body_parts.json
  data/json/items/bionics.json
  doc/JSON_INFO.md
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/bodypart.cpp
  src/bodypart.h
  src/character.cpp
  src/creature.cpp
  src/creature.h
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: src, data

#2664 Auto-move uses distraction manager, prompts on danger-close
  src/game.cpp
Labels: src

#2668 Added tool category to blood draw kit
  data/json/items/tool/med.json
Labels: data

#2669 feat: allow changing gender in debug menu
  src/character.cpp
  src/character_display.cpp
  src/debug_menu.cpp
Labels: src

#2671 feat: allow installing non-sterile CBM when `Infection Immune`
  data/json/mutations/mutations.json
  src/game_inventory.cpp
Labels: src, data

#2521 More mission descriptions, fix FEMA mission
  data/json/npcs/missiondef.json
Labels: data

#2539 Weapon category adjustments
  data/json/items/melee/swords_and_blades.json
  data/json/martialarts.json
  data/mods/CRT_EXPANSION/items/crt_gun.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
  data/mods/CRT_EXPANSION/martial/CRT_martial_arts_expansion.json
Labels: data, mods

#2665 Prevent range 1 from diagonal-z-attacks
  src/ranged.cpp
Labels: src

#2683 Removed "to_hit" from punch dagger
  data/json/items/melee/unarmed_weapons.json
Labels: data

#2681 Infection Immune now also affects self-installs when enabled
  src/iuse_actor.cpp
Labels: src

#2677 Consistent naming for power armor items
  data/json/items/armor/power_armor.json
Labels: data

#2601 feat: Rule Of Cool explosions v0.2: Made of explodium
  src/explosion.cpp
  src/map.cpp
  src/map.h
  src/options.cpp
Labels: src

#2640 Rule of Cool explosions v0.2: Impressive Pyrotechnics
  data/json/field_type.json
  data/json/furniture_and_terrain/terrain-walls.json
  src/explosion.cpp
  src/game.cpp
  src/game.h
  src/map.cpp
Labels: src, data

#2685 Fixed computers not spawning properly in hospitals
  data/json/mapgen/hospital.json
Labels: data

#2676 No stripping non-ally NPCs.
  src/game.cpp
Labels: src

#2336 Rebalance and increased use of leech plants
  data/json/mapgen/power_station_large.json
  data/json/mapgen/power_station_small.json
  data/json/mapgen/sai.json
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/misc.json
  data/json/monsters/power_leech.json
  src/monattack.cpp
Labels: src, data

#2687 [DinoMod] fix CBM harvest
  data/mods/DinoMod/harvest.json
Labels: data, mods

#2696 Activate trap on force-moved enemies
  src/character.cpp
  src/game.cpp
  src/monmove.cpp
  src/teleport.cpp
Labels: src

#2695 Remove the requirement for shallow pit for junk metal walls
  data/json/construction.json
  data/json/construction_sequence.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_metal.json
Labels: data

#2643 Update laser_items.json
  data/mods/DinoMod/items/laser_items.json
Labels: data, mods

#2710 Rule of Cool explosions v0.2: animation system fixes
  src/explosion.cpp
Labels: src

#2694 feat(balance): buff speed and power usage of `Joint Servo` CBM
  data/json/bionics.json
  src/character.cpp
  src/vehicle.cpp
Labels: src, data

#2709 feat(content): allow rocks for (staff) sling, add {big,small} lead sling bullets
  data/json/items/ammo.json
  data/json/items/ranged/slings.json
  data/json/recipes/ammo/other.json
Labels: data

#2714 fix(content): fallback sprites for sling bullets
  data/json/items/ammo.json
Labels: data

#2717 Aftershock atomic butter churn uncraft
  data/mods/Aftershock/recipes/uncraft.json
Labels: data, mods

#2713 Urban_Development pt.2 - Subway Connections
  data/mods/Urban_Development/building_jsons/urban_30_dense_subway.json
  data/mods/Urban_Development/building_jsons/urban_39_market_subway_newspaper.json
  data/mods/Urban_Development/building_jsons/urban_subway.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/overmap_terrain.json
  data/mods/Urban_Development/regional_overlay.json
Labels: data, mods

#2708 Add weapon categories to more tools
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/lighting.json
  data/json/items/tool/med.json
  data/json/items/tool/misc.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
Labels: data

#2716 Fixed impassable furniture stopping the player from climbing
  src/map.cpp
Labels: src

#2691 fix(i18n): metric bullets part 1: rename `.223` -> `5.56x45mm`
  data/help/texts.json
  data/json/items/ammo/223.json
  data/json/items/ammo_types.json
  data/json/items/generic/ammolink.json
  data/json/items/generic/casing.json
  data/json/items/gun/223.json
  data/json/items/magazine/223.json
  data/json/obsoletion/items.json
  data/mods/No_Hope/Items/guns.json
Labels: data, mods

#2724 fix(i18n): metric bullets part 2: rename `.308` -> `7.62x51mm`
  data/help/texts.json
  data/json/items/ammo/308.json
  data/json/items/ammo_types.json
  data/json/items/generic/ammolink.json
  data/json/items/generic/casing.json
  data/json/items/gun/308.json
  data/json/monsters/turrets.json
  data/json/obsoletion/items.json
  data/json/requirements/ammo.json
  data/mods/Aftershock/items/corpses.json
  data/mods/Aftershock/items/inactiverobot.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/EW_Pack/obsolete.json
  data/mods/Modular_Turrets/corpses.json
  data/mods/Modular_Turrets/items.json
  data/mods/Modular_Turrets/monster.json
  data/mods/Modular_Turrets/roboguns.json
  data/mods/Salvaged_Robots/corpses.json
  data/mods/Salvaged_Robots/items.json
  data/mods/Salvaged_Robots/monsters.json
  data/mods/blazemod/vehicleparts/blaze_turrets_vanilla.json
  doc/GAME_BALANCE.md
  tests/ranged_burst_balance_test.cpp
Labels: data, tests, mods

#2725 Atomic update
  data/json/items/tool/cooking.json
  data/json/items/tool/lighting.json
  data/json/recipes/electronic/lighting.json
  data/json/recipes/electronic/tools.json
  data/json/recipes/other/tools.json
  data/mods/Aftershock/recipes/recipe_overrides.json
Labels: data, mods

#2727 Migrate out betavoltaic item
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/items/ammo.json
  data/json/obsoletion/migration.json
  data/json/snippets/fliers.json
Labels: data

#2721 Engines with `E_NO_POWER_DECAY` flag lack engine power penalty
  data/json/flags.json
  doc/JSON_FLAGS.md
  src/vehicle.cpp
Labels: src, data

#2729 Add Kevlar Vest's Recipe
  data/json/recipes/armor/torso.json
Labels: data

#2730 Buff whip damage
  data/json/items/melee/misc.json
Labels: data

#2731 Fix freezers on pizza_parlor.json
  data/json/mapgen/pizza_parlor.json
Labels: data

#2726 Implement use of E_NO_POWER_DECAY on top-tier engines/motors
  data/json/items/vehicle/engine.json
  data/json/items/vehicle/motors.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/motor.json
  tests/vehicle_drag_test.cpp
Labels: data, tests

#2663 Reworks and Reintroduced Micro Reactor & Radiation Scrubber CBM's
  data/json/bionics.json
  data/json/itemgroups/bionics.json
  data/json/items/bionics.json
  data/json/obsoletion/items.json
  data/json/obsoletion/uncategorized.json
  doc/JSON_INFO.md
  src/bionics.cpp
  src/bionics.h
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/npcmove.cpp
  src/suffer.cpp
  tests/bionics_test.cpp
Labels: src, data, tests

#2733 avgas can be used in gasoline engines
  data/json/vehicleparts/combustion.json
Labels: data

#2575 Allow monsters to attack directly up/down
  src/line.cpp
  src/line.h
  src/monmove.cpp
Labels: src

#2736 Add seatbelts and 5-point harness items
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/collections_trades.json
  data/json/itemgroups/supplies.json
  data/json/items/generic/spares.json
  data/json/items/generic/string.json
  data/json/recipes/other/vehicles.json
  data/json/requirements/materials.json
  data/json/uncraft/generic.json
  data/json/vehicleparts/vehicle_parts.json
  tests/vehicle_efficiency_test.cpp
Labels: data, tests

#2735 Lycra migration into nylon
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/clothes_store.json
  data/json/items/armor/holster.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/resources/plastic.json
  data/json/items/resources/tailoring.json
  data/json/items/tool/tailoring.json
  data/json/materials.json
  data/json/obsoletion/items.json
  data/json/obsoletion/migration.json
  data/json/obsoletion/uncategorized.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/requirements/materials.json
  data/json/uncraft/armor.json
  data/mods/Magiclysm/items/tools.json
  src/iuse_actor.h
Labels: src, data, mods

#2636 Follow-up usage of bread and condiment crafting quality
  data/json/recipes/armor/head.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/other.json
  data/json/recipes/food/snack.json
  data/json/recipes/food/veggi.json
  data/json/recipes/other/tools.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/cooking_components.json
Labels: data

#2630 Rebalance SUS book itemgroups
  data/json/itemgroups/SUS/library.json
Labels: data

#2738 Removed unrelated references
  data/json/items/book/misc.json
Labels: data
