Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-08, with the labels that each got.

#2959 Broken cyborg bionics return as burnt-out bionics when extracted
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/items/bionics.json
  src/activity_handlers.cpp
  src/bionics.cpp
Labels: src, data

#3046 Make "wall_floor_glass_removal_standard" more rational
  data/json/requirements/toolsets.json
Labels: data

#2720 Kill tracker and ongoing game support for new achievements
  data/json/achievements.json
  data/json/species.json
  data/mods/Aftershock/mobs/species.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/Magiclysm/monsters/demon_spider.json
  data/mods/Magiclysm/species.json
  data/mods/My_Sweet_Cataclysm/sweet_species.json
  doc/JSON_INFO.md
  src/achievement.cpp
  src/achievement.h
  src/game.cpp
  src/game.h
  src/monstergenerator.cpp
  src/monstergenerator.h
  tests/stats_tracker_test.cpp
Labels: src, data, tests, mods

#3047 perf: port AIM UI update optimization
  src/advanced_inv.cpp
Labels: src

#2972 Port over fix for asthma death spirals, plus added balancing
  data/json/effects.json
  src/character.cpp
  src/iuse.cpp
  src/suffer.cpp
Labels: src, data

#3050 Organize RPG-7 ammo
  data/json/items/ammo/rpg.json
Labels: data

#3053 port(DDA): spawn guns and related mags together
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
Labels: data

#3055 fix: reset aftershock `river_scale`
  data/mods/Aftershock/region_settings.json
Labels: data, mods

#3059 feat: better error messages for sfx errors
  src/sdlsound.cpp
Labels: src

#3058 fix: font option style and renderer preference
  src/cata_tiles.cpp
  src/options.cpp
Labels: src

#2992 Debug cbm generator is too weak
  data/json/bionics.json
  data/json/items/bionics.json
Labels: data

#3066 Finally fix the Unknown Recipient mission
  data/json/npcs/robofac/NPC_ROBOFAC_INTERCOM.json
Labels: data

#2991 Adding Magiclysm equipment enchanting recipes & missing enchanted equipments
  data/mods/Magiclysm/itemgroups/recipe_books.json
  data/mods/Magiclysm/items/enchanted_melee.json
  data/mods/Magiclysm/items/enchanted_tools.json
  data/mods/Magiclysm/items/recipe_books.json
  data/mods/Magiclysm/qualities.json
  data/mods/Magiclysm/recipes/enchanting.json
  data/mods/Magiclysm/recipes/magic_tools.json
Labels: data, mods

#3071 Add an option to draw bullets as lines
  src/ballistics.cpp
  src/options.cpp
Labels: src

#3080 Glass object (jar, 3l jar, flask, bottle) disassembly; Update generic.json
  data/json/uncraft/generic.json
Labels: data

#3081 Add sulphuric acid synthesis; Update chemicals.json
  data/json/recipes/chem/chemicals.json
Labels: data

#3083 Add pressure cooker recipe; Update tools.json
  data/json/recipes/other/tools.json
Labels: data

#3065 perf(port): do not copy regional settings for overmaps
  src/overmap.cpp
  src/overmap.h
  src/savegame.cpp
Labels: src

#3084 compile: fix extra ';' [-Werror=pedantic] complaints
  src/explosion.cpp
Labels: src

#3086 feat: export vehicle as its JSON representation
  src/debug_menu.cpp
  src/json_export.h
  src/vehicle_export.cpp
Labels: src

#3087 fix: vehicle JSON export breaking curses build
  src/debug_menu.cpp
  src/vehicle_export.cpp
Labels: src

#3091 Port: Craftable Body Pillows from DDA
  data/json/recipes/other/other.json
  data/json/requirements/toolsets.json
Labels: data

#3077 perf(port): performance PRs by @Aivean
  src/active_item_cache.cpp
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/faction.cpp
  src/faction.h
  src/item.cpp
  src/line.cpp
  src/map.cpp
  src/map.h
  src/monmove.cpp
  src/npc.cpp
  src/npcmove.cpp
Labels: src

#3070 feat(comestible): more omelette variants
  data/json/items/comestibles/egg.json
  data/json/recipes/food/other.json
Labels: data

#3092 Rivtech mainline
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/8x40mm.json
  data/json/obsoletion/migration.json
  data/json/recipes/ammo/rifle.json
  data/json/recipes/ammo/shot.json
  data/mods/Craft_Gunpowder/cgp_recipes.json
Labels: data, mods

#3093 Merchant price-fix for .223 magazines and two bionics
  data/json/items/bionics.json
  data/json/items/magazine/223.json
Labels: data

#3061 feat: option to preload all sfx variants
  doc/SOUNDPACKS.md
  src/sdlsound.cpp
Labels: src

#3090 Balance change to monsters carrying guns
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/military.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_default.json
  data/json/monsterdrops/zombie_soldier.json
Labels: data

#1925 Security camera doesn't overlap vehicle doors anymore
  data/json/vehicleparts/vehicle_parts.json
Labels: feedbackrequested, data

#3098 fix: lua compilation warnings
  src/lua/lundump.c
Labels: src

#3102 Update vehicle tests
  tests/vehicle_drag_test.cpp
  tests/vehicle_efficiency_test.cpp
Labels: tests

#3099 Complete the "Nested" and Everyday carry Gun lists
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
Labels: data

#2956 Additional follow-up code tweaks for feral survivors
  data/json/monsters/reptile_amphibian.json
  src/iuse.cpp
  src/mattack_actors.cpp
  src/monster.cpp
Labels: src, data
