Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-11, with the labels that each got.

#3522 feat(balance, port): arpen reduction via layered armor, make shields block ranged hits
  src/character.cpp
  src/item.cpp
Labels: src

#3534 fix(map): bus station, pizza parlor mapgen
  data/json/mapgen/bus_station.json
  data/json/mapgen/pizza_parlor.json
Labels: data

#3535 [DinoMod] more dino helmet stats
  data/mods/DinoMod/items/helmets.json
Labels: data, mods

#3523 feat(content): bungalow 25
  data/json/mapgen/house/bungalow25.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3538 feat(balance): buff kevlar zombie skinning
  data/json/harvest.json
Labels: data

#3544 fix: debugmsg when removing npc armor
  src/armor_layers.cpp
Labels: src

#3512 perf(port): flag to skip rendering for spells
  data/json/flags.json
  data/json/legacy_artifact_passive.json
  data/json/monster_special_attacks/spells.json
  data/json/mutations/mutation_spells.json
  data/mods/Aftershock/spells/hologram_spells.json
  data/mods/Aftershock/spells/spells.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/lizardfolk_shaman.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/Spells/manatouched.json
  data/mods/Magiclysm/Spells/monsterspells.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/traits/manatouched.json
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: src, data, mods, json-format

#3550 Fix vehicles going glitchy when parts are added
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_part.cpp
  src/vehicle_part.h
Labels: src

#3554 fix: zero monster speed on spawn
  src/creature.cpp
Labels: src

#3555 fix: prevent UB on test suite exit.
  src/player_activity.cpp
Labels: src

#3558 feat(content): house_fence01
  data/json/mapgen/house/house_fence01.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3559 fix: vehicle split crash
  src/mapgen.cpp
  src/monster.cpp
  src/monster.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_part.cpp
  src/vehicle_part.h
Labels: src

#3561 fix: filling containers from the map
  src/activity_handlers.cpp
Labels: src

#3562 feat(mods/magiclysm): add missing owlbear pelts recipe
  data/mods/Magiclysm/recipes/materials.json
Labels: data, mods

#3566 fix: moving firewood onto a fire
  src/activity_item_handling.cpp
Labels: src

#3565 fix: crafting deleting stuff
  src/handle_liquid.cpp
  src/item.cpp
Labels: src

#3567 fix: broken activities
  src/player_activity.cpp
  tests/player_helpers.cpp
Labels: src, tests

#3568 fix: item sorting
  src/inventory.cpp
  src/pickup.cpp
Labels: src

#3569 fix: invalidate mass when moving items to/from vehicles
  src/locations.cpp
Labels: src

#3571 fix: mending vehicles
  src/game.cpp
Labels: src

#3572 feat(mods/no hope): No Hope doesn't make the world freezing
  data/mods/No_Hope/regional_map_settings.json
Labels: data, mods

#3574 feat(content): house_fence02
  data/json/mapgen/house/house_fence02.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3577 feat(content): house_fence03
  data/json/mapgen/house/house_fence03.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3517 feat(balance): tweaks for crafting and disassembly consistency
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/tools.json
  data/json/uncraft/armor.json
  data/json/uncraft/generic.json
  data/json/uncraft/tools.json
Labels: data

#3573 fix: fouled attachments not being cleaned along with the gun
  src/activity_handlers.cpp
  src/avatar_functions.cpp
  src/item.cpp
  src/iuse.cpp
Labels: src

#3575 feat: fix and add `STR_RELOAD` to crossbows
  data/json/items/classes/range.json
  data/json/items/ranged/crossbows.json
  src/character.cpp
Labels: src, data

#3579 fix: holster/bandolier speed
  src/locations.cpp
Labels: src

#3581 fix: bad clears on inventories
  src/inventory.cpp
Labels: src

#3585 fix: Add missing favorite on item copy
  src/item.cpp
Labels: src

#3582 fix: Erased the npc Alonso from history (the game)
  data/json/mapgen/refugee_center/refugee_center.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
  data/json/obsoletion/npc.json
  data/json/obsoletion/npc_dialogue.json
  data/mods/DinoMod/obsolete/npc_dialogue.json
  data/mods/DinoMod/snippets/grave_labels.json
  data/mods/No_Hope/Mapgen/refugee_center.json
Labels: data, mods

#3587 feat(content): house_fence04
  data/json/mapgen/house/house_fence04.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3589 fix: NPCs keep their splints on
  src/npcmove.cpp
Labels: src

#3592 fix: npc splints and clean up iterator errors
  src/item.cpp
  src/location_vector.cpp
  src/npcmove.cpp
Labels: src

#3600 fix: crafting leaving 0 item stacks
  src/item.cpp
Labels: src

#3594 Add street lights to remaining shops, port change to make them no longer opaque
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/mapgen/diner.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/recycle_center.json
  data/json/mapgen/restaurant.json
  data/json/mapgen/restaurant_fast.json
  data/json/mapgen/s_bookstore.json
  data/json/mapgen/s_candy.json
  data/json/mapgen/s_clothing.json
  data/json/mapgen/s_coffee.json
  data/json/mapgen/s_electronics.json
  data/json/mapgen/s_furniture.json
  data/json/mapgen/s_games.json
  data/json/mapgen/s_gas.json
  data/json/mapgen/s_grocery.json
  data/json/mapgen/s_gun.json
  data/json/mapgen/s_hardware.json
  data/json/mapgen/s_icecream.json
  data/json/mapgen/s_liquor.json
  data/json/mapgen/school_1.json
  data/json/mapgen/smallscrapyard.json
  data/json/mapgen/smoke_lounge.json
  data/json/mapgen/sports_store.json
  data/json/mapgen/station_radio.json
  data/json/mapgen/storage_units_large.json
  data/json/mapgen/storage_units_medium.json
  data/json/mapgen/storage_units_small.json
  data/json/mapgen/teashop.json
  data/json/mapgen/thrift.json
  data/json/mapgen/veterinarian.json
  data/json/mapgen/vfw.json
  data/json/mapgen/warehouse.json
  data/json/mapgen_palettes/clothes_store_palette.json
  data/mods/No_Hope/Mapgen/school_1.json
Labels: data, mods

#3601 fix: Better fallback for cut lake shoreline
  src/mapgen_functions.cpp
Labels: src

#3611 fix: Repair Item activity occasionally encountering a bad pointer when initiated from vehicle/grid
  src/activity_handlers.cpp
Labels: src

#3613 feat(content): house_fence05
  data/json/mapgen/house/house_fence05.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3622 feat(balance): carnivores can eat protein drinks
  data/json/items/comestibles/protein.json
Labels: data

#3619 fix: crash in vehicle activities
  src/veh_interact.h
Labels: src

#3620 feat(content): monstergroup for gunstores, milsurp, etc
  data/json/mapgen/gunsmith.json
  data/json/mapgen/mil_surplus.json
  data/json/mapgen/s_gun.json
  data/json/mapgen/store/s_hunting.json
  data/json/monstergroups/zombies.json
Labels: data

#3621 feat(balance): Give moose pelts instead of hides
  data/json/monsters/mammal.json
Labels: data

#3624 feat(content): house_fence06
  data/json/mapgen/house/house_fence06.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3625 feat(balance): power armor updates
  data/json/items/armor/power_armor.json
  data/json/monsterdrops/zombie.json
  data/json/uncraft/generic.json
Labels: data

#3603 feat(content): Roman Revival
  data/json/items/armor/boots.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Labels: data

#3626 feat(content): add cacao and coca trees
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/raw_fruit.json
  data/json/items/comestibles/raw_veggy.json
  data/json/mapgen_palettes/lab_surface_palette.json
  data/json/recipes/chem/drugs.json
  data/json/recipes/food/drinks.json
  data/json/recipes/food/snack.json
  data/json/recipes/food/veggi.json
  data/json/regional_map_settings.json
Labels: data

#3627 fix: crafting destroying tools sometimes
  src/character.cpp
  src/item.cpp
Labels: src

#3628 fix: Dropping wielded `count-by-charges` items causing errors
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/avatar.cpp
  src/character.cpp
  src/character.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/locations.cpp
  src/melee.cpp
  src/monattack.cpp
  src/monexamine.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/npctalk_funcs.cpp
  src/player.cpp
  src/ranged.cpp
  tests/behavior_test.cpp
  tests/crafting_test.cpp
  tests/invlet_test.cpp
Labels: src, tests

#3629 fix: errors when npcs pickup items
  src/npcmove.cpp
Labels: src

#3630 fix: error message on npc clothing takeoff
  src/npc.cpp
Labels: src

#3631 fix: Unseal modified containers
  src/locations.cpp
Labels: src

#3637 feat: Liquid summoned by spells can be stored and used
  src/magic_spell_effect.cpp
Labels: src

#3638 feat(content): house_fence07
  data/json/mapgen/house/house_fence07.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3639 fix: Better attempt detach logic
  src/consumption.cpp
  src/item.cpp
  src/item.h
  src/locations.cpp
  src/locations.h
Labels: src

#3641 fix: Add harvestable coca tree description
  data/json/furniture_and_terrain/terrain-flora.json
Labels: data

#3642 fix: food rotting incorrectly
  src/active_item_cache.cpp
Labels: src

#3646 fix: red text when refilling cars
  src/veh_interact.cpp
Labels: src

#3520 feat(port): mutable specials and unhardcored labs and anthills
  data/json/mapgen/bugs/ants.json
  data/json/mapgen/lab/lab_trains.json
  data/json/obsoletion/terrains.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_connections.json
  data/json/overmap/overmap_mutable/anthill.json
  data/json/overmap/overmap_mutable/lab.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_ants.json
  data/json/overmap/overmap_terrain/overmap_terrain_hardcoded.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  data/json/overmap/special_locations.json
  data/mods/Graphical_Overmap/go_overmap_terrain_hardcoded.json
  data/mods/TEST_DATA/overmap_specials.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  doc/src/content/docs/en/mod/json/reference/map/mapgen.md
  doc/src/content/docs/en/mod/json/reference/map/overmap.md
  src/all_enum_values.h
  src/cata_tiles.cpp
  src/cube_direction.h
  src/distribution.cpp
  src/distribution.h
  src/game.cpp
  src/line.cpp
  src/line.h
  src/map.h
  src/mapgen.cpp
  src/mapgen.h
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/mapgendata.cpp
  src/mapgendata.h
  src/npcmove.cpp
  src/om_direction.h
  src/omdata.h
  src/options.cpp
  src/output.cpp
  src/overmap.cpp
  src/overmap.h
  src/overmap_connection.cpp
  src/overmap_connection.h
  src/overmap_special.h
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/pickup.cpp
  src/point.h
  src/savegame.cpp
  src/sdltiles.cpp
  src/sets_intersect.h
  src/start_location.cpp
  tests/cube_direction_test.cpp
  tests/distribution_test.cpp
  tests/overmap_test.cpp
Labels: src, data, tests, mods, json-format

#3614 fix: calculate modes in gunmods too
  src/item_factory.cpp
  src/npcmove.cpp
  src/ranged.cpp
Labels: src

#3650 feat(content): bungalow 26
  data/json/mapgen/house/bungalow26.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3653 feat(balance): Rebalanced occurrences of some specials
  data/json/overmap/overmap_special/specials.json
Labels: data

#3654 fix(content): palette error in Bungalow26
  data/json/mapgen/house/bungalow26.json
Labels: data

#3655 fix(content): `NON_FOULING` flag not working due to typo
  data/json/ammo_effects.json
  data/json/ammo_effects_simple.json
  data/json/flags.json
  data/json/items/ammo.json
  data/json/items/ammo/metal_rail.json
  data/json/items/ammo/nail.json
  data/json/items/classes/gun.json
  data/json/items/gun/flammable.json
  data/json/items/gun/misc.json
  data/json/items/gun/paintball.json
  data/json/items/gunmod/rail.json
  data/json/items/ranged/spearguns.json
  data/json/obsoletion/items.json
  data/mods/Aftershock/items/bioparts.json
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Aftershock/items/weapons.json
  data/mods/CRT_EXPANSION/items/crt_gun.json
  data/mods/No_Hope/Items/gunmods.json
  data/mods/No_Hope/Items/guns.json
  data/mods/TEST_DATA/items.json
  src/ranged.cpp
Labels: src, data, mods, json-format

#3657 refactor(content): Convert slimepit special to mutable
  data/json/overmap/overmap_mutable/slimepit.json
  data/json/overmap/overmap_special/specials.json
  src/mapgen.cpp
  src/overmap.cpp
  src/overmap.h
Labels: src, data

#3659 feat(content): cacao tree graphics update
  data/json/external_tileset/External_Tileset_DP_Tall.png
Labels: data

#3663 feat(content): 2Story01
  data/json/mapgen/house/2Story01.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3643 fix: save/load breaking effect of relic stat boosts
  src/character_turn.cpp
  src/magic_enchantment.cpp
Labels: src

#3666 Fixed mutable copy-from
  src/mapgen.cpp
  src/overmap.cpp
Labels: src

#3668 fix: don't allow cutting up corpses
  data/json/items/corpses/corpses.json
Labels: data

#3670 feat (interface): new UDP external tileset sprite for signs
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: data

#3633 refactor(content): JSONize Pumps
  data/json/furniture_and_terrain/furniture-plumbing.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/iexamine.cpp
  src/iexamine.h
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: src, data

#3649 feat(balance): Constructable furniture consistency updates
  data/json/construction.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-domestic_plants.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/furniture_and_terrain/furniture-signs.json
  data/json/furniture_and_terrain/furniture-sleep.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_log.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_metal.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_migo_resin.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_rock.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_wad.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_wood.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_common.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_log.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_metal.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_migo_resin.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_stone.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_wad.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_wood.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop.rock.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_log.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_metal.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_migo_resin.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wad.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wood.json
Labels: data

#3652 fix: update eye encumbrance, infravision when transforming items
  src/character.cpp
  src/character.h
  src/character_turn.cpp
  src/game.cpp
  src/iuse_actor.cpp
  src/player.cpp
Labels: src

#3673 feat(content): Add sleepdebt effect
  .github/labeler.yml
  doc/src/content/docs/en/mod/json/reference/creatures/effects_json.md
  src/character_turn.cpp
  src/effect.cpp
Labels: src

#3674 build: use import map for ts imports
  deno.jsonc
  deno.lock
  import_map.json
  scripts/front_matter.ts
  scripts/front_matter_test.ts
  scripts/gen_cli_docs.ts
Labels: scripts

#3675 feat(content): 2Story02
  data/json/mapgen/house/2Story02.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3678 fix: crash when trying to load a world while missing a mod
  src/catalua.cpp
Labels: src

#3680 fix: mass_grave map extras
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/mapgen/map_extras/mass_grave.json
Labels: data

#3681 fix: sewer rework
  data/json/overmap/overmap_connections.json
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/overmap.cpp
  src/overmap.h
Labels: src, data

#3688 feat: Convert non-pistol only energy weapon mods to be compatible with all energy weapons.
  data/json/items/gunmod/laser_gunmods.json
Labels: data

#3690 fix(balance): Adjustments to bastion fort
  data/json/mapgen/Bastion_Fort.json
  data/json/mapgen_palettes/bastion_fort_palette.json
Labels: data

#3693 fix: another fix for anthill migration
  data/json/obsoletion/terrains.json
  src/savegame.cpp
Labels: src, data

#3694 fix: Crash in npc activities
  src/character.cpp
  src/character.h
  src/player_activity.cpp
Labels: src

#3696 refactor(content): convert mine special to mutable
  data/json/overmap/overmap_mutable/lab.json
  data/json/overmap/overmap_mutable/mine.json
  data/json/overmap/overmap_special/mine.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/mapgen.cpp
  src/overmap.cpp
  src/overmap.h
  src/start_location.cpp
Labels: docs, src, data

#3697 feat(balance): MILITARY_MECH flag affects ID card needed, fix duplicate message
  data/json/monsters/mechsuits.json
  src/character.cpp
  src/monexamine.cpp
Labels: src, data

#3700 feat(content): house_coop01
  data/json/mapgen/house/house_coop01.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3701 fix: Indefinite vehicle refill
  src/character.cpp
  src/rot.cpp
Labels: src

#3702 fix: campground mapgen
  data/json/mapgen/campground.json
  data/json/mapgen_palettes/campground.json
Labels: data

#3704 fix: rotation of signs & graffity
  src/submap.cpp
Labels: src

#3705 feat(content): swap travois and wood box size
  data/json/vehicleparts/vehicle_parts.json
Labels: data

#3707 feat(balance): adjust biodiesel recipe for more reasonable crafting time
  data/json/recipes/chem/fuel.json
Labels: data

#3682 fix(content): correct electric firestarter recipe
  data/json/recipes/electronic/tools.json
Labels: data

#3703 feat(content): debuff war scythe damage, buff crafting time
  data/json/items/melee/spears_and_polearms.json
  data/json/recipes/weapon/cutting.json
Labels: data

#3708 feat(balance): chocolate recipe update
  data/json/recipes/food/snack.json
Labels: data

#3711 feat(content): vehicle side mirrors
  data/json/vehicles/emergency.json
  data/json/vehicles/trucks.json
  data/json/vehicles/vans_busses.json
Labels: data

#3715 fix: farm mapgen
  data/json/mapgen/farm.json
Labels: data

#3716 feat(content): Biodiesel Fuel for Gasoline Engines
  data/json/vehicleparts/combustion.json
Labels: data

#3726 fix(bugfixes): Fix light and helmet power helms having each other's power draw
  data/json/items/armor/power_armor.json
Labels: data

#3691 feat(balance): `HEAVY_WEAPON_SUPPORT` flag for large mutation and power armors
  data/json/flags.json
  data/json/items/armor/power_armor.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/flag.cpp
  src/flag.h
  src/ranged.cpp
Labels: docs, src, data, mods

#3724 fix: toxic dump mapgen
  data/json/mapgen/toxic_dump.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
Labels: data

#3729 perf: specials placement optimizations
  src/overmap.cpp
Labels: src

#3733 feat(balance): update capacity of power armor holsters
  data/json/items/armor/holster.json
  data/json/items/armor/power_armor.json
Labels: data

#3736 fix: bad iterator message in chopping logs
  src/iuse.cpp
  src/location_vector.cpp
Labels: src

#3737 fix: bad pump iterator
  src/iexamine.cpp
Labels: src

#3741 fix: potential fix for stack overflow in debug MSVS builds
  src/overmap.cpp
Labels: src

#3742 fix: mopping floors
  src/map.cpp
Labels: src

#3709 fix: potential fix for liquid iexamine
  src/iexamine.cpp
  src/map.cpp
Labels: src

#3719 feat(balance): Bionic zombies generate CBMs less often, harvesting of what generates made more reliable
  data/json/harvest.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/itemgroups/bionics.json
  data/mods/Aftershock/items/afs_harvest.json
  data/mods/Aftershock/mobs/harvest.json
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/harvest.json
  src/activity_handlers.cpp
Labels: src, data, mods

#3720 fix(balance): no more EXP gain when a skill is maxed out
  src/character.cpp
  src/skill.cpp
Labels: src

#3732 fix: specials spawned for missions will respect min range
  src/mission_util.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/start_location.cpp
Labels: src

#3743 fix: movie_theater mapgen
  data/json/mapgen/movie_theater.json
  data/json/mapgen_palettes/movie_theater_palette.json
Labels: data

#3728 fix: martial arts damage buffs apply to all damage types
  data/json/martialarts.json
Labels: data

#3750 feat: monster armor for `cold` and `electric`
  data/mods/Aftershock/mobs/robots.json
  doc/src/content/docs/en/mod/json/reference/creatures/monsters.md
  src/damage.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: docs, src, data, mods

#3752 feat: mop 3x3 area around
  src/iuse.cpp
Labels: src

#3751 feat: allow using `MOUNTABLE` terrains nearby when firing heavy weapon
  src/ranged.cpp
Labels: src

#3755 fix: use env. resist for `stun`, `blind`, `sap`, `paralysis`
  src/creature.cpp
Labels: src

#3756 feat(content): New Epilogues for NPCs
  data/json/snippets/epilogue_npc.json
Labels: data

#3760 fix: cs_public_art_piece mapgen
  data/json/mapgen/cs_public_art_piece.json
Labels: data

#3762 feat(port, content): freshwater research station
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-bridges-docks.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/json/mapgen_palettes/underwater_structures_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
  data/json/overmap/special_locations.json
  data/json/scenarios.json
  data/json/start_locations.json
  src/overmap.cpp
Labels: src, data

#3731 fix(balance): repair chance rebalancing
  data/json/items/tool/tailoring.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/iuse_actor.cpp
Labels: docs, src, data

#3764 feat(port): allow vertical movement for avatar in water
  data/json/furniture_and_terrain/terrain-liquids.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/avatar_action.cpp
  src/game.cpp
  src/mapdata.cpp
  src/mapdata.h
  tests/map_helpers.cpp
  tests/map_helpers.h
  tests/player_helpers.cpp
  tests/visitable_remove_test.cpp
  tests/water_movement_test.cpp
Labels: docs, src, data, tests

#3758 feat(balance): power armor rebalancing, take 2
  data/json/items/armor/power_armor.json
  data/json/items/tool_armor.json
  data/json/materials.json
  data/json/monsters/zed_soldiers.json
Labels: data

#3770 fix(balance): remove GULIT flag from fungal children
  data/json/monsters/fungus.json
Labels: data

#3769 feat(balance): bionic harvest follow-ups part 1
  data/json/harvest.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/itemgroups/bionics.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_soldiers.json
  data/mods/Aftershock/mobs/zombies.json
  data/mods/No_Hope/monsters.json
Labels: data, mods

#3771 feat(content): power armored profession
  data/json/professions.json
  data/json/scenarios.json
Labels: data

#3772 feat(mods/magiclysm, port): spell components from DDA
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/requirements/spell_requirements.json
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/activity_handlers.cpp
  src/magic.cpp
  src/magic.h
Labels: docs, src, data, mods

#2202 feat(UI): Add map position to each diary page
  src/diary.cpp
  src/diary.h
  src/overmap_ui.cpp
  src/overmap_ui.h
Labels: src

#3767 feat(content): More Snippets
  data/json/snippets/graffiti.json
  data/json/snippets/grave_labels.json
  data/json/snippets/survivor_notes.json
Labels: data

#3774 fix: misalignment in snippet id numbering
  data/json/snippets/graffiti.json
Labels: data

#3775 feat(balance): ammo pouch storage adjustments
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/bandolier.json
  data/json/items/magazine/8x40mm.json
  data/json/items/magazine/chemical_spray.json
  data/json/items/magazine/liquid.json
  data/json/items/magazine/weldgas.json
  data/json/items/tool/explosives.json
Labels: data

#3776 fix(content): update Joint Servo CBM descriptions
  data/json/bionics.json
  data/json/items/bionics.json
Labels: data

#3777 feat(content): Leg ammo pouch, reversible staff sling
  data/json/items/armor/ammo_pouch.json
  data/json/recipes/armor/storage.json
  data/json/recipes/weapon/ranged.json
Labels: data

#3778 feat(balance): assorted profession updates
  data/json/professions.json
  data/mods/Fuji_Mil_Prof/prof/army.json
  data/mods/Fuji_Mil_Prof/scenarios.json
Labels: data, mods

#3779 fix: `animalpound`, `house_duplex8`, `s_candy` mapgen
  data/json/mapgen/animalpound.json
  data/json/mapgen/house/house_duplex8.json
  data/json/mapgen/s_candy.json
  data/json/monstergroups/misc.json
Labels: data
