Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-07, with the labels that each got.

#2879 feat: do not prompt when it's safe to climb down
  src/game.cpp
  src/iexamine.cpp
  src/map_functions.cpp
  src/map_functions.h
Labels: src

#3007 Delete scenario blacklist from obsolete Dark Skies Above mod
  data/mods/Dark-Skies-Above/blacklists/scenario_blacklist.json
Labels: data, mods

#3001 Use more divisible amounts of flour for certain recipes
  data/json/items/comestibles/bread.json
  data/json/recipes/food/bread.json
Labels: data

#3013 balance: nerf and rename baselard and dagger
  data/json/items/melee/swords_and_blades.json
Labels: data

#3008 Rework usage of anvil quality
  data/json/recipes/ammo/arrows.json
  data/json/recipes/ammo/other.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/electronic/tools.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/traps.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/toolsets.json
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/recipes/pets_bear.json
  data/mods/DinoMod/recipes/pets_elephant.json
  data/mods/DinoMod/recipes/pets_ostrich.json
  data/mods/Generic_Guns/recipes/recipes_firearms_repeater.json
  data/mods/Generic_Guns/recipes/recipes_firearms_single.json
  data/mods/No_Hope/Recipes/recipes.json
  data/mods/makeshift/recipe.json
Labels: data, mods

#3016 Fix a crash when using chop tree zones
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
Labels: src

#3017 Fix the tests
  src/scenario.cpp
  src/scenario.h
  tests/find_auto_consume_test.cpp
Labels: src, tests

#2829 The Mech Update
  data/json/items/generic.json
  data/json/items/gun/ups.json
  data/json/monsters/mechsuits.json
  data/json/recipes/weapon/ranged.json
  data/json/uncraft/generic.json
  data/json/vehicleparts/turret.json
  src/avatar_action.cpp
  src/game.cpp
  src/handle_action.cpp
  src/map.cpp
Labels: src, data

#2833 Mech updates part 3: grabbing furniture and wielding items
  data/json/monsters/mechsuits.json
  src/character.cpp
  src/game.cpp
  src/grab.cpp
  src/handle_action.cpp
  src/monexamine.cpp
  src/ranged.cpp
Labels: src, data

#3020 Removing golf locations from RBD scenario
  data/json/scenarios.json
Labels: data

#3022 Scenario locations balancing
  data/json/scenarios.json
Labels: data

#2764 Adjust calorie values and fix crafting display
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_veggy.json
  src/consumption.cpp
  src/crafting.cpp
  src/recipe.cpp
  src/recipe.h
Labels: src, data

#2986 Cone AoE attack improvements - msg, npcs, armor wrecking
  src/character.cpp
  src/creature.cpp
  src/npcmove.cpp
  src/ranged.cpp
  src/ranged.h
Labels: src

#2938 Set safe speed for wagons to hidden animal speed limit
  src/vehicle.cpp
Labels: src

#2954 Add use action for bringing up gun cleaning mend menu
  data/json/item_actions.json
  data/json/items/generic.json
  data/json/items/tool/workshop.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: src, data

#2899 Convert water dispenser into furniture holding a limited amount
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/mapgen/hazardous_waste_sarcophagus.json
  data/json/mapgen/mine/mine_entrance.json
  data/json/mapgen/missile_silo.json
  data/json/mapgen_palettes/basement.json
  data/json/obsoletion/uncategorized.json
  data/mods/Aftershock/maps/mapgen/millyficent_lab.json
  data/mods/No_Hope/Mapgen/missile_silo.json
Labels: data, mods

#2755 Simplify and sanity-check digging action
  src/iuse.cpp
Labels: src

#3031 Fixes an overflow in monster splatter
  src/mondeath.cpp
Labels: src

#3029 Power Armor Spawn Rebalance
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/mapgen/bunker.json
  data/json/mapgen/mil_surplus.json
  data/json/mapgen/police_station.json
Labels: data

#3011 Show vehicle speed when not using cruise control, standardize speed display
  src/panels.cpp
Labels: src

#3038 `Urban Development` final renovations
  data/mods/Urban_Development/building_jsons/urban_10_house_brick_pool.json
  data/mods/Urban_Development/building_jsons/urban_11_house_brick.json
  data/mods/Urban_Development/building_jsons/urban_12_house.json
  data/mods/Urban_Development/building_jsons/urban_15_house.json
  data/mods/Urban_Development/building_jsons/urban_16_house_ranch.json
  data/mods/Urban_Development/building_jsons/urban_17_house_ranch.json
  data/mods/Urban_Development/building_jsons/urban_18_victorian.json
  data/mods/Urban_Development/building_jsons/urban_19_victorian.json
  data/mods/Urban_Development/building_jsons/urban_20_duplex.json
  data/mods/Urban_Development/building_jsons/urban_21_house.json
  data/mods/Urban_Development/building_jsons/urban_22_house_pool.json
  data/mods/Urban_Development/building_jsons/urban_23_dense_office_theater.json
  data/mods/Urban_Development/building_jsons/urban_24_dense_bank_house.json
  data/mods/Urban_Development/building_jsons/urban_25_dense_diner_apt.json
  data/mods/Urban_Development/building_jsons/urban_26_dense_club.json
  data/mods/Urban_Development/building_jsons/urban_27_dense_barber_apt.json
  data/mods/Urban_Development/building_jsons/urban_28_dense_cafe_laundry.json
  data/mods/Urban_Development/building_jsons/urban_32_fire_station.json
  data/mods/Urban_Development/building_jsons/urban_36_projects.json
  data/mods/Urban_Development/building_jsons/urban_38_bar_hardware_house.json
  data/mods/Urban_Development/building_jsons/urban_39_market_subway_newspaper.json
  data/mods/Urban_Development/building_jsons/urban_40_house.json
  data/mods/Urban_Development/building_jsons/urban_41_library.json
  data/mods/Urban_Development/building_jsons/urban_7_house_garden.json
  data/mods/Urban_Development/building_jsons/urban_9_house_garage_loft.json
  data/mods/Urban_Development/mapgen_palettes/acidia_commercial_destroyed_palette.json
  data/mods/Urban_Development/mapgen_palettes/acidia_residential_commercial_palette.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/overmap_terrain.json
Labels: data, mods

#3006 Expand tool options for glass, paper, and neoprene crafting
  data/json/recipes/other/materials.json
  data/json/requirements/toolsets.json
Labels: data

#3041 Fix `scan_new_items()`
  src/npc.h
  src/npcmove.cpp
  src/ranged.cpp
Labels: src
