Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-03, with the labels that each got.

#2312 Quickfix for "cut trunks into logs" activity
  src/activity_handlers.cpp
Labels: src

#2376 Better helicopter ascent blocking: allow `INDOORS` tiles, forbid thin floors, print cause
  src/vehicle_move.cpp
Labels: src

#2365 Make tin (powder) autolearn at cooking lvl 4+2, Zinc lvl 3+2, remove of zinc powder, move of migration.json, and other
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/supplies.json
  data/json/items/chemicals_and_resources.json
  data/json/items/resources/metal.json
  data/json/obsoletion/migration.json
  data/json/obsoletion/recipes.json
  data/json/recipes/chem/chemicals.json
  data/json/recipes/other/materials.json
Labels: data

#2382 Make the foldable sheet seat use nails instead of "bolts" to install
  data/json/vehicleparts/seats.json
Labels: data

#2383 Reducing uncraft times.
  data/json/uncraft/generic.json
Labels: data

#2375 Last flight scenario
  data/json/npcs/missiondef.json
  data/json/scenarios.json
  data/json/vehicles/helicopters.json
Labels: data

#2404 Remove bionic mana penalty
  src/magic.cpp
  tests/enchantment_test.cpp
Labels: src, tests

#2358 More welcoming debug help menu
  .github/CONTRIBUTING.md
  src/debug_menu.cpp
Labels: src

#2353 Concealment holster changes
  data/json/items/armor/holster.json
  data/json/recipes/armor/storage.json
Labels: data

#2352 make quick draw holsters hold pistols up to 500 ml (glocks)
  data/json/items/armor/holster.json
Labels: data

#2316 Increase and standardize use of barrel_length
  data/json/items/gun/223.json
  data/json/items/gun/3006.json
  data/json/items/gun/308.json
  data/json/items/gun/32.json
  data/json/items/gun/36paper.json
  data/json/items/gun/38.json
  data/json/items/gun/40.json
  data/json/items/gun/40x46mm.json
  data/json/items/gun/40x53mm.json
  data/json/items/gun/44.json
  data/json/items/gun/44paper.json
  data/json/items/gun/45.json
  data/json/items/gun/454.json
  data/json/items/gun/4570.json
  data/json/items/gun/45colt.json
  data/json/items/gun/46.json
  data/json/items/gun/500.json
  data/json/items/gun/57.json
  data/json/items/gun/66mm.json
  data/json/items/gun/762.json
  data/json/items/gun/84x246mm.json
  data/json/items/gun/9mm.json
  data/json/items/gun/blunderbuss.json
  data/json/items/gun/flintlock.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/barrel.json
  data/json/items/ranged/pneumatic.json
Labels: data

#2327 Blackjack oaks give as much bark as birch/willow
  data/json/furniture_and_terrain/terrain-flora.json
Labels: data

#2370 Update description for new explosion option
  src/options.cpp
Labels: src

#2384 make standard crossbow autolearn at 5 fab+2 mech
  data/json/recipes/weapon/ranged.json
Labels: data

#2361 Add Bungalows 11 and 12
  data/json/mapgen/house/bungalow11.json
  data/json/mapgen/house/bungalow12.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#2405 Fix description of "minimize on focus loss" option
  src/options.cpp
Labels: src

#2409 fixing bow recipes
  data/json/recipes/weapon/ranged.json
Labels: data

#2412 add bungalows 13 and 14
  data/json/mapgen/house/bungalow13.json
  data/json/mapgen/house/bungalow14.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#2411 Fix magazine weight being counted twice for non-guns
  src/item.cpp
Labels: src

#2408 Fix loading of laser_lock
  src/mattack_actors.cpp
Labels: src

#2398 Remove filthy tag of used antiseptic cotton balls and rags.
  data/json/items/comestibles/med.json
Labels: data

#2416 Fix black map screen on curses build
  src/options.cpp
Labels: src

#2419 Add more variation to some zombie evolutions
  data/json/monstergroups/zombie_upgrades.json
  data/json/monstergroups/zombies.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_soldiers.json
Labels: data

#2420 Add debug option to show object IDs in game
  src/cached_options.cpp
  src/cached_options.h
  src/descriptions.cpp
  src/game.cpp
  src/item.cpp
  src/iteminfo_query.h
  src/monster.cpp
  src/npc.cpp
  src/options.cpp
  src/veh_interact.cpp
Labels: src

#2421 Don't build stairs going lower z = -10
  src/overmap.cpp
Labels: src

#2422 add bungalows 15 and 16
  data/json/mapgen/house/bungalow15.json
  data/json/mapgen/house/bungalow16.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#2395 Add a few more fitting options for vehicle turrets
  data/json/vehicleparts/turret.json
Labels: data

#2426 Add repairs_like to a few more items
  data/json/items/armor/belts.json
  data/json/items/armor/storage.json
Labels: data

#2423 Removal of lab kennel gate rubble tile
  data/json/mapgen/lab/lab_rooms.json
Labels: data

#2424 Lab kennel gate rubble removal for No Hope mod
  data/mods/No_Hope/Mapgen/lab_rooms.json
Labels: data, mods

#2393 Updates to auto-eat filtration behavior
  src/activity_item_handling.cpp
Labels: src

#2385 Buffing cooked meat and organproducts spoil times
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/offal_dishes.json
  tests/basecamp_test.cpp
  tests/rot_test.cpp
Labels: data, tests

#2428 add bungalows 17 and 18
  data/json/mapgen/house/bungalow17.json
  data/json/mapgen/house/bungalow18.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#2429 Brewing recipe overhaul
  data/json/recipes/food/brew.json
Labels: data

#2433 add bungalows 19 and 20
  data/json/mapgen/house/bungalow19.json
  data/json/mapgen/house/bungalow20.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#2435 Add military helipad to military operations map
  data/json/items/book/maps.json
Labels: data

#2436 Vinegar is less fun but has some calories
  data/json/items/comestibles/drink_other.json
Labels: data

#2432 Humvee headlight reduction, and GL ammo change to 40x53mm
  data/json/vehicles/military.json
  data/mods/Aftershock/vehicles/vehicles.json
  data/mods/No_Hope/vehicles.json
  data/mods/Salvaged_Robots/robot_additions/vehicles.json
  tests/vehicle_efficiency_test.cpp
Labels: data, tests, mods

#2444 Making eating black tea leaves less fun
  data/json/items/comestibles/raw_veggy.json
Labels: data

#2450 raise max charges for tailors kit and sewing kit
  data/json/items/tool/tailoring.json
Labels: data

#2443 Fix 'Unknown Recipient' mission
  data/json/items/generic.json
Labels: data

#2427 Fix issue with the durability of monster drops
  src/item_factory.cpp
  src/item_group.cpp
  tests/item_group_test.cpp
Labels: src, tests

#2454 fix typo `Shrubberry` to `Shrubbery`
  data/json/overmap/map_extras.json
Labels: data

#2456 Fixed 40x46mm grenades not having volume
  data/json/items/ammo/40x46mm.json
Labels: data

#2445 add bungalows 21 and 22
  data/json/mapgen/house/bungalow21.json
  data/json/mapgen/house/bungalow22.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#2453 Add mod source & id display to recipes
  src/crafting_gui.cpp
  src/recipe.h
  src/recipe_dictionary.cpp
Labels: src

#2457 Move large functions to `.cpp` files
  src/assign.cpp
  src/assign.h
  src/cellular_automata.cpp
  src/cellular_automata.h
  src/coordinates.cpp
  src/coordinates.h
  src/event.cpp
  src/event.h
  src/font_loader.cpp
  src/font_loader.h
  src/generic_factory.cpp
  src/generic_factory.h
  src/itype.cpp
  src/itype.h
  src/map.cpp
  src/map.h
  src/npc.cpp
  src/npc.h
  src/output.cpp
  src/output.h
  src/point.cpp
  src/point.h
  src/scent_block.cpp
  src/scent_block.h
  src/sdl_utils.cpp
  src/sdl_utils.h
  src/submap.cpp
  src/submap.h
Labels: src

#2466 Fixes appearance of baseball field
  data/json/mapgen/field_baseball.json
Labels: data

#2462 Give 40x53mm ammo volume
  data/json/items/ammo/40x53mm.json
Labels: data

#2418 Fix some bugs with picking up of count-by-charges items
  src/pickup.cpp
Labels: src

#2387 sleeping bag now require 60 rags
  data/json/recipes/armor/other.json
Labels: data

#2318 Port over sawing off stocks, plus adjustments
  data/json/item_actions.json
  data/json/items/gunmod/stock.json
  data/json/tool_qualities.json
  src/game_inventory.cpp
  src/game_inventory.h
  src/item.cpp
  src/item_factory.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: src, data

#2465 feat: `No Explosive Zombies` also removes bloated zombies
  data/mods/No_Explosive_Zombies/modinfo.json
Labels: data, mods

#1971 update (almond/soy) milk
  data/json/items/comestibles/drink.json
Labels: data

#2471 Obsoletion and removal of useless bathroom fluff
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/supplies.json
  data/json/items/generic/bathroom_house.json
  data/json/obsoletion/items.json
  data/json/uncraft/generic.json
Labels: data

#2474 Fix tidy
  build-scripts/build.sh
  build-scripts/requirements.sh
  src/item.cpp
  src/rot.cpp
  tests/rot_test.cpp
Labels: src, tests

#2344 Uncraft crashfix and recipe fix
  data/json/recipes/armor/head.json
  data/json/uncraft/generic.json
  src/recipe.cpp
Labels: src, data

#2392 No Blobs Mod upload
  data/mods/No_Blobs/modinfo.json
Labels: data, mods

#2475 Updates to C.R.I.T. Expansion mod
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
  data/mods/CRT_EXPANSION/martial/CRT_EnforcementBuff.json
  data/mods/CRT_EXPANSION/martial/CRT_MeleeBuffs.json
  data/mods/CRT_EXPANSION/martial/CRT_martial_arts_expansion.json
  data/mods/CRT_EXPANSION/martial/crt_gun_techniques.json
  data/mods/CRT_EXPANSION/martial/dragonslayertechn.json
  data/mods/CRT_EXPANSION/martial/generaltechn.json
  data/mods/CRT_EXPANSION/martial/stabtechn.json
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
  data/mods/CRT_EXPANSION/scenarios/crt_scenarios.json
Labels: data, mods

#2356 Convert paper from comestible to stackable generic
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/evac_shelter.json
  data/json/itemgroups/SUS/office.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/oa_shared_item_groups.json
  data/json/itemgroups/supplies.json
  data/json/items/comestibles/other.json
  data/json/items/tool/stationary.json
  data/json/mapgen/irradiator_1.json
  data/mods/No_Hope/Mapgen/irradiator_1.json
Labels: data, mods

#2396 Add new MODIFY_GRID_CONNECTIONS to voltmeter
  data/json/item_actions.json
  data/json/items/tool/science.json
  data/json/requirements/electronics.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/overmapbuffer.cpp
  src/overmapbuffer.h
Labels: src, data

#2350 Implement grid recharging stations, battery charger tweak
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/items/vehicle/utilities.json
  data/json/vehicleparts/vehicle_parts.json
Labels: data

#2490 Police station minor map changes
  data/json/mapgen/police_station.json
Labels: data

#2496 Adjustments to mine and zombie miner item spawns
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/monsterdrops/zombie_technician.json
  src/mapgen.cpp
Labels: src, data

#2497 Give junk floors a roof
  data/json/furniture_and_terrain/terrain-floors_indoor.json
Labels: data

#2499 Fix missing spaces
  data/json/items/armor/suits_protection.json
Labels: data

#2504 Further C.R.I.T. Expansion updates
  data/mods/CRT_EXPANSION/items/crt_ammo.json
  data/mods/CRT_EXPANSION/items/crt_ammotypes.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_gun.json
  data/mods/CRT_EXPANSION/items/crt_item_groups.json
  data/mods/CRT_EXPANSION/items/crt_recipes.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
Labels: data, mods

#1899 Fix full butchery description
  src/game.cpp
Labels: src

#2468 Port over and update 'Streamline aim and fire experience (#59977)'
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/npcmove.cpp
  src/options.cpp
  src/ranged.cpp
  src/ranged.h
  src/turret.cpp
  tests/ranged_aoe_test.cpp
Labels: src, tests

#2503 Make all carpets destroyable and easily deconstructable
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-floors_indoor.json
  data/mods/No_Hope/terrain.json
Labels: data, mods

#2507 Allow installing and removing bionics through debug menu
  data/json/mutations/mutations.json
  src/character_turn.cpp
  src/debug_menu.cpp
  src/debug_menu.h
  src/mutation.cpp
  src/wish.cpp
Labels: src, data

#2506 Enable Rule of Cool explosions by default
  src/explosion.cpp
  src/options.cpp
Labels: src

#2509 Prevent dragging plugged-in grid furniture
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: data

#2452 JSONize results of clearing rubble via bash results
  data/json/furniture_and_terrain/furniture-rural.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/itemgroups/trash_and_debris.json
  data/json/mapgen/abandoned_barn.json
  data/json/mapgen/cabin.json
  data/json/mapgen/lab/lab_floorplans_1side.json
  data/json/mapgen/landfill.json
  data/json/mapgen/necropolis/necropolis.json
  data/json/mapgen/ws_survivor_bunker.json
  data/mods/National_Guard_Camp/national_guard_camp/national_guard_camp.json
  data/mods/National_Guard_Camp/national_guard_camp/national_guard_camp_b1.json
  data/mods/No_Hope/Mapgen/abandoned_barn.json
  data/mods/No_Hope/Mapgen/lab_floorplans_1side.json
  data/mods/No_Hope/Mapgen/necropolis.json
  data/mods/Urban_Development/building_jsons/urban_37_office_tower_beehive.json
  src/activity_handlers.cpp
  src/computer_session.cpp
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/map_field.cpp
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/player_hardcoded_effects.cpp
Labels: src, data, mods

#2516 Fix possible segfault caused by #2468 when guns are fired
  src/ranged.cpp
Labels: src
