Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-06, with the labels that each got.

#2920 Broken/prototype cyborg rebalancing
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/npcs/classes.json
  data/json/professions.json
Labels: data

#2919 Adjustments to bionic armor
  data/json/bionics.json
  data/json/enchantments.json
  data/json/items/bionics.json
Labels: data

#2922 Improvements to feral survivor and Mycus experience
  src/avatar_action.cpp
  src/monster.cpp
Labels: src

#2926 More feral-related changes
  data/json/effects.json
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/monsterdrops/feral_humans.json
  data/json/monstergroups/zombies.json
  data/json/monsters/feral_humans.json
  data/json/monsters/mutant_human.json
  data/json/monsters/nether.json
  data/json/professions.json
  data/json/scenarios.json
  data/json/speech.json
  data/mods/No_Feral_Humans/modinfo.json
  src/suffer.cpp
Labels: src, data, mods

#2927 Fix vehicles turning bushes into pits
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-traps.json
  doc/JSON_FLAGS.md
  src/map.cpp
  src/vehicle_autodrive.cpp
Labels: src, data

#2933 Fix RAS weapon range in `target_ui`
  src/ranged.cpp
Labels: src

#2929 Fix mutant scenarios adding an obsoleted trait
  data/json/scenarios.json
Labels: data

#2937 Fix cows being only a liter in volume
  data/json/monsters/mammal.json
Labels: data

#2932 Shuffle overmap specials
  src/overmap.cpp
Labels: src

#2940 Convert buckler to not inherit hand coverage from banded shield
  data/json/items/armor/shields.json
Labels: data

#2402 Auto-eat sorts by spoilage
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/player_activity.cpp
  tests/find_auto_consume_test.cpp
Labels: src, tests

#2748 [Rdy?]Redo random NPC spawn chance
  src/game.cpp
  src/npc.h
  tests/npc_test.cpp
Labels: src, tests

#2943 Cots can be crafted & uncrafted
  data/json/recipes/other/other.json
Labels: data

#2908 Assassination mission
  data/json/npcs/missiondef.json
  data/json/professions.json
  data/json/scenarios.json
  data/mods/No_Feral_Humans/modinfo.json
Labels: data, mods

#2945 Update 10mm auto to use large pistol primers
  data/json/requirements/ammo.json
  data/json/uncraft/ammo/10mm.json
Labels: data

#2946 style: typo in `Lost To The Cataclysm` profession
  data/json/mutations/mutations.json
Labels: data

#2948 Fix how NPCs handle loose sheath/holsters
  data/json/monsters/misc.json
  src/character_functions.cpp
  src/iuse_actor.cpp
  src/npc.cpp
Labels: src, data

#2931 Fix forgotten monster flag
  data/json/monsters/nether.json
Labels: data

#2944 Fix open safe spawning on indoor shrub in house variant
  data/json/mapgen/house/house25.json
Labels: data

#2949 Make `covers` field be overwritten properly.
  src/bodypart.h
  src/item_factory.cpp
Labels: src

#2955 Magiclysm harvest fixes
  data/mods/Magiclysm/harvest.json
Labels: data, mods

#2957 Migrate construction recipes to `soldering_standard`
  data/json/construction.json
Labels: data

#2958 Solar panel CBM no longer provides power at all times
  src/bionics.cpp
Labels: src

#2962 Reduce wet effects on morale to reasonable levels
  src/suffer.cpp
Labels: src

#2961 Allow creation of cabbage seeds from cabbages
  data/json/recipes/food/seeds.json
Labels: data

#2964 Some updates to obsolete mods just in case anybody uses them (like yours truly)
  data/json/scenarios.json
  data/mods/Hydroponics/construction.json
  data/mods/More_Locations/terrain.json
Labels: data, mods

#2934 Add warning for smashing with glass item
  src/handle_action.cpp
Labels: src

#2971 Add Weapon Category to makeshift hammer (same as stone hammer)
  data/json/items/tool/workshop.json
Labels: data

#2969 Sanity-checking construction components yet again
  data/json/construction.json
  data/json/items/generic.json
  data/json/items/tool/workshop.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_common.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_log.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_rock.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_wad.json
  data/json/recipes/basecamps/recipe_modular_field_common.json
  data/json/recipes/basecamps/recipe_modular_field_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_field_wad.json
  data/json/recipes/basecamps/recipe_modular_firestation1.json
  data/json/recipes/basecamps/recipe_modular_livestock/recipe_modular_livestock_log.json
  data/json/recipes/basecamps/recipe_modular_livestock/recipe_modular_livestock_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_livestock/recipe_modular_livestock_rock.json
  data/json/recipes/basecamps/recipe_modular_livestock/recipe_modular_livestock_wad.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_log.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_stone.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_wad.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_log.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_rock.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_wad.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_log.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_rock.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_standard.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_wad.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_wood.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_log.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_rock.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_wad.json
  data/json/recipes/basecamps/recipe_modular_storehouse/recipe_modular_storehouse_log.json
  data/json/recipes/basecamps/recipe_modular_storehouse/recipe_modular_storehouse_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_storehouse/recipe_modular_storehouse_rock.json
  data/json/recipes/basecamps/recipe_modular_storehouse/recipe_modular_storehouse_wad.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop.rock.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_log.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_metal.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_migo_resin.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wad.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wood.json
  data/json/recipes/other/materials.json
Labels: data

#2864 Move wielded item data to body part
  src/avatar.cpp
  src/bionics.cpp
  src/bodypart.h
  src/character.cpp
  src/character.h
  src/character_functions.cpp
  src/character_turn.cpp
  src/consumption.cpp
  src/crafting.cpp
  src/creature.cpp
  src/creature.h
  src/debug_menu.cpp
  src/magic_spell_effect.cpp
  src/mattack_actors.cpp
  src/mattack_actors.h
  src/mattack_common.h
  src/melee.cpp
  src/monattack.cpp
  src/monstergenerator.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
  src/savegame_json.cpp
  src/suffer.cpp
Labels: src

#2973 Fix grid constructions calling for solder twice
  data/json/construction.json
  data/json/recipes/basecamps/recipe_modular_firestation1.json
Labels: data

#2138 Recipes make more use of other fabric and leather options for handle or backing components
  data/json/recipes/animals/medium_quadruped_armor.json
  data/json/recipes/animals/small_quadruped_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/chem/other.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/medical.json
  data/json/recipes/other/other.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/materials.json
Labels: data

#2979 fix(L10n): make extracting bodypart fields optional
  lang/extract_json_strings.py
Labels: translation

#2977 Port over anthill fixes
  data/json/overmap/overmap_terrain/overmap_terrain_hardcoded.json
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/overmap.cpp
  src/overmap.h
Labels: src, data

#2976 Fix cooked items counting as raw
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/mushroom.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
Labels: data

#2953 Fix fire weapon messages failing to print
  src/iuse_actor.cpp
Labels: src

#2974 Allow cured hides/pelts for clay containers
  data/json/recipes/other/containers.json
  data/json/requirements/materials.json
Labels: data

#2869 Fix pickup key spoiling presence of loot in crates
  src/action.cpp
Labels: src

#2850 Temperature for food that can rot is displayed in tagtext
  src/item.cpp
Labels: feedbackrequested, src

#2980 Fix load error from undefined VERY_COLD flag
  data/json/flags.json
Labels: data

#2983 Allows NPC morale sources to decay
  src/character_turn.cpp
  src/game.cpp
Labels: src

#2982 Fix monsters noclipping through underground climbable terrain
  src/monmove.cpp
Labels: src

#2984 Fixes some active item cache problems
  src/active_item_cache.cpp
  src/visitable.cpp
Labels: src

#2952 Use bismuth in recipes, related ammo fixes
  data/json/items/ammo/4570.json
  data/json/recipes/ammo/other.json
  data/json/recipes/ammo/rifle.json
  data/json/requirements/materials.json
  data/json/uncraft/ammo/4570.json
Labels: data

#2985 Updated crafting menu example with existing item
  src/crafting_gui.cpp
Labels: src

#2988 Fix display saying food is still cold after reheating
  src/consumption.cpp
Labels: src

#2993 Fix paper recipe making wrong amount
  data/json/recipes/other/materials.json
Labels: data

#2998 New Schizo Snippets
  data/json/snippets/schizophrenia.json
Labels: data

#2997 Port over change making elephant gun a double rifle
  data/json/items/gun/700nx.json
Labels: data

#2996 Make net and bolas recipes reversible
  data/json/recipes/weapon/ranged.json
Labels: data

#2995 Make primer recipe more granular, add to component options
  data/json/recipes/ammo/components.json
Labels: data

#3000 Update schizophrenia.json
  data/json/snippets/schizophrenia.json
Labels: data

#3002 Fix segfault when NPC is set to use silent weapons
  src/npcmove.cpp
Labels: src

#3003 docs: state what exactly does C.R.I.T. stand for
  data/mods/CRT_EXPANSION/modinfo.json
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
Labels: data, mods

#2541 Weapon Categories for gunmods.
  data/json/items/gunmod/accessories.json
  data/json/items/gunmod/barrel.json
  data/json/items/gunmod/brass_catcher.json
  data/json/items/gunmod/grip.json
  data/json/items/gunmod/laser_gunmods.json
  data/json/items/gunmod/loading_port.json
  data/json/items/gunmod/mechanism.json
  data/json/items/gunmod/mount.json
  data/json/items/gunmod/muzzle.json
  data/json/items/gunmod/rail.json
  data/json/items/gunmod/sights.json
  data/json/items/gunmod/sling.json
  data/json/items/gunmod/stock.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/melee/swords_and_blades.json
  data/json/obsoletion/items.json
  data/mods/CRT_EXPANSION/items/crt_gunmods.json
  data/mods/EW_Pack/obsolete.json
  data/mods/FictonalWeapons/fic_mods.json
  data/mods/Generic_Guns/gunmods/gunmods.json
  data/mods/Magiclysm/items/enchanted_gunmods.json
  data/mods/No_Hope/Items/gunmods.json
  doc/JSON_INFO.md
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
Labels: src, data, mods

#2999 Updates to axe, hammer, and anvil qualities
  data/json/furniture_and_terrain/terrain-railroads.json
  data/json/items/generic.json
  data/json/items/melee/axes.json
  data/json/items/melee/bludgeons.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/woodworking.json
  data/json/items/vehicle/plating.json
  data/json/recipes/other/tools.json
Labels: data
