Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-02, with the labels that each got.

#2307 Fix autoforage failing with dandelions
  src/game.cpp
Labels: src

#2326 Adjust "protected from rot" lines in item description
  src/item.cpp
  src/item.h
  tests/iteminfo_test.cpp
Labels: src, tests

#2320 Allow uncrafting signal flares
  data/json/uncraft/ammo/signal_flare.json
Labels: data

#2323 Some changes to self produced weapons, black powder ammo and bugfixes, for Generic Guns
  data/mods/Generic_Guns/ammo/black_powder.json
  data/mods/Generic_Guns/ammo/blunderbuss.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/ammo/obsolete.json
  data/mods/Generic_Guns/firearms/black_powder.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/gg_ammunition_types.json
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
  data/mods/Generic_Guns/recipes/recipes_firearms_repeater.json
  data/mods/Generic_Guns/recipes/recipes_firearms_single.json
  data/mods/Generic_Guns/recipes/recipes_grenade_propelled.json
  data/mods/Generic_Guns/recipes/recipes_rifle.json
  data/mods/Generic_Guns/recipes/recipes_shot.json
Labels: balancing, data, mods

#2321 Winter boots now take 2 hours to craft
  data/json/recipes/armor/feet.json
Labels: data

#2283 Character code reorganization 09-jan-2023
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/armor_layers.cpp
  src/avatar.cpp
  src/avatar.h
  src/avatar_action.cpp
  src/avatar_functions.cpp
  src/avatar_functions.h
  src/character.cpp
  src/character.h
  src/character_functions.cpp
  src/character_functions.h
  src/construction.cpp
  src/consumption.cpp
  src/crafting.cpp
  src/crafting_gui.cpp
  src/creature.cpp
  src/creature.h
  src/examine_item_menu.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/game_inventory.h
  src/gates.cpp
  src/grab.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/melee.cpp
  src/monattack.cpp
  src/monster.cpp
  src/monster.h
  src/npc.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/player.cpp
  src/player.h
  src/ranged.cpp
  src/savegame_json.cpp
  src/veh_interact.cpp
  src/veh_type.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
  tests/crafting_test.cpp
  tests/invlet_test.cpp
  tests/item_location_test.cpp
  tests/reload_option_test.cpp
  tests/reloading_test.cpp
  tests/speed_test.cpp
  tests/vehicle_interact_test.cpp
Labels: src, tests

#2343 Next changes to Generic Guns. (Renaming, Balancing, Removal and inclusion of guns, changes to migration, etc.)
  data/mods/Generic_Guns/ammo/casings.json
  data/mods/Generic_Guns/ammo/grenade.json
  data/mods/Generic_Guns/ammo/pistol.json
  data/mods/Generic_Guns/ammo/pistol_magnum.json
  data/mods/Generic_Guns/ammo/pistol_tiny.json
  data/mods/Generic_Guns/ammo/rifle.json
  data/mods/Generic_Guns/ammo/rifle_huge.json
  data/mods/Generic_Guns/ammo/sniper.json
  data/mods/Generic_Guns/bandoliers/bandolier.json
  data/mods/Generic_Guns/firearms/black_powder.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/firearms/grenade.json
  data/mods/Generic_Guns/firearms/obsolete.json
  data/mods/Generic_Guns/firearms/pistol.json
  data/mods/Generic_Guns/firearms/pistol_magnum.json
  data/mods/Generic_Guns/firearms/pistol_tiny.json
  data/mods/Generic_Guns/firearms/rifle.json
  data/mods/Generic_Guns/firearms/rifle_huge.json
  data/mods/Generic_Guns/firearms/rocket.json
  data/mods/Generic_Guns/firearms/shot.json
  data/mods/Generic_Guns/firearms/sniper.json
  data/mods/Generic_Guns/gg_ammunition_types.json
  data/mods/Generic_Guns/gunmods/gunmods.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
  data/mods/Generic_Guns/magazines/grenade.json
  data/mods/Generic_Guns/magazines/pistol.json
  data/mods/Generic_Guns/magazines/pistol_magnum.json
  data/mods/Generic_Guns/magazines/pistol_tiny.json
  data/mods/Generic_Guns/magazines/rifle.json
  data/mods/Generic_Guns/magazines/rifle_huge.json
  data/mods/Generic_Guns/magazines/sniper.json
  data/mods/Generic_Guns/primer/gg_primer_migration.json
  data/mods/Generic_Guns/primer/primer.json
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
  data/mods/Generic_Guns/recipes/recipes_firearms_repeater.json
  data/mods/Generic_Guns/recipes/recipes_firearms_single.json
  data/mods/Generic_Guns/recipes/recipes_primer.json
  data/mods/Generic_Guns/recipes/recipes_rifle.json
  data/mods/Generic_Guns/recipes/recipes_shot.json
  data/mods/Generic_Guns/recipes/requirements.json
  data/mods/Generic_Guns/vehicles/ammo_redefine_hacks/temp_magazine_json_load_hack.json
Labels: data, mods

#2335 Updates to putting self out when on fire
  src/character_turn.cpp
Labels: src

#2313 add bungalows 09 10
  data/json/mapgen/house/bungalow09.json
  data/json/mapgen/house/bungalow10.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#2291 Fix Active Perpetual Power Gen and Charge Timer Handling
  data/json/bionics.json
  data/json/items/bionics.json
  data/json/items/generic.json
  src/bionics.cpp
Labels: src, data

#2314 Fix impossible installation of slot mount gunmods
  data/json/items/gunmod/mechanism.json
  data/json/items/gunmod/mount.json
  src/avatar_functions.cpp
Labels: src, data

#2310 Corrected category for barricate and FOODCO construction
  data/json/construction.json
Labels: data

#2330 Allow prying coffins with makeshift crowbar
  data/json/furniture_and_terrain/furniture-storage.json
Labels: data

#2258 Ammo Rebalance, Part 8
  data/json/items/ammo/223.json
  data/json/items/ammo/270win.json
  data/json/items/ammo/300.json
  data/json/items/ammo/3006.json
  data/json/items/ammo/300blk.json
  data/json/items/ammo/308.json
  data/json/items/ammo/4570.json
  data/json/items/ammo/50.json
  data/json/items/ammo/545x39.json
  data/json/items/ammo/700nx.json
  data/json/items/ammo/762.json
  data/json/items/ammo/762R.json
Labels: data

#2286 Try to pick a safe direction to cut down a tree
  src/activity_handlers.cpp
Labels: src

#2287 C.R.I.T. Renewal
  data/mods/CRT_EXPANSION/constructions/construction_group.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
  data/mods/CRT_EXPANSION/items/crt_gun.json
  data/mods/CRT_EXPANSION/items/crt_item_groups.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
  data/mods/CRT_EXPANSION/martial/CRT_Bladework.json
  data/mods/CRT_EXPANSION/martial/CRT_EnforcementBuff.json
  data/mods/CRT_EXPANSION/modinfo.json
  data/mods/CRT_EXPANSION/monsters/crt_monster.json
  data/mods/CRT_EXPANSION/monsters/crt_monstergroups.json
  data/mods/CRT_EXPANSION/monsters/monster.json
  data/mods/CRT_EXPANSION/readme/README.md
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
Labels: data, mods

#2322 Maintenance for No Fungal Monsters mod
  data/mods/No_Fungi/comestibles.json
  data/mods/No_Fungi/furniture.json
  data/mods/No_Fungi/recipes.json
  data/mods/No_Fungi/terrain.json
Labels: data, mods

#2337 Updates to jabberwock map extra
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
  src/map_extras.cpp
Labels: src, data

#2351 Make .22 ammo also appear in the pistol ammo drop list
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
Labels: data

#2346 Correct J22 magazine volumes
  data/json/items/gun/22.json
  data/json/items/magazine/22.json
Labels: data

#2325 Isherwoods trade nearby items, dialogue updates
  data/json/npcs/isherwood_farm/NPC_Claire_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Eddie_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jesse_Isherwood.json
Labels: data

#2348 obsolete the conductive sharp_toothbrush
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/melee/bludgeons.json
  data/json/martialarts.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/recipes/weapon/piercing.json
Labels: data

#2355 removing myself as Maintainer of Generic Guns.
  data/mods/Generic_Guns/modinfo.json
Labels: data, mods

#2347 Make plastic containers craftable from scratch (Jug+jerrycan) + tweaks
  data/json/items/containers.json
  data/json/recipes/other/containers.json
Labels: data

#2371 Make water from the cellar water heater "non-clean"
  data/json/mapgen/basement/basement_bionic.json
  data/json/mapgen/basement/basement_chem.json
  data/json/mapgen/basement/basement_game.json
  data/json/mapgen/basement/basement_messed.json
  data/json/mapgen/basement/basement_weed.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/hotel_tower.json
  data/json/mapgen/isherwood_farms/cabin_isherwood.json
  data/json/mapgen/lake_buildings/cabin_lake.json
  data/json/mapgen/lake_buildings/lighthouse.json
  data/json/mapgen/movie_theater.json
  data/json/mapgen/nested/basement_nested.json
  data/json/mapgen/nested/nested_chunks_roof.json
  data/json/mapgen/prison_1.json
  data/json/mapgen/ws_biker_dump.json
  data/json/mapgen_palettes/basement.json
  data/json/mapgen_palettes/city_block_palette.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/mapgen_palettes/house_w_palette.json
  data/json/mapgen_palettes/military/mil_base_palette.json
  data/mods/Aftershock/maps/mapgen/basement_bionic.json
  data/mods/Aftershock/maps/mapgen/millyficent_lab.json
  data/mods/Aftershock/maps/nested/basement.json
  data/mods/No_Hope/Mapgen/basement_nested.json
  data/mods/No_Hope/Mapgen/cabin_isherwood.json
  data/mods/No_Hope/Mapgen/cabin_lake.json
  data/mods/No_Hope/Mapgen/gunsmith.json
  data/mods/No_Hope/Mapgen/hotel_tower.json
  data/mods/No_Hope/Mapgen/lighthouse.json
  data/mods/No_Hope/Mapgen/ws_biker_dump.json
  data/mods/No_Hope/palettes.json
Labels: data, mods

#2364 Add scrap to laid down mattresses.
  data/json/furniture_and_terrain/furniture-sleep.json
Labels: data

#2359 Some error and naming corrections in GG
  data/mods/Generic_Guns/ammo/casings.json
  data/mods/Generic_Guns/ammo/shot.json
  data/mods/Generic_Guns/recipes/recipes_firearms_repeater.json
  data/mods/Generic_Guns/recipes/recipes_firearms_single.json
Labels: data, mods

#2339 Show maximum buoyancy on vehicle info
  Makefile
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle.h
Labels: src

#2273 Remove bashing weapons from Montante
  data/json/itemgroups/books.json
  data/json/martialarts.json
Labels: data

#2315 Standardize use of stock mount gunmod slot
  data/json/items/classes/gun.json
  data/json/items/gun/223.json
  data/json/items/gun/3006.json
  data/json/items/gun/308.json
  data/json/items/gun/38.json
  data/json/items/gun/40x46mm.json
  data/json/items/gun/4570.json
  data/json/items/gun/flintlock.json
  data/json/items/gun/shot.json
Labels: data

#2360 Remove Anvil Requirement for wood barrel, make steel keg more like steel drum
  data/json/items/containers.json
  data/json/recipes/other/containers.json
Labels: data

#2378 Small name error correcting in Generic Guns
  data/mods/Generic_Guns/vehicles/ammo_redefine_hacks/temp_ammo_redefine_hack.json
Labels: data, mods

#2367 lower "bulkiness" of maple syrup recipe
  data/json/recipes/food/drinks.json
Labels: data

#2342 Make handpress and bullet puller auto learn, but on a later point.
  data/json/recipes/other/tools.json
Labels: data

#2349 Move all uncraft recipes (except unpacking) into uncraft folder
  data/json/recipes/recipe_deconstruction.json
  data/json/uncraft/generic.json
Labels: data
