Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-12, with the labels that each got.

#3788 fix: fix naming conventions for mag pouches, remove redundant plural
  data/json/items/armor/ammo_pouch.json
Labels: data

#3789 fix(balance,port): evaporated milk quench
  data/json/items/comestibles/dairy.json
Labels: balance, data

#3783 feat(content,mods/fuji_mpp): mainline a few more professions, add combat engineer
  data/json/professions.json
  data/json/scenarios.json
  data/mods/Fuji_Mil_Prof/prof/army.json
  data/mods/Fuji_Mil_Prof/prof/itemgroups_prof.json
  data/mods/Fuji_Mil_Prof/scenarios.json
Labels: data, mods

#3801 fix: Remove active iterator messages
  src/location_vector.cpp
  src/location_vector.h
Labels: src

#3795 feat(balance): Make slimesprings avoid traps
  data/json/monsters/slimes.json
Labels: balance, data

#3810 refactor(port): Make mutation_category ids be string_ids
  src/cata_variant.h
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/magic_spell_effect.cpp
  src/map_field.cpp
  src/mapgen.cpp
  src/memorial_logger.cpp
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/mutation_data.h
  src/npc_class.cpp
  src/npc_class.h
  src/player_hardcoded_effects.cpp
  src/type_id.h
  src/wish.cpp
  tests/memorial_test.cpp
  tests/modify_morale_test.cpp
  tests/mutation_test.cpp
Labels: src, tests

#3803 fix: use fixed duration in survival achievement description
  data/json/achievements.json
Labels: data

#3805 feat: debug infinite stamina
  data/json/mutations/mutations.json
  src/character.cpp
Labels: src, data

#3816 fix: `house_fence04` mapgen
  data/json/mapgen/house/house_fence04.json
Labels: data

#3817 refactor!: Mainline `Urban_Development` mod
  .github/semantic.yml
  data/json/mapgen/city_blocks/urban_10_house_brick_pool.json
  data/json/mapgen/city_blocks/urban_11_house_brick.json
  data/json/mapgen/city_blocks/urban_12_house.json
  data/json/mapgen/city_blocks/urban_15_house.json
  data/json/mapgen/city_blocks/urban_16_house_ranch.json
  data/json/mapgen/city_blocks/urban_17_house_ranch.json
  data/json/mapgen/city_blocks/urban_18_victorian.json
  data/json/mapgen/city_blocks/urban_19_victorian.json
  data/json/mapgen/city_blocks/urban_20_duplex.json
  data/json/mapgen/city_blocks/urban_21_house.json
  data/json/mapgen/city_blocks/urban_22_house_pool.json
  data/json/mapgen/city_blocks/urban_23_dense_office_theater.json
  data/json/mapgen/city_blocks/urban_24_dense_bank_house.json
  data/json/mapgen/city_blocks/urban_25_dense_diner_apt.json
  data/json/mapgen/city_blocks/urban_26_dense_club.json
  data/json/mapgen/city_blocks/urban_27_dense_barber_apt.json
  data/json/mapgen/city_blocks/urban_28_dense_cafe_laundry.json
  data/json/mapgen/city_blocks/urban_29_dense_row.json
  data/json/mapgen/city_blocks/urban_30_dense_subway.json
  data/json/mapgen/city_blocks/urban_31_police_station.json
  data/json/mapgen/city_blocks/urban_32_fire_station.json
  data/json/mapgen/city_blocks/urban_33_hotel.json
  data/json/mapgen/city_blocks/urban_34_school.json
  data/json/mapgen/city_blocks/urban_35_hospital.json
  data/json/mapgen/city_blocks/urban_36_projects.json
  data/json/mapgen/city_blocks/urban_37_office_tower_beehive.json
  data/json/mapgen/city_blocks/urban_38_bar_hardware_house.json
  data/json/mapgen/city_blocks/urban_39_market_subway_newspaper.json
  data/json/mapgen/city_blocks/urban_40_house.json
  data/json/mapgen/city_blocks/urban_41_library.json
  data/json/mapgen/city_blocks/urban_7_house_garden.json
  data/json/mapgen/city_blocks/urban_8_house_brick_garden.json
  data/json/mapgen/city_blocks/urban_9_house_garage_loft.json
  data/json/mapgen/city_blocks/urban_subway.json
  data/json/mapgen_palettes/acidia_commercial_destroyed_palette.json
  data/json/mapgen_palettes/acidia_commercial_palette.json
  data/json/mapgen_palettes/acidia_residential_commercial_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_urban.json
  data/json/regional_map_settings.json
  data/mods/Urban_Development/modinfo.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/regional_overlay.json
  deno.lock
Labels: data, mods

#3806 fix: only increase noise when vehicle is airborne
  src/vehicle.cpp
Labels: src

#3797 feat(balance): add `POWERARMOR_COMPATIBLE` flag to most `SKINTIGHT` and `RESTRICT_HANDS` items
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/hoods.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/masks.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/shields.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/tool_armor.json
  data/json/professions.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/items/tool_armor.json
  data/mods/Aftershock/items/tools.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/Magiclysm/items/enchanted_rings.json
  data/mods/Magiclysm/items/ethereal_items.json
Labels: balance, data, mods

#3809 feat(port,content,mods/aftershock): Aftershock ports 1, Shoddy laser rifle
  data/json/external_tileset/AFS_external.json
  data/json/external_tileset/Aftershock_large.png
  data/json/external_tileset/Aftershock_normal.png
  data/json/items/gun/ups.json
  data/json/recipes/weapon/ranged.json
  data/mods/Aftershock/items/weapons.json
  data/mods/Aftershock/recipes/recipes.json
Labels: data, mods

#3822 fix: consistent flooring for bandit cabins
  data/json/mapgen/bandit_cabin.json
Labels: data

#3800 feat(content): `clockworks` recipe, `handmade pocket watch`
  data/json/items/tool/misc.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/tools.json
  data/json/uncraft/generic.json
Labels: data

#3811 feat(balance): NPCs can now help push vehicles, adjustments to wooden cart wheels
  data/json/vehicleparts/wheel.json
  data/json/vehicles/military.json
  src/grab.cpp
Labels: balance, src, data

#2011 fix: impossible hibernation
  src/character.cpp
  src/consumption.cpp
  src/player_hardcoded_effects.cpp
  tests/stomach_contents_test.cpp
Labels: src, tests

#3787 fix: repair nanobots not working at all on broken limbs
  data/json/bionics.json
  data/json/items/bionics.json
  src/bionics.cpp
  src/character.cpp
  src/regen.cpp
  src/regen.h
Labels: src, data

#3792 feat(balance): Add `COMPACT` flag to various accesories
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/bandolier.json
  data/json/items/armor/holster.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/misc.json
  data/json/items/armor/sheath.json
  data/json/items/armor/storage.json
  data/json/items/containers.json
  data/json/items/gunmod/accessories.json
  data/json/items/gunmod/sling.json
  data/json/items/ranged/archery.json
  data/json/items/tool_armor.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/items/weapons.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/Magiclysm/items/archery.json
  data/mods/Magiclysm/items/enchanted_ranged.json
  data/mods/Magiclysm/items/ethereal_items.json
Labels: balance, data, mods

#3819 style: format Lua files
  .github/workflows/autofix.yml
  data/mods/saveload_lua_test/main.lua
  data/mods/saveload_lua_test/preload.lua
  data/mods/smart_house_remotes/main.lua
  data/mods/smart_house_remotes/preload.lua
  data/mods/teleportation_mod/main.lua
  data/mods/teleportation_mod/preload.lua
  data/raw/generate_docs.lua
  data/raw/on_game_start.lua
  deno.jsonc
  deno.lock
  doc/src/content/docs/en/contribute/contributing.md
  doc/src/content/docs/en/mod/json/explanation/json_style.md
  doc/src/content/docs/en/mod/lua/explanation/lua_style.md
  dprint.json
  tests/catalua_test.cpp
  tests/lua/called_cpp_func_throws.lua
  tests/lua/called_error_on_cpp_side.lua
  tests/lua/called_error_on_lua_side.lua
  tests/lua/called_from_cpp_test.lua
  tests/lua/class_members_test.lua
  tests/lua/global_functions_test.lua
  tests/lua/id_conversions.lua
  tests/lua/id_conversions_no_int_id.lua
  tests/lua/regression_sol_1444.lua
  tests/lua/runtime_error.lua
Labels: docs, data, tests, mods

#3814 fix: starting item sorting differently on mac
  src/profession.cpp
Labels: src

#3839 fix: allow mounting gun on climbables
  src/ranged.cpp
Labels: src

#3830 fix: make debug spawned clothings fit to body
  src/wish.cpp
Labels: src

#3834 refactor(port): tidy specials data and mutable connections
  data/json/overmap/overmap_mutable/lab.json
  doc/src/content/docs/en/mod/json/reference/map/overmap.md
  src/cube_direction.h
  src/om_direction.h
  src/overmap.cpp
  src/overmap.h
  src/overmap_special.h
Labels: docs, src, data

#3840 refactor(port): unhardcode `oter_id` migrations
  data/json/mapgen/dummy/dummy.json
  data/json/obsoletion/migration_oter_ids.json
  data/json/obsoletion/terrains.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  lang/extract_json_strings.py
  src/init.cpp
  src/overmap.cpp
  src/overmap.h
  src/savegame.cpp
Labels: docs, translation, src, data

#3846 feat: open wiki in menu
  data/raw/keybindings/keybindings.json
  doc/src/content/docs/en/index.mdx
  src/action.cpp
  src/action.h
  src/game.cpp
  src/handle_action.cpp
Labels: docs, src, data

#3829 feat(balance): followup adjustments to power armor size and profession
  data/json/items/armor/power_armor.json
  data/json/professions.json
Labels: balance, data

#3832 fix: `crack_house` roofs
  data/json/mapgen/house/crack_house.json
Labels: data

#3833 feat(balance): replace smoke bomb recipe with a more realistic version
  data/json/recipes/weapon/explosive.json
Labels: balance, data

#3835 fix: `s_coffee` mapgen
  data/json/mapgen/s_coffee.json
  data/json/monstergroups/zombies.json
Labels: data

#3842 feat(balance): consistent deconstruct yields, part 2
  data/json/furniture_and_terrain/furniture-barriers.json
  data/json/furniture_and_terrain/furniture-domestic_plants.json
  data/json/furniture_and_terrain/furniture-signs.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-bridges-docks.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/furniture_and_terrain/terrain-railroads.json
  data/json/furniture_and_terrain/terrain-windows.json
Labels: balance, data

#3843 feat(content,port): card house for Dave
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/terrain-floors_indoor.json
  data/json/mapgen/refugee_center/refugee_center.json
  data/json/mapgen_palettes/refugee_center.json
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dino_Dave.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  doc/src/content/docs/en/mod/json/reference/creatures/npcs.md
  src/condition.cpp
  src/dialogue.h
  src/mapgen.cpp
  src/npctalk.cpp
Labels: docs, src, data

#3848 fix: fix crates inside bandit camp main building
  data/json/mapgen/bandit_camp.json
  data/json/mapgen_palettes/bandit_camp.json
Labels: data

#3838 perf: `performance-avoid-endl`
  src/catalua.cpp
  src/debug.cpp
  src/debug_menu.cpp
  src/descriptions.cpp
  src/dump.cpp
  src/filesystem.cpp
  src/handle_action.cpp
  src/init.cpp
  src/main.cpp
  src/savegame.cpp
  src/veh_interact.cpp
  src/weather_gen.cpp
  tests/explosion_balance_test.cpp
  tests/invlet_test.cpp
  tests/line_test.cpp
  tests/melee_test.cpp
  tests/overmap_noise_test.cpp
  tests/ranged_balance_test.cpp
  tools/format/format.cpp
Labels: src, tests

#3853 fix(port): failed assert when placing special in overmap editor
  src/overmap.cpp
Labels: src

#3854 fix: megastore mapgen
  data/json/mapgen/megastore.json
  data/json/mapgen_palettes/megastore_palette.json
Labels: data

#3855 feat: Make ferns easily passable by vehicle
  data/json/furniture_and_terrain/terrain-flora.json
Labels: data

#3820 feat(balance): Convert volume limit for aim speed cap to a linear multiplier on aim speed
  src/ranged.cpp
  src/ranged.h
  tests/ranged_balance_test.cpp
Labels: balance, src, tests

#3856 refactor(port): debloat evac center
  data/json/mapgen/lab/lab_surface/lab_surface_big_z-1.json
  data/json/mapgen/refugee_center/rc_grounds.json
  data/json/mapgen/refugee_center/rc_grounds_e.json
  data/json/mapgen/refugee_center/rc_grounds_n.json
  data/json/mapgen/refugee_center/rc_grounds_ne.json
  data/json/mapgen/refugee_center/rc_grounds_nw.json
  data/json/mapgen/refugee_center/rc_grounds_s.json
  data/json/mapgen/refugee_center/rc_grounds_se.json
  data/json/mapgen/refugee_center/rc_grounds_sw.json
  data/json/mapgen/refugee_center/rc_grounds_w.json
  data/json/mapgen/refugee_center/z-1_refugee_center.json
  data/json/mapgen/refugee_center/z-2_refugee_center.json
  data/json/mapgen/refugee_center/z-3_refugee_center.json
  data/json/mapgen/refugee_center/z-4_refugee_center.json
  data/json/mapgen/refugee_center/z1_refugee_center.json
  data/json/mapgen/refugee_center/z2_refugee_center.json
  data/json/mapgen_palettes/refugee_center.json
  data/json/mapgen_palettes/roof_palette.json
  data/json/obsoletion/migration_oter_ids.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_evac_center.json
  data/json/overmap/overmap_terrain/overmap_terrain_lab.json
  data/mods/Graphical_Overmap/go_overmap_terrain_evac_center.json
  data/mods/Graphical_Overmap/go_overmap_terrain_lab.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  gfx/MSX++UnDeadPeopleEdition/tile_config.json
  src/init.cpp
  src/overmap.cpp
Labels: docs, src, data, mods

#3862 fix: allow explicitly setting a copy-from item's encumbrance to zero
  data/mods/No_Hope/Items/armor.json
  src/item_factory.cpp
Labels: src, data, mods

#3870 fix: No Hope megastore
  data/mods/No_Hope/Mapgen/megastore.json
Labels: data, mods

#3869 refactor(port): bolt cutting migrated to activity and jsonified
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/player_activities.json
  data/mods/TEST_DATA/furniture.json
  data/mods/TEST_DATA/items.json
  data/mods/TEST_DATA/terrain.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  lang/extract_json_strings.py
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/iuse.cpp
  src/mapdata.cpp
  src/mapdata.h
  tests/player_activities_test.cpp
Labels: docs, translation, src, data, tests, mods

#3851 feat(balance): `FIT` items with 10 or less encumbrance act as if `COMPACT`
  data/json/flags.json
  data/json/items/armor/gloves.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/torso_clothes.json
  src/armor_layers.cpp
  src/character.cpp
  src/clothing_utils.cpp
  src/clothing_utils.h
  src/iteminfo_armor.cpp
  tests/encumbrance_test.cpp
Labels: balance, src, data, tests

#3836 feat(balance): consistency updates for battery weight, volume, power capacity (part 1)
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/items/battery.json
  data/json/items/melee/misc.json
  data/json/items/tool/electronics.json
  data/json/items/tool/fire.json
  data/json/items/tool/lighting.json
  data/json/professions.json
  data/mods/Aftershock/player/professions.json
Labels: balance, data, mods

#3873 refactor(port): oxytorch migrated to activity actor and jsonified
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/mods/TEST_DATA/furniture.json
  data/mods/TEST_DATA/items.json
  data/mods/TEST_DATA/terrain.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  lang/extract_json_strings.py
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/iuse.cpp
  src/mapdata.cpp
  src/mapdata.h
  tests/player_activities_test.cpp
Labels: docs, translation, src, data, tests, mods

#3874 fix: church mapgen
  data/json/mapgen/church.json
  data/json/mapgen_palettes/church.json
Labels: data

#3878 fix: `small_wooded_trail` mapgen
  data/json/mapgen/trail_small.json
Labels: data

#3883 fix: radio_tower_1 roof
  data/json/mapgen/radio_tower.json
Labels: data

#3882 fix: remove house_fence07 flying roofs
  data/json/mapgen/house/house_fence07.json
Labels: data

#3875 feat(balance): improve consistency of handmade caseless ammo recipes
  data/json/recipes/ammo/rifle.json
  data/json/recipes/ammo/shot.json
Labels: balance, data

#3888 chore: rename `upload` branch to `main`
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/android.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/documentation.yml
  .github/workflows/matrix.yml
  .github/workflows/msvc-full-features-cmake.yml
  .github/workflows/msvc-full-features.yml
  .github/workflows/msys2-cmake.yml
  .github/workflows/msys2.yml
  .github/workflows/pull-translations.yml
  data/raw/generate_docs.lua
  doc/astro.config.ts
  doc/src/content/docs/en/contribute/contributing.md
  doc/src/content/docs/en/dev/guides/building/makefile.md
  doc/src/content/docs/en/dev/guides/working_with_both_bn_and_dda_in_git.md
  doc/src/content/docs/en/dev/reference/tooling.md
  doc/src/content/docs/en/mod/json/guides/map/mapgen.md
  doc/src/content/docs/en/mod/json/reference/items/json_inheritance.md
  doc/src/content/docs/en/mod/json/reference/json_info.md
  doc/src/content/docs/en/mod/lua/reference/lua.md
  doc/src/content/docs/ko/contribute/contributing.md
Labels: docs, data

#3886 feat(balance): belatedly rebalance ATGMs relative to other ammo
  data/json/items/ammo/atgm.json
Labels: balance, data

#3889 refactor: apply `cata-use-point-arithmetic` to shore mapgen
  src/mapgen_functions.cpp
Labels: src

#3884 fix: allow other pots and pans for kitchen unit recipe, related fixes
  data/json/recipes/electronic/parts.json
  data/json/recipes/other/tools.json
Labels: data

#3877 feat(balance,port): battery consistency updates part 2
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/itemgroups/vehicles_fuel_related.json
  data/json/items/tool/electronics.json
  data/json/items/tool/workshop.json
  data/json/items/toolmod.json
  data/json/items/vehicle/battery.json
  data/json/recipes/basecamps/recipe_modular_field_common.json
  data/json/recipes/basecamps/recipe_modular_firestation1.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_common.json
  data/json/recipes/basecamps/recipe_primitive_field.json
  data/json/recipes/electronic/other.json
  data/json/recipes/electronic/parts.json
  data/json/recipes/weapon/ranged.json
  data/json/uncraft/generic.json
  data/json/vehicleparts/battery.json
  tests/vehicle_drag_test.cpp
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_power_test.cpp
Labels: balance, data, tests

#3880 refactor(port): hacksaw migrated to activity actor and jsonified
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/mods/TEST_DATA/furniture.json
  data/mods/TEST_DATA/items.json
  data/mods/TEST_DATA/terrain.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  lang/extract_json_strings.py
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/iuse.cpp
  src/mapdata.cpp
  src/mapdata.h
  tests/player_activities_test.cpp
Labels: docs, translation, src, data, tests, mods

#3881 fix: freshwater research terrain fixes
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-liquids.json
Labels: data

#3876 feat(port,content,mods/aftershock): Aftershock ports 2, map locations
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/itemgroups/bionics.json
  data/json/itemgroups/nuclear_reactor_groups.json
  data/json/itemgroups/vending_machines.json
  data/json/items/chemicals_and_resources.json
  data/json/items/containers.json
  data/json/mapgen/aftershock/augmentation_clinic.json
  data/json/mapgen/aftershock/basement_bionic.json
  data/json/mapgen/aftershock/municipal_microreactor.json
  data/json/mapgen_palettes/aftershock/augmentation_clinic.json
  data/json/mapgen_palettes/aftershock/map_palletes.json
  data/json/monstergroups/misc.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_special/municipal_reactor.json
  data/json/overmap/overmap_terrain/overmap_terrain_afs.json
  data/json/regional_map_settings.json
  data/mods/Aftershock/itemgroups/bionics_groups.json
  data/mods/Aftershock/itemgroups/scrap_groups.json
  data/mods/Aftershock/itemgroups/vending_machine_group.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/maps/city_buildings.json
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/maps/item_groups.json
  data/mods/Aftershock/maps/mapgen/s_gas.json
  data/mods/Aftershock/maps/nested/basement.json
  data/mods/Aftershock/maps/overmap_specials.json
  data/mods/Aftershock/maps/overmap_terrain.json
  data/mods/Aftershock/maps/terrain.json
  data/mods/Aftershock/migrations.json
  data/mods/Aftershock/mobs/monster_groups.json
  data/mods/Aftershock/region_settings.json
Labels: data, mods

#3887 feat(balance): add heat-type damage to mininukes
  data/json/ammo_effects.json
  data/json/items/tool/explosives.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
Labels: docs, data

#3893 fix: change small storage batteries back down to 500 ml, related fixes
  data/json/construction.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/itemgroups/vehicles_fuel_related.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/tool/electronics.json
  data/json/items/vehicle/battery.json
  data/json/recipes/basecamps/recipe_modular_field_common.json
  data/json/recipes/basecamps/recipe_modular_firestation1.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_common.json
  data/json/recipes/basecamps/recipe_primitive_field.json
  data/json/recipes/electronic/parts.json
  data/json/uncraft/generic.json
  data/json/vehicleparts/battery.json
  tests/vehicle_drag_test.cpp
Labels: data, tests

#3894 feat(content): added storage room to steel mill, related metallurgical updates
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/generic.json
  data/json/mapgen/steel_mill/steel_mill_z1.json
  data/json/mapgen_palettes/steel_mill_palette.json
  data/json/recipes/other/vehicles.json
Labels: data

#3912 fix: remove faulty migration
  data/mods/Aftershock/migrations.json
Labels: data, mods

#3901 feat(content): wheels for apache helicopter
  data/json/vehicles/helicopters.json
Labels: data

#3909 feat: remove option to not use z-levels
  src/game.cpp
  src/map.h
  src/options.cpp
  tests/ground_destroy_test.cpp
  tests/monster_vision_test.cpp
  tests/test_main.cpp
Labels: src, tests

#3899 fix: `debug_clairvoyance` not working on reading and vehicle modification
  src/character_functions.cpp
Labels: src

#3902 feat(UI): display mouse cursor position on examine
  src/game.cpp
Labels: src

#3911 fix: controlled rotorcrafts shouldn't fall when loosing ground
  src/vehicle_move.cpp
Labels: src

#3916 feat(balance): cap axle install penalty at 10, like engine penalty
  src/veh_interact.cpp
Labels: src

#3913 feat: mainlined elevated bridges
  data/json/construction.json
  data/json/construction_group.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  data/mods/default.json
  data/mods/elevated_bridges/construction_group.json
  data/mods/elevated_bridges/content.json
  data/mods/elevated_bridges/modinfo.json
  src/map_extras.cpp
  src/options.cpp
  src/overmap.cpp
  tests/map_extra_test.cpp
Labels: src, data, tests, mods

#3923 fix: cufflinks are fancy!
  data/json/items/armor/jewelry.json
Labels: data

#3925 fix: mounting vehicles to racks
  src/vehicle.cpp
Labels: src

#3922 fix: Stack cbc item contents
  src/item_contents.cpp
Labels: src

#3920 fix: assorted typo fixes
  data/json/overmap/map_extras.json
  src/bionics.cpp
  src/explosion.cpp
  src/map.cpp
Labels: src, data

#3929 fix(i18n): typo in computer session
  src/computer_session.cpp
Labels: src

#3931 fix: fixes steel arm guard recipe
  data/json/recipes/armor/arms.json
Labels: data

#3928 test: crash in `projectile_test` caused by null tilecontext
  src/animation.cpp
Labels: src

#3921 feat: secondary crafting skills gain EXP too
  src/crafting.cpp
Labels: src

#3865 fix: apply clang-tidy `modernize-type-traits`
  src/debug.cpp
  src/magic_enchantment.cpp
  src/make_static.h
  src/mapgen.cpp
  src/vehicle.cpp
Labels: src

#3934 feat(balance): Pit traps take trapping 0
  data/json/construction.json
Labels: data

#3932 feat(balance): use mechanics skill in a couple low-level recipes
  data/json/recipes/other/parts.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/vehicles.json
Labels: data

#3936 fix: correct the model name for MP5 SMG
  data/json/items/gun/9mm.json
  tests/item_tname_test.cpp
Labels: data, tests

#3939 feat(content): `looks_like`, trigger message with spells, and can alarm for trap
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/items/tool/traps.json
  data/json/recipes/other/traps.json
  data/json/spells_trap.json
  data/json/traps.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
  src/cata_tiles.cpp
  src/trap.cpp
  src/trap.h
  src/trapfunc.cpp
Labels: docs, src, data

#3938 feat: smooth underwater shore
  data/json/overmap/overmap_terrain/overmap_terrain_waterbody.json
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen_functions.cpp
  src/mapgendata.cpp
  src/mapgendata.h
  src/overmap.cpp
Labels: src, data

#3940 feat: infinite swimming with infinite stamina
  data/json/mutations/mutations.json
  src/suffer.cpp
Labels: src, data

#3926 refactor: fahrenheit to celsius, part 2
  data/json/items/chemicals_and_resources.json
  data/json/items/classes/comestible.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/mutagen.json
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/spice.json
  data/mods/Aftershock/items/comestibles.json
  data/mods/Aftershock/items/comestibles/cheap_food.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/cast_spell_items.json
  data/mods/Magiclysm/items/mutagen.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/bionics.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/character.h
  src/character_display.cpp
  src/character_turn.cpp
  src/gamemode_defense.cpp
  src/gamemode_tutorial.cpp
  src/item.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/suffer.cpp
  src/vehicle_use.cpp
  src/weather.cpp
  src/weather.h
  tests/behavior_test.cpp
  tests/player_test.cpp
  tests/rot_test.cpp
Labels: docs, src, data, tests, mods

#3942 feat(port): eye color traits
  data/json/external_tileset/External_Tileset_DP_eyes.json
  data/json/external_tileset/External_Tileset_DP_eyes.png
  data/json/mutations/mutation_appearance.json
  data/json/mutations/mutation_type.json
  data/json/npcs/appearance_trait_groups.json
Labels: data

#3943 fix: add a roof to the building above the movie theaters
  data/json/mapgen/movie_theater.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
Labels: data

#3947 feat(balance): add military professions to CVN scenario, description tweak
  data/json/scenarios.json
Labels: data

#3948 fix: blood sample origin being lost
  src/iuse.cpp
Labels: src

#3695 feat: Effects adding other effects on removal
  data/json/effects.json
  data/mods/TEST_DATA/effects.json
  doc/src/content/docs/en/mod/json/reference/creatures/effects_json.md
  src/bionics.cpp
  src/character.cpp
  src/creature.cpp
  src/effect.cpp
  src/effect.h
  src/iuse.cpp
  src/memorial_logger.cpp
  src/suffer.cpp
  tests/effects_test.cpp
Labels: docs, src, data, tests, mods

#3955 fix: update description of Craftable Gun Pack mod
  data/mods/Craft_Gunpowder/modinfo.json
Labels: data, mods

#3952 fix: `steel_mill_z2` mapgen
  data/json/mapgen/steel_mill/steel_mill_z2.json
Labels: data

#3961 feat(content): more consistent fire station mapgen
  data/json/mapgen/fire_station.json
  data/json/mapgen_palettes/fire_station_palette.json
Labels: data

#3937 feat(content,port): JSONize terrain flag requirement for plants.
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/items/comestibles/seed.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/iexamine.cpp
  src/item_factory.cpp
  src/itype.h
Labels: docs, src, data

#3919 feat(content): more ramp options
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  src/construction.cpp
Labels: src, data

#3953 feat(balance): Flesh out some monsterdrop itemgroups
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/itemgroups/military.json
  data/json/monsterdrops/feral_humans.json
  data/json/monsterdrops/zombie.json
  data/json/monsterdrops/zombie_child.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_soldier.json
Labels: data

#3941 feat: JSONize some trap features
  data/json/items/tool/traps.json
  data/json/obsoletion/uncategorized.json
  data/json/recipes/other/traps.json
  data/json/traps.json
  src/trap.cpp
  src/trap.h
  src/trapfunc.cpp
Labels: src, data

#3950 feat(balance): consistency/weight updates for heavy/alloy survivor gear, MBR vests
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/suits_protection.json
  data/json/items/generic.json
  data/json/items/tool_armor.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Labels: data

#3969 fix: steel mill
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/mapgen/steel_mill/steel_mill_z1.json
  data/json/mapgen/steel_mill/steel_mill_z2.json
Labels: data

#3971 fix: document trap data in json_info.md
  doc/src/content/docs/en/mod/json/reference/json_info.md
Labels: docs

#3959 feat(balance): sanity-check chainmail recipes
  data/json/items/ammo.json
  data/json/items/armor/suits_protection.json
  data/json/items/tool/metalworking.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/materials.json
  data/json/requirements/tailoring.json
  data/json/requirements/toolsets.json
Labels: data

#3960 feat(balance): consistency update to clothing mods
  data/json/clothing_mods.json
Labels: data

#3967 feat: resize existing items for XL mutants via clothing_mod
  data/json/clothing_mods.json
  data/json/flags.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/hoods.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/tool/tailoring.json
  data/json/items/tool_armor.json
  data/json/obsoletion/migration.json
  data/json/obsoletion/recipes.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
  data/raw/tips.json
  src/character.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/iuse_actor.cpp
  src/mutation.cpp
Labels: src, data

#3972 fix: make autodoc message generic
  src/bionics.cpp
Labels: src

#3949 test(port): non-lethal JSON errors for missing mapgen key
  src/json.cpp
  src/json.h
  src/mapgen.cpp
Labels: src

#3973 fix: account for charges on salvage
  src/iuse_actor.cpp
Labels: src

#3974 fix(content): Update ergonomic grips to work for shotguns
  data/json/items/gunmod/grip.json
Labels: data

#3975 fix(content): Remove Rivtech guns from spawning in various commercial locations
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
Labels: data

#3976 fix: steel mill
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/mapgen/steel_mill/steel_mill_z2.json
Labels: data

#3489 perf: make more items stackable
  data/json/items/comestibles/med.json
  data/json/items/generic.json
  data/json/items/generic/string.json
  data/json/items/resources/misc.json
  data/json/items/resources/plastic.json
  data/json/items/resources/wood.json
  data/json/items/tool/toiletries.json
  scripts/to_stackable.ts
  src/activity_item_handling.cpp
  src/item.cpp
  src/iuse_actor.cpp
Labels: src, data, scripts

#3977 fix(UI): more improvements to visibility of bionic scanning
  src/game.cpp
  src/item.cpp
Labels: src

#3956 feat(content): more superalloy armor options
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/shields.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Labels: data

#3983 fix: room_8x8_junk_W nested mapgen
  data/json/mapgen/nested/basement_nested.json
Labels: data

#3984 feat(content): make fire lookout tower higher
  data/json/mapgen/ws_fire_lookout_tower.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
Labels: data

#3986 fix: fire lookout tower mapgen
  data/json/mapgen/ws_fire_lookout_tower.json
  data/json/monstergroups/zombies.json
Labels: data

#3987 feat(content): add vehicle-mounted shoddy laser rifle
  data/json/vehicleparts/turret.json
Labels: data

#3979 fix: don't un-XL clothes you're wearing if you're Huge
  src/iuse_actor.cpp
Labels: src

#3981 feat(content): shoulder holsters
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/items/armor/holster.json
  data/json/monsterdrops/zombie_cop.json
  data/json/recipes/armor/storage.json
Labels: data

#3991 fix: id used for jewelry in regional_map_settings
  data/json/regional_map_settings.json
Labels: data

#3994 feat(content): add display vehicle to VFW and military base
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/vfw.json
  data/json/vehicle_groups.json
  data/json/vehicles/military.json
Labels: data

#3992 feat(balance): adjust effective CBM chance of lower-tier profession zeds
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
Labels: data

#4001 fix: jewelry store mapgen
  data/json/mapgen/jewel_store.json
Labels: data

#4002 fix: make item action name of gun cleaning a bit more distinct
  data/json/item_actions.json
Labels: data

#4004 feat(balance): further use of `resized_large`
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/bandolier.json
  data/json/items/armor/belts.json
  data/json/items/armor/boots.json
  data/json/items/armor/coats.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/masks.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/tool_armor.json
  data/json/obsoletion/migration.json
  data/json/obsoletion/recipes.json
  data/json/recipes/armor/legs.json
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/item_groups.json
  data/mods/Aftershock/migration.json
  data/mods/Aftershock/monsterdrops/monsterdrops.json
  data/mods/Aftershock/player/professions.json
  data/mods/Magiclysm/items/enchanted_belts.json
  data/mods/Magiclysm/items/enchanted_boots.json
  tests/itemname_test.cpp
Labels: data, tests, mods

#4003 fix: community garden
  data/json/mapgen/garden_community.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/regional_map_settings.json
Labels: data

#4007 revert: "refactor: use `std::clamp`"
  src/activity_item_handling.cpp
Labels: src

#4008 fix: prevent full ownership transfer when trading with partial charges of item
  src/npctrade.cpp
Labels: src

#4010 fix: prevent debugmsg while refilling liquid container with another one
  src/item.cpp
Labels: src

#4011 fix: bike rack merging vehicle merging after loading from save
  src/vehicle_part.cpp
Labels: src

#4014 fix: hospital roof
  data/json/mapgen/hospital.json
Labels: data

#4013 fix(content): Fix holsters holding multiple items
  data/json/monsterdrops/feral_humans.json
  data/json/monsterdrops/zombie_military_pilot.json
Labels: data

#4019 fix: adds "SHALLOW_WATER" flag where appropriate
  data/json/furniture_and_terrain/terrain-liquids.json
Labels: data

#4020 fix: floor under counters in Luna park
  data/json/mapgen/miniature_railway/miniature_railway.json
Labels: data

#4021 fix: pawn shop outdoor terrain
  data/json/mapgen/pawn_shop.json
Labels: data

#4023 fix: internet cafe outdoor and roof
  data/json/mapgen/cs_internet_cafe.json
Labels: data

#4024 fix: private airport missing symbol
  data/json/mapgen/airport/s_airport_private.json
Labels: data

#4026 fix: bike stores
  data/json/mapgen/bike_shop.json
  data/json/overmap/multitile_city_buildings.json
Labels: data

#4027 fix: mi-go scout tower
  data/json/mapgen/mi-go/mi-go_nested.json
  data/json/mapgen/mi-go/mi-go_scout_tower.json
Labels: data

#4028 fix: bungalow02 garage
  data/json/mapgen/house/bungalow02.json
Labels: data

#4035 fix: pizza parlor
  data/json/mapgen/nested/pizza_parlor_nested.json
  data/json/mapgen/pizza_parlor.json
Labels: data

#4033 fix: leashing animal using entire stack of rope
  src/monexamine.cpp
Labels: src

#4039 fix: foldable vehicle locations
  src/vehicle.cpp
Labels: src

#4036 fix: fences being replaced with fridges
  data/json/mapgen/lab/lab_common.json
  data/json/mapgen/lab/lab_floorplans.json
  data/json/mapgen/lab/lab_surface/lab_surface_nested.json
  data/mods/No_Hope/Mapgen/lab_rooms.json
Labels: data, mods

#4040 fix: central labs will generate stairs at z-2
  data/json/overmap/overmap_mutable/lab.json
Labels: data
