Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-10, with the labels that each got.

#2910 Cleanup and flesh out book morale interactions a bit
  data/json/flags.json
  data/json/flags_mutation.json
  data/json/items/book/bloat.json
  data/json/items/book/cooking.json
  data/json/items/book/misc.json
  data/json/mutations/mutations.json
  data/mods/Aftershock/items/books.json
  data/mods/Magiclysm/items/recipe_books.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/character_functions.cpp
  src/character_functions.h
Labels: src, data, mods

#3335 Further consistency updates for shotshells
  data/json/items/ammo/shot.json
  data/json/items/ammo/shotpaper.json
Labels: data

#3333 Allow resuming dark-craftable constructions in the dark
  src/iexamine.cpp
Labels: src

#3334 Port over two improvements to simple deconstruct
  data/json/construction.json
  src/construction.cpp
Labels: src, data

#3337 Update looks like for small battery furniture
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: data

#3340 feat: prettier ear/tail mutation graphics
  data/json/external_tileset/alternative_mutation.json
  data/json/external_tileset/alternative_mutation.png
Labels: data

#3344 Fixed odd mapgen in house basement
  data/json/mapgen/house/house_modern_lx.json
  data/json/mapgen/mansion_roof.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: data

#3345 fix: misplaced field name error on mutation tileset
  data/json/external_tileset/alternative_mutation.json
Labels: data

#3348 Fix bike shop drowning in street lights
  data/json/mapgen_palettes/bike_shop_palette.json
  data/mods/No_Hope/Mapgen/bike_shop.json
  data/mods/No_Hope/palettes.json
Labels: data, mods

#3338 Fixed some issues with displaying item's mods counter
  src/item.cpp
Labels: src

#3339 feat: acid trail for acid cannons
  data/json/ammo_effects.json
  data/json/items/chemicals_and_resources.json
Labels: data

#3341 Grey out incompatible ammo in reload menu
  src/character_functions.cpp
Labels: src

#3356 fix: make unused 22lr casing stackable
  data/json/items/generic/casing.json
Labels: data

#3360 Updates for homemade explosive/flame ammo
  data/json/items/ranged/archery.json
  data/json/items/tool/misc.json
  data/json/recipes/ammo/arrows.json
  data/json/recipes/ammo/components.json
  data/json/recipes/ammo/other.json
Labels: data

#3361 Lower Nomad Gear and Scavenger Gear Warmth
  data/json/items/armor/helmets.json
  data/json/items/armor/suits_protection.json
Labels: data

#3362 Fix unused reference to To Serve Man
  src/character_functions.cpp
Labels: src

#3261 Implement "extend" for magazines
  data/mods/TEST_DATA/items.json
  src/assign.h
  src/item_factory.cpp
  tests/item_test.cpp
Labels: feedbackrequested, src, data, tests, mods

#3353 ci: validate that template extraction works
  .github/workflows/i18n-extraction.yml
  .github/workflows/i18n-printf-format.yml
  lang/dedup_pot_file.py
  lang/extract_json_strings.py
Labels: translation

#3357 Rifled flintlock now actually spawns
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/main.json
  data/json/items/gun/flintlock.json
Labels: data

#3352 feat(port): jarless sourdoughs
  data/json/items/comestibles/bread.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dana_Nunez.json
  data/json/obsoletion/migration.json
  data/json/obsoletion/recipes.json
  data/json/recipes/food/bread.json
  data/json/uncraft/food/sourdough.json
Labels: data

#3367 fix: don't sink down a floor from stepladder
  src/avatar_action.cpp
Labels: src

#3351 Implement bastion star fort, flesh out layout
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/ammo/cannon.json
  data/json/items/ammo_types.json
  data/json/items/containers.json
  data/json/items/gun/cannon.json
  data/json/items/resources/misc.json
  data/json/mapgen/Bastion_Fort.json
  data/json/mapgen/mansion.json
  data/json/mapgen/museum.json
  data/json/mapgen_palettes/bastion_fort_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/recipes/ammo/components.json
  data/json/recipes/ammo/other.json
  data/json/recipes/other/containers.json
  data/json/vehicleparts/turret.json
  data/json/vehicles/military.json
Labels: data

#3370 Fix build fail due to REACH_ATTACK flag
  src/sdltiles.cpp
Labels: src

#3376 Fix mission names misused as mission description
  data/json/npcs/NPC_Brigitte_LaCroix.json
  data/json/npcs/missiondef.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
  data/mods/DinoMod/NPC/NC_BO_BARONYX.json
  src/missiondef.cpp
  src/translations.h
Labels: src, data, mods

#3379 Fix infinite loop in mine gen
  src/overmap.cpp
Labels: src

#3380 Add flashlight to the Shock Tonfa
  data/json/items/melee/bludgeons.json
Labels: data

#3373 Add recipes for smaller engines, engine block updates
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/military.json
  data/json/items/vehicle/engine.json
  data/json/obsoletion/recipes.json
  data/json/recipes/other/vehicles.json
  data/json/uncraft/vehicle/engines.json
  data/json/vehicleparts/combustion.json
Labels: data

#3368 Use std::optional for `best_mode_for_range()`
  src/bionics.cpp
  src/item.h
  src/npc.h
  src/npcmove.cpp
  src/ranged.cpp
Labels: src

#3384 perf: do not error on SDL sound failure
  src/sdlsound.cpp
Labels: src

#3385 perf: slightly speed up `weight_carried_reduced_by` and `recalc_speed_bonus`
  src/character.cpp
  src/character_turn.cpp
Labels: src

#2776 (Port) Decouple encumbrance, max_encumbrance and coverage in armor on a per bodypart_id basis
  data/json/items/armor/suits_protection.json
  data/mods/TEST_DATA/items.json
  src/armor_layers.cpp
  src/artifact.cpp
  src/avatar_action.cpp
  src/bionics.cpp
  src/bodypart.cpp
  src/bodypart.h
  src/character.cpp
  src/character.h
  src/character_display.cpp
  src/character_functions.cpp
  src/character_turn.cpp
  src/clothing_mod.cpp
  src/dump.cpp
  src/enums.h
  src/game.cpp
  src/game_inventory.cpp
  src/gamemode_tutorial.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
  src/iuse_actor.cpp
  src/map_field.cpp
  src/melee.cpp
  src/mondefense.cpp
  src/morale.cpp
  src/mutation.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/panels.cpp
  src/relic.cpp
  src/suffer.cpp
  src/weather.cpp
  tests/item_tname_test.cpp
  tests/iteminfo_test.cpp
  tests/itemname_test.cpp
  tests/iuse_test.cpp
  tests/player_test.cpp
Labels: src, data, tests, mods

#3386 fix: NPCs drop excess items if overburdened, merchants pick up and renew inventory if restocking
  src/character.cpp
  src/npc.cpp
Labels: src

#3387 fix: only NPCs drop items when overencumbered
  src/character.cpp
Labels: src

#3369 Consistency updates for street light placement
  data/json/mapgen/abstorefront.json
  data/json/mapgen/bank.json
  data/json/mapgen/cs_public_space.json
  data/json/mapgen/gym.json
  data/json/mapgen/homeimprovement_superstore.json
  data/json/mapgen/homeimprovement_superstore_new.json
  data/json/mapgen/hospital.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/megastore.json
  data/json/mapgen/motel.json
  data/json/mapgen/stadium_football.json
  data/json/mapgen/town_hall.json
  data/json/mapgen/zoo.json
  data/json/mapgen_palettes/hospital.json
  data/mods/No_Hope/Mapgen/homeimprovement_superstore_new.json
Labels: data, mods

#3388 Rebalance steam turbine relative to small gas turbine
  data/json/items/vehicle/engine.json
  data/json/vehicleparts/combustion.json
Labels: data

#3389 Forgot the s
  data/json/professions.json
Labels: data

#3397 Set required intelligence for Playboy magazine to 0
  data/json/items/book/misc.json
Labels: data

#3396 Lightened turbines
  data/json/items/vehicle/engine.json
Labels: data

#3401 fix: books < 12.5mL may crash on disassembly
  src/recipe_dictionary.cpp
Labels: src

#3412 Prevents possible use after free in sounds
  src/sounds.cpp
Labels: src

#3413 Balancing for paper shot, blunderbuss, etc
  data/json/items/ammo/flintlock.json
  data/json/items/ammo/shotpaper.json
  data/json/items/handloaded_bullets.json
  data/json/recipes/ammo/shot.json
Labels: data

#3415 Changed weight of raw tea from 14 g to 2g
  data/json/items/comestibles/raw_veggy.json
Labels: data

#3416 Add casings onto dissasembly recipie for M433, M576 and M651 grenades
  data/json/uncraft/ammo/40x46mm.json
Labels: data

#3258 ci(port): various ccache and matrix improvements
  .github/workflows/android.yml
  .github/workflows/matrix.yml
  .github/workflows/msvc-full-features.yml
  build-scripts/build.sh
  build-scripts/gha_compile_only.sh
  build-scripts/gha_test_only.sh
  tests/explosion_balance_test.cpp
  tests/overmap_test.cpp
  tests/ranged_aiming_test.cpp
Labels: tests

#3420 fix: make find_base_construction not broken
  src/activity_item_handling.cpp
Labels: src

#3424 fix: emit debugmsg on capacity <= 0
  src/item.cpp
Labels: src

#3426 Change Chitin from "Bone" to "Skin", and add a message when harvesting chitinous animals.
  data/json/harvest.json
Labels: data

#3425 Add more bronze tools
  data/json/itemgroups/Clothing_Gear/jewellery_gems.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/itemgroups/tools.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
  data/json/recipes/other/tools.json
  data/json/recipes/weapon/piercing.json
Labels: data

#3427 Added sandwiches
  data/json/items/comestibles/sandwich.json
  data/json/recipes/food/meat.json
Labels: data

#3430 Gave zombie dogs zombie_leather harvest type
  data/json/monsters/zed-animal.json
Labels: data

#3432 fix: armor layer not showing all first
  src/armor_layers.cpp
Labels: src

#3433 fix: NPCs phasing through solid rock
  src/npcmove.cpp
Labels: src

#3439 Electric Lighter
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/military.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/vehicles_fuel_related.json
  data/json/items/tool/fire.json
  data/json/recipes/electronic/tools.json
Labels: data

#3440 - Ported commit siphon vehicle fix from DDA repo to BN
  src/handle_liquid.cpp
Labels: src

#3441 Crossbow rebalance
  data/json/items/classes/range.json
  data/json/items/gunmod/mechanism.json
  data/json/items/ranged/crossbows.json
  data/json/recipes/weapon/mods.json
Labels: data

#3446 Electric Lighter Description Fix
  data/json/items/tool/fire.json
Labels: data

#3411 fix: missing roof for `s_electronics_2` in multitile city buildings
  data/json/overmap/multitile_city_buildings.json
Labels: data

#3443 Fix body_part_set operations
  src/avatar_action.cpp
  src/bodypart.cpp
  src/bodypart.h
Labels: src

#3445 Fix tidy warnings
  src/activity_item_handling.cpp
  src/npcmove.cpp
Labels: src

#3447 Add faction owner to Isherwood cabin and horse farm items
  data/json/mapgen/isherwood_farms/cabin_isherwood.json
  data/json/mapgen/isherwood_farms/farm_horse_isherwood.json
Labels: data

#3448 Fix search in crafting menu by description
  src/recipe_dictionary.cpp
Labels: src

#3449 Silence lab type errors
  src/overmap.cpp
Labels: src

#3409 fix: match bionic firestarting cost same to its activation cost
  src/character.cpp
Labels: src

#3451 Bionic claw Balance Buff
  data/json/items/melee/fake.json
Labels: data

#3434 feat: overhaul encumbrance UI
  data/json/items/armor/torso_clothes.json
  src/artifact.cpp
  src/cata_algo.h
  src/item.cpp
  src/item_factory.cpp
  src/iteminfo_armor.cpp
  src/iteminfo_format_utils.cpp
  src/iteminfo_format_utils.h
  src/itype.h
  tests/iteminfo_test.cpp
Labels: src, data, tests

#3452 fix: bodypart layer not displaying `All` first (again)
  src/armor_layers.cpp
Labels: src

#3458 fix(port): allow using jacking tools from vehicle cargo
  src/vehicle_selector.cpp
  src/vehicle_selector.h
  src/visitable.cpp
Labels: src

#3459 Silence more lab type warnings
  src/overmap.cpp
Labels: src

#3392 feat: street light additions part 3-ish
  data/json/mapgen/Metalworker.json
  data/json/mapgen/Pottery_Sewing_Shops.json
  data/json/mapgen/headshop.json
  data/json/mapgen/homeimprovement.json
  data/json/mapgen/homeless_shelter.json
  data/json/mapgen/hotel_tower.json
  data/json/mapgen/jewel_store.json
  data/json/mapgen/lan_center.json
  data/json/mapgen/landfill.json
  data/json/mapgen/landscaping_supply.json
  data/json/mapgen/laundromat.json
  data/json/mapgen/library.json
  data/json/mapgen/lot_empty_commercial.json
  data/json/mapgen/lumberyard.json
  data/json/mapgen/meth_lab.json
  data/json/mapgen/mil_surplus.json
  data/json/mapgen/mortuary.json
  data/json/mapgen/museum.json
  data/json/mapgen/music_venue.json
  data/json/mapgen/musicstore.json
  data/json/mapgen/office_cubical.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/office_small.json
  data/json/mapgen/office_tower.json
  data/json/mapgen/office_tower_2.json
  data/json/mapgen/orchard_fruit.json
  data/json/mapgen/paintball_field.json
  data/json/mapgen/park_skate.json
  data/json/mapgen/pavilion.json
  data/json/mapgen/pawn_shop.json
  data/json/mapgen/petstore.json
  data/json/mapgen/pharmacy.json
  data/json/mapgen/pizza_parlor.json
  data/json/mapgen/police_station.json
  data/json/mapgen/pond_public.json
  data/json/mapgen/pool.json
  data/json/mapgen/post_office.json
  data/json/mapgen/public_works.json
  data/json/mapgen_palettes/hotel_tower_palette.json
  data/json/mapgen_palettes/library_palette.json
  data/json/mapgen_palettes/lumberyard.json
  data/json/mapgen_palettes/mil_surplus.json
  data/json/mapgen_palettes/office.json
  data/json/mapgen_palettes/office_doctor.json
  data/mods/No_Hope/Mapgen/hotel_tower.json
  data/mods/No_Hope/Mapgen/office_doctor.json
  data/mods/No_Hope/palettes.json
Labels: data, mods

#3417 feat(port): lockpicking migration and JSONification
  data/json/bionics.json
  data/json/flags.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/item_actions.json
  data/json/items/armor/jewelry.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool_armor.json
  data/json/player_activities.json
  data/json/tool_qualities.json
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/TEST_DATA/items.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  doc/src/content/docs/en/mod/json/reference/json_info.md
  lang/extract_json_strings.py
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/bionics.cpp
  src/bionics_ui.cpp
  src/character.h
  src/flag.cpp
  src/flag.h
  src/iexamine.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/mapdata.cpp
  src/mapdata.h
  tests/iteminfo_test.cpp
Labels: translation, src, data, tests, mods

#3453 fix(port): add missing pyromaniac morale boost for bionics and explosives
  src/bionics.cpp
  src/iuse.cpp
Labels: src

#3461 Fix ammonium nitrate recipe
  data/json/recipes/chem/chemicals.json
Labels: data

#3460 Sweet Sweet Sugar - Molasses byproduct
  data/json/recipes/food/other.json
Labels: data

#3462 fix: bronze dagger recipe using wrong ID
  data/json/recipes/weapon/piercing.json
Labels: data

#3464 Decouple crop growth time from season length, add separate scaling option
  src/iexamine.cpp
  src/item.cpp
  src/options.cpp
Labels: src

#3463 Reduce scaling of Stats Through Kills EXP requirements
  src/avatar.cpp
Labels: src

#3468 Make "prove you're a survivor" mission less vague
  data/json/npcs/missiondef.json
Labels: data

#3471 feat(port): fireflies
  data/json/harvest.json
  data/json/items/comestibles/egg.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/insect_spider.json
Labels: data

#3465 fix: hauling not getting disabled automatically with liquids
  src/activity_actor.cpp
  src/character.cpp
  src/game.cpp
  src/handle_action.cpp
  src/item_hauling.cpp
  src/item_hauling.h
  src/monattack.cpp
Labels: src

#3474 fix: alternative ear mutation not being overriden
  data/json/external_tileset/alternative_mutation.json
Labels: data

#3475 Make grid appliances refund solder on deconstruction
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: data

#3473 fix: no highlights in combined opposite bodyparts
  src/armor_layers.cpp
Labels: src

#3469 feat(content, port): game store
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/activities_hobbies.json
  data/json/items/fluff.json
  data/json/mapgen/s_games.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
Labels: data

#3482 Fix vehicles placement in small warehouse
  data/json/mapgen/warehouse.json
  data/json/vehicle_groups.json
Labels: data

#3479 fix: privacy fence refunding incorrect materials on deconstruct
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: data

#3492 fix: tanbark description
  data/json/items/generic.json
Labels: data

#3438 feat(content): specials placement rework
  data/json/obsoletion/terrains.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_connections.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  data/json/overmap/special_locations.json
  src/options.cpp
  src/overmap.cpp
  src/overmap.h
  src/overmap_special.h
  src/overmapbuffer.cpp
  src/savegame.cpp
  src/start_location.cpp
  tests/overmap_test.cpp
Labels: src, data, tests

#3478 feat: 'Build Standard Wall' to the build menu
  data/json/construction.json
  data/json/construction_group.json
Labels: data

#3491 fix: remove conflicting `games` itemgroup
  data/mods/Fuji_Structures/items/itemgroups.json
  data/mods/Fuji_Structures/items/items_games.json
Labels: data, mods

#3495 fix: house_duplex mapgen
  data/json/mapgen/house/house_duplex.json
Labels: data

#3499 fix: Urban Dev mapgen
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/regional_overlay.json
Labels: data, mods

#3503 feat(content): semi-plausible smokeless gunpowder recipe
  data/json/recipes/ammo/components.json
  data/mods/Craft_Gunpowder/cgp_recipes.json
Labels: data, mods

#3507 feat(balance): fleshing out survivor zombie drops
  data/json/itemgroups/supplies.json
  data/json/monsterdrops/zombie_survivor.json
Labels: data

#3505 feat(content): bungalow 23
  data/json/mapgen/house/bungalow23.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3506 feat(content, port): bog iron
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/chemicals_and_resources.json
  data/json/recipes/other/materials.json
  data/json/regional_map_settings.json
Labels: data

#3513 feat(balance): craftable voltmeter
  data/json/recipes/electronic/tools.json
  data/json/uncraft/generic.json
Labels: data

#3100 Prevent crash when `lastworld.json` is corrupted or empty.
  src/worldfactory.cpp
Labels: src

#3481 feat(content, port): mall rework
  data/json/itemgroups/food_service.json
  data/json/mapgen/mall/mall_basement.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/mall/mall_roof.json
  data/json/mapgen/mall/mall_second_floor.json
  data/json/mapgen/teashop.json
  data/json/mapgen_palettes/mall_palette.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_mall.json
Labels: data

#3514 feat(content): bungalow 24
  data/json/mapgen/house/bungalow24.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#3521 feat(balance): shorten uncraft time for rags and fibrous stalks
  data/json/uncraft/generic.json
Labels: data

#3515 fix: vandalized evac shelter mapgen
  data/json/mapgen/nested/shelter_nested.json
Labels: data

#3518 feat(content): crossbow loading lever gunmod
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/itemgroups/main.json
  data/json/items/gunmod/accessories.json
  data/json/items/ranged/crossbows.json
  data/json/recipes/weapon/mods.json
Labels: data

#3527 fix: stadium overmap terrain
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
Labels: data

#3309 fix: crash in ranged accuracy test related to dead NPC cleanup
  src/character.cpp
  src/creature.cpp
  src/creature.h
  src/npc.cpp
  src/savegame_json.cpp
Labels: src
