Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-05, with the labels that each got.

#1705 Rework Bionic weapon selection and make BIONIC_GUNS work for NPCs. Fix NPC Aiming.
  data/json/bionics.json
  data/json/items/gun/bio.json
  data/json/monsters/misc.json
  src/avatar.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/character_functions.cpp
  src/item_functions.cpp
  src/item_functions.h
  src/melee.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/savegame_json.cpp
Labels: src, data

#2728 refactor(infrastructure): simplify options panel code
  src/options.cpp
Labels: src

#2740 Clean up and rebalance microlab palette item spawns
  data/json/mapgen_palettes/microlab.json
Labels: data

#2745 fix(content): enable laser gunmods for v29 laser pistol
  data/json/items/gun/ups.json
Labels: data

#2747 Update discriptions of micro reactors, override & radscrubber
  data/json/bionics.json
  data/json/items/bionics.json
Labels: data

#2619 Enable AoE cone for shotgun-like shot ammo
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/22.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/410shot.json
  data/json/items/ammo/flintlock.json
  data/json/items/ammo/shot.json
  data/json/items/ammo/shotpaper.json
  data/json/items/handloaded_bullets.json
Labels: data

#2744 Adjust monster density of labs vs microlabs
  data/json/overmap/overmap_terrain/overmap_terrain_lab.json
  data/json/overmap/overmap_terrain/overmap_terrain_microlab.json
Labels: data

#2749 Minor fix for road warrior profession
  data/json/professions.json
Labels: data

#2750 fix: default font width should be 8
  src/options.cpp
Labels: src

#2746 Allow debug menu to directly spawn irremovable item mods
  src/avatar_functions.cpp
  src/character.cpp
  src/iuse.cpp
  src/wish.cpp
Labels: src

#2753 feat: npc command to move them to given location
  src/map.cpp
  src/map.h
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
Labels: src

#2751 Merge helicopter scenarios into a single one
  data/json/professions.json
  data/json/scenarios.json
Labels: data

#2712 Repair Nanobots properly accounts for splints and mutations
  data/json/bionics.json
  data/json/items/bionics.json
  src/bionics.cpp
  src/character.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/panels.cpp
  src/player.cpp
  src/suffer.cpp
Labels: src, data

#2742 Weapon Value Caches properly update
  src/avatar.cpp
  src/avatar_action.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/item.cpp
  src/melee.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/ranged.cpp
  src/savegame_json.cpp
Labels: src

#2754 Cathedral Basement Renovation
  data/json/mapgen/cathedral.json
Labels: data

#2757 Reduced volume of the base MP5A2 and P90
  data/json/items/gun/57.json
  data/json/items/gun/9mm.json
Labels: data

#2613 Improve organization of achivements, port skill achievements
  data/json/achievements.json
  data/json/statistics.json
  tests/stats_tracker_test.cpp
Labels: data, tests

#2760 Fixed electric chainsaw lajatang not working with UPS
  src/iuse.cpp
Labels: src

#2758 content: Add the Kickboxing Martial Art style
  data/json/itemgroups/books.json
  data/json/items/book/martial.json
  data/json/martialarts.json
  data/json/mutations/mutations.json
  data/json/techniques.json
Labels: data

#2768 Sling bullet/ball bearing recovery
  data/json/items/ammo.json
Labels: data

#2657 Encapsulate `Character::weapon`
  src/action.cpp
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/avatar.cpp
  src/avatar_action.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/character_effects.cpp
  src/character_functions.cpp
  src/character_martial_arts.cpp
  src/condition.cpp
  src/crafting.cpp
  src/debug_menu.cpp
  src/examine_item_menu.cpp
  src/explosion.cpp
  src/faction.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/gamemode_tutorial.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item_location.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic_spell_effect.cpp
  src/martialarts.cpp
  src/mattack_actors.cpp
  src/melee.cpp
  src/memorial_logger.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/mondefense.cpp
  src/monexamine.cpp
  src/monster.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/npctrade.cpp
  src/pickup.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/sdltiles.cpp
  src/sounds.cpp
  src/visitable.cpp
  src/weather.cpp
  tests/crafting_test.cpp
  tests/effective_dps_test.cpp
  tests/invlet_test.cpp
  tests/melee_test.cpp
  tests/npc_test.cpp
  tests/ranged_aiming_test.cpp
  tests/ranged_aoe_test.cpp
  tests/ranged_balance_test.cpp
  tests/reloading_test.cpp
  tests/visitable_remove_test.cpp
  tests/wield_times_test.cpp
Labels: src, tests

#2779 Update name and description of hauler bot
  data/json/items/generic.json
Labels: data

#2777 build: explicitly add `<cstdint>` header
  src/hash_utils.h
  src/om_direction.h
  src/units_mass.h
Labels: src

#2789 Fix the builds
  Makefile
  src/string_utils.cpp
  src/weather_gen.cpp
Labels: src

#2780 Finally Ferals
  data/json/harvest.json
  data/json/items/gun/monster_gun.json
  data/json/monsterdrops/feral_humans.json
  data/json/monstergroups/zombie_upgrades.json
  data/json/monstergroups/zombies.json
  data/json/monsters/feral_humans.json
  data/json/monsters/zed_misc.json
  data/mods/No_Feral_Humans/modinfo.json
Labels: data, mods

#2786 Fix targeting
  src/activity_actor.cpp
  src/character.h
  src/game.cpp
  src/melee.cpp
  src/ranged.cpp
Labels: src

#2715 Unarmed weapons expansion
  data/json/items/melee/unarmed_weapons.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
Labels: data

#2672 refactor: registering actions/categories in action.cpp
  src/action.cpp
  src/character.h
Labels: src

#2810 fix: rename id of `sai` to `sai_weapon`
  data/json/items/melee/unarmed_weapons.json
  data/json/recipes/weapon/piercing.json
Labels: data

#2811 Craftable gyrocopter rotors
  data/json/itemgroups/supplies.json
  data/json/items/vehicle/rotor.json
  data/json/recipes/other/vehicles.json
  data/json/vehicleparts/rotor.json
Labels: data

#2813 Add gyrocopter vehicle and profession
  data/json/mapgen/abandoned_barn.json
  data/json/mapgen/helipad.json
  data/json/professions.json
  data/json/scenarios.json
  data/json/vehicle_groups.json
  data/json/vehicles/helicopters.json
Labels: data

#2737 Fix gunmod checks
  src/avatar_functions.cpp
  src/item.cpp
  src/item.h
Labels: src

#2774 refactor: obsolete `RECOVER_N` in favor of `dont_recover_one_in`
  data/json/items/ammo.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  data/json/items/ranged/spearguns.json
  data/mods/Magiclysm/items/archery.json
  data/mods/Magiclysm/items/enchanted_belts.json
  data/mods/Magiclysm/items/enchanted_melee.json
  data/mods/Magiclysm/items/enchanted_unarmed.json
  data/mods/More_Survival_Tools/items.json
  data/mods/Salvaged_Robots/robot_additions/tpalettes.json
  data/mods/TEST_DATA/items.json
Labels: data, mods

#2605 Water cannon can load acid
  data/json/items/ammo_types.json
  data/json/items/chemicals_and_resources.json
  data/json/items/gun/misc.json
Labels: easy, data

#2781 Fix early mech dismount leaving you armed
  src/character.cpp
Labels: src

#2792 Remove AoE from buckshot and flechette ammo until it's fixed
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/410shot.json
  data/json/items/ammo/flintlock.json
  data/json/items/ammo/shot.json
  data/json/items/handloaded_bullets.json
Labels: feedbackrequested, data

#2825 Fix large grid battery using wrong looks_like
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: data

#2759 Lab Finale Rework
  data/json/mapgen/lab/lab_common.json
  data/json/mapgen/lab/lab_floorplans_finale1level.json
  src/mapgen.cpp
Labels: src, data

#2826 Sanity-check microlab leech plant spawns
  data/json/mapgen/microlab/microlab_special_tiles.json
Labels: data

#2832 feat: buff all water purification methods by 8x (250ml -> 2L)
  data/json/items/chemicals_and_resources.json
  src/iuse.cpp
Labels: src, data

#2775 Make more fields for bodyparts optional and copiable
  data/json/body_parts.json
  doc/JSON_INFO.md
  src/bodypart.cpp
Labels: src, data

#2809 Further improvements/fixes to ferals
  data/json/monsters/feral_humans.json
  data/json/speech.json
Labels: data

#2823 fix: main menu being unordered
  src/action.cpp
Labels: src

#2837 Fix PARROT_AT_DANGER attack, proper quotes for new feral lines
  data/json/monsters/feral_humans.json
  data/json/speech.json
  src/monattack.cpp
Labels: src, data

#2814 Thick smoke can get through vehicles like other gases
  data/json/field_type.json
Labels: feedbackrequested, data

#2822 feat: show cost on vending machine window
  src/iexamine.cpp
Labels: src

#2787 Fixes to Isherwood weapons and clothing
  data/json/npcs/isherwood_farm/NPC_Carlos_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Chris_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Claire_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Eddie_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jesse_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Lisa_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Luke_Isherwood.json
Labels: data

#2718 De-obsolete rail rifles
  data/json/items/ammo/metal_rail.json
  data/json/items/gun/metal_rail.json
  data/json/not_really_obsolete.json
  data/json/obsoletion/items.json
  data/json/obsoletion/uncategorized.json
  data/json/recipes/weapon/ranged.json
  data/json/vehicleparts/turret.json
  data/mods/Aftershock/items/gun/projectile.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/recipes/obsolete.json
  data/mods/Aftershock/recipes/recipes.json
  data/mods/No_Hope/Items/guns.json
  data/mods/No_Hope/Recipes/recipes.json
  data/mods/No_Hope/vehicle_parts.json
Labels: data, mods

#2831 Separate starting battery from mechs
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/mapgen/bunker.json
  data/json/mapgen/lab/lab_floorplans_finale1level.json
  data/mods/DinoMod/mapgen/DinoLabFinale.json
  data/mods/No_Hope/Mapgen/bunker.json
  src/monster.cpp
Labels: src, data, mods

#2838 Update `last_world_pos` considerations
  src/game.cpp
  src/main_menu.cpp
  src/worldfactory.cpp
  src/worldfactory.h
Labels: src

#2845 Adjustments to mortar and pestle
  data/json/items/tool/cooking.json
  data/json/recipes/other/tools.json
Labels: data

#2773 Overhaul NPC AI weapon compares
  src/avatar.cpp
  src/avatar_action.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/item.h
  src/item_functions.cpp
  src/melee.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/ranged.cpp
  src/ranged.h
Labels: src

#2847 Expand recipe options for chili con carne
  data/json/recipes/food/meat.json
Labels: data

#2840 feat: drag heavier vehicles
  src/grab.cpp
Labels: src

#2670 Necropolis Updates
  data/json/mapgen/necropolis/necropolis.json
  data/json/mapgen/necropolis/necropolisB1.json
  data/json/mapgen/necropolis/necropolisB2.json
  data/json/mapgen/necropolis/necropolisB3.json
  data/json/mapgen_palettes/necropolis/necropolis_a.json
  data/json/mapgen_palettes/necropolis/necropolis_b1.json
  data/json/mapgen_palettes/necropolis/necropolis_b2.json
  data/json/mapgen_palettes/necropolis/necropolis_b3.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_necropolis.json
Labels: data

#2678 Supplementary Necropolis Updates
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/mapgen/necropolis/necropolisB1.json
  data/json/monsterdrops/zombie.json
  data/json/monsters/zed_radiation.json
  data/json/snippets/snippets.json
  data/mods/Aftershock/mobs/robot_groups.json
  data/mods/No_Hope/Mapgen/necropolis.json
  data/mods/No_Hope/Mapgen/necropolisB1.json
  data/mods/No_Hope/Mapgen/necropolisB2.json
  data/mods/No_Hope/monster_groups.json
Labels: data, mods

#2790 Further C.R.I.T. Expanion updates: clothing fixes
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
  data/mods/CRT_EXPANSION/items/crt_item_groups.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
Labels: data, mods

#2686 Old Guard expansion: a trip to the necropolis
  data/json/items/book/misc.json
  data/json/mutations/mutations.json
  data/json/npcs/necropolis/NPC_Old_Guard_Captain.json
  data/json/npcs/necropolis/NPC_Old_Guard_Commo.json
  data/json/npcs/necropolis/NPC_Old_Guard_Soldier.json
  data/json/npcs/refugee_center/surface_visitors/NPC_old_guard_representative.json
  data/json/professions.json
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
  data/mods/Fuji_Mil_Prof/prof/army.json
  data/mods/Fuji_Mil_Prof/prof/spc.json
  data/mods/more_classes_scenarios/cs_classes.json
Labels: data, mods

#2766 Add "Limit Fungal Growth" mod
  data/mods/Limit Fungal Growth/modinfo.json
Labels: data, mods

#2827 Expand room variation of microlabs
  data/json/itemgroups/science_and_tech.json
  data/json/mapgen/lab/lab_floorplans.json
  data/json/mapgen/microlab/microlab_generic_edge.json
  data/json/mapgen/microlab/microlab_special_tiles.json
Labels: data

#2830 Add inherit_flags to byproducts when crafting
  src/crafting.cpp
Labels: src

#2853 External tileset for easier maintenance of UDP (and later Ultica)
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  gfx/MSX++UnDeadPeopleEdition/Temporary.png
  gfx/MSX++UnDeadPeopleEdition/tile_config.json
Labels: data

#2851 Shields can interact with ranged attacks, add some vanilla shields
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/items/armor/shields.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_soldier.json
  data/json/recipes/armor/other.json
  doc/JSON_FLAGS.md
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/monster.cpp
  src/monster.h
Labels: src, data

#2857 Made forges have metal sawing properties
  data/json/items/tool/metalworking.json
Labels: data

#2856 Added in new shields
  data/json/itemgroups/art_antiques_crafts.json
  data/json/items/armor/shields.json
  data/json/recipes/armor/other.json
Labels: data

#2858 External Tileset Update: Moar Shields!
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
Labels: data

#2859 Follow-up consistency updates for new shields
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/items/armor/shields.json
Labels: data

#2863 [DinoMod] cutting fixes for recipes
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/recipes/containers.json
  data/mods/DinoMod/recipes/head.json
  data/mods/DinoMod/recipes/offal_dishes.json
  data/mods/DinoMod/recipes/parts_construction.json
  data/mods/DinoMod/recipes/pets_bear.json
  data/mods/DinoMod/recipes/pets_elephant.json
  data/mods/DinoMod/recipes/pets_ostrich.json
  data/mods/DinoMod/recipes/recipe_food.json
Labels: data, mods

#2815 Steam turbine vehiclepart and power plant location
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/items/vehicle/engine.json
  data/json/mapgen/power_plant.json
  data/json/mapgen/river_shipwreck.json
  data/json/mapgen_palettes/power_plant_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
  data/json/vehicleparts/combustion.json
  data/mods/Aftershock/maps/mapgen/municipal_microreactor.json
Labels: data, mods

#2861 Spring foraging
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  data/json/furniture_and_terrain/terrain-flora.json
Labels: data

#2865 Fixed shield flags
  data/json/items/armor/shields.json
Labels: data

#2866 Nonconductive swords with wooden handles
  data/json/items/melee/swords_and_blades.json
  data/json/recipes/weapon/piercing.json
Labels: data

#2867 Made loaded stick easier to make
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Labels: data

#2872 Added in recipe for rockwheel
  data/json/recipes/other/vehicles.json
Labels: data

#2862 Rebalance bows to have specific ratios of damage to strength required, add two new ones
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/items/ranged/archery.json
  data/json/obsoletion/items.json
  data/json/obsoletion/migration.json
  data/json/obsoletion/recipes.json
  data/json/recipes/weapon/ranged.json
Labels: data

#2842 Explosions leave craters in the ground, update mapgen/MX craters accordingly
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-fungal.json
  data/json/furniture_and_terrain/terrain-traps.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/items/tool/explosives.json
  src/map_extras.cpp
  src/mapgen_functions.cpp
Labels: src, data

#2884 Allow riot officer and swat CQC to start with shields
  data/json/professions.json
Labels: data

#2846 Updates to repairing straw and wood items, repair with medical tape too
  data/json/items/ammo.json
  data/json/items/armor/boots.json
  data/json/items/armor/hats.json
  data/json/items/armor/storage.json
  data/json/items/generic.json
  data/json/items/generic/string.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/json/materials.json
  data/json/requirements/materials.json
Labels: data

#2848 Update sheet metal acquisition/usage
  data/json/furniture_and_terrain/furniture-fireplaces.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/uncraft/generic.json
Labels: data

#2868 Add command to pet menu for removing individual items from storage
  src/monexamine.cpp
  src/monexamine.h
Labels: src

#2896 h and k
  data/json/items/gun/223.json
  data/json/items/gun/308.json
  data/json/items/magazine/308.json
Labels: data

#2898 Allow scrapping engine blocks for steel
  data/json/uncraft/generic.json
Labels: data

#2901 Standardize use of lye and lye powder, smaller batch recipe
  data/json/recipes/chem/chemicals.json
  data/json/requirements/materials.json
Labels: data

#2894 Fixes for vehicles over grass
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-traps.json
Labels: data

#2900 Sanity-check effect of rough terrain on dragging light vehicles
  src/grab.cpp
Labels: src

#2902 Aftershock recipe time overrides removed
  data/mods/Aftershock/recipes/recipe_overrides.json
Labels: data, mods

#2741 Obsolete unused laboratory fluff
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/tools.json
  data/json/items/tool/science.json
  data/json/obsoletion/items.json
Labels: data

#2855 Make unloading faction owned items be considered stealing
  src/avatar_functions.cpp
  src/consumption.cpp
  src/consumption.h
Labels: src

#2895 Add Animal Spawn Rate scaling factor option to Worldgen
  data/json/game_balance.json
  src/options.cpp
Labels: src, data

#2835 Rebalance scaling of micro and mini reactors
  data/json/bionics.json
  data/json/items/bionics.json
  data/json/vehicleparts/vehicle_parts.json
  src/suffer.cpp
Labels: src, data

#2888 Expand lab/experiment mutation list
  data/json/mutations/mutations.json
  data/json/scenarios.json
Labels: data

#2889 Fix Killer Drive trait not liking murder, not prompting on cannibalism
  data/json/mutations/mutations.json
  src/npc.cpp
Labels: src, data

#2906 Fix Jenny Forcette Greeting
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
Labels: data

#2912 Obsolete extra gallon jug recipe
  data/json/obsoletion/recipes.json
  data/json/recipes/other/containers.json
Labels: data

#2883 Adjustments to collapsed shed map extra
  data/json/mapgen/map_extras/wilderness.json
  data/json/overmap/map_extras.json
Labels: data

#2885 Updates to low-tier wooden weapons
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/recipes/weapon/piercing.json
Labels: data

#2886 External tileset updates and documentation
  data/json/external_tileset/External Tileset Info.md
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
Labels: data

#2881 Holsters/sheathes can now be unloaded
  src/avatar_functions.cpp
  src/item_functions.cpp
Labels: src

#2913 Magiclysm: Plastic Golems no longer regenerate
  data/mods/Magiclysm/monsters/golems.json
Labels: data, mods

#2914 Add more parrot lines to ferals
  data/json/monsters/feral_humans.json
  data/json/speech.json
Labels: data

#2892 Scenario: The Lost And Damned
  data/json/effects.json
  data/json/mutations/mutations.json
  data/json/professions.json
  data/json/scenarios.json
  src/character.h
  src/game.cpp
  src/monster.cpp
  src/npc.cpp
  src/suffer.cpp
Labels: src, data
