Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-01, with the labels that each got.

#2248 Character code reorganization 19-dec-2022
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/armor_layers.cpp
  src/armor_layers.h
  src/avatar.h
  src/avatar_functions.h
  src/character.cpp
  src/character.h
  src/character_display.cpp
  src/character_functions.cpp
  src/character_functions.h
  src/consumption.cpp
  src/creature.cpp
  src/creature.h
  src/debug_menu.cpp
  src/dump.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/gamemode_tutorial.cpp
  src/handle_action.cpp
  src/item.cpp
  src/iuse_actor.cpp
  src/mapgen.cpp
  src/martialarts.cpp
  src/mattack_actors.cpp
  src/melee.cpp
  src/mission_companion.cpp
  src/monattack.cpp
  src/monster.h
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/player.cpp
  src/player.h
  src/ranged.cpp
  src/ranged.h
  src/sounds.cpp
  src/sounds.h
  src/turret.cpp
  tests/morale_consistency_test.cpp
  tests/npc_test.cpp
  tests/player_helpers.cpp
  tests/ranged_aoe_test.cpp
  tests/ranged_balance_test.cpp
  tests/throwing_test.cpp
Labels: src, tests

#2252 Add check for suspicious move_cost in terrain
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/furniture_and_terrain/terrain-migo.json
  data/json/furniture_and_terrain/terrain-regional-pseudo.json
  src/mapdata.cpp
Labels: src, data

#2247 Add MSYS2 builds to CI
  .github/workflows/msvc-full-features.yml
  .github/workflows/msys2.yml
  tests/basecamp_test.cpp
Labels: tests

#2241 Fix ammo conversion not working
  src/avatar_action.cpp
Labels: src

#2246 Don't skip translations test
  tests/translations_test.cpp
Labels: tests

#2270 Fix alternative sterilization using 1 mL of phenol
  data/json/items/faults_bionic.json
Labels: data

#2266 Don't show warnings in log when scanning for files in non-existent dirs
  src/filesystem.cpp
Labels: src

#2256 Enable SDL Graphical Overmap by default
  src/options.cpp
Labels: src

#2255 Get rid of linear texture scaling option
  src/options.cpp
  src/sdltiles.cpp
Labels: src

#2253 Fix volume display in vehicle tanks
  src/veh_interact.cpp
Labels: src

#2214 Added new helicopter parts group to helipad
  data/json/mapgen/helipad.json
Labels: data

#2240 Obsolete Dark Skies Above
  data/mods/Dark-Skies-Above/modinfo.json
Labels: data, mods

#2237 [DDA Port] Upgrade clang-tidy to LLVM 12
  .clang-tidy
  .github/workflows/clang-tidy.yml
  build-scripts/build.sh
  doc/DEVELOPER_TOOLING.md
  src/character.cpp
  src/debug_menu.cpp
  src/mapgen.cpp
  src/sdl_wrappers.cpp
  src/wish.cpp
  tests/vision_test.cpp
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/CataTidyModule.cpp
  tools/clang-tidy-plugin/CombineLocalsIntoPointCheck.cpp
  tools/clang-tidy-plugin/CombineLocalsIntoPointCheck.h
  tools/clang-tidy-plugin/DeterminismCheck.h
  tools/clang-tidy-plugin/HeaderGuardCheck.cpp
  tools/clang-tidy-plugin/HeaderGuardCheck.h
  tools/clang-tidy-plugin/JsonTranslationInputCheck.h
  tools/clang-tidy-plugin/NoLongCheck.cpp
  tools/clang-tidy-plugin/NoLongCheck.h
  tools/clang-tidy-plugin/NoStaticGettextCheck.h
  tools/clang-tidy-plugin/PointInitializationCheck.h
  tools/clang-tidy-plugin/SimplifyPointConstructorsCheck.cpp
  tools/clang-tidy-plugin/SimplifyPointConstructorsCheck.h
  tools/clang-tidy-plugin/TestFilenameCheck.cpp
  tools/clang-tidy-plugin/TestFilenameCheck.h
  tools/clang-tidy-plugin/TextStyleCheck.h
  tools/clang-tidy-plugin/TranslatorCommentsCheck.cpp
  tools/clang-tidy-plugin/TranslatorCommentsCheck.h
  tools/clang-tidy-plugin/UnusedStaticsCheck.h
  tools/clang-tidy-plugin/UseLocalizedSortingCheck.h
  tools/clang-tidy-plugin/UseNamedPointConstantsCheck.cpp
  tools/clang-tidy-plugin/UseNamedPointConstantsCheck.h
  tools/clang-tidy-plugin/UsePointApisCheck.h
  tools/clang-tidy-plugin/UsePointArithmeticCheck.cpp
  tools/clang-tidy-plugin/UsePointArithmeticCheck.h
  tools/clang-tidy-plugin/Utils.cpp
  tools/clang-tidy-plugin/Utils.h
  tools/clang-tidy-plugin/XYCheck.h
  tools/clang-tidy-plugin/test/combine-locals-into-point.cpp
  tools/clang-tidy-plugin/test/lit.cfg
  tools/clang-tidy-plugin/test/use-localized-sorting.cpp
Labels: src, tests

#2264 Enchantment/relic cleanup 3
  data/mods/Magiclysm/items/bionics.json
  data/mods/Magiclysm/items/enchanted.json
  data/mods/TEST_DATA/relics.json
  doc/MAGIC.md
  src/character.cpp
  src/item.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  tests/enchantment_test.cpp
  tests/player_helpers.cpp
Labels: src, data, tests, mods

#2282 Fix compilation
  src/json.cpp
Labels: src

#2289 Fix actualize causing rot in working freezers
  data/json/items/containers.json
  data/json/items/vehicle/utilities.json
  data/mods/TEST_DATA/furniture.json
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
  src/map.cpp
  src/map.h
  src/vehicle_part.cpp
  tests/rot_test.cpp
Labels: src, data, tests, mods

#2284 Implement relic recharge
  data/mods/TEST_DATA/relic_test.json
  doc/JSON_INFO.md
  doc/RELICS.md
  doc/TRANSLATING.md
  lang/extract_json_strings.py
  src/character_turn.cpp
  src/item.cpp
  src/item.h
  src/json.h
  src/json_source_location.cpp
  src/json_source_location.h
  src/relic.cpp
  src/relic.h
Labels: translation, src, data, mods

#2285 Turrets won't shoot vehicles on another z level when 3d vision is off
  src/mattack_actors.cpp
Labels: src

#2254 [DDA Port] JSONize bionic trigger costs, show them in UI
  data/json/bionics.json
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.cpp
  src/character_functions.cpp
  src/game.cpp
  src/iuse.cpp
  src/melee.cpp
  src/monattack.cpp
  src/player.cpp
  src/suffer.cpp
Labels: src, data

#2278 Add Hospital Roof
  data/json/mapgen/hospital.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
Labels: data

#2295 make bicycle alternators (dynamos) craftable.
  data/json/recipes/electronic/parts.json
Labels: enhancement, data

#2290 Quick consistency updates for crude wood bolts
  data/json/items/ranged/crossbows.json
Labels: data

#2296 obsolete fast noodle recipe, lower volume
  data/json/items/comestibles/wheat.json
  data/json/obsoletion/recipes.json
  data/json/recipes/food/pasta.json
Labels: balancing, data

#2300 Add Active Exception to `deploy_furn`
  src/iuse_actor.cpp
Labels: src

#2294 remove glare protection requirement for forged frames
  data/json/recipes/other/vehicles.json
Labels: enhancement, data

#2288 Add Bungalows 06, 07, 08
  data/json/mapgen/house/bungalow06.json
  data/json/mapgen/house/bungalow07.json
  data/json/mapgen/house/bungalow08.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#2293 make light mounts bolt install and add forging recipe
  data/json/recipes/other/vehicles.json
  data/json/vehicleparts/wheel.json
Labels: balancing, data

#2267 Display fridge buff in `item::info`
  src/advanced_inv.cpp
  src/crafting_gui.cpp
  src/enums.h
  src/examine_item_menu.cpp
  src/game.cpp
  src/game_constants.h
  src/game_inventory.cpp
  src/gamemode_defense.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/iteminfo_query.cpp
  src/iteminfo_query.h
  src/itype.h
  src/iuse.cpp
  src/map_item_stack.cpp
  src/map_item_stack.h
  src/npctrade.cpp
  src/output.cpp
  src/output.h
  src/pickup.cpp
  src/recipe_dictionary.cpp
  src/rot.cpp
  src/rot.h
  src/vehicle.h
  src/wish.cpp
  tests/iteminfo_test.cpp
  tests/rot_test.cpp
Labels: src, tests
