Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2023-09, with the labels that each got.

#3107 refactor: convert to f-strings
  lang/concat_pot_files.py
  lang/extract_json_strings.py
  lang/unicode_check.py
  tools/check_po_printf_format.py
  tools/copy_from.py
  tools/copy_mac_libs.py
  tools/dialogue_validator.py
  tools/fix-compilation-database.py
  tools/gfx_tools/decompose.py
  tools/gfx_tools/png_update.py
  tools/json_tools/cddatags.py
  tools/json_tools/keys.py
  tools/json_tools/util.py
  tools/json_tools/values.py
  tools/merge_maps.py
  tools/palettize.py
  tools/update_blueprint_needs.py
  utilities/building-utility/deconstruct.py
Labels: translation

#3112 Deconstructable Sewer pipes & pumps
  data/json/furniture_and_terrain/terrain-manufactured.json
Labels: data

#3115 Improve behavior if on first game start SDL window creation fails
  src/main.cpp
  src/sdltiles.cpp
Labels: src

#3101 perf(port): various debug.cpp improvements
  .github/workflows/matrix.yml
  CMakeLists.txt
  Makefile
  build-scripts/build.sh
  build-scripts/requirements.sh
  doc/COMPILING/COMPILING-CMAKE.md
  src/Android.mk
  src/CMakeLists.txt
  src/crash.cpp
  src/debug.cpp
  src/demangle.cpp
  src/demangle.h
  src/editmap.cpp
  src/enum_conversions.h
  src/generic_factory.h
  src/generic_readers.h
  src/string_formatter.h
Labels: src

#3116 Balance: Make SPAM less terrible
  data/json/items/comestibles/meat_dishes.json
  tests/basecamp_test.cpp
Labels: data, tests

#3123 Magiclysm dragon meat can be cooked
  data/mods/Magiclysm/requirements/cooking_components.json
Labels: data, mods

#3124 Magiclysm Rebalance: Part 1
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/monsters/demon_spider.json
  data/mods/Magiclysm/monsters/golems.json
  data/mods/Magiclysm/monsters/monsters.json
  data/mods/Magiclysm/professions.json
Labels: data, mods

#3125 Rebalanced shotgun shells
  data/json/items/ammo/shot.json
  data/json/items/gun/monster_gun.json
Labels: data

#3126 fix: allow speedloader capacity to be smaller than gun's
  src/item_factory.cpp
Labels: src

#3127 Fixes for the balance fixes
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/410shot.json
  data/json/items/ammo/flintlock.json
  data/json/items/ammo/shot.json
  data/json/items/ammo/shotpaper.json
Labels: data

#3130 fix: `open_url` not working on windows
  src/url_utility.cpp
Labels: src

#3133 Move makeshift glaive from tools to weapons
  data/json/items/melee/spears_and_polearms.json
  data/json/items/tool/misc.json
Labels: data

#3132 feat: apply `NUTRIENT_OVERRIDE` for recipes
  src/crafting.cpp
Labels: src

#3136 Fixed segfault caused by attitude check when monster shooting vehicle
  src/mattack_actors.cpp
Labels: src

#3134 Warn when running x32 game on x64 system
  src/debug.cpp
  src/debug.h
  src/main_menu.cpp
Labels: src

#3138 Goo canister will correctly consume charges on use
  src/iuse.cpp
Labels: src

#3141 feat: auto ladder climbing and ledge prompts
  src/avatar_action.cpp
  src/game.cpp
Labels: src

#3158 Adjust integral volume for several gunmods
  data/json/items/gunmod/accessories.json
  data/json/items/gunmod/brass_catcher.json
  data/json/items/gunmod/loading_port.json
  data/json/items/gunmod/rail.json
  data/json/items/gunmod/sights.json
  data/json/items/gunmod/sling.json
Labels: data

#3159 Expand range of volume limits for certain holsters
  data/json/items/armor/holster.json
Labels: data

#3139 Adjust body part hit difficulty to make critical hits matter for NPCs
  data/json/body_parts.json
  tests/creature_test.cpp
Labels: data, tests

#3160 Magiclysm Rebalance Part 2: Spells Rebalanced
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/Spells/manatouched.json
  data/mods/Magiclysm/Spells/monsterspells.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/modinfo.json
  data/mods/Magiclysm/monsters/demon_spider.json
  data/mods/Magiclysm/monsters/lizardfolk.json
Labels: data, mods

#3161 Adjust soil from digging to match construction needs
  data/json/furniture_and_terrain/terrain-walls.json
  src/iuse.cpp
Labels: src, data

#3162 Scale up mining yield of solid rock to match boulders
  data/json/furniture_and_terrain/terrain-walls.json
Labels: data

#3151 feat(port): move vehicles in elevator
  src/iexamine.cpp
  src/iexamine_elevator.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/point_rotate.cpp
  src/point_rotate.h
Labels: src

#3163 Fix burnt vegetation hiding deep pits under ash piles
  src/map_extras.cpp
Labels: src

#2936 Strength affects stamina cost of melee, rescale dex effect on movecost
  src/melee.cpp
  tests/enchantment_test.cpp
  tests/iteminfo_test.cpp
Labels: src, tests

#3042 Exertion effects now consider tool quality part 2: shovels
  src/activity_actor.cpp
  src/activity_handlers.cpp
Labels: src

#3171 Rebalanced flintlock ranges
  data/json/items/ammo/flintlock.json
  data/json/items/ammo_types.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/bandolier.json
  data/json/items/gun/flintlock.json
Labels: data

#3177 Fixed AK Semi in nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
Labels: data

#3168 Add other pieces of plated leather armor
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/suits_protection.json
  data/json/monsterdrops/feral_humans.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
Labels: data

#3179 fix(mission): turn in stalk first then the bag
  data/json/npcs/missiondef.json
Labels: data

#3180 fix: turrets aiming moving vehicle it cannot see
  src/mattack_actors.cpp
Labels: src

#3183 Prevent poisonous foods from softlocking the game
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/mushroom.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
Labels: data

#3184 Prevent auto-eating items with use actions
  src/activity_item_handling.cpp
Labels: src

#3178 Smoother rivers connections on overmaps edges
  src/overmap.cpp
  src/overmap.h
Labels: src

#3175 Add variants to stockings, glove liners, fingerless gloves
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/monsterdrops/feral_humans.json
  data/json/monsterdrops/zombie_child.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/NC_HUNTER.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/NC_SOLDIER.json
  data/json/npcs/NC_SURVIVOR_CHEF.json
  data/json/npcs/items_generic.json
  data/json/professions.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/mods/No_Hope/item_groups.json
Labels: data, mods

#3140 Lua table serde: allow non-string types as table keys
  src/catalua_impl.cpp
  src/catalua_impl.h
  src/catalua_serde.cpp
  tests/catalua_test.cpp
  tests/stringmaker.h
Labels: src, tests

#3189 feat: default to no zombie revival and limited fungal growth
  data/mods/default.json
Labels: data, mods

#3173 Standardize holster drawcost, add wrist variants
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/items/armor/belts.json
  data/json/items/armor/boots.json
  data/json/items/armor/holster.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/sheath.json
  data/json/items/armor/storage.json
  data/json/items/tool_armor.json
  data/json/recipes/armor/storage.json
  data/mods/Aftershock/items/armor.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
  data/mods/Magiclysm/items/enchanted_belts.json
Labels: data, mods

#2570 refactor: fahrenheit to celsius in codebase, part 1
  src/game.cpp
  src/game_constants.h
  src/item.cpp
  src/item.h
  src/timed_event.cpp
  src/units_temperature.h
  src/weather.cpp
  src/weather.h
  tests/ranged_aiming_test.cpp
Labels: src, tests

#3194 Fixed generation of glitched bridges
  src/overmap.cpp
  src/overmap_connection.cpp
  src/overmap_connection.h
Labels: src

#3054 Simplify broken limb mending
  data/json/effects.json
  data/json/mutations/mutations.json
  data/json/obsoletion/effects.json
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/iexamine.cpp
  src/iuse_actor.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/npc.cpp
  src/panels.cpp
  src/player_hardcoded_effects.cpp
  src/suffer.cpp
  tests/player_helpers.cpp
Labels: src, data, tests

#3187 Fix CTD on debugmsg with no Lua instance
  src/catalua.cpp
Labels: src

#3201 Monster Spells and Necrotic nerfs
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/monsterspells.json
  data/mods/Magiclysm/monsters/monsters.json
Labels: data, mods

#3210 More craftables 1: Clothing
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/torso.json
Labels: data

#3195 Fix 20ga percussion ammo inheritance and names
  data/json/items/ammo/shotpaper.json
Labels: data

#3197 Rework and sanity-check harvesting of tin
  data/json/obsoletion/recipes.json
  data/json/recipes/other/materials.json
  data/json/uncraft/generic.json
Labels: data

#3199 Consistency updates for aluminum and bronze
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/supplies.json
  data/json/items/ammo.json
  data/json/items/containers.json
  data/json/items/resources/metal.json
  data/json/items/tool/metalworking.json
  data/json/recipes/electronic/components.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/tools.json
  data/json/uncraft/generic.json
  data/json/vehicleparts/vehicle_parts.json
Labels: data

#3205 Add a percussion cap shotgun
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/main.json
  data/json/items/gun/shotpaper.json
Labels: data

#3208 [DDA Port] Various improvements to CMake builds
  .cmake-format.yml
  .github/workflows/autofix.yml
  CMakeLists.txt
  Makefile
  cmake_uninstall.cmake.in
  data/CMakeLists.txt
  doc/src/content/docs/en/dev/guides/building/cmake.md
  lang/CMakeLists.txt
  src/CMakeLists.txt
  src/chkjson/CMakeLists.txt
  src/ncurses_def.cpp
  src/version.cmake
  tests/CMakeLists.txt
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/format/CMakeLists.txt
Labels: translation, src, data, tests

#3220 Fix difficulty of new recipes
  data/json/recipes/armor/head.json
  data/json/recipes/armor/torso.json
Labels: data

#3186 Set armored gauntlets and boots to be made of steel
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
Labels: data

#2142 Port over salvage-by-weight from DDA
  data/json/items/armor/pets_small_quadruped_armor.json
  data/json/items/armor/swimming.json
  src/iuse_actor.cpp
  tests/iuse_actor_test.cpp
Labels: src, data, tests

#3225 feat: monster immunity flag for biological damage
  data/json/monsters/zed_misc.json
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: src, data

#3224 Parking garage elevator repair
  data/json/mapgen/parking_garage.json
Labels: data

#3227 BIOPROOF distribution: Robots
  data/json/monsters/defense_bot.json
  data/json/monsters/drones.json
  data/json/monsters/turrets.json
  data/json/monsters/utility_bot.json
Labels: data

#3226 Fix NPCs set to attack what you attack charging blindly
  src/npcmove.cpp
Labels: src

#3228 Allow steel and superalloy lining for more items
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/masks.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
Labels: data

#3221 Add some more basic armor items
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/helmets.json
  data/json/items/armor/masks.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/head.json
Labels: data

#3232 feat: simplify friendly swap and pushing
  src/monexamine.cpp
  src/monexamine.h
Labels: src

#3246 Give No Hope the e
  data/mods/No_Hope/Mapgen/parking_garage.json
Labels: data, mods

#3181 fix: allow elevator misalignment
  data/json/mapgen/apartment_mod.json
  data/json/mapgen/hazardous_waste_sarcophagus.json
  src/cata_algo.h
  src/iexamine_elevator.cpp
Labels: src, data

#3247 build: remove chkjson
  .gitignore
  CMakeLists.txt
  Makefile
  build-scripts/build.sh
  src/chkjson/CMakeLists.txt
  src/chkjson/chkjson.cpp
Labels: src

#3244 UDP External Tileset Update
  data/json/external_tileset/External Tileset Info.md
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/items/armor/arms_armor.json
Labels: data

#3212 Proper river shores under bridges
  data/json/mapgen/bridges.json
  data/json/overmap/overmap_terrain/overmap_terrain_river.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  src/mapgen_functions.cpp
  src/mapgen_functions.h
Labels: src, data

#3203 Fixed some issues with bridge/road generation on overmap edge
  src/overmap.cpp
Labels: src

#3249 docs: migrate external tilest info
  data/json/external_tileset/External Tileset Info.md
  data/json/external_tileset/README.md
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, data

#3248 build(cmake): deduplicate library setup
  src/CMakeLists.txt
  src/SetupLibrary.cmake
  tools/clang-tidy-plugin/CMakeLists.txt
Labels: src

#3207 docs: `lang/notes`
  data/json/mapgen/lab/README.md
  doc/astro.config.ts
  doc/src/content/docs/de/i18n/explanation/style.md
  doc/src/content/docs/en/i18n/explanation/file_format.md
  doc/src/content/docs/en/i18n/explanation/style.md
  doc/src/content/docs/en/i18n/explanation/style_all.md
  doc/src/content/docs/en/i18n/reference/edge_cases.md
  doc/src/content/docs/en/mod/json/guides/map/lab.md
  doc/src/content/docs/en/mod/json/guides/map/mapgen.md
  doc/src/content/docs/ru/i18n/explanation/style.md
  lang/notes/README_all_translators.md
  lang/notes/de.txt
  lang/notes/ru.txt
Labels: docs, translation, data

#3260 Fix compile error on MacOS curses
  src/CMakeLists.txt
  src/ncurses_def.cpp
Labels: src

#3262 Allow filling containers directly from blood draw kit
  src/iuse.cpp
Labels: src

#3230 feat: animal ears are cute
  data/json/mutations/mutations.json
Labels: data

#3264 Add more grid battery options
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: data

#3265 Add street lights to more places, allow deconstructing
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/mapgen/abandoned_shopping_plaza.json
  data/json/mapgen/abstorefront.json
  data/json/mapgen/bank.json
  data/json/mapgen/bus_station.json
  data/json/mapgen/cs_public_space.json
  data/json/mapgen/homeimprovement_superstore.json
  data/json/mapgen/homeimprovement_superstore_new.json
  data/json/mapgen/hospital.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/megastore.json
  data/json/mapgen/motel.json
  data/json/mapgen/stadium_football.json
  data/json/mapgen/town_hall.json
  data/json/mapgen/zoo.json
  data/json/mapgen_palettes/hospital.json
  data/json/mapgen_palettes/mall_palette.json
  data/mods/No_Hope/Mapgen/homeimprovement_superstore_new.json
Labels: data, mods

#3274 Missing tile in horse ranches
  data/json/mapgen/farm_horse.json
  data/json/mapgen/isherwood_farms/farm_horse_isherwood.json
Labels: data

#3276 Update iexamine_elevator.cpp
  src/iexamine_elevator.cpp
Labels: src

#3277 perf: speed up item::has_flag calls
  src/item.cpp
Labels: src

#3270 Properly remove stale test user dir
  src/filesystem.cpp
  src/filesystem.h
  tests/filesystem_test.cpp
  tests/test_main.cpp
Labels: src, tests

#3278 perf(map): inline `sm_to_ms_copy`
  src/coordinate_conversions.cpp
  src/coordinate_conversions.h
Labels: src

#3279 Mainline Stone Chisel
  data/json/items/tool/woodworking.json
  data/json/recipes/other/tools.json
Labels: data

#3283 perf: change frequency of cached weapon value update
  src/npcmove.cpp
Labels: src

#3275 Reworked lake shore mapgen for better connection with rivers
  src/mapgen_functions.cpp
Labels: src

#3269 Fix eternal drowning when NPC is thrown into deep water.
  src/npcmove.cpp
  src/suffer.cpp
Labels: src

#3282 perf: cache character's dead state
  src/character.cpp
  src/character.h
  src/creature.h
  src/mutation.cpp
  src/suffer.cpp
Labels: src

#3273 Add a construction to convert street lights to use local power
  data/json/construction.json
  data/json/construction_group.json
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  data/json/furniture_and_terrain/furniture-appliances.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: data

#3287 fix: only set `cached_dead_state` if npc is actually dead
  src/character.cpp
Labels: src

#3291 Canned tomatoes should no longer appear half-full
  data/json/itemgroups/Food/food.json
  data/json/items/comestibles/other.json
  data/json/recipes/food/veggi.json
Labels: data

#3295 Fix monsters attacking across z levels when wandering
  src/monmove.cpp
Labels: src

#3296 fix: remove wield value frequency, fix cache invalidation
  src/bionics.cpp
  src/npcmove.cpp
Labels: src

#3297 Water purification tablets now work consistently
  data/json/recipes/food/drinks.json
  data/json/recipes/recipe_deconstruction_package.json
Labels: data

#3300 Prying nails correctly deconstructs reinforced boarded window
  src/activity_handlers.cpp
  src/iuse.cpp
Labels: src

#3292 Better shore line at 3 and 4 way junctions
  src/mapgen_functions.cpp
Labels: src

#3304 perf: correctly cache and invalidate dead state
  src/character.cpp
  src/character.h
  src/creature.h
Labels: src

#3308 Fix Repair Nanobots
  src/bionics.cpp
Labels: src

#3314 Correct Typo in Faction Camp Workshops
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop.rock.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_log.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_metal.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_migo_resin.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wad.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wood.json
Labels: data

#3294 Disallow dragging street lights, add to more locations
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/mapgen/Glassblower.json
  data/json/mapgen/animalpound.json
  data/json/mapgen/animalshelter.json
  data/json/mapgen/antique_store.json
  data/json/mapgen/apartment_con.json
  data/json/mapgen/apartment_con_new.json
  data/json/mapgen/apartment_mod.json
  data/json/mapgen/apartment_mod_new.json
  data/json/mapgen/arcade.json
  data/json/mapgen/art_gallery.json
  data/json/mapgen/bar.json
  data/json/mapgen/bike_shop.json
  data/json/mapgen/bowling_alley.json
  data/json/mapgen/boxing.json
  data/json/mapgen/butcher.json
  data/json/mapgen/city_blocks/city_block_2.json
  data/json/mapgen/city_blocks/urban_13_dense_house_apt_house.json
  data/json/mapgen/city_blocks/urban_14_dense_house_mart_food.json
  data/json/mapgen/cs_car_dealership.json
  data/json/mapgen/cs_car_showroom.json
  data/json/mapgen/cs_internet_cafe.json
  data/json/mapgen/cs_sex_shop.json
  data/json/mapgen/cs_tire_shop.json
  data/json/mapgen/daycare.json
  data/json/mapgen/diner.json
  data/json/mapgen/dispensary.json
  data/json/mapgen/dojo.json
  data/json/mapgen/dollar_store.json
  data/json/mapgen/field_baseball.json
  data/json/mapgen/field_football.json
  data/json/mapgen/fire_station.json
  data/json/mapgen/gambling_hall.json
  data/json/mapgen/garage.json
  data/json/mapgen/garage_gas.json
  data/json/mapgen/garden_botanical.json
  data/json/mapgen/garden_community.json
  data/json/mapgen/garden_public.json
  data/json/mapgen/gardening_store.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/gym.json
  data/json/mapgen/store/s_hunting.json
  data/json/mapgen_palettes/apartment.json
  data/json/mapgen_palettes/bike_shop_palette.json
  data/json/mapgen_palettes/city_block_palette.json
  data/json/mapgen_palettes/field_football.json
  data/mods/No_Hope/palettes.json
Labels: data, mods

#3313 Mark monster_speed_trig as mayfail
  tests/monster_test.cpp
Labels: tests

#3322 Magiclysm additions: Goblins, Gear mods and Dragonbone!
  data/mods/Magiclysm/Magiclysm_normal.png
  data/mods/Magiclysm/clothing_mods.json
  data/mods/Magiclysm/flags.json
  data/mods/Magiclysm/harvest.json
  data/mods/Magiclysm/items/materials.json
  data/mods/Magiclysm/items/melee.json
  data/mods/Magiclysm/items/tools.json
  data/mods/Magiclysm/mod_tileset.json
  data/mods/Magiclysm/monster_factions.json
  data/mods/Magiclysm/monstergroups.json
  data/mods/Magiclysm/monsters/goblins.json
  data/mods/Magiclysm/monsters/monsterdrops.json
  data/mods/Magiclysm/recipes/weapons.json
  data/mods/Magiclysm/species.json
  data/mods/Magiclysm/worldgen/goblin_camp.json
  data/mods/Magiclysm/worldgen/overmap_specials.json
  data/mods/Magiclysm/worldgen/overmap_terrain.json
Labels: data, mods

#3310 Fix tidy warnings
  .clang-tidy
  src/activity_handlers.cpp
  src/bionics.cpp
  src/character.cpp
  src/explosion.cpp
  src/game.cpp
  src/grab.cpp
  src/item.cpp
  src/iuse.cpp
  src/map.cpp
  src/map_extras.cpp
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/monmove.cpp
  src/npc.h
  src/npcmove.cpp
  src/options.cpp
  src/point_rotate.cpp
  src/ranged.cpp
  src/suffer.cpp
  tests/find_auto_consume_test.cpp
Labels: src, tests

#3303 Check mx ids defined for region
  data/mods/DinoMod/regional_overlay.json
  data/mods/No_Hope/regional_map_settings.json
  src/init.cpp
  src/map_extras.cpp
  src/regional_settings.cpp
  src/regional_settings.h
Labels: src, data, mods

#3336 Voltmeter & pH meter rebalancing
  data/json/items/tool/science.json
Labels: data

#3332 Some changes on certain comestible
  data/json/itemgroups/Food/food.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/tool/cooking.json
  data/json/recipes/food/veggi.json
Labels: data
