Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-06, with the labels that each got.

#4716 feat(content): make sticks, straw and pipes stackable
  data/json/items/generic.json
  data/json/items/resources/metal.json
  data/json/items/resources/wood.json
Labels: data

#4719 fix: use regional terrain for open sewer
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/mapgen/cs_open_sewer_small.json
  data/json/monstergroups/zombies.json
  data/json/vehicle_groups.json
  data/json/vehicles/utility.json
Labels: data

#4728 feat(balance): Spear size/weight rebalance
  data/json/items/melee/spears_and_polearms.json
Labels: data

#4723 feat(content): make sheets of metal and wood stackable
  data/json/items/resources/metal.json
  data/json/items/resources/wood.json
  data/json/items/vehicle/plating.json
Labels: data

#4729 feat(content): extendable quarterstaff
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Labels: data

#4732 fix: hydrogen sacs can stack, obsolete endochitin
  data/json/harvest.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/items/generic.json
  data/json/obsoletion/migration.json
  data/json/snippets/mutant_anatomy.json
Labels: data

#4736 feat(content): more conditional names for sandwiches and smaller porton sizes
  data/json/items/comestibles/sandwich.json
  tests/behavior_test.cpp
Labels: data, tests

#4734 feat(balance): add ranged bash info to more terrain and furniture
  data/json/furniture_and_terrain/furniture-migo.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-fungal.json
  data/json/furniture_and_terrain/terrain-migo.json
  data/json/furniture_and_terrain/terrain-triffid.json
Labels: data

#4735 feat(balance): don't give mi-gos spawned by nerve clusters free turns
  src/map_functions.cpp
Labels: src

#4715 feat(content): recycle ceramic shards by turning it into lumps of clay
  data/json/items/tool/workshop.json
  data/json/recipes/other/materials.json
  data/json/uncraft/generic.json
Labels: data

#4737 feat(content): fruit products (jam, juice, cooked) will inherit name from component used
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/frozen.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/wheat.json
  data/json/obsoletion/recipes.json
  data/json/recipes/food/drinks.json
  data/json/recipes/food/other.json
  data/json/recipes/food/veggi.json
Labels: data

#4739 fix: prevent stairs leading to deep water
  src/game.cpp
Labels: src

#4743 fix: remove indoor `t_concrete` in speedway
  data/json/mapgen/speedway.json
  data/json/mapgen_palettes/speedway.json
Labels: data

#4744 fix: mossberg 590A1 no longer has obsoleted gunmods installed on it
  data/json/items/gun/shot.json
Labels: data

#4742 fix: chitin goes on the outside, not the inside
  data/json/harvest.json
Labels: data

#4745 feat: Primitive tool conditional names
  data/json/items/tool/knives.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/woodworking.json
Labels: data

#4749 fix: update JSON of pet carrier items with correct property
  data/json/items/armor/storage.json
  data/json/items/tool/pets.json
  data/json/items/vehicle/cargo.json
  data/mods/Aftershock/items/vehicle_items.json
Labels: data, mods

#4746 feat(balance): increase variety of potential damage states for spawned vehicles
  src/vehicle.cpp
  tests/vehicle_power_test.cpp
Labels: src, tests

#4752 fix: use regional terrain and `roof_palette` for the arcade
  data/json/mapgen/arcade.json
  data/json/monstergroups/zombies.json
Labels: data

#4722 feat(balance): update survivor belt to work like a tool belt, obsolete survivor utility belt
  data/json/items/armor/belts.json
  data/json/items/tool_armor.json
  data/json/obsoletion/migration.json
  data/json/obsoletion/recipes.json
  data/json/recipes/armor/other.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/recipes/obsolete.json
  data/mods/Aftershock/recipes/recipes.json
  data/mods/No_Survivor_Armor/survivor.json
Labels: data, mods

#4740 feat(content): installable air conditoners
  data/json/construction.json
  data/json/construction_group.json
  data/json/emit.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/items/furniture.json
  data/json/items/generic.json
  data/json/mapgen/nested/house_nested.json
  data/json/mapgen_palettes/acidia_residential_commercial_palette.json
  data/json/mapgen_palettes/apartment.json
  data/json/mapgen_palettes/cabin.json
  data/json/mapgen_palettes/city_block_palette.json
  data/json/mapgen_palettes/farm.json
  data/json/mapgen_palettes/farm_horse.json
  data/json/mapgen_palettes/farm_lots.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/mapgen_palettes/house_w_palette.json
  data/json/mapgen_palettes/mansion.json
  data/json/mapgen_palettes/necropolis/necropolis_a.json
  data/json/mapgen_palettes/trailer_park.json
  data/json/recipes/electronic/components.json
  data/json/recipes/other/other.json
  data/json/recipes/other/vehicles.json
Labels: data

#4571 feat: grid water wheels
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/raw/tips.json
Labels: data

#4720 feat(balance): make more use of small construction vehiclegroups
  data/json/mapgen/construction_site.json
  data/json/mapgen/house/house01.json
  data/json/mapgen/house/house02.json
  data/json/mapgen/house/house20.json
  data/json/mapgen/house/house21.json
  data/json/mapgen/house/house22_ab.json
  data/json/mapgen/house/house_vacant.json
  data/json/mapgen/s_hardware.json
  data/json/vehicle_groups.json
Labels: data

#4718 feat(content): picking up household trash cans as a container
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/supplies.json
  data/json/items/containers.json
  data/json/recipes/other/containers.json
Labels: data

#4725 feat(balance): rebalance constructing standard walls relative to wooden wall
  data/json/construction.json
  data/json/deconstruction.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/mapgen/construction_site.json
  data/json/mapgen/derelict_property.json
  data/json/mapgen/house/bungalow26.json
  data/json/mapgen/house/house21.json
  data/json/mapgen/house/house22_ab.json
  data/json/mapgen/house/house23.json
Labels: data

#4731 feat(balance): add uncrafts to several more vehiclepart items
  data/json/items/vehicle/wheel.json
  data/json/uncraft/generic.json
  data/json/uncraft/vehicle/wheels.json
  data/json/vehicleparts/wheel.json
Labels: data

#4755 feat(balance): consistency updates to harvest entries
  data/json/harvest.json
  doc/src/content/docs/en/mod/json/reference/creatures/monsters.md
Labels: docs, data

#4717 feat: add `SHATTERS` flag for non-glass items that can shatter on impact
  data/json/flags.json
  data/json/items/ammo.json
  data/json/items/containers.json
  data/json/items/generic.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/resources/misc.json
  data/json/items/tool/cooking.json
  data/json/items/tool/fishing.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/flag.cpp
  src/flag.h
  src/game.cpp
  src/handle_action.cpp
  src/item.cpp
  src/item.h
  src/map.cpp
  src/melee.cpp
  src/ranged.cpp
  tests/iteminfo_test.cpp
Labels: docs, src, data, tests

#4738 feat(balance): shrapnel deals ballistic damage
  data/json/ammo_effects.json
  data/json/items/resources/misc.json
  data/json/items/tool/explosives.json
  src/explosion.cpp
  src/trapfunc.cpp
Labels: src, data

#4757 feat(UI): fix odd coloration of tools/components UI, recipes showing same color as ones using rotten components
  src/crafting_gui.cpp
Labels: src

#4759 fix: an error on the roof of 2storyModern02
  data/json/mapgen/house/2storymodern02.json
Labels: data

#4758 fix: don't give even more holdout missions to starter NPCs, actually hand over mission targets for drive belt and blanket missions
  data/json/itemgroups/supplies.json
  data/json/npcs/lumberyard/lumbermill_missions.json
Labels: data

#4760 feat(balance): make jam autolearn
  data/json/recipes/food/veggi.json
Labels: data

#4764 feat(balance): Remove Nomex from fabric_standard
  data/json/requirements/materials.json
Labels: data

#4763 fix(balance): Cottonify the ammo pouches
  data/json/items/armor/ammo_pouch.json
Labels: data

#4766 fix: Re-add missing show_unavailable in recipes
  src/crafting_gui.cpp
Labels: src

#4769 fix: consistency problem with one of the roofs of the gothic church
  data/json/mapgen/church.json
Labels: data

#4770 fix: Add keybind prompt for "Show unavailable"
  src/crafting_gui.cpp
Labels: src

#4727 feat(port): make corpses bleed similar from DDA
  data/json/flags.json
  data/json/harvest.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/mutagen.json
  data/json/player_activities.json
  data/json/recipes/chem/mutagen.json
  data/json/recipes/food/drinks.json
  data/json/recipes/food/meat.json
  data/json/requirements/cooking_components.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/flag.cpp
  src/flag.h
  src/game.cpp
  src/harvest.cpp
  src/iuse.cpp
Labels: src, data

#4762 feat(content): blood soup
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/soup.json
  data/json/recipes/food/meat.json
Labels: data

#4768 fix: make it possible to escape lab armories and other rooms normally opened from outside
  data/json/mapgen/lab/lab_common.json
  data/json/mapgen/lab/lab_floorplan_cross.json
  data/json/mapgen/lab/lab_floorplans.json
  data/json/mapgen/lab/lab_floorplans_1side.json
  data/json/mapgen/lab/lab_rooms_wall.json
  data/mods/No_Hope/Mapgen/lab_floorplans_1side.json
Labels: data, mods

#4761 feat(content): blutwurst recipe
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/meat_dishes.json
  data/json/recipes/food/meat.json
Labels: data

#4778 feat(content): make some tin canned stuff actually spawn more often
  data/json/itemgroups/Food/food.json
Labels: data

#4779 feat(content): make peptone broth spawn much more in houses.
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/collections_domestic.json
Labels: data

#4772 feat(content): allow installing plutonium generators as vehicleparts
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/items/furniture.json
  data/json/vehicleparts/vehicle_parts.json
Labels: data

#4777 fix: follow-up fixes to butchery yields and messages
  src/activity_handlers.cpp
Labels: src

#4781 feat(content): reintroduce buttermilk and let eggnog, frozen yogurt and ice cream in houses spawn
  data/json/itemgroups/Food/food.json
  data/json/items/comestibles/dairy.json
  data/json/obsoletion/items.json
Labels: data

#4782 fix: disassembling bricks now require metal tools and clay pallet recipe update
  data/json/recipes/other/materials.json
  data/json/uncraft/generic.json
Labels: data

#4783 feat(content): spawn guns, magazines and ammo rarely in houses
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/collections_domestic.json
Labels: data

#4784 feat(content): ammo drops in different amounts
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/itemgroups/vending_machines.json
Labels: data

#4721 feat(content): Magazine deconstruction recipes
  data/json/uncraft/classes/metal_magazine.json
  data/json/uncraft/magazine/12mm.json
  data/json/uncraft/magazine/22.json
  data/json/uncraft/magazine/223.json
  data/json/uncraft/magazine/300.json
  data/json/uncraft/magazine/3006.json
  data/json/uncraft/magazine/308.json
  data/json/uncraft/magazine/32.json
  data/json/uncraft/magazine/357sig.json
  data/json/uncraft/magazine/38.json
  data/json/uncraft/magazine/380.json
  data/json/uncraft/magazine/38super.json
  data/json/uncraft/magazine/40.json
  data/json/uncraft/magazine/410shot.json
  data/json/uncraft/magazine/44.json
  data/json/uncraft/magazine/45.json
  data/json/uncraft/magazine/454.json
  data/json/uncraft/magazine/4570.json
  data/json/uncraft/magazine/46.json
  data/json/uncraft/magazine/460.json
  data/json/uncraft/magazine/50.json
  data/json/uncraft/magazine/500.json
  data/json/uncraft/magazine/545x39.json
  data/json/uncraft/magazine/57.json
  data/json/uncraft/magazine/66mm.json
  data/json/uncraft/magazine/762.json
  data/json/uncraft/magazine/762R.json
  data/json/uncraft/magazine/762x25.json
  data/json/uncraft/magazine/9mm.json
  data/json/uncraft/magazine/9x18.json
  data/json/uncraft/magazine/chemical_spray.json
  data/json/uncraft/magazine/nail.json
  data/json/uncraft/magazine/shot.json
  data/json/uncraft/magazine/weldgas.json
Labels: data

#4786 fix: negative values in armor calculations
  src/item.cpp
Labels: src

#4790 fix: minor fixes for the hazardous waste sarcophagus
  data/json/mapgen/hazardous_waste_sarcophagus.json
Labels: data

#4788 feat(balance): convert most domestic fridge spawns to use `SUS_fridge`
  data/json/itemgroups/collections_domestic.json
  data/json/mapgen/bandit_cabin.json
  data/json/mapgen/basement/basement_survival.json
  data/json/mapgen/city_blocks/urban_10_house_brick_pool.json
  data/json/mapgen/city_blocks/urban_11_house_brick.json
  data/json/mapgen/city_blocks/urban_15_house.json
  data/json/mapgen/city_blocks/urban_16_house_ranch.json
  data/json/mapgen/city_blocks/urban_17_house_ranch.json
  data/json/mapgen/city_blocks/urban_18_victorian.json
  data/json/mapgen/city_blocks/urban_19_victorian.json
  data/json/mapgen/city_blocks/urban_20_duplex.json
  data/json/mapgen/city_blocks/urban_21_house.json
  data/json/mapgen/city_blocks/urban_22_house_pool.json
  data/json/mapgen/city_blocks/urban_24_dense_bank_house.json
  data/json/mapgen/city_blocks/urban_25_dense_diner_apt.json
  data/json/mapgen/city_blocks/urban_29_dense_row.json
  data/json/mapgen/city_blocks/urban_36_projects.json
  data/json/mapgen/city_blocks/urban_40_house.json
  data/json/mapgen/city_blocks/urban_7_house_garden.json
  data/json/mapgen/city_blocks/urban_8_house_brick_garden.json
  data/json/mapgen/city_blocks/urban_9_house_garage_loft.json
  data/json/mapgen/farm.json
  data/json/mapgen/farm_2side.json
  data/json/mapgen/farm_dairy.json
  data/json/mapgen/farm_horse.json
  data/json/mapgen/farm_stills.json
  data/json/mapgen/fire_station.json
  data/json/mapgen/isherwood_farms/dairy_farm_isherwood.json
  data/json/mapgen/isherwood_farms/farm_horse_isherwood.json
  data/json/mapgen/lake_buildings/cabin_lake.json
  data/json/mapgen/lake_buildings/lighthouse.json
  data/json/mapgen/mansion.json
  data/json/mapgen/ranch_camp.json
  data/json/mapgen/refugee_center/refugee_center.json
  data/json/mapgen/riverside/whaleys_house_river.json
  data/json/mapgen/sugar_house.json
  data/json/mapgen/swamp_shack.json
  data/json/mapgen/trailer_park.json
  data/json/mapgen_palettes/apartment.json
  data/json/mapgen_palettes/farm.json
  data/json/mapgen_palettes/farm_lots.json
  data/json/mapgen_palettes/house_w_palette.json
Labels: data

#4793 fix: transforming items no longer forget their assigned hotkey
  src/iuse_actor.cpp
Labels: src

#4795 fix: rebuilt recon laser recipe no longer overrides gatling laser recipe
  data/json/recipes/weapon/ranged.json
Labels: data

#4796 fix: fix mounting tied-up creatures, re-mounting recently-dismounted creatures
  src/character.cpp
  src/monexamine.cpp
Labels: src

#4791 feat: allow disassembling all bionics that can currently be crafted
  data/json/uncraft/cbm/cbm.json
Labels: data

#4751 feat(content,port): corpses decay into items, use existing harvest entries to actually implement feature, fix off-map decay behavior
  data/json/harvest.json
  src/item.cpp
  src/item.h
  src/map.cpp
  src/map.h
Labels: src, data

#4780 feat(content): can now deconstrct utility lights, place as grid floodlights
  data/json/construction.json
  data/json/construction_group.json
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, data

#4797 feat(content): `add residential lawn nested chunk variants'
  data/json/mapgen/nested/residential_lawn_nested.json
  data/json/snippets/residential_signs.json
Labels: data

#3359 fix: NPCs actually give items when asked
  data/json/npcs/TALK_COMMON_OTHER.json
  src/npctalk_funcs.cpp
Labels: src, data

#4798 feat(content): allow more ingredients for fish bait
  data/json/recipes/other/other.json
Labels: data

#4799 fix: FEMA buildings generate roofs, FEMA tents don't
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-mechanisms.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/mapgen/fema/FEMA.json
  data/json/mapgen/fema/FEMA_blc_03.json
  data/json/mapgen/fema/FEMA_entrance_01.json
  data/json/mapgen/fema/FEMA_entrance_02.json
  data/json/mapgen/fema/FEMA_entrance_03.json
  data/json/mapgen/nested/fema_nested.json
  data/json/mapgen_palettes/fema.json
Labels: data

#4804 feat(content): bungalow29
  data/json/mapgen/house/bungalow29.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4802 fix: recipe scroll command scrolls both component and item info, fix support for page up/down
  src/crafting_gui.cpp
Labels: src

#4805 feat(content): small chance to spawn special magazines with nested guns
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/223.json
Labels: data

#4807 feat(content): house palette addition
  data/json/mapgen/house/bungalow28.json
  data/json/mapgen_palettes/house_general_palette.json
  data/mods/No_Hope/palettes.json
Labels: data, mods

#4809 feat(content): House Nested Chunk Addition, Cleanup: 2Story01
  data/json/mapgen/house/2Story01.json
Labels: data

#4810 feat(content): House Nested Chunk Addition, Cleanup: 2Story02
  data/json/mapgen/house/2Story02.json
Labels: data

#4811 fix: Correctly set yugg harvest to mutant_meatslug instead of meatslug.
  data/json/monsters/nether.json
Labels: data

#4803 feat(content): Add an examine button on the inventory UI
  data/raw/keybindings/keybindings.json
  src/inventory_ui.cpp
Labels: src, data

#4789 fix: don't print message about failing to harvest blood when not bleeding corpse
  src/activity_handlers.cpp
Labels: src

#4691 feat: Basic Implementation for vehicle damage world option
  src/options.cpp
  src/vehicle.cpp
Labels: src

#4775 feat: add an action for toggling on/off UPS charging for mundane electronics
  data/json/item_actions.json
  data/json/items/tool/electronics.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: docs, src, data, mods

#4812 docs: PR title generator & update contributing guideline
  .github/pull_request_template.md
  .github/semantic.yml
  .github/workflows/autofix.yml
  doc/src/assets/semantic.json
  doc/src/components/Conventional.astro
  doc/src/content/docs/en/contribute/changelog_guidelines.mdx
  doc/src/content/docs/en/contribute/contributing.md
  scripts/semantic.ts
Labels: docs, scripts

#4815 feat(content): House Nested Chunk Addition, Cleanup: 2storymodern01
  data/json/mapgen/house/2storymodern01.json
Labels: data

#4817 fix: disallow loading mags with incompatible ammo
  src/character_functions.cpp
Labels: src

#4814 feat(balance): nested gun/mag spawns vary in ammo loaded, several fixes
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
Labels: data

#4820 feat(content): House Nested Chunk Addition, Cleanup: 2storymodern02, 03, 04
  data/json/mapgen/house/2storymodern02.json
  data/json/mapgen/house/2storymodern03.json
  data/json/mapgen/house/2storymodern04.json
Labels: data

#4821 fix: magazines dropped by zombies vary in ammocount, expand variety of guns
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/monsterdrops/zombie_default.json
Labels: data

#4822 feat(content): mac10 and mac 11 are not as rare as a TDI
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
Labels: data

#4824 feat(content): let gun safes spawn actual gun loot
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/mapgen/basement/basement_guns.json
  data/json/mapgen/farm_dairy.json
  data/json/mapgen/house/2Story01.json
  data/json/mapgen/house/bungalow16.json
  data/json/mapgen/isherwood_farms/dairy_farm_isherwood.json
  data/json/mapgen/police_station.json
  data/json/mapgen/shooting_range.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/mapgen_palettes/house_w_palette.json
  data/json/mapgen_palettes/mall_palette.json
Labels: data

#4823 feat(balance): further fleshing out of `default_zombie_carried_guns`
  data/json/monsterdrops/zombie_default.json
Labels: data

#4827 docs(content): correct spelling on fencer / primitive axe
  data/json/items/tool/woodworking.json
  data/json/professions.json
Labels: data

#4829 feat(port): new gun Colt Python
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/38.json
  data/json/npcs/NC_SCAVENGER.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: data, mods

#4819 feat(balance): standardize stat modifiers of blackpowder ammo, remove `IRREPLACEABLE_CONSUMABLE` from ammo that can currently be crafted
  data/json/items/ammo/10mm.json
  data/json/items/ammo/22.json
  data/json/items/ammo/223.json
  data/json/items/ammo/270win.json
  data/json/items/ammo/300.json
  data/json/items/ammo/3006.json
  data/json/items/ammo/300blk.json
  data/json/items/ammo/308.json
  data/json/items/ammo/32.json
  data/json/items/ammo/357mag.json
  data/json/items/ammo/357sig.json
  data/json/items/ammo/38.json
  data/json/items/ammo/380.json
  data/json/items/ammo/38super.json
  data/json/items/ammo/40.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/410shot.json
  data/json/items/ammo/44.json
  data/json/items/ammo/45.json
  data/json/items/ammo/454.json
  data/json/items/ammo/4570.json
  data/json/items/ammo/45colt.json
  data/json/items/ammo/46.json
  data/json/items/ammo/460.json
  data/json/items/ammo/50.json
  data/json/items/ammo/500.json
  data/json/items/ammo/545x39.json
  data/json/items/ammo/57.json
  data/json/items/ammo/5x50.json
  data/json/items/ammo/700nx.json
  data/json/items/ammo/762.json
  data/json/items/ammo/762R.json
  data/json/items/ammo/762x25.json
  data/json/items/ammo/8x40mm.json
  data/json/items/ammo/9mm.json
  data/json/items/ammo/9x18.json
  data/json/items/ammo/shot.json
Labels: data

#4826 feat(content): allow almond and soy milk to be used for coffee/tea milk and milkshake
  data/json/recipes/food/drinks.json
  data/json/recipes/food/other.json
  data/json/requirements/cooking_components.json
  tests/iteminfo_test.cpp
Labels: data, tests

#4830 feat(content): add glock 20
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/10mm.json
  data/json/items/magazine/10mm.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: data, mods

#4831 feat(content): Add Glock Auto-Sear(switch)
  data/json/items/gunmod/mechanism.json
  data/json/recipes/weapon/mods.json
Labels: data

#4832 feat(content): new gun ASR Aero Survival Rifle 10mm edition
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/10mm.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: data, mods

#4833 feat(content): new gun CMMG MkG Guard
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/45.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: data, mods

#4835 feat: allow deconstructing gravel
  data/json/furniture_and_terrain/terrain-railroads.json
Labels: data

#4834 feat(balance): spawn updates to gunmods and gun safes
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/collections_domestic.json
  data/json/mapgen/farm_dairy.json
  data/json/mapgen/house/2Story01.json
  data/json/mapgen/house/bungalow16.json
  data/json/mapgen/isherwood_farms/dairy_farm_isherwood.json
  data/json/mapgen/nested/house_nested.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/mapgen_palettes/house_w_palette.json
Labels: data

#4836 feat(content): house chunks and cleanup: 3story01, bungalow 02, 03
  data/json/mapgen/house/3Story01.json
  data/json/mapgen/house/bungalow02.json
  data/json/mapgen/house/bungalow03.json
Labels: data

#4839 feat(content): new gun CMMG MkG Banshee and glock 22 50-rd drum
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/357sig.json
  data/json/items/gun/40.json
  data/json/items/magazine/40.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: data, mods

#4840 feat(content): add magazine Glock 21 40-round drum
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/45.json
  data/json/items/magazine/45.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: data, mods

#4842 fix: power armor actually benefits from advanced UPS efficiency, adjust efficiency ratio
  src/bionics.cpp
  src/character.cpp
  src/character_turn.cpp
  src/ranged.cpp
  src/visitable.cpp
Labels: src

#4844 feat(content): new gun KRISS Vector .40
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/40.json
  data/json/items/magazine/40.json
  data/json/uncraft/magazine/45.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: data, mods

#4845 fix: add uncraft recipe for new glock drums
  data/json/uncraft/magazine/40.json
  data/json/uncraft/magazine/45.json
Labels: data

#4847 feat(content): add house nested chunks and cleanup: bungalows 04, 05, 06
  data/json/mapgen/house/bungalow04.json
  data/json/mapgen/house/bungalow05.json
  data/json/mapgen/house/bungalow06.json
Labels: data

#4848 feat(content): add house nested chunks and cleanup: bungalows 07, 08, 09
  data/json/mapgen/house/bungalow07.json
  data/json/mapgen/house/bungalow08.json
  data/json/mapgen/house/bungalow09.json
Labels: data

#4843 feat(content): new gun Moriarti MA-357Sig-167, fixes.
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/357sig.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: data, mods

#4849 feat(content): new gun Marlin 1894c
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/38.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: data, mods

#4850 feat(content): new gun Hi Point 3895 carbine
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/380.json
  data/json/items/magazine/380.json
  data/json/npcs/NC_HUNTER.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/uncraft/magazine/380.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: data, mods

#4851 fix: razor blades aren't made out of entire broadswords
  data/json/recipes/other/materials.json
Labels: data

#4838 fix: follow-up fixes to carry gun spawns, speedloaders, ammo belts
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
Labels: data

#4853 feat(content): House Nested Chunk Addition, Cleanup: bungalow 10, 11, 12
  data/json/mapgen/house/bungalow10.json
  data/json/mapgen/house/bungalow11.json
  data/json/mapgen/house/bungalow12.json
Labels: data

#4854 fix: misaligned chimneys on `house_duplex6_roof`
  data/json/mapgen/house/house_duplex6.json
Labels: data

#4856 fix: misaligned chimney on `house_duplex3_roof`
  data/json/mapgen/house/house_duplex3.json
Labels: data

#4855 fix: missing gutter drop on `house_fence06_roof`
  data/json/mapgen/house/house_fence06.json
Labels: data

#4857 feat: add a chimney crown on `house_13_roof`
  data/json/mapgen/house/house13.json
Labels: data

#4859 feat(content): House Nested Chunk Addition, Cleanup: bunaglows 13,14,15
  data/json/mapgen/house/bungalow13.json
  data/json/mapgen/house/bungalow14.json
  data/json/mapgen/house/bungalow15.json
Labels: data

#4858 fix: don't drop blood as an item from decaying corpses
  src/map.cpp
Labels: src

#4861 feat(content): House Nested Chunk Addition, Cleanup: bungalows 16, 17, 18
  data/json/mapgen/house/bungalow16.json
  data/json/mapgen/house/bungalow17.json
  data/json/mapgen/house/bungalow18.json
Labels: data

#4862 feat(content): ammo/magazine/gun vending machines at more locations
  data/json/itemgroups/vending_machines.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/s_gun.json
  data/json/mapgen/shooting_range.json
Labels: data

#4864 fix: modernize recipes for Rivtech ammo
  data/json/recipes/ammo/rifle.json
  data/json/recipes/ammo/shot.json
  data/json/uncraft/ammo/5x50.json
Labels: data

#4865 feat(content): House Nested Chunk Addition, Cleanup: bungalows 19, 20, 21
  data/json/mapgen/house/bungalow19.json
  data/json/mapgen/house/bungalow20.json
  data/json/mapgen/house/bungalow21.json
Labels: data

#4866 feat(content): House Nested Chunk Addition, Cleanup: bungalow 22, 23, 24
  data/json/mapgen/house/bungalow22.json
  data/json/mapgen/house/bungalow23.json
  data/json/mapgen/house/bungalow24.json
Labels: data

#4867 feat(content): House Nested Chunk Addition, Cleanup: bungalow 25, 26, 27
  data/json/mapgen/house/bungalow25.json
  data/json/mapgen/house/bungalow26.json
  data/json/mapgen/house/bungalow27.json
Labels: data

#4870 feat(content): House Nested Chunk Addition, Cleanup: bungalow 28, 29, house_coop1
  data/json/mapgen/house/bungalow28.json
  data/json/mapgen/house/bungalow29.json
  data/json/mapgen/house/house_coop01.json
Labels: data

#4871 feat(content): House Nested Chunk Addition, Cleanup: house_fence01, 02, 03
  data/json/mapgen/house/house_fence01.json
  data/json/mapgen/house/house_fence02.json
  data/json/mapgen/house/house_fence03.json
Labels: data

#4868 feat(content): Exosuits
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/collections_trades.json
  data/json/itemgroups/main.json
  data/json/itemgroups/nuclear_reactor_groups.json
  data/json/items/armor/suits_protection.json
  data/json/recipes/armor/suit.json
Labels: data

#4872 feat(balance): add `ONLY_ONE` to exo-suits, `POWERARMOR_COMPATABLE` to military and industrial versions
  data/json/items/armor/suits_protection.json
Labels: data

#4125 feat(balance): uncanny dodge can now actually roll to dodge bullets
  data/json/bionics.json
  data/json/enchantments.json
  data/json/items/bionics.json
  src/character_functions.cpp
  src/ranged.cpp
Labels: src, data

#4875 fix: put dirt floor under the planters in the nested mapgen `greenhouse_6x6_vegetable`
  data/json/mapgen_palettes/house_w_palette.json
Labels: data

#4877 feat(balance): add `ALLOWS_NATURAL_ATTACKS` and `OVERSIZE` to relevant exos, remove `WATERPROOF`
  data/json/items/armor/suits_protection.json
Labels: data

#4876 feat(balance): allow medium storage batteries with battery compartment toolmod
  data/json/items/toolmod.json
Labels: data

#4880 feat(balance): Quarterstaff buff
  data/json/items/melee/bludgeons.json
Labels: data

#4881 feat(balance): Pneumatic rebalance
  data/json/items/classes/gun.json
  data/json/items/ranged/pneumatic.json
Labels: data

#4879 fix: don't try to bleed corpses that lack blood, remove rotten decay results, blood dumped on the ground becomes a field
  data/json/emit.json
  data/json/items/comestibles/carnivore.json
  src/game.cpp
  src/map.cpp
Labels: src, data

#4883 fix: kinetic shock absorber uses correct uncraft
  data/json/uncraft/cbm/cbm.json
Labels: data

#4882 feat(content): House Nested Chunk Addition, Cleanup: house_fence 04-09
  data/json/mapgen/house/house_fence04.json
  data/json/mapgen/house/house_fence05.json
  data/json/mapgen/house/house_fence06.json
  data/json/mapgen/house/house_fence07.json
  data/json/mapgen/house/house_fence08.json
  data/json/mapgen/house/house_fence09.json
Labels: data

#4841 feat: map command for marking autodrive/fast-travel shortcuts
  data/raw/keybindings/keybindings.json
  src/overmap.cpp
  src/overmap.h
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/savegame.cpp
Labels: src, data

#4884 feat(content): add new entries for res_personal_items nested chunk
  data/json/mapgen/nested/residential_personal_items.json
Labels: data

#4874 feat: allow stashing items in holsters/sheathes in `r`eload menu
  src/avatar_action.cpp
  src/character.cpp
  src/character_functions.cpp
  src/item.cpp
Labels: src

#4801 feat(content): 3D printers
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/weapons_misc.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/defense_mode.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/main.json
  data/json/itemgroups/tools.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/shields.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/fake.json
  data/json/items/gun/223.json
  data/json/items/gun/300BLK.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/223.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  data/json/items/ranged/spearguns.json
  data/json/items/tool/science.json
  data/json/items/vehicle/boat.json
  data/json/materials.json
  data/json/npcs/NC_ARSONIST.json
  data/json/recipes/ammo/arrows.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/electronic/tools.json
  data/json/recipes/other/containers.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  tests/iteminfo_test.cpp
Labels: data, tests

#4885 feat(content): modernize drug deal drop list
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
Labels: data

#4887 feat(balance): Kickboxing Jab Correction
  data/json/techniques.json
Labels: data

#4890 fix: firewood sources now automatically prioritize tinder when using tools that require it
  data/json/flags.json
  src/activity_item_handling.cpp
Labels: src, data

#4891 feat(balance): add blackpowder loads for more ammotypes
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/items/ammo/357sig.json
  data/json/items/ammo/38super.json
  data/json/items/ammo/410shot.json
  data/json/items/ammo/50.json
  data/json/items/ammo/545x39.json
  data/json/items/ammo/700nx.json
  data/json/items/ammo/762.json
  data/json/items/ammo/762R.json
  data/json/recipes/ammo/pistol.json
  data/json/recipes/ammo/rifle.json
  data/json/recipes/ammo/shot.json
Labels: data

#4892 feat(balance): swap damage bracket of ATGM and blackpowder cannon so civil war guns don't kill tanks better than a TOW
  data/json/items/ammo/atgm.json
  data/json/items/ammo/cannon.json
Labels: data

#4888 feat(balance): Laser mod buff
  data/json/items/gunmod/laser_gunmods.json
Labels: data

#4894 feat(content): more res_personal_items chunks
  data/json/mapgen/nested/residential_personal_items.json
Labels: data

#4895 feat(balance): lower sniper spawn on regular radio towers slightly, spawn more different guns
  data/json/mapgen/cathedral.json
  data/json/mapgen/radio_tower.json
Labels: data

#4900 fix(content): Update hard hats and leather chaps to ensure no salvage defies physics
  data/json/items/armor/hats.json
  data/json/items/armor/legs_armor.json
Labels: data

#4898 fix(content): Make zombies fight most things when angry
  data/json/monster_factions.json
Labels: data

#4899 fix(content): Make tinder made of dry plant instead of wood.
  data/json/items/ammo.json
Labels: data

#4896 feat(content): Cabin lockers can spawn guns
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns_stored.json
  data/json/mapgen_palettes/cabin.json
Labels: data

#4902 feat(content): Fully Update MMA
  data/mods/MMA/MMA_normal.png
  data/mods/MMA/item_groups.json
  data/mods/MMA/martial.json
  data/mods/MMA/martialarts.json
  data/mods/MMA/mod_tileset.json
  data/mods/MMA/mutations.json
  data/mods/MMA/techniques.json
Labels: data, mods
