Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-12, with the labels that each got.

#5780 fix: Update other.json to add in recipe for oven.
  data/json/recipes/other/other.json
Labels: JSON

#5750 feat(balance): gasoline engines can burn alcohol, V8 and V12 engines in general require higher-quality fuel
  data/json/vehicleparts/combustion.json
Labels: JSON

#5786 fix: update antique shops, elephant guns are now reasonably obtainable
  data/json/itemgroups/art_antiques_crafts.json
Labels: JSON

#5793 fix: Fix RPGdie iuse
  src/iuse.cpp
Labels: src

#5791 feat(UI): always show book's skill cap even if the PC has passed it
  src/item.cpp
Labels: src

#5790 feat: Military ID cards can deactivate plutonium generator security for retrieval
  data/json/furniture_and_terrain/terrain-manufactured.json
  src/iexamine.cpp
  src/iexamine.h
Labels: src, JSON

#5794 fix(balance): Move 3 small shotguns to shotguns skill
  data/json/items/gun/20x66mm.json
  data/json/items/gun/shot.json
Labels: JSON

#5474 feat(balance): throwing weapons sanity-checking
  data/json/items/ranged/slings.json
  src/character_functions.cpp
  src/item.cpp
  src/ranged.cpp
  src/ranged.h
Labels: src, JSON

#5795 fix: Fixed the message given to the player when using the light switch.
  src/iexamine.cpp
Labels: src

#5792 feat(content): Gelled Gasoline
  data/json/items/fuel.json
  data/json/recipes/ammo/launcher.json
Labels: JSON

#5774 refactor: Clean up world saving/loading codepath (Phase 1 of v2 save format)
  .gitignore
  src/artifact.cpp
  src/artifact.h
  src/auto_note.cpp
  src/auto_note.h
  src/auto_pickup.cpp
  src/cata_utility.cpp
  src/catalua.cpp
  src/catalua.h
  src/clzones.cpp
  src/color.cpp
  src/debug.cpp
  src/diary.cpp
  src/editmap.cpp
  src/filesystem.cpp
  src/fstream_utils.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/help.cpp
  src/init.cpp
  src/init.h
  src/input.cpp
  src/language.cpp
  src/main_menu.cpp
  src/map_memory.cpp
  src/mapbuffer.cpp
  src/mapbuffer.h
  src/mod_manager.cpp
  src/mod_manager.h
  src/newcharacter.cpp
  src/options.cpp
  src/overmap.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/panels.cpp
  src/safemode_ui.cpp
  src/sdltiles.cpp
  src/world.cpp
  src/world.h
  src/worldfactory.cpp
  src/worldfactory.h
  tests/filesystem_test.cpp
  tests/test_main.cpp
Labels: src, tests

#5797 feat: Lua bindings for mutation introspection, creature temperature
  src/catalua_bindings.cpp
  src/catalua_bindings.h
  src/catalua_bindings_creature.cpp
  src/catalua_bindings_mutation.cpp
  src/catalua_bindings_utils.h
  src/catalua_luna.h
  src/catalua_luna_doc.h
  src/character.cpp
  src/character.h
Labels: src

#5801 style: grammar and style fixes in shields.json
  data/json/items/armor/shields.json
Labels: JSON

#5807 fix: Stop letting unlicensed zombie contractors break stairs
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
Labels: JSON

#5809 feat(balance): Put bibimbap in itemgroups
  data/json/itemgroups/Food/food.json
Labels: JSON

#5810 feat(balance): light damage to all vehicles in the parking garage
  data/json/mapgen/parking_garage.json
Labels: JSON

#5811 feat(balance): prussian blue and iodide effects visble on status screen, increase effectiveness of prussian blue
  data/json/effects.json
Labels: JSON

#5806 feat: Crouching affective player visibility
  src/character.cpp
Labels: src

#5812 feat(balance): enhanced electric motor breaks into alloy sheets
  data/json/vehicleparts/motor.json
Labels: JSON

#5814 feat(balance): Plastic and Carbon Fiber Frames Have Appropriate Durability
  data/json/vehicleparts/frames.json
Labels: JSON

#5821 feat(balance): Normalize seed weight
  data/json/items/comestibles/seed.json
Labels: JSON

#5822 build: update OSX builds to llvm clang
  .github/workflows/manual-release.yml
  .github/workflows/osx.yml
  .github/workflows/release.yml
  doc/src/content/docs/en/dev/guides/building/makefile.md
  src/sol/sol.hpp
Labels: docs, src

#5823 feat: `Prompt on death` quickloads instead of going to main menu
  src/game.cpp
  src/game.h
  src/options.cpp
Labels: src

#5824 fix: replace the wooden floor under the standing tanks of the small cabin
  data/json/mapgen/chemical_lab.json
Labels: JSON

#5818 refactor: Remove constructions sequences and it's uses
  data/json/construction_sequence.json
  src/construction.cpp
  src/construction.h
  src/construction_sequence.cpp
  src/construction_sequence.h
  src/init.cpp
  src/item_factory.cpp
  src/recipe.cpp
  src/recipe.h
  src/recipe_dictionary.cpp
Labels: src, JSON

#5805 feat: More electric motor recipes
  data/json/recipes/electronic/components.json
Labels: JSON

#5826 feat(balance): Make Stylish trait the default behavior, add Unstylish trait
  data/json/flags.json
  data/json/mutations/mutations.json
  data/json/npcs/starting_traits.json
  data/json/obsoletion/mutations.json
  data/mods/Aftershock/npcs/Backgrounds/trait_groups.json
  data/mods/Aftershock/npcs/mutant_npcs/trait_groups.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/morale.cpp
  tests/morale_test.cpp
Labels: docs, src, JSON, tests, mods

#5830 fix: Stop accidental plut gen destruction
  data/json/deconstruction.json
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: JSON

#5832 feat(balance): add more items to `s_petstore_1`, replace `cleaning` with `SUS_janitors_closet`
  data/json/mapgen/petstore.json
Labels: JSON

#5827 feat(content): Add "path_settings" and `PATH_AVOID_DANGER_1` to flying zombies
  data/json/monsters/zed-winged.json
Labels: JSON

#5833 fix: stop showing `loffice_tower_16` as open air on the overmap
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
Labels: JSON

#5834 fix: Let tarps actually shelter fires, let fire rings be used more
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-manufactured.json
Labels: JSON

#5835 fix: Sort body parts in Character::get_all_body_parts
  data/json/body_parts.json
  src/bodypart.cpp
  src/bodypart.h
  src/creature.cpp
Labels: src, JSON

#5836 feat(content,port): port collapsible mop item
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/tool/toiletries.json
  data/json/mapgen/cs_internet_cafe.json
  data/json/mapgen/cs_sex_shop.json
  data/json/mapgen/farm_dairy_2.json
  data/json/mapgen/irradiator_1.json
Labels: JSON

#5721 refactor: Remove most of `body_part` enum usage
  src/activity_handlers.cpp
  src/armor_layers.cpp
  src/bionics_ui.cpp
  src/character.cpp
  src/character.h
  src/character_display.cpp
  src/character_encumbrance.h
  src/character_functions.cpp
  src/character_functions.h
  src/character_turn.cpp
  src/creature.cpp
  src/damage.h
  src/effect.cpp
  src/effect.h
  src/game.cpp
  src/item.cpp
  src/iteminfo_armor.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic_spell_effect.cpp
  src/map_field.cpp
  src/mattack_actors.cpp
  src/melee.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monexamine.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/panels.cpp
  src/suffer.cpp
  src/trapfunc.cpp
  src/weather.cpp
  tests/encumbrance_test.cpp
Labels: src, tests

#5837 fix(content): Blood Soup No Longer Produces Free Jars
  data/json/recipes/food/meat.json
Labels: JSON

#5838 feat(mods/Monster_Girls,content): Add Kitsunes to Monster Girls Mutations
  data/mods/Monster_Girls/categories.json
  data/mods/Monster_Girls/dreams.json
  data/mods/Monster_Girls/migration.json
  data/mods/Monster_Girls/mutagens.json
  data/mods/Monster_Girls/recipes.json
  data/mods/Monster_Girls/thresh_mutation.json
  data/mods/Monster_Girls/vanilla_mutations.json
Labels: JSON, mods

#5839 fix: inventories not saving locations properly when removing things
  src/visitable.cpp
Labels: src

#5842 fix: use regional terrain for `s_petstore`
  data/json/mapgen/petstore.json
Labels: JSON

#5843 fix: more harvest entries have blood
  data/json/harvest.json
Labels: JSON

#5844 fix: replace the linoleum tile under the dumpsters of the homeless shelter with concrete
  data/json/mapgen/homeless_shelter.json
Labels: JSON

#5816 feat: More engine recipes
  data/json/recipes/other/vehicles.json
Labels: JSON, Discussion Required

#5845 fix: folding vehicles fold up into proper item
  data/json/vehicles/carts.json
  src/vehicle_use.cpp
Labels: src, JSON

#5848 feat(balance): Allow for use of multiple sleep aids
  src/character_functions.cpp
  src/character_functions.h
Labels: src

#5850 fix: symbol orientation of the light industry roof and data center roof of the industrial center
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
Labels: JSON

#5854 fix: use regional terrain for `s_garage_2` and other changes
  data/json/mapgen/garage.json
Labels: JSON

#5852 fix(balance): make Repeating crossbow turret use `rifle` skill
  data/json/vehicleparts/turret.json
Labels: JSON

#5851 feat(content): add Lua bindings for spell types
  src/catalua_bindings.cpp
  src/catalua_bindings.h
  src/catalua_bindings_ids.cpp
  src/catalua_bindings_magic.cpp
  src/catalua_luna.h
  src/catalua_luna_doc.h
  src/magic.h
  src/string_id_null_ids.cpp
Labels: src

#5855 feat(port,UI): Allow Bionics to be hidden
  data/raw/keybindings/keybindings.json
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.cpp
Labels: src, JSON
