Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-04, with the labels that each got.

#4418 fix: pine tree lean-tos can also use harvested pine trees
  data/json/construction.json
Labels: data

#4419 feat: add different constructions for door frames
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-doors.json
Labels: data

#4224 feat(content): Innawoods
  data/mods/innawoods/modinfo.json
  data/mods/innawoods/overmap_connections.json
  data/mods/innawoods/regional_settings.json
  data/mods/innawoods/scenario_blacklist.json
  data/mods/innawoods/specials.json
Labels: data, mods

#4421 fix(balance): pine bough is not considered firewood automatically.
  data/json/items/generic.json
Labels: data

#4422 feat(balance): allow more ingredients in different meat based recipes, add of new meat groups
  data/json/items/comestibles/junkfood.json
  data/json/recipes/food/dry.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/other.json
  data/json/recipes/other/other.json
  data/json/requirements/cooking_components.json
  data/mods/DinoMod/recipes/food_egg.json
  data/mods/DinoMod/recipes/recipe_food.json
Labels: data, mods

#4424 feat(port,content): Speedway
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/mapgen/speedway.json
  data/json/mapgen_palettes/speedway.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_speedway.json
  data/json/vehicle_groups.json
Labels: data

#4426 fix: more fix for level 0 of the Necropolis 2
  data/json/mapgen/necropolis/necropolis.json
  data/json/mapgen_palettes/necropolis/necropolis_a.json
Labels: data

#4427 feat(balance): make pemmican out of a lot more ingredients
  data/json/recipes/food/meat.json
Labels: data

#4433 fix: enable vsync by default
  src/options.cpp
Labels: src

#4430 fix(balance): offal mix recipe and requirement group corrections
  data/json/items/comestibles/carnivore.json
  data/json/recipes/food/meat.json
  data/json/requirements/cooking_components.json
Labels: data

#4432 feat(balance): add dehydrated vegs to a lot of recipes.
  data/json/requirements/cooking_components.json
Labels: data

#4435 feat(balance): standartize sugar production and make sugar obtainable innawoods
  data/json/recipes/food/other.json
Labels: data

#4436 feat: make wild yeast with clay bowls
  data/json/items/tool/cooking.json
  data/json/recipes/food/other.json
Labels: data

#4437 feat: removal of lobster related fluff
  data/json/harvest.json
  data/json/itemgroups/Food/food.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/soup.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/recipes/food/meat.json
  data/json/requirements/cooking_components.json
Labels: data

#4439 feat(content): added recipe for freezer and fridge and their glass variants
  data/json/recipes/other/other.json
Labels: data

#4438 feat(balance): make cacao nib more useful, autolearn chocolate bar recipe, and tweaks
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/junkfood.json
  data/json/recipes/food/bread.json
  data/json/recipes/food/drinks.json
  data/json/recipes/food/other.json
  data/json/recipes/food/snack.json
  data/json/requirements/cooking_components.json
  tests/iteminfo_test.cpp
Labels: data, tests

#4441 feat: Add yeast clay bowl recipe
  data/json/items/tool/cooking.json
  data/json/recipes/food/other.json
Labels: data

#4440 feat(balance): tweaks for bird food
  data/json/items/comestibles/other.json
  data/json/recipes/food/other.json
Labels: data

#4445 feat(content): Adds Mechanical and Electrical engineering professions
  data/json/professions.json
Labels: data

#4449 feat(content): Discord invite from debug
  src/debug_menu.cpp
Labels: src

#4448 feat: install wind turbines to produce grid electricity
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: data

#4450 fix: misaligned ladder in pump station
  data/json/mapgen/pump_station.json
Labels: data

#4453 fix: fix `s_library_1` bathrooms
  data/json/mapgen/library.json
Labels: data

#4454 fix: concrete floor for the Necropolis pump station
  data/json/mapgen/necropolis/necropolis.json
  data/json/mapgen_palettes/necropolis/necropolis_a.json
Labels: data

#4451 feat(UI): allow setting default gender
  src/newcharacter.cpp
  src/options.cpp
Labels: src

#4456 feat(balance): Sandwich standardization and tweaks
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/sandwich.json
  data/json/npcs/items_generic.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/snack.json
Labels: data

#4455 fix: remove Aftershock fridge constructions
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/migration.json
  data/mods/Aftershock/recipes/construction.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
Labels: data, mods

#4452 feat(content): tool axe rebalance, tomahawks
  data/json/items/tool/woodworking.json
  data/json/recipes/weapon/cutting.json
Labels: data

#4457 feat: Adding alcohol-fueled soldering iron, and a lot of recipe optimations/changes
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/items/tool/cooking.json
  data/json/items/tool/workshop.json
  data/json/mapgen/ws_fire_lookout_tower.json
  data/json/recipes/ammo/other.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/explosive.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/toolsets.json
  tests/iteminfo_test.cpp
Labels: data, tests

#4459 feat: Update Wood soup recipe
  data/json/requirements/cooking_components.json
Labels: data

#4458 feat(balance): restrict eskrima haft strikes to more damaging bash weapons
  data/json/techniques.json
Labels: data

#4461 feat(balance): double stone pouch capacity.
  data/json/items/armor/bandolier.json
Labels: data

#4462 feat(balance): wind turbine also accepts car alternators
  data/json/recipes/electronic/parts.json
Labels: data

#4460 feat: add batteries and solar panels to LMOE shelter
  data/json/mapgen/lmoe.json
  data/json/mapgen_palettes/lmoe.json
Labels: data

#4464 feat(balance): magazine pouch audit
  data/json/items/armor/ammo_pouch.json
  data/json/recipes/armor/storage.json
Labels: data

#4463 feat: add construction of wind turbines on roofs
  data/json/construction.json
  data/json/flags.json
  data/json/furniture_and_terrain/terrain-roofs.json
Labels: data

#4466 feat(balance): Readjust tool requirements of acid water, make innawoods acid crafting possible
  data/json/recipes/chem/chemicals.json
Labels: data

#4465 feat(UI): show terrain flags
  src/construction.cpp
  src/descriptions.cpp
  src/map.cpp
Labels: src

#4473 fix: obsolete recipe corrections
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
Labels: data

#4471 fix: Fixing recipes with sewing quality, tweaking of recipes
  data/json/recipes/animals/medium_quadruped_armor.json
  data/json/recipes/animals/small_quadruped_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/medical.json
  data/json/recipes/other/other.json
  data/json/recipes/other/tools.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/ranged.json
Labels: data

#4447 feat(port,content): Wind-Turbine plus `t_ladder_up_down`
  data/json/deconstruction.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/mapgen/wind_turbine.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: data

#4477 fix(balance): add "COMPACT" to ammo satchel, fixing old errors of mine in encumbrance.
  data/json/items/armor/ammo_pouch.json
Labels: data

#4478 fix(balance): remove encumbrance for empty sling based weapon holders
  data/json/items/armor/sheath.json
Labels: data

#4481 feat(content, balance): Add American Flag Recipe, balance Pride Flag mod recipes
  data/json/recipes/armor/other.json
  data/mods/pride_flags/recipes.json
Labels: data, mods

#4474 feat(content,port): Add mutated forest creatures
  data/json/harvest.json
  data/json/monstergroups/mammal.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/mutant_animal.json
Labels: data

#4483 feat(balance): add trader_avoid and unsafe consume to wort and must
  data/json/items/comestibles/brewing.json
Labels: data

#4485 feat(balance): corrected back scabbard encumbrance
  data/json/items/armor/sheath.json
Labels: data

#4484 feat: revamp brewing.json file to use copy-from using abstract
  data/json/items/comestibles/brewing.json
Labels: data

#4475 feat(content,port): Add a couple more mutant cats and improve cats in general
  data/json/external_tileset/cats.json
  data/json/external_tileset/cats.png
  data/json/monstergroups/mammal.json
  data/json/monsters/mammal.json
  data/json/monsters/mutant_animal.json
Labels: data

#4494 feat(content,port): Implement `t_ladder_up_down`
  data/json/mapgen/bugs/wasp_tower.json
  data/json/mapgen/farm_2side.json
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/json/mapgen/radio_tower.json
  data/json/mapgen/ranch_camp.json
  data/json/mapgen/ws_fire_lookout_tower.json
  data/json/mapgen_palettes/farm_lots.json
  data/json/mapgen_palettes/underwater_structures_palette.json
  data/json/mapgen_palettes/wasp_palette.json
Labels: data

#4495 feat(balance): shorten trousers shortening recipe.
  data/json/recipes/armor/legs.json
Labels: data

#4496 feat(content): Stuffed animals, wool pillows & mattresses
  data/json/construction.json
  data/json/furniture_and_terrain/furniture-sleep.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/furniture.json
  data/json/items/generic.json
  data/json/items/resources/misc.json
  data/json/mapgen/mall/mall_ground.json
  data/json/recipes/other/other.json
  data/json/uncraft/generic.json
Labels: data

#4500 feat(content): thermoblade
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Weapons_Mods_Ammo/weapons_misc.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/tools.json
  data/json/items/melee/swords_and_blades.json
  data/json/mapgen/ws_survivor_camp.json
  data/json/recipes/weapon/piercing.json
  data/json/requirements/cooking_tools.json
  data/mods/Aftershock/recipes/requirements.json
Labels: data, mods

#4499 fix(mods/my_sweet_cataclysm): replace `My Sweet Cataclysm` electric boogaloo
  data/mods/My_Sweet_Cataclysm/creatures/baked.json
  data/mods/My_Sweet_Cataclysm/creatures/gum_spider.json
  data/mods/My_Sweet_Cataclysm/creatures/gummy.json
  data/mods/My_Sweet_Cataclysm/creatures/marshmallow.json
  data/mods/My_Sweet_Cataclysm/creatures/other.json
  data/mods/My_Sweet_Cataclysm/creatures/sweet_monster_factions.json
  data/mods/My_Sweet_Cataclysm/creatures/sweet_monster_groups.json
  data/mods/My_Sweet_Cataclysm/creatures/sweet_monsters.json
  data/mods/My_Sweet_Cataclysm/creatures/sweet_species.json
  data/mods/My_Sweet_Cataclysm/items/sweet_med.json
  data/mods/My_Sweet_Cataclysm/items/sweet_start_flyer.json
  data/mods/My_Sweet_Cataclysm/items/vanilla_extentions.json
  data/mods/My_Sweet_Cataclysm/modinfo.json
  data/mods/My_Sweet_Cataclysm/sweet_monsters.json
Labels: data, mods

#4510 feat(balance): whip rebalancing
  data/json/items/melee/misc.json
  data/json/recipes/weapon/ranged.json
Labels: data

#4508 docs: Add BIOPROOF to JSON Flags Documentation
  doc/src/content/docs/en/mod/json/reference/json_flags.md
Labels: docs

#4507 fix: Fix sauce sandwich containing dairy and meat
  data/json/items/comestibles/sandwich.json
Labels: data

#4509 feat(mods/pride_flags): autism pride flag
  data/mods/pride_flags/Pride.png
  data/mods/pride_flags/flags.json
  data/mods/pride_flags/item_groups.json
  data/mods/pride_flags/mod_tileset.json
  data/mods/pride_flags/recipes.json
Labels: data, mods

#4512 feat(balance): toolboxes are not mechanical
  data/json/recipes/other/tools.json
Labels: data

#4514 fix: Construction Recipe check for components same as tool fixed.
  src/requirements.cpp
Labels: src

#4517 feat(content): nuts in wood soup, pemmican and cookies, 2 new nut cooking requirements
  data/json/recipes/food/meat.json
  data/json/recipes/food/snack.json
  data/json/requirements/cooking_components.json
Labels: data

#4519 fix: sausage casing recipe to use clean water as well as normal dirty water.
  data/json/recipes/food/meat.json
Labels: data

#4516 feat(balance): Rapid strike rebalance
  data/json/techniques.json
Labels: data

#4524 feat(content): Half survivor mask
  data/json/items/tool_armor.json
  data/json/recipes/armor/head.json
Labels: data

#4522 fix: weapon, ammo and magazine storages don't need marksmanship or melee anymore
  data/json/recipes/armor/storage.json
Labels: data

#4525 feat(balance): primitive tool/weapon diassembly, pipe spear buff
  data/json/items/melee/spears_and_polearms.json
  data/json/recipes/other/tools.json
  data/json/recipes/weapon/bashing.json
Labels: data

#4520 feat: sausage casings can be made with plastic and spawngroups
  data/json/itemgroups/Food/food.json
  data/json/items/comestibles/offal_dishes.json
  data/json/recipes/food/meat.json
Labels: data

#4515 feat(balance): lower humidity threshold for drizzle, slight increase to base humidity
  data/json/regional_map_settings.json
  data/json/weather_type.json
  src/item.cpp
  src/weather.cpp
  src/weather_type.cpp
  src/weather_type.h
Labels: src, data

#4506 fix: harvest and size fixes for mutant insects
  data/json/harvest.json
  data/json/monsters/insect_spider.json
Labels: data

#4511 feat(content): add vehiclepart raincatcher
  data/json/traps.json
  data/json/vehicleparts/vehicle_parts.json
Labels: data

#4529 feat(content): clay fish traps
  data/json/itemgroups/art_antiques_crafts.json
  data/json/items/tool/fishing.json
  data/json/recipes/other/tools.json
Labels: data

#4530 feat(content): additional unarmed weapons
  data/json/itemgroups/art_antiques_crafts.json
  data/json/items/melee/unarmed_weapons.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/piercing.json
Labels: data

#4532 fix: fix wedding dress craft requirements
  data/json/recipes/armor/torso.json
Labels: data

#4535 feat(balance): Autodrive faster
  src/vehicle_autodrive.cpp
Labels: src

#4531 fix: auto-eat ignores zero-calorie items, anything with parasites
  src/activity_item_handling.cpp
Labels: src

#4542 feat(balance): Made camisole fancy
  data/json/items/armor/undergarment.json
Labels: data

#4537 feat(content): Added wooden flute
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/items/tool/musical_instruments.json
  data/json/recipes/other/tools.json
Labels: data

#4543 feat(balance): Unarmed weapon adjustments
  data/json/items/melee/unarmed_weapons.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
Labels: data

#4540 feat(content): grenade bandolier
  data/json/items/armor/bandolier.json
  data/json/recipes/armor/storage.json
Labels: data

#4545 feat(content): Pneumatic Fun Reintegration
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/main.json
  data/json/itemgroups/science_and_tech.json
  data/json/items/ammo/nail.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/book/fabrication.json
  data/json/items/gun/nail.json
  data/json/items/magazine/nail.json
  data/json/items/ranged/pneumatic.json
  data/json/obsoletion/items.json
  data/json/obsoletion/uncategorized.json
  data/json/recipes/ammo/other.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/ranged.json
  data/json/vehicleparts/turret.json
Labels: data

#4547 fix: edamame and soy nuts aren't nuts
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/veggy_dishes.json
Labels: data

#4549 feat(balance): Survivor helmet buff
  data/json/items/armor/helmets.json
  data/json/recipes/armor/head.json
Labels: data

#4557 feat(content): more clouds, changes to weather behavior
  data/json/weather_type.json
Labels: data

#4560 feat(content): Added in coilgun recipe
  data/json/recipes/weapon/ranged.json
Labels: data

#4564 fix: fixed description and tweaked values for new half mask
  data/json/items/tool_armor.json
Labels: data

#4561 feat(content): Shocking flag
  data/json/flags.json
  data/json/item_actions.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/piercing.json
  src/flag.cpp
  src/flag.h
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/melee.cpp
Labels: src, data
