Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-11, with the labels that each got.

#5638 feat(balance): stop requesting frames lost on deconstruct
  data/json/construction.json
Labels: JSON

#5641 fix: only display compatible magazines if they are not empty
  src/item.cpp
Labels: src

#5643 fix(i18n): ignore lua translation errors
  lang/extract_json_strings.py
  lang/update_pot.sh
Labels: translation

#5642 feat(content): thermal electric survival outfit
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/tool_armor.json
  data/json/recipes/armor/suit.json
Labels: JSON

#5640 feat: Add portal animation
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5644 feat(content): add a new post-apoc profession for starting with scaleskin/tooth gear
  data/json/professions.json
  data/json/scenarios.json
  data/mods/DinoMod/scenarios.json
Labels: JSON, mods

#5645 fix: specify emcumbrance for acidchitin, plated leather, etc armor directly instead of using broken inheritance
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/shields.json
  data/json/items/armor/suits_protection.json
Labels: JSON

#5646 feat(content): reimplement bone armor using heavy bones, additional post-apoc monster hunter profession, update chitin armor recipes for consistency
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/items/armor/arms_armor.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/torso_armor.json
  data/json/materials.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/professions.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/scenarios.json
  data/mods/DinoMod/scenarios.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON, mods

#5653 feat(content): Add bimbibap to the game
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/spice.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/other.json
Labels: JSON

#5649 feat(content): A heavier version of the shoddy laser, with autofire
  data/json/flags.json
  data/json/items/gun/ups.json
  data/json/recipes/weapon/ranged.json
  data/json/uncraft/weapon/ranged.json
  data/json/vehicleparts/turret.json
  src/flag.cpp
  src/flag.h
  src/ranged.cpp
Labels: src, JSON

#5650 fix: `magazine_integral` - The Final Fix???
  src/item.cpp
Labels: src

#5655 fix(mods/no_hope): Inject to `guns_pistol_common` instead of `drugdealer`
  data/mods/No_Hope/item_groups.json
Labels: JSON, mods

#5656 fix: add INDOORS flag to red, green and blue floors
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: JSON

#5657 feat: Extended sidewalk visuals
  data/json/external_tileset/External_Tileset_DP_terrain_normal.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.png
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5659 refactor: clean out map extra functions that've since been JSONized
  src/map_extras.cpp
Labels: src

#5662 docs: Add `base-devel` to the .md
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

#5660 fix: cap max duration of triffid pollen, string-ify time amounts for venom effects
  data/json/effects.json
Labels: JSON

#5664 feat: new Brick wall sprites
  data/json/external_tileset/External_Tileset_DP_terrain_normal.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.png
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5652 feat(balance): no monotony penalty for stimulants or depressants
  src/item_factory.cpp
Labels: src

#5666 feat(balance): Update Dodge modifier calculations, books train you more
  data/json/items/book/dodge.json
  src/character.cpp
  tests/melee_dodge_hit_test.cpp
Labels: src, JSON, tests

#5668 feat(balance): rare itemgroup has good items, only spawn it in armories
  data/json/itemgroups/main.json
  data/json/mapgen/cave.json
  data/json/mapgen/lab/lab_floorplans_1side.json
  data/json/mapgen/map_extras/corpses.json
  data/json/mapgen/military/mil_base/mil_base_z-1.json
Labels: JSON

#5647 refactor: Remove usage of hp_part from bandaging and disinfection
  src/activity_handlers.cpp
  src/bodypart.h
  src/character.cpp
  src/character.h
  src/explosion.cpp
  src/iexamine.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/npcmove.cpp
  src/player_activity.cpp
  src/player_activity.h
  src/savegame_json.cpp
Labels: src

#5669 feat(balance): More useful spawns in military itemgroup
  data/json/itemgroups/military.json
Labels: JSON

#5651 feat(balance): Buffed survivor armors, Plastic Armors
  data/json/items/armor/coats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Labels: JSON

#5665 feat(content): Add kimchi dishes to the game
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  data/json/items/tool/cooking.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/other.json
  data/json/recipes/food/pasta.json
  data/json/recipes/food/veggi.json
Labels: JSON

#5673 feat(content): Add simple bimbibap
  data/json/items/comestibles/meat_dishes.json
  data/json/recipes/food/meat.json
Labels: JSON

#5674 feat: New/Updated door sprites
  data/json/external_tileset/External_Tileset_DP_terrain_normal.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.png
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5677 fix: don't make plated leather boots and helm massively more thick than intended
  data/json/items/armor/boots.json
  data/json/items/armor/helmets.json
Labels: JSON

#5679 feat(balance): Mutant-friendly cooling outfit
  data/json/items/tool_armor.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
Labels: JSON

#5676 feat(balance): Railgun rebalance
  data/json/items/gun/metal_rail.json
  data/json/items/gunmod/barrel.json
  data/json/recipes/weapon/mods.json
Labels: JSON

#5682 fix: stop wander spawns from spawning inside doorways
  data/json/furniture_and_terrain/terrain-doors.json
Labels: JSON

#5683 feat: Large building new apartment start scenario
  data/json/scenarios.json
  data/json/start_locations.json
Labels: JSON

#5684 feat: Change mall loading area spawn in large building scenario
  data/json/scenarios.json
  data/json/start_locations.json
Labels: JSON

#5671 feat(content): Pockets, nomex padding
  data/json/clothing_mods.json
  data/json/flags.json
  data/json/items/tool/tailoring.json
  data/mods/Magiclysm/items/tools.json
Labels: JSON, mods

#5686 feat(balance): Remove precise strike from cudgel
  data/json/items/melee/bludgeons.json
Labels: JSON

#5687 feat(balance): add support for clothing mods being modified by item volume, convert pocket mod to use that instead of thickness
  data/json/clothing_mods.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/clothing_mod.cpp
  src/clothing_mod.h
Labels: docs, src, JSON

#5690 feat: Added new floor sprites
  data/json/external_tileset/External_Tileset_DP_terrain_normal.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.png
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5689 feat(UI): New cursor sprites
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5694 feat(balance): gain dodge experience at reduced rate on taking hits
  src/character.cpp
Labels: src

#5696 feat(balance): sanity-check EXP gain of several activities
  src/construction.cpp
  src/iexamine.cpp
  src/iuse_actor.cpp
  src/veh_utils.cpp
Labels: src

#5697 fix: styrofoam gives scraps and not chunks
  data/json/uncraft/generic.json
Labels: JSON

#5698 feat(UI): add a flag for displaying basic description of newspapers and similar items to illiterate characters in place of snippet contents
  data/json/flags.json
  data/json/items/armor/torso_clothes.json
  data/json/items/book/misc.json
  data/json/items/generic.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/newspaper.json
  src/flag.cpp
  src/flag.h
  src/item.cpp
Labels: src, JSON

#5699 fix: add wood material to bone club and cleaver
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
Labels: JSON

#5590 feat(balance): crafting energy weapons requires special components
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/electronics.json
  data/json/items/generic.json
  data/json/mapgen/aftershock/augmentation_clinic.json
  data/json/mapgen/city_blocks/urban_35_hospital.json
  data/json/mapgen/hospital.json
  data/json/mapgen/steel_mill/steel_mill_z1.json
  data/json/mapgen_palettes/acidia_commercial_palette.json
  data/json/mapgen_palettes/aftershock/augmentation_clinic.json
  data/json/mapgen_palettes/hospital.json
  data/json/mapgen_palettes/steel_mill_palette.json
  data/json/recipes/weapon/ranged.json
  data/json/traps.json
  data/json/uncraft/generic.json
Labels: JSON

#5702 feat: Add recent sprite changes as a mainline mod
  data/mods/UDP_Redux/modinfo.json
  data/mods/UDP_Redux/stuff.json
  data/mods/UDP_Redux/stuff.png
  data/mods/UDP_Redux/tall.json
  data/mods/UDP_Redux/tall.png
  data/mods/UDP_Redux/terrain.json
  data/mods/UDP_Redux/terrain.png
  data/mods/default.json
Labels: JSON, mods

#5703 feat(balance): allow scrapping a few more items, more ways to obtain rubber
  data/json/items/ammo.json
  data/json/items/armor/gloves.json
  data/json/items/armor/masks.json
  data/json/items/armor/misc.json
  data/json/items/containers.json
  data/json/recipes/armor/head.json
  data/json/recipes/other/materials.json
  data/json/uncraft/armor.json
  data/json/uncraft/generic.json
  data/json/uncraft/tools.json
Labels: JSON

#5706 fix: stinger dagger no longer uses nonexistent on-hit spell, other consistency fixes for monster weapons
  data/json/items/melee/swords_and_blades.json
  data/json/mutations/mutation_spells.json
  data/json/recipes/ammo/arrows.json
Labels: JSON

#5707 refactor: Remove recent sprite changes from external_tileset
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/external_tileset/External_Tileset_DP_terrain_normal.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.png
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5708 feat: Add a few common furniture sprites
  data/mods/UDP_Redux/furniture.json
  data/mods/UDP_Redux/furniture.png
Labels: JSON, mods

#5709 feat(balance): bring back support for effects modifying monster bash/cut/size, use modifiers in more effects, assorted effect immunity fixes
  data/json/effects.json
  data/mods/Aftershock/effects.json
  data/mods/Magiclysm/effects/effects.json
  doc/src/content/docs/en/mod/json/reference/creatures/effects_json.md
  src/creature.cpp
  src/creature.h
  src/mattack_actors.cpp
  src/monster.cpp
  src/savegame_json.cpp
Labels: docs, src, JSON, mods

#5710 feat(balance): Overhaul military drops
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/itemgroups/military.json
  data/json/monsterdrops/zombie_soldier.json
Labels: JSON

#5711 feat(balance): Gate map extra nether enemy spawns by time, campers get handguns
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/monstergroups/nether.json
Labels: JSON

#5704 feat(balance): add support for DoT poison ammo effect, rebalance poison effects and sources accordingly
  data/json/ammo_effects.json
  data/json/effects.json
  data/json/field_type.json
  data/json/items/comestibles/carnivore.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  src/consumption.cpp
  src/creature.cpp
  src/iuse.cpp
  src/map_field.cpp
Labels: src, JSON

#5626 feat(content): Add light switch
  data/json/construction.json
  data/json/construction_group.json
  data/json/external_tileset/light_switch.json
  data/json/external_tileset/light_switch.png
  data/json/furniture_and_terrain/furniture-appliances.json
  gfx/MSX++UnDeadPeopleEdition/normal_furniture.png
  src/iexamine.cpp
  src/iexamine.h
  src/map.cpp
  src/map.h
Labels: src, JSON

#5712 feat(content): more monster-material weapons
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  data/json/mutations/mutation_spells.json
  data/json/recipes/ammo/arrows.json
  data/json/recipes/weapon/piercing.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5716 fix: Change the id of the ceiling lamp when it has no power according to convention.
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: JSON

#5715 feat: Allow power armor weapon racks to sheath spears
  data/json/items/armor/power_armor.json
Labels: JSON

#5624 feat: JSONize hardcoded effects of Parkour Expert, implement and use `falling_damage_multiplier`
  data/json/mutations/mutations.json
  data/mods/Aftershock/mutations/mutations.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/character.cpp
  src/game.cpp
  src/iexamine.cpp
  src/mutation.h
  src/mutation_data.cpp
Labels: docs, src, JSON, mods

#5167 feat(content, port): port treetops and ability to climb trees from DDA
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-roofs.json
  src/activity_handlers.cpp
  src/map.cpp
  src/mapdata.h
Labels: src, JSON

#5719 feat: Boomer, Acidic zombie animations
  data/mods/UDP_Redux/monsters.json
  data/mods/UDP_Redux/monsters.png
Labels: JSON, mods

#5720 feat(port, content): Fix tile rotation
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/furniture_and_terrain/terrain-windows.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/map.cpp
  src/map.h
  src/mapdata.cpp
  src/mapdata.h
Labels: docs, src, JSON

#5722 feat(balance): Electrical terrain/furn requires varying skills and lots of tools, easier to train
  data/json/construction.json
  data/json/deconstruction.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/furniture_and_terrain/terrain-mechanisms.json
  data/json/items/armor/gloves.json
  data/json/requirements/toolsets.json
Labels: JSON

#5725 fix: bone club recipe requires wood for the haft
  data/json/recipes/weapon/bashing.json
Labels: JSON

#5726 feat: Bloated Zombie animaton
  data/mods/UDP_Redux/monsters.json
  data/mods/UDP_Redux/monsters.png
Labels: JSON, mods

#5727 feat(balance): add recipes for rubber gloves, boots, and hoses
  data/json/items/containers.json
  data/json/professions.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/tools.json
Labels: JSON

#5728 feat: add noise use action to clown noses
  data/json/items/armor/misc.json
Labels: JSON

#5730 feat: Downspout, stairs, wind turbine sprites
  data/mods/UDP_Redux/tall.json
  data/mods/UDP_Redux/tall.png
Labels: JSON, mods

#5685 refactor: Remove `hp_part` enum
  src/bodypart.cpp
  src/cata_variant.cpp
  src/cata_variant.h
  src/character.cpp
  src/character.h
  src/creature.h
  src/iexamine.cpp
  src/iuse_actor.h
  src/magic.cpp
  src/map_field.cpp
  src/npc.cpp
  src/panels.cpp
  src/pldata.h
  src/savegame_json.cpp
Labels: src

#5733 feat(mods/Monster_Girls): Add monstergirl dreams
  data/mods/Monster_Girls/dreams.json
Labels: JSON, mods

#5731 feat(content): Add domestic window variants on request for tilesets
  data/json/furniture_and_terrain/terrain-windows.json
Labels: JSON

#5734 fix: don't use ancient legacy `burst` property with gatling shotgun
  data/json/items/gun/shot.json
Labels: JSON

#5737 fix: set hydrogen to gas like other craftable gases
  data/json/items/ammo.json
Labels: JSON

#5738 fix: remove extra tool belt from survivor belt recipe, update description
  data/json/items/armor/belts.json
  data/json/recipes/armor/other.json
Labels: JSON

#5739 fix: Stop electric chainsaw lajatangs from reverting to gasoline
  data/json/items/melee/swords_and_blades.json
Labels: JSON

#5744 fix: electrosense CBM's voltmeter can be used in advanced deconstruction
  data/json/bionics.json
  data/json/items/fake.json
  src/bionics.cpp
  src/character.cpp
  src/crafting.cpp
  src/visitable.cpp
Labels: src, JSON

#5746 fix: change the scooter position in `res_backyard_scooter`
  data/json/mapgen/nested/residential_lawn_nested.json
Labels: JSON

#5747 feat(balance): allow mills to hold more food than smoking racks
  src/iexamine.cpp
Labels: src

#5748 feat(balance): allow making vegetable cooking oil from corn
  data/json/recipes/food/other.json
Labels: JSON

#5752 feat: Dandelion teas have vitamins
  data/json/items/comestibles/drink.json
  deno.lock
Labels: JSON

#5753 feat: add concrete wall, concrete floors
  data/mods/UDP_Redux/terrain.json
  data/mods/UDP_Redux/terrain.png
Labels: JSON, mods

#5754 feat(UI, port): Port hiding traits/mutations from DDA
  data/raw/keybindings/keybindings.json
  src/character.cpp
  src/character.h
  src/mutation_ui.cpp
  src/savegame_json.cpp
Labels: src, JSON

#5756 feat(balance): ethanol and denatured alcohol have higher energy density than methanol
  data/json/items/fuel.json
Labels: JSON

#5758 feat: add new solar panel sprites
  data/mods/UDP_Redux/vehicle.json
  data/mods/UDP_Redux/vehicle.png
Labels: JSON, mods

#5760 fix(mods/Monster_Girls): Invalidate non-monster girl mutations
  data/mods/Monster_Girls/vanilla_mutations.json
Labels: JSON, mods

#5763 feat(balance): set arm guard/greave items to use same layer as comparable torso armor items
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
Labels: JSON

#5764 feat(content): bionic lab-tech profession
  data/json/professions.json
  data/json/scenarios.json
Labels: JSON

#5762 feat: Add Lua bindings to toggle mutations on/off
  src/catalua_bindings_creature.cpp
  src/mutation.cpp
Labels: src

#5765 fix: Fix NPCs causing a crash when using a laser gun
  src/magic_spell_effect.cpp
  src/npcmove.cpp
Labels: src

#5768 feat(balance): make hydrogen gas volume more consistent with plasma cells, production less clunky
  data/json/bionics.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/shops_trades.json
  data/json/itemgroups/supplies.json
  data/json/items/ammo.json
  data/json/items/bionics.json
  data/json/recipes/chem/fuel.json
  data/json/requirements/materials.json
Labels: JSON

#5767 fix: replace full-body and balaclava cooling items with suit variant, clarify full-body effect in item description
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/tool_armor.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
Labels: JSON

#5769 fix: internal-mag guns that lack `RELOAD_ONE` no longer massively inflate reload cost
  data/json/items/classes/gun.json
  data/json/items/gun/misc.json
  data/json/items/gun/nail.json
  data/json/items/gun/ups.json
  data/json/items/magazine/chemical_spray.json
  data/json/items/magazine/liquid.json
  data/json/items/ranged/pneumatic.json
  data/json/items/ranged/spearguns.json
  src/character.cpp
Labels: src, JSON

#5759 feat: add generalized monster spawning on death
  data/json/monsters/nether.json
  doc/src/content/docs/en/mod/json/reference/creatures/monsters.md
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: docs, src, JSON

#5773 fix(balance): fix pistol accelerator needing more wire than rifle, make it coilgun addon
  data/json/items/gunmod/barrel.json
  data/json/recipes/weapon/mods.json
Labels: JSON
