Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-09, with the labels that each got.

#5293 feat(balance): Redesign zombie masters
  data/json/effects.json
  data/json/monsters/zed_misc.json
  src/monattack.cpp
  src/monattack.h
  src/mondefense.cpp
  src/mondefense.h
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.h
Labels: src, JSON

#5290 feat(content): makeshift railgun accelerator attachment
  data/json/items/gunmod/barrel.json
  data/json/recipes/weapon/mods.json
Labels: JSON

#5288 feat(content): electric powered air pump for pneumatic weapons
  data/json/items/gunmod/mechanism.json
  data/json/recipes/weapon/mods.json
Labels: JSON

#5299 feat(balance): audit zombie armor values to match appropriate armor items
  data/json/monsters/feral_humans.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_soldiers.json
  data/json/monsters/zed_survivor.json
  tests/effective_dps_test.cpp
  tests/iteminfo_test.cpp
Labels: JSON, tests

#5298 feat(balance): reduce `armor_multiplier` for larger and military-issue explosives
  data/json/ammo_effects.json
  data/json/items/resources/misc.json
  data/json/items/tool/explosives.json
Labels: JSON

#5303 fix: use regional terrain for `music_venue`
  data/json/mapgen/music_venue.json
Labels: JSON

#5304 fix: replace the gate in the corners of several mapgen in the FEMA camp into chain link fence
  data/json/mapgen/fema/FEMA_tlc_01.json
  data/json/mapgen/fema/FEMA_trc_01.json
  data/json/mapgen/fema/FEMA_trc_03.json
Labels: JSON

#5305 fix: convert powered earmuffs to use `copy-from` to fix missing battery info
  data/json/items/tool_armor.json
Labels: JSON

#5307 fix: shift power generation of wind turbine location to the rotor itself, add `ELECTRIC_GRID` flag
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/mapgen/wind_turbine.json
  data/json/obsoletion/uncategorized.json
  data/json/overmap/overmap_special/specials.json
Labels: JSON

#5309 fix: Print the sound guns make to the message log
  src/sounds.cpp
Labels: src

#5310 feat(balance): allow sheathing throwing knives and throwing axes, add a storage item for throwing knives
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/items/armor/bandolier.json
  data/json/items/ranged/throwing.json
  data/json/professions.json
  data/json/recipes/armor/storage.json
Labels: JSON

#5311 feat(balance): survivor armored exo-suit rebalance
  data/json/items/armor/power_armor.json
  data/json/recipes/armor/suit.json
Labels: JSON

#5316 feat(content): medical supply vending machines in shops and fuel stations
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/vending_machines.json
  data/json/mapgen/Pottery_Sewing_Shops.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/s_gas.json
  data/json/mapgen/s_grocery.json
  data/json/mapgen/s_gun.json
  data/json/mapgen_palettes/road.json
Labels: JSON

#5318 fix: use `roof_palette` for the mapgen `music_venue_roof`
  data/json/mapgen/music_venue.json
Labels: JSON

#5321 fix: use `roof_palette` for the mapgen `bar_roof_1`
  data/json/mapgen/bar.json
Labels: JSON

#5320 fix: assign loudness to rail crossbow
  data/json/items/gunmod/rail.json
Labels: JSON

#5319 fix: lower wind turbine overmap occurrence rate
  data/json/overmap/overmap_special/specials.json
Labels: JSON

#5315 feat(content): Added CheesyInnawoodFixes
  data/mods/CheesyInnaWoodsFixes/items/ammo_casing.json
  data/mods/CheesyInnaWoodsFixes/items/chems.json
  data/mods/CheesyInnaWoodsFixes/items/electronics_bn.json
  data/mods/CheesyInnaWoodsFixes/items/misc_bn.json
  data/mods/CheesyInnaWoodsFixes/items/ore_bn.json
  data/mods/CheesyInnaWoodsFixes/mining/furniture_and_terrain/terrain_walls_bn.json
  data/mods/CheesyInnaWoodsFixes/modinfo.json
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/alternativeCopperWire.json
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/biodiesel.json
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/guncrafting.json
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/parts_bn.json
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/powersupples.json
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/recipe_vehicle_bn.json
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/tool_recipe_bn.json
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/wheelcrafting.json
  data/mods/CheesyInnaWoodsFixes/recipes/new/ammo_casing_crafting.json
  data/mods/CheesyInnaWoodsFixes/recipes/new/chemcrafting.json
  data/mods/CheesyInnaWoodsFixes/recipes/new/lightbulb_bn.json
  data/mods/CheesyInnaWoodsFixes/recipes/new/materials_bn.json
  data/mods/CheesyInnaWoodsFixes/recipes/new/smelting_bn.json
Labels: JSON, mods

#5313 feat(balance): better ammo distribution in ammo vending machines
  data/json/itemgroups/vending_machines.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/s_gun.json
  data/json/mapgen/shooting_range.json
Labels: JSON

#5322 fix: wire conduits give sane copper wire quantities
  data/json/deconstruction.json
  data/json/furniture_and_terrain/furniture-industrial.json
Labels: JSON

#5323 fix: make `scent_modifier` affect your scent equilibrium.
  src/character_turn.cpp
Labels: src

#5326 fix: remove flaws `copy-from` that allowed deconstructing a single variant each of boarded-up and barred windows
  data/json/furniture_and_terrain/terrain-windows.json
Labels: JSON

#5327 feat(balance): allow oxytorching reinforced vending machines, lockpicking and prying display cases
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/furniture-tools.json
Labels: JSON

#5330 fix: fix large storage battery plural
  data/json/items/vehicle/battery.json
Labels: JSON

#5332 fix: create the mapgen `mil_base_3g2` and place it above `mil_base_3g1`
  data/json/mapgen/military/mil_base/mil_base_z2.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
Labels: JSON

#5331 perf: Update steady_consumer to longer intervals to avoid lag
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-industrial.json
  tests/electric_grid_test.cpp
Labels: JSON, tests

#5333 feat(balance,mods/innawoods): reduce wasp nest spawn weight
  data/mods/innawoods/regional_settings.json
Labels: JSON, mods

#5338 fix: ally-only spells no longer autotarget enemies, fix crash when casting `SWAP_POS` on a tile with no creature to swap with
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/magic_spell_effect.cpp
  src/ranged.cpp
Labels: docs, src

#5300 feat(balance): Buff zombie master "order" aggro range
  data/json/monsters/zed_misc.json
  src/monattack.cpp
  src/mondefense.cpp
Labels: src, JSON

#5340 fix: add missing seed recipes
  data/json/items/comestibles/seed.json
  data/json/recipes/food/seeds.json
Labels: JSON

#5341 fix: replace `t_concrete` by `t_thconc_floor` inside the house 2storymodern05
  data/json/mapgen/house/2storymodern05.json
Labels: JSON

#5343 feat(content): add seedpods for planting mycus fruit
  data/json/items/comestibles/seed.json
  data/json/recipes/food/seeds.json
  data/mods/No_Fungi/recipes.json
Labels: JSON, mods

#5328 feat(UI): Show attack statblocks for all attacks on an item
  src/character.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/melee.cpp
Labels: src

#5345 fix: use regional terrain for `s_electronics`
  data/json/mapgen/s_electronics.json
Labels: JSON

#5346 feat(content): port some pirate-themed clothing from DDA, add shurikens, two new professions
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/itemgroups/Weapons_Mods_Ammo/weapons_misc.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/armor/holster.json
  data/json/items/armor/masks.json
  data/json/items/ranged/throwing.json
  data/json/monsterdrops/zombie_prisoner.json
  data/json/npcs/NC_BANDIT.json
  data/json/npcs/NC_NINJA.json
  data/json/professions.json
  data/json/recipes/armor/storage.json
  data/json/recipes/weapon/ranged.json
  data/json/scenarios.json
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
Labels: JSON, mods

#5339 feat: Firing message overrides check weapon category
  data/json/items/fake.json
  data/json/items/gun/84x246mm.json
  data/json/items/gun/bio.json
  data/json/items/gun/mininuke_mod.json
  data/json/items/gun/monster_gun.json
  data/json/items/gun/nail.json
  data/json/items/gun/paintball.json
  data/json/items/gunmod/rail.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/ranged/spearguns.json
  data/json/weapon_categories.json
  data/mods/Aftershock/items/bioparts.json
  data/mods/Aftershock/items/gun/advanced.json
  data/mods/Aftershock/items/weapons.json
  data/mods/CRT_EXPANSION/items/crt_gun.json
  data/mods/DinoMod/items/laser_items.json
  data/mods/Magiclysm/items/archery.json
  data/mods/Magiclysm/items/weapons.json
  data/mods/No_Hope/Items/gunmods.json
  data/mods/No_Hope/Items/guns.json
  data/mods/No_Hope/Items/items_fake.json
  src/ranged.cpp
Labels: src, JSON, mods

#5347 fix: bandana description references ability to transform
  data/json/items/armor/masks.json
Labels: JSON

#5348 feat(balance): allow repairing but not reinforcing budget steel
  data/json/items/fake.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/workshop.json
  data/json/materials.json
Labels: JSON

#5344 feat: firing message instead of printing all player-made combat sounds, allow fragmentation explosions to create sounds
  data/json/ammo_effects.json
  data/json/items/ammo/84x246mm.json
  data/json/items/ammo/rpg.json
  src/explosion.cpp
  src/ranged.cpp
  src/sounds.cpp
Labels: src, JSON

#5349 fix: repairing budget steel doesn't ask for a `none`
  data/json/materials.json
Labels: JSON

#5350 feat(balance): standardize how replica and fake weapons are statted out, and uncrafts to fake weapons
  data/json/items/melee/axes.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/uncraft/weapon/melee.json
Labels: JSON

#5355 fix: use regional terrain for `bank` and `bank_1`
  data/json/mapgen/bank.json
Labels: JSON

#5352 feat(balance): sanity-check power curve of sails with angle, allow minimum power even when sailing into the wind
  src/vehicle.cpp
Labels: src

#5357 docs: Correct a comment for handle_gun_damage() to reflect actual code behaviour
  src/ranged.h
Labels: src

#5358 fix: change the `fill_ter` of the mapgen `microlab_generic_surface` and use the regional terrain
  data/json/mapgen/microlab/microlab_connector.json
Labels: JSON

#5360 feat(balance): fix opaque furniture absorbing bullets, add ranged bash info to a few more furniture entries
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-domestic_plants.json
  data/json/furniture_and_terrain/furniture-fungal.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/furniture-tools.json
Labels: JSON

#5361 feat(content): steel target gets knocked over instead of destroyed when shot down, allow constructing steel targets
  data/json/construction.json
  data/json/construction_group.json
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/furniture_and_terrain/furniture-recreation.json
Labels: JSON

#5362 docs: update external tileset documentation
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs

#5363 feat(content,mods/pride_flags): add flagpoles to decorate with flags, replace item-next-to-pillar spawns in locations with them
  data/json/construction.json
  data/json/construction_group.json
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  data/json/furniture_and_terrain/furniture-graves.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/mapgen/bank.json
  data/json/mapgen/cs_public_space.json
  data/json/mapgen/fema/FEMA.json
  data/json/mapgen/fema/FEMA_entrance_01.json
  data/json/mapgen/fema/FEMA_entrance_02.json
  data/json/mapgen/fema/FEMA_entrance_03.json
  data/json/mapgen/fire_station.json
  data/json/mapgen/house/house_garage3.json
  data/json/mapgen/house/house_quiverfull.json
  data/json/mapgen/industrial_center.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/park_state.json
  data/json/mapgen/police_station.json
  data/json/mapgen/post_office.json
  data/json/mapgen/public_works.json
  data/json/mapgen/school_1.json
  data/json/mapgen/vfw.json
  data/json/mapgen_palettes/fema.json
  data/json/mapgen_palettes/fire_station_palette.json
  data/json/mapgen_palettes/helipad.json
  data/json/mapgen_palettes/industrial_center_palette.json
  data/json/mapgen_palettes/military/mil_base_palette.json
  data/mods/No_Hope/Mapgen/house_quiverfull.json
  data/mods/No_Hope/Mapgen/office_doctor.json
  data/mods/No_Hope/Mapgen/school_1.json
  data/mods/pride_flags/Pride_tall.png
  data/mods/pride_flags/construction.json
  data/mods/pride_flags/construction_group.json
  data/mods/pride_flags/furniture.json
  data/mods/pride_flags/mod_tileset.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON, mods

#5364 feat(balance): allow making weak mixed alcohol by watering down strong mixed alcohol
  data/json/recipes/food/drinks.json
Labels: JSON

#5366 chore(mods/pride_flags): Consistency between furniture and item pride flags
  data/mods/pride_flags/flags.json
  data/mods/pride_flags/furniture.json
Labels: JSON, mods

#5369 fix: prevent sewer from passing under `4x4_microlab_surface` entrance
  data/json/mapgen/microlab/microlab_connector.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_microlab.json
Labels: JSON

#5370 fix: use regional terrain for `lancenter_1`
  data/json/mapgen/lan_center.json
Labels: JSON

#5371 feat(balance): cave entrances can spawn niter and other minerals, sanity-check gunpowder recipe
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/mapgen/cave.json
  data/json/recipes/ammo/components.json
Labels: JSON

#5372 feat(content): allow mounting flags on vehicles too
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  data/json/vehicleparts/vehicle_parts.json
  data/mods/pride_flags/Pride_tall.png
  data/mods/pride_flags/mod_tileset.json
  data/mods/pride_flags/vehicleparts.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON, mods

#5374 feat(balance): allow crafting riot shields, alternative component for welded shield, add `repairs_like` to ballistic shield
  data/json/items/armor/shields.json
  data/json/recipes/armor/other.json
Labels: JSON

#5375 feat(content): th' ol' Jolly Roger
  data/json/construction.json
  data/json/construction_group.json
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/armor/cloaks.json
  data/json/mapgen/bandit_cabin.json
  data/json/mapgen/bandit_camp.json
  data/json/mapgen/bandit_garage.json
  data/json/mapgen/radio_tower.json
  data/json/mapgen_palettes/bandit_camp.json
  data/json/vehicleparts/vehicle_parts.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5376 feat(UI): add external tileset sprites for sails, adjust mounted flag background tiles
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  data/mods/pride_flags/Pride_tall.png
Labels: JSON, mods

#5377 feat(balance): make `vehicle_nail_install` more granular and allow glue, sanity-check makeshift vehicle plating recipes, use plating for wooden aisles and roofs instead of whole frames
  data/json/recipes/other/vehicles.json
  data/json/requirements/vehicle.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/vehicle_parts.json
Labels: JSON

#5379 fix: don't use sealed jars for chemistry set recipe override
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/tool_recipe_bn.json
Labels: JSON, mods

#5381 feat(balance): use mattresses for vehicle beds and clocks for vehicle clocks, balance updates to associated items and recipes
  data/json/items/generic.json
  data/json/recipes/other/other.json
  data/json/uncraft/generic.json
  data/json/vehicleparts/vehicle_parts.json
  tests/vehicle_drag_test.cpp
  tests/vehicle_efficiency_test.cpp
Labels: JSON, tests

#5383 feat(balance): wooden tables, wheel mounts, and wheels easier to install than metal counterparts
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/wheel.json
Labels: JSON

#5385 fix: add pirate flag recipe I forgot to add to the Jolly Roger PR
  data/json/recipes/armor/other.json
Labels: JSON

#5390 fix: use regional terrain for `dollarstore_1`
  data/json/mapgen/dollar_store.json
Labels: JSON

#5386 fix: assign `repairs_like` to head bandana
  data/json/items/armor/masks.json
Labels: JSON

#5395 feat(balance): adjustments to weapon and martial art categories
  data/json/items/melee/swords_and_blades.json
  data/json/martialarts.json
Labels: JSON

#5397 feat: `ACIDBLOOD` monsters yield acid when harvesting blood, related fixes
  data/json/harvest.json
  data/json/items/chemicals_and_resources.json
  data/json/monsters/nether.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_soldiers.json
  data/mods/Aftershock/mobs/harvest.json
  data/mods/CRT_EXPANSION/monsters/crt_monster.json
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/harvest.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/Magiclysm/harvest.json
  data/mods/Magiclysm/monsters/demon_spider.json
  src/activity_handlers.cpp
Labels: src, JSON, mods

#5398 feat(content): add a makeshift blackpowder cannon, shot ammo for cannon ammotype
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/items/ammo/cannon.json
  data/json/items/gun/cannon.json
  data/json/recipes/ammo/launcher.json
  data/json/recipes/weapon/ranged.json
  data/json/vehicleparts/turret.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5388 refactor: Remove `Creature::add_effect` that uses the enum `body_part`
  data/json/item_actions.json
  data/mods/TEST_DATA/items.json
  src/activity_handlers.cpp
  src/bionics.cpp
  src/bodypart.cpp
  src/bodypart.h
  src/catalua_bindings_creature.cpp
  src/character.cpp
  src/character_turn.cpp
  src/consumption.cpp
  src/creature.cpp
  src/creature.h
  src/game.cpp
  src/iexamine.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/magic_enchantment.cpp
  src/magic_spell_effect.cpp
  src/magic_teleporter_list.cpp
  src/map.cpp
  src/map_field.cpp
  src/mattack_actors.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monster.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/npctalk_funcs.cpp
  src/player_hardcoded_effects.cpp
  src/start_location.cpp
  src/suffer.cpp
  src/trapfunc.cpp
  src/vehicle_use.cpp
  tests/char_healing_test.cpp
  tests/effects_test.cpp
  tests/mutation_test.cpp
  tests/vehicle_drag_test.cpp
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_rails_test.cpp
Labels: src, JSON, tests, mods

#5403 feat(balance): glass items only shatter if made solely of glass
  data/json/items/containers.json
  data/json/items/tool/cooking.json
  data/json/items/tool/science.json
  data/json/items/tool_armor.json
  src/item.cpp
Labels: src, JSON

#5404 feat(balance): adjust `min_volume` of axe holster, allow stashing pointy sticks in javelin bag
  data/json/items/armor/sheath.json
  data/json/items/melee/spears_and_polearms.json
Labels: JSON

#5405 feat(balance): add `thrown_damage` to tomahawks and pointy sticks
  data/json/items/melee/spears_and_polearms.json
  data/json/items/tool/woodworking.json
Labels: JSON

#5406 feat(content): allow placing minifridges as grid furniture
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: JSON

#5387 fix: AoE ammo hits NPCs once instead of spreading damage across all bodyparts
  src/creature.cpp
  src/ranged.h
  src/ranged_aoe.cpp
Labels: src

#5408 docs: troubleshoot guide for distrobox exports
  doc/src/content/docs/en/dev/guides/building/atomic_cmake.md
Labels: docs

#5409 feat: alluvial deposits along rivers, rework extracting clay/sand/iron to balance around `digging_result`
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/itemgroups/misc.json
  data/json/regional_map_settings.json
  src/iuse.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen_functions.cpp
Labels: src, JSON

#5410 fix: also remove bad sprites from seasonal variations
  src/cata_tiles.cpp
Labels: src

#5411 docs: add newlines to cmake command
  doc/src/content/docs/en/dev/guides/building/atomic_cmake.md
Labels: docs

#5416 fix: fix reload time of cannons being 10x higher than intended, fixed scrap shot also demanding lead
  data/json/items/gun/cannon.json
  data/json/recipes/ammo/launcher.json
Labels: JSON

#5417 fix: use correct itemgroup ID for default `digging result` of soil
  src/mapdata.h
Labels: src

#5418 fix: makeshift cannon external UDP sprite now rotates
  data/json/external_tileset/External_Tileset_DP_Normal.json
Labels: JSON

#5407 feat: add support for easier-to-install, manual-only turret mounts
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/vp_flags.json
  data/json/vehicles/custom_vehicles.json
  data/json/vehicles/military.json
  data/mods/No_Hope/vehicle_parts.json
  src/turret.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
Labels: src, JSON, mods

#5421 refactor: Remove `Creature::add_env_effect` using bp enum
  src/creature.cpp
  src/creature.h
  src/explosion.cpp
  src/fungal_effects.cpp
  src/map_field.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/trapfunc.cpp
  src/weather.cpp
  tests/reading_test.cpp
Labels: src, tests

#5426 feat(balance): remove `RAW` flag from more edible fruits
  data/json/items/comestibles/raw_fruit.json
Labels: JSON

#5427 fix: use regional terrain for `s_petstore_2`
  data/json/mapgen/petstore.json
Labels: JSON

#5428 fix: use regional terrain for `gym_fitness`
  data/json/mapgen/gym.json
Labels: JSON

#5429 feat(balance): allow folding some turrets
  data/json/vehicleparts/turret.json
  data/json/vehicleparts/vehicle_parts.json
Labels: JSON

#5430 fix: use regional terrain for `s_butcher_1`
  data/json/mapgen/butcher.json
Labels: JSON

#5431 fix: use regional terrain for `s_butcher_2`
  data/json/mapgen/butcher.json
Labels: JSON

#5433 feat(balance): allow some forage results in winter, junipers and rose hips harvestable in winter
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/itemgroups/Agriculture_Forage_Excavation/forage.json
  data/json/items/comestibles/nuts.json
Labels: JSON

#5434 fix: re-allow players to smash windows with metal bars
  data/json/furniture_and_terrain/terrain-windows.json
Labels: JSON

#5297 fix: Grenade rework
  src/active_item_cache.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
Labels: src

#5436 refactor: Remove unused flag `IRREPLACEABLE_CONSUMABLE`
  data/json/flags.json
  data/json/items/ammo/12mm.json
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/22.json
  data/json/items/ammo/300blk.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/50.json
  data/json/items/ammo/66mm.json
  data/json/items/ammo/84x246mm.json
  data/json/items/ammo/8x40mm.json
  data/json/items/ammo/atgm.json
  data/json/items/ammo/rpg.json
  data/json/items/ammo/shot.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_fruit.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/generic/spares.json
  data/json/items/tool/med.json
  data/json/obsoletion/items.json
  data/mods/Aftershock/items/comestibles/comestibles.json
  data/mods/Generic_Guns/ammo/pistol.json
  data/mods/Generic_Guns/ammo/pistol_magnum.json
  data/mods/Generic_Guns/ammo/pistol_tiny.json
  data/mods/Generic_Guns/ammo/rifle.json
  data/mods/Generic_Guns/ammo/rifle_huge.json
  data/mods/Generic_Guns/ammo/sniper.json
  doc/src/content/docs/en/mod/json/guides/postapoc_price_guide.md
Labels: docs, JSON, mods

#5435 feat(balance): Railguns rework
  data/json/itemgroups/main.json
  data/json/items/ammo/metal_rail.json
  data/json/items/gun/metal_rail.json
  data/json/items/gun/nail.json
  data/json/recipes/ammo/other.json
  data/json/recipes/weapon/ranged.json
Labels: JSON

#5437 fix: makeshift gas canisters have correct max charges
  data/json/items/tool/explosives.json
Labels: JSON

#5440 fix: use regional terrain for `s_butcher`
  data/json/mapgen/butcher.json
Labels: JSON

#5441 build: fix build failure in clang 18
  src/sol/sol.hpp
Labels: src

#5444 docs: Replace `clang-17` with just `clang` in the docs
  doc/src/content/docs/en/dev/guides/building/atomic_cmake.md
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

#5446 feat(content): add constructing niter beds to obtain saltpeter
  data/json/construction.json
  data/json/construction_group.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.png
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/itemgroups/misc.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#5445 feat: add support for transforming and regrowing harvestable furniture, harvested state for cattails
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/npcs/missiondef.json
  data/json/regional_map_settings.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
  src/iexamine.cpp
  src/map.cpp
Labels: docs, src, JSON

#5448 fix: use roof_palette for the mapgen `s_butcher_roof_1`
  data/json/mapgen/butcher.json
Labels: JSON

#5449 fix: use regional terrain for `s_restaurant_coffee` and `s_restaurant_coffee_1`
  data/json/mapgen/s_coffee.json
Labels: JSON

#5451 feat(mods/Monster_Girls): Add elves to Monster Girl Mutations
  data/mods/Monster_Girls/categories.json
  data/mods/Monster_Girls/migration.json
  data/mods/Monster_Girls/mutagens.json
  data/mods/Monster_Girls/recipes.json
  data/mods/Monster_Girls/thresh_mutation.json
  data/mods/Monster_Girls/vanilla_mutations.json
Labels: JSON, mods

#5452 chore(mods/Monster_Girls): Use 'nock' instead of 'knock' for archery
  data/mods/Monster_Girls/thresh_mutation.json
Labels: JSON, mods

#5088 feat(balance): revamp throwing damage
  data/json/bionics.json
  data/json/items/ammo.json
  data/json/items/melee/spears_and_polearms.json
  src/character.cpp
  src/ranged.cpp
  tests/throwing_test.cpp
Labels: src, JSON, tests

#5394 feat: Weapons track what is killed with them
  data/raw/keybindings/keybindings.json
  src/ballistics.cpp
  src/ballistics.h
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/examine_item_menu.cpp
  src/item.cpp
  src/item.h
  src/kill_tracker.cpp
  src/kill_tracker.h
  src/melee.cpp
  src/monster.cpp
  src/monster.h
  src/ranged.cpp
  src/ranged.h
  src/ranged_aoe.cpp
  src/savegame_json.cpp
  src/scores_ui.cpp
  src/scores_ui.h
Labels: src, JSON

#5456 fix: Butchery yield needs to be capped
  src/activity_handlers.cpp
Labels: src

#5457 feat(balance): Make chickens fatter
  data/json/monsters/bird.json
Labels: JSON

#5459 refactor: Remove remaining uses of body_part enum from creature.h
  src/bionics.cpp
  src/catalua_bindings_creature.cpp
  src/character.cpp
  src/character_turn.cpp
  src/creature.cpp
  src/creature.h
  src/iexamine.cpp
  src/iuse_actor.cpp
  src/mattack_actors.cpp
  src/monattack.cpp
  src/monster.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/player_hardcoded_effects.cpp
  src/wisheffect.cpp
  tests/creature_test.cpp
Labels: src, tests

#5458 feat(balance): Split rail fences set to logs
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: JSON

#5460 feat: allow storing the RX12 jet injector in a pistol holster
  data/json/flags.json
  data/json/items/armor/holster.json
  data/json/items/tool/med.json
Labels: JSON

#5461 fix: Corrects charges draining from forges
  src/map.cpp
Labels: src

#5463 fix(i18n): convert remaining `Experimental` to `Nightly`
  .github/workflows/push-translation-template.yml
  README.md
  data/motd/en.motd
  data/motd/ko.motd
  deno.jsonc
  doc/src/content/docs/en/contribute/issues.md
  doc/src/content/docs/en/dev/guides/building/makefile.md
  doc/src/styles/capitalize.css
  doc/src/styles/theme.css
Labels: docs, JSON

#5467 style: Less hyperbolic MOTD regarding nightly builds
  data/motd/en.motd
Labels: JSON

#5465 refactor: Remove body_part enum from character.h
  src/activity_handlers.cpp
  src/catalua_bindings_creature.cpp
  src/character.cpp
  src/character.h
  src/character_display.cpp
  src/character_turn.cpp
  src/explosion.cpp
  src/iexamine.cpp
  src/item.cpp
  src/iuse_actor.cpp
  src/magic.cpp
  src/map_field.cpp
  src/melee.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/panels.cpp
  src/ranged.cpp
  src/suffer.cpp
  src/trap.cpp
  tests/char_stamina_test.cpp
  tests/ranged_balance_test.cpp
Labels: src, tests

#5471 feat(balance): make LED tattoo bionic less bright
  src/character.cpp
Labels: src

#5468 feat(content): mainline some assorted content from MST Extra
  data/json/construction.json
  data/json/construction_group.json
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/external_tileset/External_Tileset_DP_terrain_normal.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.png
  data/json/furniture_and_terrain/furniture-rural.json
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/items/ammo.json
  data/json/items/ammo_types.json
  data/json/items/chemicals_and_resources.json
  data/json/items/generic.json
  data/json/items/generic/string.json
  data/json/items/tool/workshop.json
  data/json/items/vehicle/wheel.json
  data/json/monstergroups/wilderness.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/recipes/chem/other.json
  data/json/recipes/electronic/parts.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/tools.json
  data/json/recipes/weapon/piercing.json
  data/json/requirements/materials.json
  data/json/vehicleparts/wheel.json
Labels: JSON

#5475 fix: use roof_palette for the mapgen `s_butcher_roof`, `s_butcher_upper_roof` and `s_butcher_roof_2`
  data/json/mapgen/butcher.json
Labels: JSON

#5477 chore: reddit changelog template generator
  .gitignore
  deno.jsonc
  deno.lock
  scripts/changelog/changelog_reddit.ts
  scripts/changelog/fmt_commit.ts
  scripts/changelog/paragraph.ts
  scripts/changelog/parse_commit.ts
  scripts/changelog/read_commits.ts
Labels: scripts

#5478 fix: cattails are correctly named
  data/json/furniture_and_terrain/furniture-flora.json
Labels: JSON

#5479 fix: don't modify character while drawing character preview
  src/character_preview.cpp
Labels: src
