Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-05, with the labels that each got.

#4565 fix(content): Nailrifle mag fix, flechette crafting time balance
  data/json/items/magazine/nail.json
  data/json/recipes/ammo/other.json
Labels: data

#4566 fix(content): Coilgun fixes
  data/json/items/classes/gun.json
  data/json/items/gun/nail.json
  gfx/MSX++UnDeadPeopleEdition/tile_config.json
Labels: data

#4552 feat(balance): lower blanket volume to match other items.
  data/json/items/armor/bedding.json
Labels: data

#4569 docs: replace "dda" reference with "cataclysm"
  doc/src/content/docs/en/mod/json/reference/graphics/color.md
Labels: docs

#4570 fix: Thermoblade can boil water
  data/json/requirements/cooking_tools.json
  data/mods/Aftershock/recipes/requirements.json
Labels: data, mods

#4573 fix: misaligned ladder, use `roof_palette` on `bank_roof`
  data/json/mapgen/bank.json
Labels: data

#4574 feat(balance): Lowered sun intensity for is_in_sunlight
  src/weather.cpp
Labels: src

#4575 fix(balance): make it a bit less cloudy
  data/json/weather_type.json
Labels: data

#4576 fix: homemade gyrocopter recipe correction
  data/json/recipes/other/vehicles.json
Labels: data

#4577 fix(balance): Fix Plated Leather Skirt's Weight Value
  data/json/items/armor/legs_armor.json
Labels: data

#4585 feat(balance): Smart watch now gives 2 ultra-light batteries on uncraft
  data/json/uncraft/generic.json
Labels: data

#4586 feat(balance): Reduced army encumbrance
  data/json/items/armor/coats.json
  data/json/items/armor/legs_clothes.json
Labels: data

#4584 feat(balance): Thermal gear crafting time buff
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
Labels: data

#4591 fix(content): less light drizzle, more regular rain, added heavy rain
  data/json/weather_type.json
Labels: data

#4596 feat(content): heavy rain fix and light snowfall addition
  data/json/regional_map_settings.json
  data/json/weather_type.json
Labels: data

#4597 feat(balance): mayonnaise, ketchup and mustard are less fun to drink
  data/json/items/comestibles/drink_other.json
Labels: data

#4599 feat(content): add 2 recipes using condiments and tweaks
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/meat_dishes.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/other.json
  data/json/requirements/cooking_components.json
Labels: data

#4600 feat(balance): more weather tweaks
  data/json/weather_type.json
Labels: data

#4602 fix: replace radio tower stairs with ladders
  data/json/mapgen/bugs/wasp_tower.json
  data/json/mapgen/radio_tower.json
  data/json/mapgen_palettes/wasp_palette.json
Labels: data

#4505 feat(content, mods/aftershock): Return vehicle freezers/fridges to aftershock
  data/mods/Aftershock/construction_group.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
Labels: data, mods

#4604 fix: Specific guns now have correct `copy-from` to fix their weapon categories.
  data/json/items/gun/22.json
  data/json/items/gun/762.json
  data/json/items/gun/shot.json
Labels: data

#4613 fix: public art piece
  data/json/mapgen/cs_public_art_piece.json
  data/json/obsoletion/itemgroups.json
Labels: data

#4611 fix(content): look_like for retrodays part1
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-sleep.json
Labels: data

#4572 fix: patchwork skin correctly develops from fur or scales
  data/json/mutations/mutations.json
Labels: data

#4590 feat(UI): ranged bash message prints for all intercepts
  src/map.cpp
Labels: src

#4615 feat(content): books base off base book
  data/json/items/book/archery.json
  data/json/items/book/barter.json
  data/json/items/book/base.json
  data/json/items/book/bashing.json
  data/json/items/book/computer.json
  data/json/items/book/cooking.json
  data/json/items/book/cutting.json
  data/json/items/book/dodge.json
  data/json/items/book/driving.json
  data/json/items/book/electronics.json
  data/json/items/book/fabrication.json
  data/json/items/book/firstaid.json
  data/json/items/book/gun.json
  data/json/items/book/launcher.json
  data/json/items/book/lockpick.json
  data/json/items/book/maps.json
  data/json/items/book/martial.json
  data/json/items/book/mechanics.json
  data/json/items/book/melee.json
  data/json/items/book/misc.json
  data/json/items/book/pistol.json
  data/json/items/book/rifle.json
  data/json/items/book/shotgun.json
  data/json/items/book/smg.json
  data/json/items/book/speech.json
  data/json/items/book/stabbing.json
  data/json/items/book/survival.json
  data/json/items/book/swimming.json
  data/json/items/book/tailor.json
  data/json/items/book/throw.json
  data/json/items/book/traps.json
  data/json/items/book/unarmed.json
Labels: data

#4608 feat(content): more pleasing looking weather map for non tile maps
  data/json/weather_type.json
Labels: data

#4618 fix: `ACIDPROOF` monsters are now correctly immune to corrosion
  src/monster.cpp
Labels: src

#4619 feat(content): look like for retrodays part2, 40mm ammo
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/shotpaper.json
Labels: data

#4593 feat(balance): make dog whistle easier to craft
  data/json/recipes/other/tools.json
Labels: data

#4553 feat(content): lightweight superalloy survivor suit
  data/json/items/armor/suits_protection.json
  data/json/recipes/armor/suit.json
Labels: data

#4605 feat(content): new ineffective recipe to make chunks of steel using a hammer
  data/json/recipes/other/materials.json
Labels: data

#4536 feat(balance): tailoring standardization and sanity checks.
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Labels: data

#4587 fix: don't give holdout npc missions to starter npcs
  data/json/npcs/cabin_chemist/chemist_missions.json
  data/json/npcs/homeless/group_camp_missions.json
  data/json/npcs/scrap_trader/scrap_trader_missions.json
Labels: data

#4614 fix: remove redundant copy of `mammal_fur`
  data/json/harvest.json
Labels: data

#4609 fix: don't spam incorrect messages about eating out of half-empty containers
  src/avatar_action.cpp
Labels: src

#4621 feat(balance): Thyme, Wild Herbs, Wax Now -15 Fun
  data/json/items/comestibles/other.json
  data/json/items/comestibles/spice.json
Labels: data

#4629 fix: add a dot at the end of Multiple pools and Freeform sentences
  src/newcharacter.cpp
Labels: src

#4630 feat(content): wind turbine rotate in undead tileset now
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: data

#4631 feat: Condense casing spawns at shooting ranges
  data/json/mapgen/shooting_range.json
Labels: data

#4617 feat(balance): updates to firestarting tools
  data/json/items/ammo.json
  data/json/items/comestibles/med.json
  data/json/items/generic.json
  data/json/items/resources/wood.json
  data/json/items/tool/fire.json
Labels: data

#4624 fix: correct descriptions for cooked scraps of meat
  data/json/items/comestibles/carnivore.json
Labels: data

#4633 feat(balance): Survivor Suits Rebalance Mk2
  data/json/items/armor/suits_protection.json
Labels: data

#4638 fix: remove lumbermill sidewalk
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
Labels: data

#4639 feat(content): more wind and wind variation, less clouds and humidity
  data/json/regional_map_settings.json
Labels: data

#4640 feat(content): sunnier summer, cloudier winter
  data/json/regional_map_settings.json
  data/json/weather_type.json
Labels: data

#4642 fix(content): obsolete already obsoleted things
  data/json/items/resources/fasteners.json
  data/json/items/resources/tailoring.json
  data/json/obsoletion/items.json
Labels: data

#4641 feat: Remove lead from birdshot
  data/json/recipes/ammo/shot.json
  data/json/requirements/materials.json
  data/json/uncraft/ammo/shot.json
Labels: data

#4548 feat(content): Set `3D field of vision` to True by default
  src/options.cpp
Labels: src

#4643 feat(balance): added tool quality to shaving razors, improve recipe for razor, allow uncrafting shaving kits
  data/json/items/generic/bathroom_house.json
  data/json/recipes/other/tools.json
  data/json/uncraft/tools.json
Labels: data

#4632 feat(balance): updates to cleaning supply and bathroom itemgroups
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/SUS/office.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/mapgen_palettes/basement.json
  data/json/mapgen_palettes/house_general_palette.json
Labels: data

#4628 feat(balance): wood saw cuts trees better than a stone axe
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
Labels: data

#4623 feat(balance): buff fingertip razor bionic, take 2
  data/json/bionics.json
  data/json/items/bionics.json
  data/json/items/fake.json
  src/character_display.cpp
  src/melee.cpp
Labels: src, data

#4550 feat(UI): trim some more iteminfo when not required, show range mod for gunmods
  src/item.cpp
  src/iteminfo_query.h
  tests/iteminfo_test.cpp
Labels: src, tests

#4627 feat(balance): mech speed updates, exempt mechs from monster speed/resilience settings
  data/json/monsters/mechsuits.json
  src/monstergenerator.cpp
Labels: src, data

#4647 fix(content): give wasp radio towers unique name and symbol on maps
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: data

#4649 fix: lumbermill, yard roofs
  data/json/mapgen/lumbermill.json
  data/json/mapgen/lumberyard.json
  data/json/mapgen/occupied_lumber_mill.json
  data/json/mapgen_palettes/lumberyard.json
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
Labels: data

#4646 feat(content): dog and cat food can be made out of a lot more ingredients
  data/json/items/comestibles/other.json
  data/json/recipes/food/other.json
Labels: data

#4645 feat(content): Smart watches can sense wind, addition of "WINDMETER" flag.
  data/json/flags.json
  data/json/items/tool/science.json
  data/json/items/tool_armor.json
  src/flag.cpp
  src/flag.h
  src/iuse.cpp
Labels: src, data

#4650 feat(content): weather reports from radio, new flag WEATHER_FORECAST
  data/json/flags.json
  data/json/items/tool/radio_tools.json
  src/flag.cpp
  src/flag.h
  src/iuse.cpp
  src/weather.cpp
Labels: src, data

#4652 feat(content): km/h for Windmeter (metric) and more compact text.
  src/iuse.cpp
Labels: src

#4653 fix(content): less rain and clouds in spring and autumn
  data/json/regional_map_settings.json
Labels: data

#4644 feat(balance): Alter "Clear Back Bay" mission so zombies don't spawn until mission is given
  data/json/mapgen/refugee_center/refugee_center.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
Labels: data

#4594 fix(mods/my_sweet_cataclysm): gum webs now apply effect correctly
  data/mods/My_Sweet_Cataclysm/sweet_field_type.json
Labels: data, mods

#4637 fix: shopkeepers properly generate `shopkeeper_item_group` if different from `carry_override`, generic arsonist NPCs no longer overloaded with loot
  data/json/itemgroups/Locations_MapExtras/Arsonist_stock.json
  data/json/npcs/NC_ARSONIST.json
  data/json/npcs/refugee_center/surface_visitors/NPC_arsonist.json
  src/npc.cpp
  src/npctrade.cpp
Labels: src, data

#4655 fix: don't spawn scrap metal in pairs, uncrafting consistency updates, add some more uncrafts
  data/json/items/resources/metal.json
  data/json/recipes/other/materials.json
  data/json/uncraft/generic.json
Labels: data

#4654 fix: non-threshold mutation Genetically Unstable purifiable
  data/json/mutations/mutations.json
Labels: data

#4657 feat: add downspouts at the lumbermill, yard
  data/json/mapgen/lumbermill.json
  data/json/mapgen/lumberyard.json
  data/json/mapgen/occupied_lumber_mill.json
  data/json/mapgen_palettes/lumberyard.json
Labels: data

#4663 feat(port): Mark overmap location if player drops favorited item
  src/activity_item_handling.cpp
  src/options.cpp
Labels: src

#4662 feat(balance): Hospital Bionics Chances
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/mapgen/hospital.json
Labels: data

#4660 feat(balance): increase variety of weapons dropped by feral humans
  data/json/monsterdrops/feral_humans.json
  data/json/monsters/feral_humans.json
Labels: data

#4665 feat(port): Allow custom surround monster groups in scenarios
  data/json/monstergroups/misc.json
  data/json/scenarios.json
  data/mods/Magiclysm/scenarios.json
  data/mods/more_classes_scenarios/cs_scenarios.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  doc/src/content/docs/en/mod/json/reference/scenarios.md
  doc/src/content/docs/en/mod/json/tutorial/modding.md
  src/game.cpp
  src/scenario.cpp
  src/scenario.h
Labels: docs, src, data, mods

#4666 feat(UI,port): Bigger minimap
  src/panels.cpp
Labels: src

#4672 fix: acid anthills are distinct on the map again
  data/json/mapgen/bugs/ants.json
  data/json/obsoletion/migration_oter_ids.json
  data/json/overmap/overmap_mutable/anthill.json
  data/json/overmap/overmap_terrain/overmap_terrain_ants.json
Labels: data

#4674 feat(balance): more sun, less clouds, bit more humidity in summer
  data/json/regional_map_settings.json
  data/json/weather_type.json
Labels: data

#4676 fix: fix for the occupied lumbermill
  data/json/mapgen/occupied_lumber_mill.json
  data/json/npcs/lumberyard/lumbermill_missions.json
  data/json/overmap/overmap_special/specials.json
Labels: data

#4677 fix(content): auto drive speed fix
  src/vehicle_autodrive.cpp
Labels: src

#4679 fix(content): cooked cattail stalks usable in more recipes
  data/json/requirements/cooking_components.json
Labels: data

#4681 fix: auto-drive speed hiccups
  src/vehicle_autodrive.cpp
Labels: src

#4684 feat(content): minumum and maximum auto-drive speed option
  src/options.cpp
  src/vehicle_autodrive.cpp
Labels: src

#4683 fix: less crashing while auto-driving, smoother driving style
  src/vehicle_autodrive.cpp
Labels: src

#4687 fix: NPC placement in the occupied lumbermill
  data/json/mapgen/occupied_lumber_mill.json
Labels: data

#4686 feat: add some glass uncrafts
  data/json/uncraft/generic.json
Labels: data

#4689 fix(content): bit less clouds, more sun
  data/json/weather_type.json
Labels: data

#4688 fix: `magic_light` throwing `wind_resist` error
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/materials.json
Labels: data, mods

#4685 feat: add clay uncrafts
  data/json/uncraft/generic.json
Labels: data

#4693 feat(balance): makeshift steam, 1 cylinder and 2 cylinder engines are autolearned
  data/json/recipes/other/vehicles.json
Labels: data

#4694 feat(content): light wooden wheel mount
  data/json/items/vehicle/wheel.json
  data/json/recipes/other/vehicles.json
  data/json/vehicleparts/wheel.json
Labels: data

#4668 feat(mods/DinoMod): scenarios
  data/mods/DinoMod/scenarios.json
  data/mods/DinoMod/startlocations.json
Labels: data, mods

#4697 feat(balance): Misc Repair Kit Knives
  data/json/items/tool/workshop.json
  data/json/recipes/other/tools.json
Labels: data

#4702 feat(content): add straps to crossbows
  data/json/items/ranged/crossbows.json
Labels: data

#4701 fix: kevlar plate
  data/json/items/generic.json
  data/json/items/tool/misc.json
Labels: data

#4700 fix: use_action "SLEEP" and chamomile tea.
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/med.json
  src/iuse.cpp
Labels: src, data

#4698 feat(content): use glue as nail alternative
  data/json/items/generic.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/chem/chemicals.json
  data/json/recipes/chem/other.json
  data/json/recipes/electronic/components.json
  data/json/recipes/electronic/lighting.json
  data/json/recipes/electronic/other.json
  data/json/recipes/electronic/parts.json
  data/json/recipes/electronic/tools.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/traps.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/explosive.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/materials.json
Labels: data

#4696 fix: lab finales have science ID cards again
  data/json/mapgen/lab/lab_floorplans_finale1level.json
  data/mods/DinoMod/mapgen/DinoLabFinale.json
Labels: data, mods

#4704 feat(content): more ways to use evaporated milk and more powdered milk components
  data/json/recipes/food/dry.json
  data/json/requirements/cooking_components.json
  tests/iteminfo_test.cpp
Labels: data, tests

#4705 fix: waterless toilets in the urban city block
  data/json/mapgen/city_blocks/city_block_2.json
  data/json/mapgen/nested/retail_nested.json
  data/json/mapgen_palettes/city_block_palette.json
Labels: data

#4695 feat: allow recovery of base materials for more plastic items
  data/json/recipes/armor/storage.json
  data/json/recipes/other/medical.json
  data/json/uncraft/generic.json
Labels: data

#4708 feat: Monster Adjustment additions, documentation and new mod to disable `zombify_into`
  data/json/species.json
  data/mods/No_Zombify/modinfo.json
  doc/src/content/docs/en/mod/json/tutorial/modding.md
  src/monstergenerator.cpp
  src/mtype.cpp
Labels: docs, src, data, mods

#4711 fix: missing tile in `house_inner_garden` roof
  data/json/mapgen/house/house_inner_garden.json
  data/json/mapgen_palettes/house_w_palette.json
Labels: data

#4706 fix: update spawns and weight/volume of glue, fix soldering iron recipe
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/defense_mode.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/generic.json
  data/json/recipes/electronic/tools.json
  data/mods/No_Hope/Recipes/recipes.json
Labels: data, mods
