Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-01, with the labels that each got.

#4044 fix: change symbol used for column in post office
  data/json/mapgen/post_office.json
Labels: data

#4045 feat(content): profession with random books
  data/json/professions.json
Labels: data

#4046 fix: roadstop, public washroom, roadside foodcart
  data/json/mapgen/roadstop.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
Labels: data

#4048 fix: "candy_shop_roof" mapgen
  data/json/mapgen/s_candy.json
Labels: data

#4049 fix: replace stairs with ladders on city block roof
  data/json/mapgen/city_blocks/city_block_2.json
Labels: data

#4054 fix: augmentation clinic mapgen
  data/json/mapgen/aftershock/augmentation_clinic.json
Labels: data

#4053 style: tidy up `ranch_camp.json`
  data/json/mapgen/ranch_camp.json
Labels: data

#4056 fix(port): Fix farm greenhouse floors. Add metal floors to grain bins.
  data/json/mapgen/farm.json
  data/json/mapgen/ranch_camp.json
Labels: data

#4059 fix: change `ranch_camp` overmap symbols
  data/json/overmap/overmap_terrain/overmap_terrain_ranch_camp.json
Labels: data

#4060 fix: crashed airliner
  data/json/mapgen/airliner.json
Labels: data

#4062 fix: unnecessary map settings overwrite on No Hope
  data/mods/No_Hope/regional_map_settings.json
Labels: data, mods

#4063 fix: map settings on rural biome updated with new additions
  data/mods/rural_biome/rural_regional_map_settings.json
Labels: data, mods

#4051 feat(balance): military locations overhaul, part 1
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/books.json
  data/json/itemgroups/military.json
  data/json/mapgen/military/mil_base/mil_base_z-1.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/military/mil_base/mil_base_z1.json
  data/json/mapgen_palettes/military/mil_base_palette.json
  data/json/monstergroups/robots.json
  data/json/monsters/utility_bot.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
  data/json/scenarios.json
  data/json/start_locations.json
  data/mods/Aftershock/mobs/robot_groups.json
  data/mods/No_Hope/Mapgen/mil_base_z-1.json
  data/mods/No_Hope/Mapgen/mil_base_z0.json
  data/mods/No_Hope/monster_groups.json
Labels: data, mods

#4069 refactor: Decouple attitude from creature
  src/animation.cpp
  src/armor_layers.cpp
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/character.cpp
  src/computer_session.cpp
  src/creature.cpp
  src/creature.h
  src/editmap.cpp
  src/enums.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/iexamine.cpp
  src/magic.cpp
  src/magic_spell_effect.cpp
  src/mattack_actors.cpp
  src/monattack.cpp
  src/monmove.cpp
  src/monster.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/ranged.cpp
  src/safemode_ui.cpp
  src/safemode_ui.h
  src/sounds.cpp
Labels: src

#4050 refactor(mods/craftgp): add Luty's book and mainline Luty SMGs
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/books.json
  data/json/itemgroups/science_and_tech.json
  data/json/items/book/gun.json
  data/json/recipes/weapon/ranged.json
  data/mods/Craft_Gunpowder/cgp_recipes.json
Labels: data, mods

#4070 feat!: lua bindings mostly for creature
  data/mods/saveload_lua_test/modinfo.json
  data/mods/smart_house_remotes/modinfo.json
  data/mods/teleportation_mod/modinfo.json
  doc/src/content/docs/en/mod/lua/guides/binding.md
  doc/src/content/docs/en/mod/lua/reference/lua.md
  src/activity_type.cpp
  src/activity_type.h
  src/animation.cpp
  src/bionics.h
  src/bodypart.cpp
  src/catalua.cpp
  src/catalua_bindings.cpp
  src/catalua_bindings.h
  src/catalua_bindings_creature.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_bindings_utils.h
  src/catalua_luna.h
  src/catalua_luna_doc.h
  src/creature.h
  src/damage.cpp
  src/damage.h
  src/disease.h
  src/enum_conversions.cpp
  src/enums.h
  src/flag.h
  src/flag_trait.h
  src/magic.cpp
  src/martialarts.h
  src/monfaction.cpp
  src/monfaction.h
  src/monster.cpp
  src/monster.h
  src/monstergenerator.h
  src/morale_types.cpp
  src/morale_types.h
  src/mutation.h
  src/mutation_data.cpp
  src/npc.cpp
  src/npc.h
  src/pldata.h
  src/safemode_ui.cpp
  src/skill.h
  src/sounds.cpp
  src/sounds.h
  src/string_id_null_ids.cpp
  tests/catalua_test.cpp
  tests/lua/global_functions_test.lua
  tests/lua/units_test.lua
Labels: docs, src, data, tests, mods

#4078 fix: sugar house outdoor terrain
  data/json/mapgen/sugar_house.json
Labels: data

#4077 fix: allow card readers to despawn riot turrets too
  data/json/monsters/turrets.json
Labels: data

#4072 feat(content): add roof chunks to hospital roof
  data/json/mapgen/hospital.json
Labels: data

#4076 feat(balance): rebalances for military helipad
  data/json/mapgen/helipad.json
  data/json/mapgen_palettes/helipad.json
  data/json/vehicle_groups.json
  data/mods/No_Hope/Mapgen/helipad.json
Labels: data, mods

#4074 feat(balance): update military outposts
  data/json/mapgen/outpost.json
  data/json/monstergroups/military.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
  data/mods/No_Hope/Mapgen/military_outpost.json
Labels: data, mods

#4080 feat(content): `2storymodern05` house
  data/json/mapgen/house/2storymodern05.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4081 fix: better define how NPCs generate starting weapon
  data/json/npcs/items_generic.json
  data/json/skills.json
  src/npc.cpp
  src/skill.cpp
  src/skill.h
Labels: src, data

#4083 fix: monsters ignore mechs that aren't being piloted
  src/monster.cpp
Labels: src

#4085 fix(mods/DinoMod): Fix Dinomod overwriting various egg-based food recipes
  data/mods/DinoMod/recipes/food_egg.json
Labels: data, mods

#4079 feat(content): Thick socks
  data/json/items/armor/boots.json
  data/json/recipes/armor/feet.json
Labels: data

#4084 fix(port): shopping carts in `s_clothes` mapgen
  data/json/mapgen/s_clothing.json
Labels: data

#4088 fix: serving area interface terrain
  data/json/mapgen/sai.json
Labels: data

#3917 feat(content,port): `More NPCs`
  data/json/itemgroups/misc.json
  data/json/items/fluff.json
  data/json/mapgen/apartment_con_new.json
  data/json/mapgen/campsite.json
  data/json/mapgen/chemical_lab.json
  data/json/mapgen/fortified_scrap_yard.json
  data/json/mapgen/homeless_camp.json
  data/json/mapgen/house_prepper.json
  data/json/mapgen/moonshine_camp.json
  data/json/mapgen/occupied_lumber_mill.json
  data/json/mapgen/ws_survivor_camp.json
  data/json/monstergroups/misc.json
  data/json/npcs/apartment_survivor/TALK_NPC_apartment_survivor.json
  data/json/npcs/cabin_chemist/cabin_chemist.json
  data/json/npcs/cabin_chemist/chemist_effects.json
  data/json/npcs/cabin_chemist/chemist_missions.json
  data/json/npcs/camper/TALK_NPC_camper.json
  data/json/npcs/factions.json
  data/json/npcs/holdouts/Mr_Lapin.json
  data/json/npcs/homeless/TALK_homeless_broker.json
  data/json/npcs/homeless/TALK_homeless_group_survivors.json
  data/json/npcs/homeless/TALK_homeless_survivor.json
  data/json/npcs/homeless/group_camp_missions.json
  data/json/npcs/homeless/homeless_broker_sell.json
  data/json/npcs/homeless/nested_homeless_missions.json
  data/json/npcs/homeless/shelter_survivors.json
  data/json/npcs/lumberyard/TALK_lumbermill_logger.json
  data/json/npcs/lumberyard/TALK_lumbermill_merchant.json
  data/json/npcs/lumberyard/lumbermill_effects.json
  data/json/npcs/lumberyard/lumbermill_employees.json
  data/json/npcs/lumberyard/lumbermill_missions.json
  data/json/npcs/moonshiner/TALK_NPC_moonshiner.json
  data/json/npcs/prepper/TALK_NPC_prepper.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/npcs/scrap_trader/scrap_trader.json
  data/json/npcs/scrap_trader/scrap_trader_missions.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
  data/json/overmap/overmap_terrain/overmap_terrain_lab.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
  data/json/snippets/epilogue_factions.json
Labels: data

#4089 feat(balance): revamp military bunkers
  data/json/itemgroups/military.json
  data/json/mapgen/bunker.json
  data/json/obsoletion/map.json
  data/json/obsoletion/migration_oter_ids.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
Labels: data

#4090 feat(content): 3story01
  data/json/mapgen/house/3Story01.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4097 fix: NPCs no longer magically aware of explosives they can't see
  src/npcmove.cpp
Labels: src

#4095 feat(balance): adjust spawns in collapsed sheds
  data/json/mapgen/map_extras/wilderness.json
Labels: data

#4091 feat(balance): more consistent bash results for plants and stone
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-walls.json
Labels: data

#4092 feat(balance): sanity-check rarity of bog iron, cacao, coca
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/regional_map_settings.json
  data/mods/rural_biome/rural_regional_map_settings.json
Labels: data, mods

#4096 fix: interior pickable metal doors can now pick on examine
  data/json/furniture_and_terrain/terrain-doors.json
Labels: data

#4098 fix: two cases of NPCs printing messages in odd contexts
  src/npcmove.cpp
  src/sounds.cpp
Labels: src

#4100 feat(content): house `2storymodern06`
  data/json/mapgen/house/2storymodern06.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4103 feat(balance): updates to robot components
  data/json/monsters/defense_bot.json
  data/json/recipes/electronic/other.json
  data/json/recipes/other/vehicles.json
  data/json/uncraft/generic.json
  data/mods/Aftershock/recipes/deconstruction.json
  data/mods/Aftershock/recipes/deconstruction/robot.json
  data/mods/Aftershock/recipes/recipes.json
  data/mods/Aftershock/recipes/robot_recipes.json
  data/mods/Generic_Guns/recipes/recipes_deconstruction.json
  data/mods/No_Hope/Recipes/recipes.json
  data/mods/No_Hope/Recipes/recipes_uncraft.json
Labels: data, mods

#4104 fix: Prevents reloading from deleting containers
  src/item.cpp
Labels: src

#4106 feat(balance): Phase out some redundant bionics, add bionic infolink
  data/json/bionics.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/bionics.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/science_and_tech.json
  data/json/items/bionics.json
  data/json/items/software.json
  data/json/obsoletion/bionics.json
  data/json/obsoletion/items.json
  data/json/professions.json
  src/avatar.cpp
  src/bionics.cpp
  src/character.cpp
  src/faction.cpp
  src/npcmove.cpp
  src/panels.cpp
  src/player_hardcoded_effects.cpp
  src/sounds.cpp
Labels: src, data

#4110 fix: stops linoleum from granting 1500 nails per tile
  data/json/deconstruction.json
Labels: data

#4114 feat(balance): closed glass windows block scent
  data/json/furniture_and_terrain/terrain-windows.json
Labels: data

#4113 feat(balance,port): Mainline Nonperishable Overhaul's changes to item perishability
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/mushroom.json
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/offal_dishes.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  tests/food_fun_for_test.cpp
  tests/item_test.cpp
Labels: data, tests

#4116 feat(content): bungalow 27
  data/json/mapgen/house/bungalow27.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4117 fix: separate house22 variants
  data/json/mapgen/house/house22.json
  data/json/mapgen/house/house22_ab.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4118 docs: add info for mutation enchantments
  doc/src/content/docs/en/mod/json/reference/creatures/effects_json.md
  doc/src/content/docs/en/mod/json/reference/json_info.md
Labels: docs

#4123 feat(content): `bungalow28`
  data/json/mapgen/house/bungalow28.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4120 feat(content): rice farming, rice bran, sake, sikhye
  data/json/itemgroups/Agriculture_Forage_Excavation/forage.json
  data/json/itemgroups/Food/food.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/brewing.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/recipes/food/brew.json
  data/json/recipes/food/drinks.json
  data/json/recipes/food/other.json
Labels: data

#4128 feat(content): house_fence08
  data/json/mapgen/house/house_fence08.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4124 fix: `2storymodern04` garage
  data/json/mapgen/house/2storymodern04.json
Labels: data

#3915 docs: Faction Lore Update
  doc/src/content/docs/en/game/lore/beginning.md
  doc/src/content/docs/en/game/lore/factions.md
  doc/src/content/docs/en/game/lore/notes.md
  doc/src/content/docs/en/game/lore/timeline.md
Labels: docs

#4107 feat(content): new voltmeter/bionic scanner CBM
  data/json/bionics.json
  data/json/itemgroups/bionics.json
  data/json/itemgroups/science_and_tech.json
  data/json/items/bionics.json
  data/json/items/tool/electronics.json
  data/json/items/tool/science.json
  data/mods/Aftershock/player/professions.json
  src/bionics.cpp
  src/character.cpp
  src/iuse.cpp
Labels: src, data, mods

#4119 feat: mainline some craftable bionics with consistency updates
  data/json/bionics.json
  data/json/items/bionics.json
  data/json/obsoletion/recipes.json
  data/json/recipes/electronic/cbms.json
  data/json/uncraft/cbm/cbm.json
  data/json/uncraft/generic.json
  data/mods/Aftershock/recipes/bionic_recipes.json
Labels: data, mods

#4132 feat(balance): adjust relative damage values of rockets yet again
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/66mm.json
  data/json/items/ammo/84x246mm.json
  data/json/items/ammo/atgm.json
  data/json/items/ammo/rpg.json
  data/json/items/tool/explosives.json
Labels: data

#4136 feat(balance): dial back nerf to skill impact on butchery a bit
  src/activity_handlers.cpp
Labels: src

#4130 fix: mountable terrain usable for firing heavy weapons agian
  src/ranged.cpp
Labels: src

#4131 fix: fix some nondescript mission names, fix chemist mission
  data/json/npcs/cabin_chemist/chemist_missions.json
  data/json/npcs/isherwood_farm/NPC_Jesse_Isherwood.json
Labels: data

#4138 fix: `pick_safe_adjacent_tile` returning invalid position
  src/character_functions.cpp
Labels: src

#4144 feat(content): `house_fence09`
  data/json/mapgen/house/house_fence09.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4151 fix: road connection for rural gas station
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
Labels: data

#4153 feat: Silat revised. Added 1H_HOOKED
  data/json/items/tool/entry_tools.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
  data/json/martialarts.json
  data/json/weapon_categories.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
Labels: docs, data

#4156 fix: Fix overlapping text in look-around.
  src/game.cpp
Labels: src

#4154 feat(content,port): Triffid Regrowth
  data/json/effects.json
  data/json/emit.json
  data/json/field_type.json
  data/json/furniture_and_terrain/furniture-triffid.json
  data/json/furniture_and_terrain/terrain-triffid.json
  data/json/mapgen/triffid/triffid_fields.json
  data/json/mapgen/triffid/triffid_grove.json
  data/json/mapgen/triffid/triffid_grove_roof.json
  data/json/mapgen/triffid/triffid_grove_z2.json
  data/json/mapgen/triffid/triffid_grove_z3.json
  data/json/mapgen/triffid/triffid_heart.json
  data/json/mapgen/triffid/triffid_roots.json
  data/json/mapgen/triffid_grove.json
  data/json/mapgen_palettes/triffid.json
  data/json/monstergroups/triffid.json
  data/json/monsters/triffid.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_hardcoded.json
  data/json/overmap/overmap_terrain/overmap_terrain_triffid.json
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-vcpkg-static.vcxproj
  src/map.h
  src/mapgen.cpp
  src/monster.cpp
  src/overmap.cpp
Labels: src, data

#4157 fix: add `BIONIC_NPC_USABLE` flag to infolink bionic
  data/json/bionics.json
Labels: data

#4158 fix: `s_grocery_1` outdoor terrain
  data/json/mapgen/s_grocery.json
Labels: data

#4161 feat(balance): buff harvesting hides from animals
  data/json/harvest.json
Labels: data

#4164 fix: reduce merchant item restock range
  src/npc.cpp
Labels: src

#4165 fix: uaf in safe references
  src/safe_reference.h
Labels: src

#4166 fix: orchard processing, stall roof
  data/json/mapgen/orchard_apple.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Labels: data

#4167 fix: tapping maple trees
  src/iexamine.cpp
Labels: src

#4121 feat(content): fuel briquette
  data/json/items/resources/wood.json
  data/json/recipes/other/other.json
Labels: data

#4160 feat(balance): unarmed skill affects empty-handed damage again
  src/melee.cpp
Labels: src

#4169 fix: motorcycle, quad bike chassis missing part
  data/json/vehicles/bikes.json
Labels: data

#4173 fix: bungalow13, 25, 27
  data/json/mapgen/house/bungalow13.json
  data/json/mapgen/house/bungalow25.json
  data/json/mapgen/house/bungalow27.json
Labels: data

#4176 fix: don't salvage wool thread into wool patches
  data/json/items/ammo.json
Labels: data

#4177 feat(content,port): Arthropod Overhaul Part 1, Dragonfly
  data/json/harvest.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/egg.json
  data/json/items/generic.json
  data/json/monster_factions.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/fish.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/insect_spider.json
  data/json/snippets/mutant_anatomy.json
  data/json/species.json
Labels: data
