Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-10, with the labels that each got.

#5483 feat(balance): consistency-check copper wire recipe, add alternative insulation options from Cheesy's Innawood mod
  data/json/recipes/electronic/components.json
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/alternativeCopperWire.json
Labels: JSON, mods

#5466 feat(content): Monster Hunter, Monster Harder
  data/json/harvest.json
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/suits_protection.json
  data/json/items/comestibles/carnivore.json
  data/json/items/generic.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  data/json/items/tool/workshop.json
  data/json/materials.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_misc.json
  data/json/recipes/ammo/arrows.json
  data/json/recipes/animals/medium_quadruped_armor.json
  data/json/recipes/animals/small_quadruped_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
  data/json/recipes/chem/other.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
  data/json/uncraft/armor/pets_medium_quadruped.json
  data/json/uncraft/armor/pets_small_quadruped.json
Labels: JSON

#5485 fix: Stop using forge charges for all crafts
  src/map.cpp
Labels: src

#5480 fix: Molotov Fix/Rework, make `turn_per_charge` less inconsistent.
  data/json/item_actions.json
  data/json/items/generic/toys_and_sports.json
  data/json/items/tool/explosives.json
  src/item.cpp
  src/itype.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/savegame_json.cpp
Labels: src, JSON

#5487 fix: beehives actually craftable
  data/json/recipes/other/tools.json
Labels: JSON

#5484 feat(port): Bionics can require another bionic
  data/json/bionics.json
  data/json/professions.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/bionics.cpp
  src/bionics.h
  src/item.cpp
Labels: docs, src, JSON

#5490 fix: prevents eating canned dog food after activation
  src/avatar_functions.cpp
Labels: src

#5491 feat(content): Check bionic professions
  data/json/obsoletion/npc.json
  data/mods/Aftershock/npcs/cyborg_npcs/npc_classes_cyborg.json
  data/mods/more_classes_scenarios/cs_classes.json
Labels: JSON, mods

#5488 fix: Tear out `toolweapon_on` and `toolweapon_off` and dependent iuse actions. Add `WATER_DISABLE` flag. Add `need_dry` variable to transforms.
  data/json/flags.json
  data/json/item_actions.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/masonry.json
  data/json/items/tool/woodworking.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: docs, src, JSON

#5495 fix: use regional terrain for `gym_fitness_1`
  data/json/mapgen/gym.json
Labels: JSON

#5489 feat: implement hydrogen as craftable fuel for a fuel cell bionic, mainline assorted other things from Catalcysm++ mod
  data/json/bionics.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/bionics.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/shops_trades.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/ammo.json
  data/json/items/ammo_types.json
  data/json/items/bionics.json
  data/json/items/gunmod/muzzle.json
  data/json/items/tool/workshop.json
  data/json/recipes/armor/head.json
  data/json/recipes/chem/fuel.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/medical.json
  data/json/recipes/other/tools.json
  data/json/recipes/weapon/mods.json
  data/json/requirements/materials.json
  data/json/uncraft/generic.json
Labels: JSON

#5496 feat(content): Allow multiple required bionics
  data/json/bionics.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/bionics.cpp
  src/bionics.h
  src/item.cpp
Labels: docs, src, JSON

#5499 feat(balance): fix stacking error with heavy bones, updates to harvest entries and recipes, use new materials in mods
  data/json/harvest.json
  data/json/items/generic.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  data/json/items/resources/misc.json
  data/json/monsters/fish.json
  data/json/monsters/fungus.json
  data/json/monsters/mutant_animal.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_skeletal.json
  data/json/recipes/ammo/arrows.json
  data/json/recipes/armor/head.json
  data/json/recipes/other/tools.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/mods/Aftershock/mobs/harvest.json
  data/mods/Aftershock/mobs/zombies.json
  data/mods/CRT_EXPANSION/monsters/crt_monster.json
  data/mods/DinoMod/harvest.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/Magiclysm/harvest.json
  data/mods/No_Hope/monsters.json
Labels: JSON, mods

#5470 feat(balance): audit loudness values for weapons and ammo
  data/json/items/ammo.json
  data/json/items/ammo/12mm.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/66mm.json
  data/json/items/ammo/84x246mm.json
  data/json/items/ammo/atgm.json
  data/json/items/ammo/metal_rail.json
  data/json/items/ammo/mininuke_mod.json
  data/json/items/ammo/nail.json
  data/json/items/ammo/paintball.json
  data/json/items/ammo/rpg.json
  data/json/items/ammo/signal_flare.json
  data/json/items/gun/12mm.json
  data/json/items/gun/66mm.json
  data/json/items/gun/84x246mm.json
  data/json/items/gun/atgm.json
  data/json/items/gun/blunderbuss.json
  data/json/items/gun/cannon.json
  data/json/items/gun/chemical_spray.json
  data/json/items/gun/combination.json
  data/json/items/gun/flammable.json
  data/json/items/gun/metal_rail.json
  data/json/items/gun/mininuke_mod.json
  data/json/items/gun/misc.json
  data/json/items/gun/nail.json
  data/json/items/gun/paintball.json
  data/json/items/gun/signal_flare.json
  data/json/items/gunmod/muzzle.json
  data/json/items/ranged/crossbows.json
  data/json/items/ranged/pneumatic.json
  data/json/items/ranged/slings.json
  data/json/items/ranged/spearguns.json
  data/mods/No_Hope/Ammo/ammo.json
  data/mods/No_Hope/Ammo/ammo_types.json
  data/mods/No_Hope/Recipes/recipes.json
  src/item.cpp
  src/item_factory.cpp
  src/ranged.cpp
Labels: src, JSON, mods

#5501 feat(balance): update loudness modifier of newly-added suppressor
  data/json/items/gunmod/muzzle.json
Labels: JSON

#5503 feat(content): conditional names for cracklins
  data/json/items/comestibles/meat_dishes.json
Labels: JSON

#5504 feat(UI): add toggle option to automatically reset AIM filter on menu exit
  data/raw/keybindings/keybindings.json
  src/advanced_inv.cpp
  src/options.cpp
Labels: src, JSON

#5506 fix: giant rattlesnakes and gators harvest entries now exist
  data/json/harvest.json
  data/json/monsters/reptile_amphibian.json
Labels: JSON

#5507 feat(UI): default character preview to show equipment again
  src/character_preview.cpp
Labels: src

#5509 fix: don't ask for soil twice in niter bed recipe
  data/json/construction.json
Labels: JSON

#5510 feat(balance): merge and rebalance the two liquid fertilizer recipes
  data/json/obsoletion/recipes.json
  data/json/recipes/chem/chemicals.json
Labels: JSON

#5513 fix: use regional terrain for the bus station
  data/json/mapgen/bus_station.json
Labels: JSON

#5511 feat: Show item kill count in the examine item menu, make the menu option red
  src/examine_item_menu.cpp
  src/examine_item_menu.h
Labels: src

#5516 fix: use regional terrain for `s_restaurant_fast_1`
  data/json/mapgen/restaurant_fast.json
Labels: JSON

#5515 fix: Fix itemgroup code and fix recharge scheme code
  src/item_group.cpp
  src/relic.cpp
Labels: src

#5517 fix: AoE ammo fired from vehicle turrets no longer wrecks the vehicle it's fired from
  src/ranged.cpp
  src/ranged.h
  src/ranged_aoe.cpp
Labels: src

#5520 feat(content): Add ACIDIC flag for melee damage
  data/json/flags.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/flag.cpp
  src/flag.h
  src/melee.cpp
Labels: docs, src, JSON

#5522 fix: make item kill list scrollable
  src/scores_ui.cpp
Labels: src

#5519 feat(port,content): Add Convention Center
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/items/tool/deployable.json
  data/json/mapgen/convention_center/convention_center.json
  data/json/mapgen/convention_center/convention_center_nested.json
  data/json/mapgen_palettes/convention_center_palette.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
  data/json/scenarios.json
  data/json/start_locations.json
Labels: JSON

#5524 fix: Rework spell studying and notify
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/activity_handlers.cpp
  src/iuse_actor.cpp
  src/magic.cpp
Labels: docs, src

#5523 feat: capitalize all skill names
  data/json/skills.json
  tests/iteminfo_test.cpp
  tests/memorial_test.cpp
  tests/reading_test.cpp
Labels: JSON, tests

#5528 feat(UI): also capitalize spell name for Spellcraft
  data/mods/Magiclysm/modinfo.json
Labels: JSON, mods

#5530 fix: change the metal grates on the outside of the level 1 of the convention center to their non-indoor version
  data/json/mapgen/convention_center/convention_center.json
  data/json/mapgen_palettes/convention_center_palette.json
Labels: JSON

#5525 feat(balance): additional followup updates and sprites to monster hunter items
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/suits_protection.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/materials.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
Labels: JSON

#5527 fix: Print messages with monster names properly
  src/character.cpp
  src/gates.cpp
  src/iuse_actor.cpp
  src/magic_spell_effect.cpp
  src/monattack.cpp
  src/mondefense.cpp
  src/monmove.cpp
  src/monster.cpp
  src/vehicle_move.cpp
  src/vehicle_use.cpp
Labels: src

#5531 feat(balance): adjust barter value of launcher grenades and powered furniture items
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/furniture.json
Labels: JSON

#5532 fix: bone shiv doesnt take survival twice
  data/json/recipes/weapon/piercing.json
Labels: JSON

#5533 feat: Permanent flagged spells are always permanent, even at min. level
  src/magic_spell_effect.cpp
Labels: src

#5514 build: C++20 migration (again^3)
  .clang-tidy
  CMakeLists.txt
  Makefile
  android/app/jni/Application.mk
  android/app/src/main/java/org/libsdl/app/SDL.java
  build-scripts/run-clang-tidy-plugin.sh
  doc/src/content/docs/en/dev/guides/building/makefile.md
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-vcpkg-static.vcxproj
  src/achievement.cpp
  src/achievement.h
  src/calendar.cpp
  src/catalua.cpp
  src/catalua_luna_doc.h
  src/character.cpp
  src/concepts_utility.h
  src/filesystem.cpp
  src/game_object.h
  src/iteminfo_armor.cpp
  src/iuse.cpp
  src/map.h
  src/mapdata.h
  src/mod_manager_ui.cpp
  src/path_info.cpp
  src/sol/forward.hpp
  src/sol/sol.hpp
  src/units_def.h
  src/vehicle_use.cpp
  src/weather_gen.cpp
  tests/catacharset_test.cpp
  tests/filesystem_test.cpp
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/test/lit.cfg
Labels: docs, src, tests

#5535 refactor: use C++20 `string::{starts,ends}_with`
  src/cata_libintl.cpp
  src/cata_tiles.cpp
  src/construction.cpp
  src/debug.cpp
  src/filesystem.cpp
  src/item.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/json.cpp
  src/language.cpp
  src/overmap.cpp
  src/sdl_font.cpp
  src/string_utils.cpp
  src/string_utils.h
  tests/cata_utility_test.cpp
  tests/test_main.cpp
Labels: src, tests

#5542 fix: don't spawn 400-1600 entire stacks of gold or silver from alluvial deposits
  data/json/itemgroups/misc.json
Labels: JSON

#5537 refactor: use concepts more
  src/assign.h
  src/generic_factory.h
  src/generic_readers.h
  src/numeric_interval.h
Labels: src

#5541 fix: summoned monsters drop items if created by a `PERMANENT` spell
  src/magic_spell_effect.cpp
Labels: src

#5543 fix: rose hip `COMPONENT_ID` comestibles named correctly
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/frozen.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/wheat.json
Labels: JSON

#5538 refactor: use concepts even more
  src/all_enum_values.h
  src/assign.h
  src/cata_utility.h
  src/cata_variant.h
  src/catalua_luna.h
  src/coordinates.h
  src/dialogue.h
  src/enum_bitset.h
  src/enum_conversions.h
  src/enum_traits.h
  src/event.h
  src/fmtlib_core.h
  src/fmtlib_format-inl.h
  src/fmtlib_format.h
  src/fmtlib_ostream.h
  src/generic_readers.h
  src/hash_utils.h
  src/int_id.h
  src/item.h
  src/json.h
  src/mod_tracker.h
  src/output.h
  src/pimpl.h
  src/point_traits.h
  src/ret_val.h
  src/rng.h
  src/simple_pathfinding.h
  src/stats_tracker.h
  src/string_formatter.h
  src/string_id.h
  src/string_id_utils.h
  src/units_utility.h
Labels: src

#5551 chore: bump script deps
  .github/workflows/autofix.yml
  .github/workflows/clang-tidy.yml
  deno.jsonc
  deno.lock
  import_map.json
  scripts/affected_files.ts
  scripts/changelog/changelog_reddit.ts
  scripts/front_matter.ts
  scripts/front_matter_test.ts
  scripts/gen_cli_docs.ts
  scripts/migrate_legacy_unit.ts
  scripts/migrations/4211_test.ts
  scripts/prices.ts
  scripts/semantic.ts
  scripts/to_stackable.ts
Labels: scripts

#5555 feat(content): Gun show at Convention Center
  data/json/mapgen/convention_center/convention_center.json
  data/json/mapgen/convention_center/convention_center_nested.json
  data/json/mapgen_palettes/convention_center_palette.json
Labels: JSON

#5558 fix: change debug level of field count mismatch to DL::Warn
  src/map.cpp
Labels: src

#5559 feat(content): adds a shark plush sleep aid
  data/json/external_tileset/shark_plush.json
  data/json/external_tileset/shark_plush.png
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/generic.json
Labels: JSON

#5563 fix: mapgen grenades stop inserting null items.
  src/item.cpp
  src/mapgen.cpp
Labels: src

#5564 fix: use regional terrain for `s_electronics_1`
  data/json/mapgen/s_electronics.json
Labels: JSON

#5568 fix: use regional terrain for `s_hardware`
  data/json/mapgen/s_hardware.json
Labels: JSON

#5553 feat(balance): adjustment to bodkin and carbon fiber arrows/bolts
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
Labels: JSON

#5569 fix: Stop muscle engines failing sounding like a V8
  src/vehicle_use.cpp
Labels: src

#5571 feat(UI): Change floodlight symbol to 'T'
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: JSON

#5572 fix: use regional terrain for `s_hardware_2`
  data/json/mapgen/s_hardware.json
Labels: JSON

#5576 fix: use regional terrain for `s_hardware_3`
  data/json/mapgen/s_hardware.json
Labels: JSON

#5549 feat(port): add support for martial art buffs/tecs being restricted by weapon category
  data/json/techniques.json
  doc/src/content/docs/en/mod/json/reference/creatures/martialart_json.md
  src/martialarts.cpp
  src/martialarts.h
Labels: docs, src, JSON

#5577 style(content): Convert `technique` and `weapon_category` JSON strings to arrays
  data/json/items/fake.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/resources/wood.json
  data/json/items/tool/firefighting.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/med.json
  data/json/items/tool/toiletries.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
  data/json/obsoletion/items.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/No_Hope/Items/tools.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
Labels: docs, JSON, mods

#5579 feat(balance): update max survival skill from foraging
  src/iexamine.cpp
Labels: src

#5582 feat(balance): consistency updates to ranged bash info, only use variable `reduction` for specific ter/furn
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-barriers.json
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-domestic_plants.json
  data/json/furniture_and_terrain/furniture-fireplaces.json
  data/json/furniture_and_terrain/furniture-fungal.json
  data/json/furniture_and_terrain/furniture-graves.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/furniture_and_terrain/furniture-migo.json
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/furniture_and_terrain/furniture-roof.json
  data/json/furniture_and_terrain/furniture-rural.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/furniture_and_terrain/furniture-signs.json
  data/json/furniture_and_terrain/furniture-sleep.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/furniture_and_terrain/furniture-triffid.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-fungal.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/furniture_and_terrain/terrain-mechanisms.json
  data/json/furniture_and_terrain/terrain-migo.json
  data/json/furniture_and_terrain/terrain-triffid.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/mods/Magiclysm/furniture.json
  data/mods/pride_flags/furniture.json
Labels: JSON, mods

#5583 feat(balance): fix some cases of unintended day-one ferals, reduce numbers of runner and nurse zombies, add some exrtra variety to some zombie groups
  data/json/mapgen/standing_stones.json
  data/json/monstergroups/military.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/zombie_upgrades.json
  data/json/monstergroups/zombies.json
Labels: JSON

#5584 fix: use regional terrain for `s_pizza_parlor_1`
  data/json/mapgen/pizza_parlor.json
Labels: JSON

#5557 refactor: Move temperature data to bodypart
  src/bodypart.cpp
  src/bodypart.h
  src/character.cpp
  src/character.h
  src/character_display.cpp
  src/character_functions.cpp
  src/character_oracle.cpp
  src/character_turn.cpp
  src/creature.cpp
  src/panels.cpp
  src/player_hardcoded_effects.cpp
  src/savegame_json.cpp
  src/suffer.cpp
  tests/new_character_test.cpp
  tests/player_test.cpp
Labels: src, tests

#5589 fix: Make rags consume their charges/delete themselves.
  src/character.cpp
Labels: src

#5587 fix: use `xdg-open` for opening URL on FreeBSD
  src/url_utility.cpp
Labels: src

#5595 feat(content): monofilament whip CBM
  data/json/bionics.json
  data/json/itemgroups/bionics.json
  data/json/items/bionics.json
  data/json/items/melee/fake.json
  data/json/martialarts_fictional.json
Labels: JSON

#5596 fix: Add ammo types to Taurus Raging Bull revolver
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/454.json
  data/json/items/magazine/454.json
Labels: JSON

#5598 fix: UI always showing "Freezing" temperature
  src/panels.cpp
Labels: src

#5607 fix: tainted blood isn't cannibalism
  data/json/items/comestibles/carnivore.json
Labels: JSON

#5586 feat(port,content): Winged zombies
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/zombie_upgrades.json
  data/json/monstergroups/zombies.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed-pupating.json
  data/json/monsters/zed-winged.json
  data/json/monsters/zed_misc.json
Labels: JSON

#5608 feat(balance): Wild Veggy, Mushroom Buff
  data/json/itemgroups/Agriculture_Forage_Excavation/forage.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/mushroom.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/soup.json
Labels: JSON

#5605 feat(content): Added a furniture type overhead light
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: JSON

#5609 refactor: Move wetness stats to bodypart
  data/json/body_parts.json
  src/bodypart.cpp
  src/bodypart.h
  src/character.cpp
  src/character.h
  src/character_turn.cpp
  src/creature.cpp
  src/game.cpp
  src/iuse.cpp
  src/relic.cpp
  src/savegame_json.cpp
  src/suffer.cpp
  src/weather.cpp
  tests/iuse_test.cpp
  tests/player_test.cpp
Labels: src, JSON, tests

#5600 feat: armor penetration for melee weapons
  data/json/artifact/premade_artifacts.json
  src/damage.cpp
  src/damage.h
  src/item.cpp
  src/item.h
  src/melee.cpp
Labels: src, JSON

#5614 feat(balance): reliable smart purifier
  src/iuse.cpp
Labels: src

#5615 feat(balance): bring dumpster spawns closer to original values
  data/json/itemgroups/trash_and_debris.json
Labels: JSON

#5616 feat(balance): Don't roll for mansion_safe 100 times at resorts
  data/json/mapgen/private_resort.json
Labels: JSON

#5617 feat(balance): use `trash_dumpster` for the dumpster of the convention center
  data/json/mapgen_palettes/convention_center_palette.json
Labels: JSON

#5620 fix(content): add `BELT_CLIP` to cudgel and shillelagh, adjust belt volumes.
  data/json/items/armor/belts.json
  data/json/items/melee/bludgeons.json
Labels: JSON

#5621 feat(content,mods/DinoMod): mountable flag audit and juvenile fixes
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/juvenile.json
Labels: JSON, mods

#5622 feat(balance): Allow police duty belts to holster expandable batons
  data/json/items/armor/belts.json
Labels: JSON

#5625 feat(balance): remove power armor from police stations
  data/json/mapgen/police_station.json
Labels: JSON

#5630 feat: Extended blood visuals
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
Labels: JSON

#5629 feat(balance): Increase earlygame zombie damage rolls
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_burned.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_skeletal.json
  data/json/monsters/zed_soldiers.json
Labels: JSON

#5628 fix: carbon fiber helmet no longer much stronger than other armor pieces
  data/json/items/armor/helmets.json
Labels: JSON

#5631 feat(balance): adjust coilgun recipe
  data/json/recipes/weapon/ranged.json
Labels: JSON

#5633 revert: feat(balance): changes in base zombie drops
  data/json/itemgroups/Weapons_Mods_Ammo/weapons_misc.json
  data/json/itemgroups/tools.json
  data/json/monsterdrops/zombie_default.json
Labels: JSON

#5635 feat(balance): Convert drugdeal itemgroup to collection
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/maps/item_groups.json
Labels: JSON, mods
