Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-02, with the labels that each got.

#4184 docs: Fix link in documentation frontpage.
  doc/src/content/docs/en/index.mdx
Labels: docs

#4186 feat: smoking rack can cure skins
  data/json/items/comestibles/carnivore.json
Labels: data

#4188 fix: `house_22ab` mapgen
  data/json/mapgen/house/house22_ab.json
Labels: data

#4147 feat(balance): update uncrafts for small items
  data/json/items/armor/torso_clothes.json
  data/json/obsoletion/recipes.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/uncraft/armor.json
Labels: data

#4170 feat(balance): updates to spawns of autodoc installation items
  data/json/itemgroups/electronics.json
  data/json/mapgen/hospital.json
  data/json/mapgen/lab/lab_floorplan_cross.json
  data/json/mapgen/lab/lab_floorplans_finale1level.json
  data/json/mapgen/microlab/microlab_special_tiles.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/necropolis/necropolisB2.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/s_electronics.json
Labels: data

#4155 feat(balance): Solar power bump
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/vehicleparts/vehicle_parts.json
  tests/vehicle_power_test.cpp
Labels: data, tests

#4148 fix: rebalancing and fixes for electric firestarters
  data/json/bionics.json
  data/json/items/tool/fire.json
  data/json/obsoletion/charge_removal.json
Labels: data

#4143 feat: allow treating steel targets as practice targets
  data/json/furniture_and_terrain/furniture-recreation.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/ranged.cpp
Labels: docs, src, data

#4191 fix: `garden_3x3_2`, `garden_3x3_3` nested mapgen
  data/json/mapgen/nested/house_nested.json
Labels: data

#4193 docs: Include Spell Flags in Magic Documentation
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
Labels: docs

#4194 feat: tweaks for composite longbow
  data/json/items/ranged/archery.json
Labels: data

#4192 fix: don't spawn grenade launchers installed on magazines
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/military.json
Labels: data

#4179 feat(content): weapon mount obsoletion, part 1
  data/json/items/classes/gun.json
  data/json/items/classes/range.json
  data/json/items/gun/20x66mm.json
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/gun/3006.json
  data/json/items/gun/308.json
  data/json/items/gun/38.json
  data/json/items/gun/40.json
  data/json/items/gun/40x46mm.json
  data/json/items/gun/40x53mm.json
  data/json/items/gun/410shot.json
  data/json/items/gun/44.json
  data/json/items/gun/44paper.json
  data/json/items/gun/454.json
  data/json/items/gun/4570.json
  data/json/items/gun/45colt.json
  data/json/items/gun/50.json
  data/json/items/gun/500.json
  data/json/items/gun/66mm.json
  data/json/items/gun/762.json
  data/json/items/gun/762x25.json
  data/json/items/gun/84x246mm.json
  data/json/items/gun/9mm.json
  data/json/items/gun/atgm.json
  data/json/items/gun/blunderbuss.json
  data/json/items/gun/combination.json
  data/json/items/gun/flammable.json
  data/json/items/gun/flintlock.json
  data/json/items/gun/misc.json
  data/json/items/gun/nail.json
  data/json/items/gun/paintball.json
  data/json/items/gun/rpg.json
  data/json/items/gun/shot.json
  data/json/items/gun/shotpaper.json
  data/json/items/gun/signal_flare.json
  data/json/items/gun/ups.json
  data/json/items/ranged/crossbows.json
  data/json/items/ranged/pneumatic.json
  data/json/items/ranged/spearguns.json
  data/json/not_really_obsolete.json
  data/json/obsoletion/items.json
  data/json/obsoletion/mount.json
  data/json/obsoletion/recipes.json
  data/json/recipes/weapon/mods.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/items/weapons.json
  data/mods/Generic_Guns/firearms/obsolete.json
  data/mods/Magiclysm/items/enchanted_ranged.json
  data/mods/No_Hope/Items/guns.json
  tests/ranged_burst_balance_test.cpp
Labels: data, tests, mods

#4195 fix: hides after being smoked get merged into one
  data/json/items/generic.json
Labels: data

#3930 feat: Armor values specified directly in armor JSON
  data/mods/TEST_DATA/items.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/assign.h
  src/character.cpp
  src/damage.cpp
  src/damage.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  tests/item_test.cpp
  tests/vehicle_part_test.cpp
Labels: docs, src, data, tests, mods

#4196 feat(content): Generic writ of trade
  data/json/items/fluff.json
Labels: data

#4142 feat(content): more bionic recipes
  data/json/obsoletion/recipes.json
  data/json/recipes/electronic/cbms.json
  data/json/uncraft/cbm/cbm.json
  data/json/uncraft/generic.json
Labels: data

#4183 fix: wielded weapon show correct ammocount when selecting gunmod, default firemode name for gunmods
  src/character_functions.cpp
  src/item_factory.cpp
Labels: src

#4129 feat(balance): extend and improve `ranged_bash_info` to allow taking cover behind furniture
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-barriers.json
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-fireplaces.json
  data/json/furniture_and_terrain/furniture-graves.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/furniture_and_terrain/furniture-migo.json
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/furniture_and_terrain/furniture-roof.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/furniture_and_terrain/furniture-signs.json
  data/json/furniture_and_terrain/furniture-sleep.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/npcs/hints.json
  data/mods/Magiclysm/furniture.json
  data/raw/tips.json
  src/ballistics.cpp
  src/map.cpp
  src/map.h
  src/ranged_aoe.cpp
Labels: src, data, mods

#4174 feat: allow remote deployment of `place_monster` items, throwable manhacks
  data/json/items/corpses/inactive_bots.json
  data/json/items/generic.json
  data/json/monsters/drones.json
  data/json/monsters/utility_bot.json
  data/json/recipes/electronic/other.json
  data/json/uncraft/generic.json
  src/iuse_actor.cpp
Labels: src, data

#4141 feat(balance): update terrain ranged data in parallel with cover update
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-windows.json
Labels: data

#4182 feat(content): nether updates part 1
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/monster_factions.json
  data/json/monster_special_attacks/spells.json
  data/json/monsterdrops/misc.json
  data/json/monstergroups/nether.json
  data/json/monsters/nether.json
  data/json/monsters/slimes.json
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
  src/monattack.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: docs, src, data

#4172 feat(balance): allow reading at penalty with full night vision, other visual/detection improvements
  data/json/mutations/mutations.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/avatar_action.cpp
  src/character.cpp
  src/character_functions.cpp
  src/game.cpp
Labels: docs, src, data

#4149 feat(port): prompt before attacking neutral/fleeing monsters except it actually works
  data/json/effects.json
  src/avatar_action.cpp
  src/melee.cpp
  src/monster.cpp
  src/options.cpp
Labels: src, data

#4201 fix: make grenades fire immune
  data/json/items/tool/explosives.json
Labels: data

#4197 feat: add paddy field and soil-to-clay constr
  data/json/construction.json
  data/json/construction_group.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.png
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
Labels: data

#4205 fix: don't allow `IMMOBILE` monsters to join hordes
  src/overmap.cpp
Labels: src

#4203 fix: description and id of `t_thconc_floor_nofloor`
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/mapgen_palettes/acidia_commercial_destroyed_palette.json
Labels: data

#4209 fix: prying data for pickable metal doors now actually works
  data/json/furniture_and_terrain/terrain-doors.json
Labels: data

#4214 fix: differentiate more `SPEAR` and `STAB` flag
  data/json/items/fake.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/resources/wood.json
  data/json/items/tool/med.json
  data/json/items/tool/tailoring.json
  data/json/items/tool/workshop.json
  data/mods/TEST_DATA/items.json
  deno.lock
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  scripts/migrations/4211.ts
  scripts/migrations/4211_test.ts
  src/item_factory.cpp
Labels: docs, src, data, mods, scripts

#4202 feat(content): adds an entry-level launcher weapon
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/items/ranged/slings.json
  data/json/recipes/weapon/ranged.json
  data/json/vehicleparts/turret.json
Labels: data

#4213 fix: stop requiring plastic bags for coffee powder crafting
  data/json/recipes/food/other.json
Labels: data

#4198 feat(balance): further standardize and increase use of ranged bash info
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-barriers.json
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-fireplaces.json
  data/json/furniture_and_terrain/furniture-graves.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/furniture_and_terrain/furniture-migo.json
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/furniture_and_terrain/furniture-roof.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/furniture_and_terrain/furniture-signs.json
  data/json/furniture_and_terrain/furniture-sleep.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/furniture_and_terrain/terrain-mechanisms.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-windows.json
Labels: data

#4217 fix: don't assign piercing damage to weapons that were previously cutting
  data/json/items/melee/spears_and_polearms.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/enchanted_melee.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/weapons.json
  data/mods/TEST_DATA/items.json
Labels: data, mods

#4218 fix(port): allow blind throw while peeking upstairs/downstairs
  src/game.cpp
Labels: src

#4215 docs(i18n): translate i18n guide to korean
  doc/src/content/docs/ko/i18n/explanation/file_format.md
  doc/src/content/docs/ko/i18n/explanation/style.md
  doc/src/content/docs/ko/i18n/explanation/style_all.md
  doc/src/content/docs/ko/i18n/guides/maintain.md
  doc/src/content/docs/ko/i18n/guides/mods.md
  doc/src/content/docs/ko/i18n/reference/edge_cases.md
  doc/src/content/docs/ko/i18n/reference/gender.md
  doc/src/content/docs/ko/i18n/reference/translation.md
  doc/src/content/docs/ko/i18n/tutorial/img/editor.png
  doc/src/content/docs/ko/i18n/tutorial/img/join.png
  doc/src/content/docs/ko/i18n/tutorial/img/resource.png
  doc/src/content/docs/ko/i18n/tutorial/img/start.png
  doc/src/content/docs/ko/i18n/tutorial/img/waiting.png
  doc/src/content/docs/ko/i18n/tutorial/transifex.md
Labels: docs

#4204 fix: uncrafts for lightweight plastic containers
  data/json/uncraft/generic.json
Labels: data

#4221 fix: Mutagenic toxins missing from dehydrated meat
  data/json/items/comestibles/meat_dishes.json
Labels: data

#4227 fix: give me more clay, ooze bog
  data/json/construction.json
Labels: data

#4226 chore(mods/magiclysm): Remove myself as Magiclysm Maintainer
  data/mods/Magiclysm/modinfo.json
Labels: data, mods

#4225 perf(port): cache NPC goal
  src/npc.h
  src/npcmove.cpp
Labels: src

#4229 fix: Changed 'Mature Plant' to 'Maturing Plant'
  data/json/furniture_and_terrain/furniture-domestic_plants.json
Labels: data

#4232 fix: mre actually gives 1 pur tablet this time
  data/json/requirements/uncraft.json
Labels: data

#4228 feat(balance): allow pulping `zombify_into` corpses
  src/activity_handlers.cpp
  src/cata_tiles.cpp
  src/handle_action.cpp
  src/item.cpp
  src/map.cpp
Labels: src

#4230 feat: item label can save deployable robot nicknames
  src/iuse_actor.cpp
  src/monster.cpp
Labels: src

#4207 feat(content): Add salvage action for metal items
  data/json/items/ammo/nail.json
  data/json/items/resources/metal.json
  data/json/items/tool/workshop.json
  data/json/materials.json
Labels: data

#4222 feat(balance): ranged bash info for solid walls
  data/json/furniture_and_terrain/terrain-walls.json
Labels: data

#4219 feat(balance): finish extending ranged bash info to windows, doors, and other half-implemented terrain; some window fixes
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/furniture-triffid.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-windows.json
Labels: data

#4235 docs: Add documentation for mod_target_category
  doc/src/content/docs/en/mod/json/reference/json_info.md
Labels: docs

#4237 fix: quickfix for bash-related crashes
  src/map.cpp
Labels: src

#4239 fix: remove root wall from survivor bunker
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/mapgen/ws_survivor_bunker.json
  data/json/monstergroups/zombies.json
Labels: data

#4240 feat(content): Add all bandage types to blindfold recipe
  data/json/recipes/armor/head.json
  data/json/requirements/materials.json
Labels: data

#4238 feat(content,port): Dermatweaks
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/harvest.json
  data/json/mapgen/bugs/nest_dermatik.json
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/bugs.json
  data/json/monsters/insect_spider.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/snippets/mutant_anatomy.json
  data/json/speech.json
Labels: data

#4245 chore: Add missing `looks_like`
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/items/armor/pets_medium_quadruped_armor.json
  data/json/items/armor/pets_small_quadruped_armor.json
  data/json/items/armor/power_armor.json
  data/json/items/bionics.json
  data/json/items/book/electronics.json
  data/json/items/book/martial.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/egg.json
  data/json/items/fake.json
  data/json/items/generic.json
  data/json/items/generic/spares.json
  data/json/items/gun/monster_gun.json
  data/json/items/gunmod/accessories.json
  data/json/items/gunmod/mechanism.json
  data/json/items/gunmod/stock.json
  data/json/items/tool/masonry.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool/workshop.json
  data/json/mapgen/city_blocks/urban_37_office_tower_beehive.json
Labels: data

#4223 feat(balance): rework how ranged bash data checks `destroy_threshold`
  data/json/furniture_and_terrain/furniture-barriers.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-walls.json
  src/map.cpp
  src/mapdata.h
Labels: src, data

#4241 feat(UI): make empty-handed unarmed damage bonus more visible
  data/json/skills.json
  src/character_display.cpp
  src/character_display.h
  src/player.cpp
Labels: src, data

#4246 feat(content,port): Centipede overhaul
  data/json/effects.json
  data/json/harvest.json
  data/json/items/ammo.json
  data/json/items/comestibles/egg.json
  data/json/monster_factions.json
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/bugs.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/insect_spider.json
  data/json/obsoletion/monsters.json
  data/json/scent_types.json
  data/json/snippets/mutant_anatomy.json
  data/json/species.json
Labels: data

#4242 feat(balance): Steel bowstring, repeating crossbow debuff
  data/json/items/gunmod/mechanism.json
  data/json/items/ranged/crossbows.json
Labels: data

#4253 fix: spiked pit on surface of survivor's bunker
  data/json/mapgen/ws_survivor_bunker.json
Labels: data

#4251 feat(content): lobsterfest
  data/json/itemgroups/Food/food.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/soup.json
  data/json/monsters/fish.json
  data/json/recipes/food/meat.json
  data/json/requirements/cooking_components.json
Labels: data

#4255 feat(content,port): Wasp overhaul
  data/json/harvest.json
  data/json/items/comestibles/egg.json
  data/json/mapgen/map_extras/nest_wasp.json
  data/json/monster_attacks.json
  data/json/monster_factions.json
  data/json/monstergroups/bugs.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/insect_spider.json
  data/json/obsoletion/monstergroups.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
  data/json/recipes/chem/mutagen.json
  data/json/regional_map_settings.json
  data/json/requirements/cooking_components.json
  data/json/snippets/mutant_anatomy.json
  data/json/snippets/snippets.json
  data/json/species.json
  src/map_extras.cpp
Labels: src, data

#4259 fix: correct sub-category for hard cheese recipe
  data/json/recipes/food/other.json
Labels: data

#4252 feat: item prices script
  deno.lock
  import_map.json
  scripts/migrate_legacy_unit.ts
  scripts/prices.ts
Labels: scripts

#4262 fix: check for valid seed before reference in `can_do_activity_there()`
  src/activity_item_handling.cpp
Labels: src

#4264 feat: Good bye Makeshift Arc Welder
  data/json/construction.json
  data/json/items/tool/workshop.json
  data/json/obsoletion/items.json
  data/json/obsoletion/migration.json
  data/json/obsoletion/recipes.json
  data/json/recipes/ammo/other.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_metal.json
  data/json/recipes/basecamps/recipe_modular_field_metal.json
  data/json/recipes/basecamps/recipe_modular_firestation1.json
  data/json/recipes/basecamps/recipe_modular_livestock/recipe_modular_livestock_metal.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_metal.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_common.json
  data/json/recipes/basecamps/recipe_modular_storehouse/recipe_modular_storehouse_metal.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop.rock.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_common.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_log.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_metal.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_migo_resin.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wad.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wood.json
  data/json/recipes/chem/chemicals.json
  data/json/recipes/electronic/parts.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/explosive.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/toolsets.json
Labels: data
