Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-03, with the labels that each got.

#4273 fix: lobster harvesting
  data/json/harvest.json
Labels: data

#4265 feat(content,port): Wasp Nests
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/mapgen/bugs/wasp_tower.json
  data/json/mapgen/radio_tower.json
  data/json/mapgen_palettes/wasp_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: data

#4267 feat(content): `No_wasps` mod
  data/mods/No_Wasps/modinfo.json
Labels: data, mods

#4271 feat(balance): make matchhead powder recipe more granular, related fixes for mortar and pestle recipes
  data/json/recipes/chem/chemicals.json
  data/json/recipes/chem/other.json
  data/json/recipes/other/materials.json
Labels: data

#4249 fix: add limits and side effects to `ABSORBS_SPLITS` behavior
  data/json/effects.json
  data/json/monsters/nether.json
  src/monmove.cpp
Labels: src, data

#4277 feat: residential roof solar nested chunks
  data/json/mapgen/house/house_fence09.json
  data/json/mapgen/nested/roof_nested.json
Labels: data

#4247 feat(UI): move remaining deactivate and manhack functions to pet menus, sanity-check docile behavior, rework pheromone function into generic monster culling
  data/json/monsters/drones.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/character.cpp
  src/game.cpp
  src/game.h
  src/monattack.cpp
  src/monexamine.cpp
  src/monexamine.h
  src/monmove.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: docs, src, data

#4254 feat: Add exclusions and exclusion categories to gunmods
  data/json/items/gunmod/rail.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/item.cpp
  src/item_factory.cpp
  src/iteminfo_query.h
  src/itype.h
Labels: docs, src, data

#4278 fix: enable display and switch of firing mode for shape targetmode
  src/ranged.cpp
Labels: src

#4281 feat: residential front lawn nested chunks
  data/json/mapgen/house/bungalow28.json
  data/json/mapgen/nested/residential_lawn_nested.json
Labels: data

#4282 feat: residential backyard chunks
  data/json/mapgen/house/bungalow27.json
  data/json/mapgen/nested/residential_lawn_nested.json
Labels: data

#4163 feat(balance): mutations can modify power value of mutant toxins, adding a vanilla use for Robust Genetics
  data/json/mutations/mutations.json
  data/json/obsoletion/mutations.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/character.cpp
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
Labels: docs, src, data

#4145 feat(balance): strength affects movecost of drawing bows
  src/character.cpp
Labels: src

#4285 fix: move tamed pet to proper faction set in creature_tracker layer
  src/creature_tracker.cpp
  src/creature_tracker.h
  src/iuse.cpp
  src/monster.cpp
  src/monster.h
Labels: src

#4286 fix: damage the clothes of the `house_dogs` dog fight victim
  data/json/mapgen/house/house_dogs.json
Labels: data

#4288 test: ignore flaky ranged balance test
  tests/ranged_balance_test.cpp
Labels: tests

#4287 feat: friendly wildlife mammals spawn friendly offspring
  src/monster.cpp
Labels: src

#4290 fix: mingw builds
  Makefile
  src/catalua_luna_doc.h
Labels: src

#4270 feat: display resolved paths
  data/help/texts.json
  doc/src/content/docs/en/dev/reference/cli_options.md
  src/help.cpp
  src/main.cpp
  src/path_display.cpp
  src/path_display.h
Labels: docs, src, data

#4289 feat: eggs from friendly wildlife critters spawn friendly offspring
  data/json/flags.json
  src/flag.cpp
  src/flag.h
  src/map.cpp
  src/monster.cpp
Labels: src, data

#4292 fix: empty underslung gun doesnt prevent going into firing mode UI
  src/avatar_action.cpp
Labels: src

#4294 fix: heat and acid armor work
  src/item.cpp
Labels: src

#4303 fix: crashing when viewing armor item with undefined resitances
  src/item.cpp
Labels: src

#4304 fix: Refugee center back room monster group
  data/json/mapgen/refugee_center/refugee_center.json
  data/json/monstergroups/zombies.json
Labels: data

#4293 feat(balance): more vehicle repairs besides tires and solar panels require materials now
  data/json/requirements/materials.json
  data/json/requirements/tailoring.json
  data/json/vehicleparts/alternator.json
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/lights.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/mirrors.json
  data/json/vehicleparts/motor.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/rotor.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/utilities.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/wheel.json
  data/json/vehicleparts/windshields.json
  tests/vehicle_interact_test.cpp
Labels: data, tests

#4307 feat(content): add residential roof chunks and one new residential roof solar variant
  data/json/mapgen/house/house_fence09.json
  data/json/mapgen/nested/roof_nested.json
Labels: data

#4283 feat: spawn active items on mapgen
  doc/src/content/docs/en/mod/json/reference/items/item_spawn.md
  src/item_factory.cpp
  src/item_group.cpp
  src/item_group.h
  src/map.cpp
  src/mapgen.cpp
Labels: docs, src

#4310 feat: use mount's speed when mounted
  src/character.cpp
Labels: src

#4309 feat: extend `add_spawn()` to handle creating pets
  src/editmap.cpp
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/monster.cpp
  src/monster.h
  src/savegame_json.cpp
  src/submap.h
Labels: src

#4311 feat: add reproduce area options in debug-map menu
  src/debug_menu.cpp
  src/monster.cpp
  src/monster.h
Labels: src

#4314 fix: chair symbol in `house_fence01`
  data/json/mapgen/house/house_fence01.json
Labels: data

#4313 feat: erase items in area
  src/debug_menu.cpp
Labels: src

#4319 fix: dont spawn eggs with negative age values
  src/monster.cpp
Labels: src

#4323 fix: add a roof to the Hazardous Waste Sarcophagus
  data/json/mapgen/hazardous_waste_sarcophagus.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
Labels: data

#4324 feat(content):Update Boris mission text
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
Labels: data

#4325 fix(port): Do not move into monsters that we cannot displace
  src/game.cpp
Labels: src

#4321 fix(port): make shock absorbers actually absorb shock damage
  data/json/vehicleparts/armor.json
  data/json/vehicleparts/vp_flags.json
  src/vehicle.cpp
Labels: src, data

#4312 feat(content): residential personal items
  data/json/mapgen/house/house_fence09.json
  data/json/mapgen/nested/residential_personal_items.json
  data/json/mapgen_palettes/house_general_palette.json
  data/mods/No_Hope/Mapgen/office_doctor.json
  data/mods/No_Hope/palettes.json
Labels: data, mods

#4329 feat(content): Cooking with insect eggs
  data/json/requirements/cooking_components.json
Labels: data

#4328 feat(content): Sting and Run
  data/json/monsters/insect_spider.json
Labels: data

#4320 feat: stack comestibles regardless of rot
  src/cached_item_options.cpp
  src/cached_item_options.h
  src/item.cpp
  src/options.cpp
  tests/item_test.cpp
Labels: src, tests

#4330 feat(port): Add horse breeding
  data/json/monsters/mammal.json
Labels: data

#4332 fix: pets with `MF_PET_WONT_FOLLOW` flag don't follow player
  src/monmove.cpp
Labels: src

#4335 feat(balance): reduce jar requirement in `In a Pickle` mission
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
Labels: data

#4338 fix: nested mapgen position on `s_library_roof_1`
  data/json/mapgen/library.json
Labels: data

#4339 feat(UI): move item notes to be with description, move `MAGIC_FOCUS` flag description to flag section
  data/json/flags.json
  src/item.cpp
Labels: src, data

#4340 feat(content): Repave the road to Isherwood Farm
  data/json/mapgen/isherwood_farms/farm_isherwood.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Labels: data

#4342 fix: small power substation
  data/json/mapgen/power_station_small.json
Labels: data

#4343 fix: increase capacity of lead-acid grid batteries
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: data

#4344 feat: limit music log spam
  src/iuse.cpp
Labels: src

#4345 feat(content): Add stiletto category
  data/json/items/tool/workshop.json
  data/json/martialarts.json
  data/json/weapon_categories.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
Labels: docs, data

#4347 fix(UI): farming zone activity warns if it is too cold
  src/activity_handlers.h
  src/activity_item_handling.cpp
Labels: src

#4349 fix: Coca is not safe to eat
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/raw_veggy.json
Labels: data

#4346 feat(content): Backalley ripper docs
  data/json/mapgen/city_blocks/urban_19_victorian.json
  data/json/mapgen/city_blocks/urban_26_dense_club.json
  data/json/mapgen/city_blocks/urban_28_dense_cafe_laundry.json
Labels: data

#4352 fix: use `copy-from` for large yeast jars, general fixes to yeast cultures
  data/json/items/tool/cooking.json
Labels: data

#4354 fix(balance): remove soldering iron as possible tool for 2 recipes
  data/json/recipes/other/other.json
  data/json/recipes/weapon/explosive.json
Labels: data

#4355 feat(balance): adjustments to coca products
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/raw_veggy.json
Labels: data

#4356 fix: dont crash when equipping npc with no existing clothing
  src/armor_layers.cpp
Labels: src

#4357 fix(balance): changes in perishables
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_fruit.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  tests/char_edible_rating_test.cpp
  tests/modify_morale_test.cpp
Labels: data, tests

#4358 fix: cabin chemist gives you bottles that actually exist
  data/json/npcs/cabin_chemist/cabin_chemist.json
Labels: data

#4362 feat(mods/pride_flags): add an in-repo mod for pride flags
  .github/semantic.yml
  data/mods/pride_flags/Pride.png
  data/mods/pride_flags/flags.json
  data/mods/pride_flags/item_groups.json
  data/mods/pride_flags/mod_tileset.json
  data/mods/pride_flags/modinfo.json
  data/mods/pride_flags/recipes.json
Labels: data, mods

#4363 feat(content): the armored wheel is now off-road
  data/json/items/vehicle/wheel.json
  data/json/vehicleparts/wheel.json
  tests/vehicle_efficiency_test.cpp
Labels: data, tests

#4364 fix(UI): do not hide skills from books on max skill
  src/game_inventory.cpp
Labels: src

#4365 fix: minor typo in "wild veggetable omelette"
  data/json/items/comestibles/egg.json
Labels: data

#4366 fix: energy gatling weapon class weapon mod slot fix
  data/json/items/classes/gun.json
Labels: data

#4367 fix: make count-by-charges vehiclepart installable
  src/vehicle_part.cpp
Labels: src

#4368 fix: dead state persisting between worlds
  src/game.cpp
Labels: src

#4373 fix: negative calories when creating dry rice
  data/json/items/comestibles/veggy_dishes.json
Labels: data

#4374 test: check negative calories
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/other.json
  tests/comestible_test.cpp
  tests/test_statistics.h
Labels: data, tests

#4380 fix: mapgen fix for level 0 of the Necropolis
  data/json/mapgen/necropolis/necropolis.json
  data/json/mapgen_palettes/necropolis/necropolis_a.json
Labels: data

#4384 fix: Tactical Tonfa (off) didn't clip to belts
  data/json/items/melee/bludgeons.json
Labels: data

#4387 fix: more fix for level 0 of the Necropolis
  data/json/mapgen/necropolis/necropolis.json
  data/json/mapgen_palettes/necropolis/necropolis_a.json
Labels: data

#4385 feat(UI): display flags in debug mode
  src/item.cpp
Labels: src

#4391 feat(balance): increase focus gain by 10x, remove read focus penalty
  src/character_effects.cpp
Labels: src

#4393 feat(balance): increase morale gain (and loss) from food to 12 hours
  src/consumption.cpp
Labels: src

#4389 fix(balance): Recipe changes to address land mine component inconsistencies
  data/json/recipes/other/traps.json
  data/json/uncraft/weapon/explosive.json
Labels: data

#4394 fix: remove unused variable to make clang-tidy stop complaining
  src/character_effects.cpp
Labels: src

#4341 fix: nets should not deal damage
  data/json/ammo_effects.json
  data/json/ammo_effects_simple.json
  data/json/flags.json
  data/json/items/ranged/throwing.json
  src/creature.cpp
  src/flag.cpp
  src/flag.h
  src/ranged.cpp
Labels: src, data

#4398 fix: prevent segfault when loading invalid zone type
  src/clzones.cpp
Labels: src

#4396 feat(content): seasoned meat products and small tweaks to food recipes
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/sandwich.json
  data/json/obsoletion/recipes.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/other.json
  data/json/recipes/food/veggi.json
  data/json/requirements/cooking_components.json
Labels: data

#4399 feat(balance): less fruit, berries and nuts in forests
  data/json/regional_map_settings.json
Labels: data

#4403 fix: zones being erased on loading save
  src/clzones.cpp
Labels: src

#4405 fix(balance): nerf foraging swamp trees
  data/json/regional_map_settings.json
Labels: data

#4406 fix(balance): clay crafting standartization
  data/json/recipes/ammo/other.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/other.json
  data/json/recipes/other/tools.json
Labels: data

#4407 fix(balance): make herbal teas autolearn
  data/json/recipes/food/drinks.json
Labels: data

#4409 fix(balance): reduce autolearn level of bog iron recipe and add it in more books
  data/json/recipes/other/materials.json
Labels: data

#4382 feat(content,port): Add `Brawler` trait
  data/json/mutations/mutations.json
  src/avatar_action.cpp
  src/turret.cpp
  src/vehicle_use.cpp
Labels: src, data

#4408 feat(UI,balance): Sane default season length
  data/mods/TEST_DATA/items.json
  src/options.cpp
  tests/npc_talk_test.cpp
  tests/weather_test.cpp
Labels: src, data, tests, mods

#4295 docs: do not recommend makefile
  doc/src/content/docs/en/dev/guides/building/makefile.md
Labels: docs

#3253 build: tracy integration
  CMakeLists.txt
  doc/src/assets/img/tracy/main.png
  doc/src/assets/img/tracy/options.png
  doc/src/assets/img/tracy/stats.png
  doc/src/content/docs/en/dev/guides/building/cmake.md
  doc/src/content/docs/en/dev/guides/building/vs_cmake.md
  doc/src/content/docs/en/dev/guides/tracy.md
  src/CMakeLists.txt
  src/character_turn.cpp
  src/creature.cpp
  src/game.cpp
  src/lightmap.cpp
  src/map.cpp
  src/map_field.cpp
  src/monmove.cpp
  src/monster.cpp
  src/overmapbuffer.cpp
  src/player_activity.cpp
  src/profile.h
  src/sounds.cpp
  src/ui_manager.cpp
  src/weather.cpp
  tools/clang-tidy-plugin/CMakeLists.txt
Labels: docs, src

#4414 perf: disable vsync by default
  src/options.cpp
  src/sdltiles.cpp
Labels: src

#4417 fix: add `UNSAFE_CONSUME` to all raw meat items
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/offal_dishes.json
Labels: data

#4416 feat: allow making jerky with offal
  data/json/recipes/food/meat.json
Labels: data
