Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-07, with the labels that each got.

#4915 refactor: JSONize drug deal map extra
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/mapgen/map_extras/corpses.json
  data/json/overmap/map_extras.json
Labels: data

#4916 fix: Remove scent from player class
  src/newcharacter.cpp
  src/player.h
Labels: src

#4917 fix: Move `last_target` and `last_target_pos` into `Character` class
  src/activity_actor.cpp
  src/character.h
  src/game.cpp
  src/melee.cpp
  src/player.h
  src/ranged.cpp
Labels: src

#4919 feat(balance): define crafting quality for superglue and bone glue, adjustments to relevant recipes
  data/json/recipes/ammo/components.json
  data/json/recipes/armor/head.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/traps.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/materials.json
  data/mods/Magiclysm/recipes/magic_tools.json
Labels: data, mods

#4922 fix(port): Prevent segfault when listening to radio msgs
  src/cata_utility.cpp
Labels: src

#4925 fix: bionics from feral humans use correct fault
  data/json/harvest.json
Labels: data

#4918 fix: port over saner unicode handling for worldnames
  src/char_validity_check.cpp
  src/worldfactory.cpp
  tests/char_validity_check_test.cpp
Labels: src, tests

#4929 feat: Change Kiln volumes
  data/json/furniture_and_terrain/furniture-tools.json
Labels: data

#4930 fix: alcohol soldering iron can now be used for expanding grids
  data/json/requirements/electronics.json
Labels: data

#4927 feat(content): Adds mushroom farming via racks and logs, obsoletes spores
  data/json/construction.json
  data/json/construction_group.json
  data/json/flags.json
  data/json/furniture_and_terrain/furniture-domestic_plants.json
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/items/comestibles/mushroom.json
  data/json/items/comestibles/seed.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/recipes/food/seeds.json
Labels: data

#4931 feat(content): more residential roof chunks
  data/json/mapgen/nested/roof_nested.json
Labels: data

#4926 fix: NPCs hold fire if their target is out of max range
  src/npcmove.cpp
Labels: src

#4932 fix: fixes crash when fertilizing crops
  src/iexamine.cpp
Labels: src

#4934 feat(balance): sanity-check and rebalance mushroom farming, culture is easier to make, mushroom racks can be planted on via examine
  data/json/construction.json
  data/json/furniture_and_terrain/furniture-domestic_plants.json
  data/json/items/comestibles/mushroom.json
  data/json/items/comestibles/seed.json
  data/json/recipes/food/seeds.json
Labels: data

#4935 docs: Fix `give_aid_all` effects field for NPC docs
  doc/src/content/docs/en/mod/json/reference/creatures/npcs.md
Labels: docs

#4938 feat(content): add new entries to residential lawn nested containers
  data/json/mapgen/nested/residential_lawn_nested.json
Labels: data

#4943 fix: use regional terrain and `roof_palette` for the liquor store
  data/json/mapgen/s_liquor.json
Labels: data

#4944 feat(balance): decrease prices for stone chisel, canning pot, and shaving razor
  data/json/items/generic/bathroom_house.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/tool/woodworking.json
Labels: data

#4946 feat(content): add house_fence10
  data/json/mapgen/house/house_fence10.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4933 fix: Sanity check worldname at input instead of confirmation
  src/char_validity_check.cpp
  src/input.h
  src/string_editor_window.cpp
  src/string_input_popup.cpp
  src/string_input_popup.h
  src/worldfactory.cpp
  tests/char_validity_check_test.cpp
Labels: src, tests

#4937 feat: can now plant mushrooms underground
  data/json/flags.json
  data/json/items/comestibles/seed.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/flag.cpp
  src/flag.h
  src/iexamine.cpp
  src/vehicle.cpp
  src/vehicle_part.cpp
  src/weather.cpp
Labels: docs, src, data

#4945 feat(balance): standardize current 3D printing recipes
  data/json/recipes/ammo/arrows.json
  data/json/recipes/ammo/other.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/toolsets.json
Labels: data

#4947 build: fix tracy builds
  CMakeLists.txt
  doc/src/content/docs/en/dev/guides/tracy.md
Labels: docs

#4951 feat(balance): changes in carried gun, magazine and ammo drops
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/9mm.json
  data/json/monsterdrops/zombie_default.json
Labels: data

#4952 fix(content): fix multicookers item deletion
  src/iuse.cpp
Labels: src

#4949 test: suppress ranged and lua warnings
  src/CMakeLists.txt
  tests/ranged_aiming_test.cpp
Labels: src, tests

#4955 fix: add ammogroup to nested carbon guns
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
Labels: data

#4939 feat(balance): assorted updates for stave-like items
  data/json/items/melee/bludgeons.json
  data/json/items/ranged/slings.json
  data/json/items/tool/landscaping.json
  data/json/recipes/weapon/bashing.json
Labels: data

#4954 feat(balance): reference manuals no longer useless
  data/json/items/book/cooking.json
  data/json/items/book/fabrication.json
  data/json/items/book/firstaid.json
  data/json/recipes/ammo/arrows.json
  data/json/recipes/ammo/components.json
  data/json/recipes/ammo/other.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/chem/chemicals.json
  data/json/recipes/chem/drugs.json
  data/json/recipes/chem/fuel.json
  data/json/recipes/chem/other.json
  data/json/recipes/electronic/tools.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/medical.json
  data/json/recipes/other/other.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/ranged.json
Labels: data

#4956 feat(content): add some new items, related balance adjustments
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/chemicals_and_resources.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/landscaping.json
  data/json/materials.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/tools.json
  data/json/recipes/weapon/cutting.json
Labels: data

#4957 docs: Add Fedora package installation instructions for CMake builds
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

#4962 chore: remove old gutters terrain
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/mapgen_palettes/roof_palette.json
Labels: data

#4967 fix(content,mods/DinoMod): spawn fixes and balance improvements
  data/mods/DinoMod/monstergroups/lab.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
Labels: data, mods

#4960 feat(balance): allow loading ammo belts in magazine satchels and power armor mag carrier, add SAW leg pouch, rebalances to ammo belt volume and capacity
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/military.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/power_armor.json
  data/json/items/magazine/223.json
  data/json/items/magazine/308.json
  data/json/professions.json
  data/json/recipes/armor/storage.json
  src/item.cpp
Labels: src, data

#4961 feat(balance): add spawns for newly-added items, rebalance spawns of reference books
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/library.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/books.json
  data/json/itemgroups/military.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/tools.json
  data/json/mapgen/animalpound.json
  data/json/mapgen/animalshelter.json
  data/json/mapgen/hospital.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/public_works.json
  data/json/mapgen/veterinarian.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/npcs/NC_SOLDIER.json
  data/json/npcs/items_generic.json
Labels: data

#4965 refactor: Obsolete Combat Armor hardcoded iuse
  data/json/item_actions.json
  data/json/items/tool_armor.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: src, data

#4969 feat(content): add bungalow30
  data/json/mapgen/house/bungalow30.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#4973 fix(content): Grid 3D Printer Use Action
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: data

#4972 feat(content): add chewing tobacco recipe, edit chewing tobacco description and make raw tobacco dryable by smoke rack
  data/json/items/comestibles/med.json
  data/json/items/generic.json
  data/json/recipes/chem/drugs.json
Labels: data

#4968 fix: Add `transform_charges` so that transform `iuse_actors` can use charges on transform again.
  data/json/items/items_holiday.json
  data/json/items/tool/electronics.json
  data/json/items/tool/fire.json
  data/json/items/tool/lighting.json
  data/json/items/tool/misc.json
  data/json/items/tool_armor.json
  data/mods/Aftershock/items/tool_armor.json
  data/mods/Aftershock/items/weapons.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/No_Hope/Items/tools.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/character.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: docs, src, data, mods

#4971 docs: Add gcc-c++ to Fedora install script
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

#4974 feat(balance): craftable power armor accessories, rework non-craftable accessories, update exo-suits
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/containers.json
  data/json/professions.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/other/containers.json
Labels: data

#4975 fix: mining a boulder no longer destroys the floor under it too
  src/activity_handlers.cpp
Labels: src

#4977 feat(content): add clay and copper retorts for craftable `DISTILL` quality 1
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/items/tool/cooking.json
  data/json/recipes/other/tools.json
Labels: data

#4982 docs: fix required fedora packages
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

#4980 feat(balance): add more component options to soldering iron recipes, related tweaks
  data/json/recipes/electronic/tools.json
  data/json/recipes/other/tools.json
  data/json/requirements/electronics.json
  data/json/requirements/toolsets.json
Labels: data

#4984 feat(balance): add houseware spawns for ACs, space heaters, etc to home improvement and furniture stores
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/mapgen/homeimprovement.json
  data/json/mapgen/homeimprovement_superstore.json
  data/json/mapgen/homeimprovement_superstore_new.json
  data/json/mapgen/s_furniture.json
Labels: data

#4981 feat(balance): make rag pouches and leather pouches consistent
  data/json/items/armor/storage.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/torso.json
Labels: data

#4986 fix: bronze hammer actually made of bronze
  data/json/items/tool/workshop.json
Labels: data

#4988 fix(mods/aftershock): make Sentinel Knight bots pets when re-activating
  data/mods/Aftershock/items/inactiverobot.json
Labels: data, mods

#4987 feat(content): add terrain that can be salvaged for an XL wind turbine to the wind turbine location
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/mapgen/wind_turbine.json
Labels: data

#4990 fix: remove the sidewalk around the prison
  data/json/mapgen/prison_1.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
Labels: data

#4989 build: change executable name into "cataclysm-bn-tiles"
  Makefile
  build-data/osx/Cataclysm.sh
  build-scripts/windist.ps1
  cataclysm-launcher
  deno.jsonc
  doc/src/content/docs/en/dev/guides/building/cygwin.md
  doc/src/content/docs/en/dev/guides/building/makefile.md
  doc/src/content/docs/en/dev/guides/building/msys.md
  doc/src/content/docs/en/dev/guides/building/vs_cmake.md
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  scripts/gen_cli_docs.ts
  src/CMakeLists.txt
  src/debug.cpp
  tests/CMakeLists.txt
  tools/windows_limit_memory.py
Labels: docs, src, tests, scripts

#4991 feat(balance): Fix deluxe oatmeal possibly having too few calories
  data/json/items/comestibles/wheat.json
  data/json/recipes/food/other.json
Labels: data

#4992 fix: wool mattress deploys as correct furniture
  data/json/items/resources/misc.json
Labels: data

#4997 feat(content): add dumpster item group to more dumpsters
  data/json/mapgen/bike_shop.json
  data/json/mapgen/city_blocks/urban_25_dense_diner_apt.json
  data/json/mapgen/city_blocks/urban_27_dense_barber_apt.json
  data/json/mapgen/city_blocks/urban_29_dense_row.json
  data/json/mapgen/city_blocks/urban_30_dense_subway.json
  data/json/mapgen/city_blocks/urban_33_hotel.json
  data/json/mapgen/city_blocks/urban_34_school.json
  data/json/mapgen/city_blocks/urban_37_office_tower_beehive.json
  data/json/mapgen/city_blocks/urban_38_bar_hardware_house.json
  data/json/mapgen/city_blocks/urban_39_market_subway_newspaper.json
  data/json/mapgen/irradiator_1.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/private_resort.json
  data/json/mapgen/ws_biker_dump.json
  data/json/mapgen/ws_regional_dump.json
  data/json/mapgen_palettes/city_block_palette.json
  data/json/mapgen_palettes/megastore_palette.json
  data/json/mapgen_palettes/mil_surplus.json
  data/json/mapgen_palettes/necropolis/necropolis_a.json
  data/json/mapgen_palettes/park_palette.json
  data/json/mapgen_palettes/power_plant_palette.json
  data/json/mapgen_palettes/speedway.json
Labels: data

#4998 fix: don't spawn military guns or ammo on shooting range
  data/json/mapgen/shooting_range.json
Labels: data

#5000 feat(balance): revamp of rifle spawns, OA-93 rename and buff
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/items/gun/223.json
  data/json/items/gun/762.json
  data/json/mapgen/s_gun.json
Labels: data

#5003 feat(content): revamp of pistol spawns, plus: new gun Taurus Judge
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/45colt.json
  data/json/mapgen/s_gun.json
Labels: data

#5005 feat(balance): revamp of SMG spawns
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/mapgen/s_gun.json
Labels: data

#5004 fix: replace urban_7_house_garden outdoor terrain with regional terrain
  data/json/mapgen/city_blocks/urban_7_house_garden.json
Labels: data

#5006 feat(balance): revamp shotgun spawns, make nested winchester 1887, 1897.
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/shot.json
  data/json/mapgen/basement/basement_guns.json
  data/json/mapgen/basement/basement_meth.json
  data/json/mapgen/necropolis/necropolisB1.json
  data/json/mapgen/nested/basement_nested.json
  data/json/mapgen/s_gun.json
Labels: data

#5007 fix: fix for no hope shotgun spawn
  data/mods/No_Hope/Mapgen/basement_nested.json
Labels: data, mods

#5002 feat(content): implement carbon fiber material, spawn in relevant locations, printer spawns for industrial center and microlab
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/robofac_trade.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/supplies.json
  data/json/items/resources/plastic.json
  data/json/items/tool/science.json
  data/json/mapgen/industrial_center.json
  data/json/mapgen/microlab/microlab_special_tiles.json
  data/json/mapgen/nested/industrial_nested.json
  data/json/mapgen_palettes/industrial_center_palette.json
  data/json/materials.json
  data/json/recipes/ammo/arrows.json
  data/json/recipes/ammo/other.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/toolsets.json
  data/json/uncraft/cbm/cbm.json
Labels: data

#4994 feat(UI)!: rename unused `CSC_AMMO_GRENADES` crafting category to `CSC_AMMO_LAUNCHER`, use for launcher ammo recipes
  data/json/recipes/ammo/launcher.json
  data/json/recipes/ammo/other.json
  data/json/recipes/ammo/shot.json
  data/json/recipes/recipes.json
  data/mods/Generic_Guns/recipes/recipes_grenade_propelled.json
Labels: data, mods

#5008 feat(balance): Swap mod locations for compound and normal crossbows
  data/json/items/ranged/crossbows.json
Labels: data

#5010 fix: replace urban_8_house_brick_garden outdoor terrain with regional terrain
  data/json/mapgen/city_blocks/urban_8_house_brick_garden.json
Labels: data

#5009 fix: `extract clay` and related constructions can now target mounds and underground terrain
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
Labels: docs, data

#5011 fix: replace urban_9_house_garage_loft outdoor terrain with regional terrain
  data/json/mapgen/city_blocks/urban_9_house_garage_loft.json
Labels: data

#5014 feat(balance): standardize time taken by mining tools, needs gain scales with time taken, remove pain penalties
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/iuse.cpp
Labels: src

#5018 fix: Remove mention of flu from Really Bad Day scenario
  data/json/scenarios.json
Labels: data

#5017 feat: rework crater map extra, increased crater size and properly carves out an epicenter like explosives do
  src/map_extras.cpp
Labels: src

#5022 feat(balance): autolearn hand pump
  data/json/recipes/other/tools.json
Labels: data

#5021 fix: cleanup the file of the small power substation
  data/json/mapgen/power_station_small.json
Labels: data

#5023 feat(content): spawn aluminum arrows and bolts
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/main.json
Labels: data

#5024 feat(content): zombies drop bows/crossbows/slingshots with ammo, house spawns for archery added.
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns_stored.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/itemgroups/collections_domestic.json
  data/json/mapgen/basement/basement_guns.json
  data/json/mapgen/nested/basement_nested.json
  data/json/mapgen/store/s_hunting.json
  data/json/monsterdrops/zombie_default.json
Labels: data

#5025 feat: JSON byproducts generated by digging pits, digging in sand and clay produces reasonable amounts of expected product
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/itemgroups/misc.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/iuse.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: docs, src, data

#5029 feat(balance): lower chance of archery drop rate.
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/monsterdrops/zombie_default.json
Labels: data

#5030 fix: use regional terrain for recycling centres
  data/json/mapgen/recycle_center.json
Labels: data

#4979 build: fix some build errors on fedora
  src/cata_arena.h
  src/safe_reference.h
Labels: src

#5032 feat(content): hunter gun spawn group and new gun safes in rural area.
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns_stored.json
  data/json/mapgen/farm.json
  data/json/mapgen/farm_2side.json
  data/json/mapgen/farm_dairy.json
  data/json/mapgen/farm_dairy_2.json
  data/json/mapgen/farm_horse.json
  data/json/mapgen/farm_stills.json
  data/json/mapgen/farm_tiles.json
  data/json/mapgen_palettes/farm.json
  data/json/mapgen_palettes/farm_horse.json
  data/json/mapgen_palettes/farm_lots.json
Labels: data

#5033 feat: raise amount of itemgroup tests from 100 -> 1000
  src/item_factory.cpp
Labels: src

#5034 fix: lab dorms no longer place machinery under counters, utulity rooms no longer place sinks over pumps
  data/json/mapgen/lab/lab_floorplans.json
Labels: data

#5035 fix(mods/aftershock): remove several unneeded overrides from Aftershock, mainline half-obsoleted quilts, misc. sanity-checkling
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/furniture.json
  data/json/itemgroups/supplies.json
  data/json/items/armor/bedding.json
  data/json/recipes/armor/other.json
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/maps/item_groups.json
  data/mods/Aftershock/maps/lab_vehicle_track.json
  data/mods/Aftershock/maps/regional_map_settings.json
  data/mods/Aftershock/recipes/deconstruction/bionic_deconstruction.json
  data/mods/Aftershock/recipes/deconstruction/deconstruction_overrides.json
  data/mods/Aftershock/recipes/obsolete.json
  data/mods/Aftershock/recipes/uncraft_bionic.json
  data/mods/Aftershock/region_settings.json
Labels: data, mods

#5036 feat(balance): Martial Arts Book Spawn Chances
  data/json/itemgroups/books.json
  data/json/mapgen/dojo.json
Labels: data

#5037 fix: centipede matriarches no longer print error message and fail to summon children, increased cooldown
  data/json/monster_special_attacks/spells.json
  data/json/monsters/insect_spider.json
Labels: data

#5039 fix(UI): stepping back from ledge prints a message instead of an extra popup
  src/iexamine.cpp
Labels: src

#5038 fix: reloading liquid out of a filthy canteen no longer contaminates the receiving container, consistent with refilling it via unload
  src/activity_handlers.cpp
Labels: src

#5031 feat(UI): character preview in traits tab on character creation
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/newcharacter.cpp
  src/newcharacter.h
  src/output.cpp
  src/output.h
Labels: src

#5041 fix(UI): character preview window minor layout change
  src/newcharacter.cpp
Labels: src

#5042 fix: replace urban_40_house outdoor terrain with regional terrain
  data/json/mapgen/city_blocks/urban_40_house.json
Labels: data

#5043 feat(balance): item updates to various professions, add a new profession, updates to scenario profession lists
  data/json/professions.json
  data/json/scenarios.json
Labels: data

#5045 feat(content): let martial books spawn elsewhere (rarely), add 6 missing manuals to the spawnlist
  data/json/itemgroups/books.json
Labels: data

#5047 fix(UI): character preview window redesign
  src/newcharacter.cpp
  src/newcharacter.h
Labels: src

#5049 refactor: use extends instead of overwrite on Ironshod Quarterstaff
  data/json/items/melee/bludgeons.json
Labels: data

#5050 fix: use regional terrain for sporting goods store
  data/json/mapgen/sports_store.json
Labels: data

#5051 fix: change the `fill_ter` of the mapgen `office_doctor_2`
  data/json/mapgen/office_doctor.json
Labels: data

#5053 feat(UI): toggle option for character preview window & clothes toggle feature
  data/raw/keybindings/keybindings.json
  src/action.cpp
  src/action.h
  src/character.cpp
  src/character.h
  src/newcharacter.cpp
  src/newcharacter.h
  src/options.cpp
Labels: src, data

#5048 feat(port): Port the Dash spell effect from DDA
  data/mods/Magiclysm/Spells/debug.json
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: docs, src, data, mods

#5052 fix: make blood draw kit and harvesting blood more consistent, centrifuge now looks for tainted blood
  data/json/flags.json
  data/json/items/comestibles/carnivore.json
  data/json/npcs/missiondef.json
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/computer_session.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/iuse.cpp
  tests/item_type_name_test.cpp
Labels: docs, src, data, tests

#5054 fix(UI): segmentation fault fix on mutation taking off clothes
  src/character.cpp
  src/character.h
  src/mutation.cpp
  src/newcharacter.cpp
  src/newcharacter.h
Labels: src

#5055 fix: use regional terrain for bookstores
  data/json/mapgen/s_bookstore.json
Labels: data

#5060 fix: cardboard box furniture yields cardboard when bashed instead of paper
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/furniture-terrains.json
Labels: data

#5059 fix(UI): curses build fix
  src/newcharacter.cpp
Labels: src

#5058 fix: foraging mushrooms yields sane amount, no longer yields obsolete spores
  data/json/itemgroups/Agriculture_Forage_Excavation/forage.json
Labels: data

#5040 feat(balance): reduce unarmed skill bonus damage, but allow it to affect unarmed weapons
  src/character_display.cpp
  src/melee.cpp
Labels: src

#5061 feat(content): add more 3d printing recipes, related balance adjustments
  data/json/items/resources/plastic.json
  data/json/recipes/armor/head.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/bashing.json
Labels: data

#5062 fix: typofix `charge` to `charges`
  data/json/itemgroups/Agriculture_Forage_Excavation/forage.json
Labels: data

#5067 fix: use regional terrain for hunting supply store
  data/json/mapgen/store/s_hunting.json
Labels: data

#5065 fix(UI): another attempt to fix curses build
  src/character_preview.cpp
  src/character_preview.h
  src/newcharacter.cpp
  src/newcharacter.h
  src/output.cpp
  src/output.h
Labels: src

#5070 build: try fix curses build again
  Makefile
  src/character_preview.cpp
  src/newcharacter.cpp
  tests/Makefile
Labels: src, tests

#5071 fix: use regional terrain for radio towers
  data/json/mapgen/radio_tower.json
Labels: data

#5068 fix(content): review of antique and mil surplus stores
  data/json/itemgroups/art_antiques_crafts.json
  data/json/mapgen/antique_store.json
  data/json/mapgen/mil_surplus.json
  data/json/mapgen_palettes/mil_surplus.json
Labels: data

#5073 fix: use regional terrain for the mapgen `mil_surplus_2`
  data/json/mapgen/mil_surplus.json
  data/json/mapgen_palettes/mil_surplus.json
Labels: data

#5075 feat(UI): filter by category for mutation debug menu
  src/ui.cpp
  src/ui.h
  src/wish.cpp
Labels: src

#5078 fix: use regional terrain for cubical offices
  data/json/mapgen/office_cubical.json
Labels: data

#5069 feat(content): rebuilding gunstores and spawn changes
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/vending_machines.json
  data/json/mapgen/s_gun.json
Labels: data

#5077 feat: add construction for shallow graves not requiring a coffin
  data/json/construction.json
  data/json/construction_group.json
  src/construction.cpp
Labels: src, data

#5085 build: fix build (again!)
  src/wish.cpp
  tests/Makefile
Labels: src, tests

#5083 feat(content): Spiked club, minor weapon tweaks
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Labels: data

#5084 feat(balance): set autolearn skills for retorts consitently 1 level higher than recipe levels
  data/json/recipes/other/tools.json
Labels: data

#5090 fix: use regional terrain for the shooting range
  data/json/mapgen/shooting_range.json
Labels: data

#5091 fix: misplaced items in the shooting range
  data/json/mapgen/shooting_range.json
Labels: data

#5092 fix: nailboard trap is using nails again
  data/json/recipes/other/traps.json
Labels: data

#5093 docs: Update Special Attacks docs
  doc/src/content/docs/en/mod/json/reference/creatures/monsters.md
Labels: docs

#5095 fix: use regional terrain for the museum
  data/json/mapgen/museum.json
Labels: data

#5101 fix: use regional terrain for the car dealership
  data/json/mapgen/cs_car_dealership.json
Labels: data

#5099 fix(UI): character preview side effects bug fix
  src/character_preview.cpp
  src/character_preview.h
Labels: src

#5102 fix: glock 22 will spawn with correct loaded magazines
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/items/magazine/40.json
Labels: data

#5103 feat(mods/ruralbiome): Obsolete rural mapgen mod
  .github/semantic.yml
  data/mods/rural_biome/modinfo.json
  doc/src/assets/semantic.json
Labels: docs, data, mods

#5108 fix: use regional terrain for the car showroom
  data/json/mapgen/cs_car_showroom.json
Labels: data

#5097 feat(balance): convert all handloads to use reversible recipes instead of uncrafts, fix reversible shotshell recipes, various related handload fixes
  data/json/recipes/ammo/launcher.json
  data/json/recipes/ammo/pistol.json
  data/json/recipes/ammo/rifle.json
  data/json/recipes/ammo/shot.json
  data/json/requirements/materials.json
  data/json/requirements/toolsets.json
  data/json/uncraft/ammo/10mm.json
  data/json/uncraft/ammo/22.json
  data/json/uncraft/ammo/223.json
  data/json/uncraft/ammo/270win.json
  data/json/uncraft/ammo/30-06.json
  data/json/uncraft/ammo/300.json
  data/json/uncraft/ammo/300blk.json
  data/json/uncraft/ammo/308.json
  data/json/uncraft/ammo/32.json
  data/json/uncraft/ammo/357mag.json
  data/json/uncraft/ammo/357sig.json
  data/json/uncraft/ammo/38.json
  data/json/uncraft/ammo/380.json
  data/json/uncraft/ammo/38super.json
  data/json/uncraft/ammo/40.json
  data/json/uncraft/ammo/40x46mm.json
  data/json/uncraft/ammo/40x53mm.json
  data/json/uncraft/ammo/410shot.json
  data/json/uncraft/ammo/44.json
  data/json/uncraft/ammo/45.json
  data/json/uncraft/ammo/454.json
  data/json/uncraft/ammo/4570.json
  data/json/uncraft/ammo/45colt.json
  data/json/uncraft/ammo/460.json
  data/json/uncraft/ammo/46mm.json
  data/json/uncraft/ammo/500.json
  data/json/uncraft/ammo/50bmg.json
  data/json/uncraft/ammo/545.json
  data/json/uncraft/ammo/556.json
  data/json/uncraft/ammo/57mm.json
  data/json/uncraft/ammo/5x50.json
  data/json/uncraft/ammo/700nx.json
  data/json/uncraft/ammo/762x25.json
  data/json/uncraft/ammo/762x39.json
  data/json/uncraft/ammo/762x51.json
  data/json/uncraft/ammo/762x54.json
  data/json/uncraft/ammo/9mm.json
  data/json/uncraft/ammo/9x18mm.json
  data/json/uncraft/ammo/shot.json
  data/json/uncraft/ammo/signal_flare.json
  data/mods/Generic_Guns/recipes/recipes_pistol.json
  data/mods/Generic_Guns/recipes/recipes_rifle.json
  data/mods/Generic_Guns/recipes/recipes_shot.json
  data/mods/Generic_Guns/recipes/uncraft.json
  src/requirements.cpp
Labels: src, data, mods

#5106 feat: simplify cigar description
  data/json/items/comestibles/med.json
Labels: data

#5107 feat(i18n): korean names
  data/names/ko.json
Labels: data

#5100 feat(mods/Monster_Girls): Add a mod for Monster Girl mutations
  .github/semantic.yml
  data/mods/Monster_Girls/categories.json
  data/mods/Monster_Girls/migration.json
  data/mods/Monster_Girls/modinfo.json
  data/mods/Monster_Girls/mutagens.json
  data/mods/Monster_Girls/recipes.json
  data/mods/Monster_Girls/thresh_mutation.json
  data/mods/Monster_Girls/vanilla_mutations.json
  doc/src/assets/semantic.json
  scripts/monster_girls_mutations/mutation-conversion.py
  scripts/monster_girls_mutations/threshConverter.py
Labels: docs, data, mods, scripts

#5118 fix: Update now unneeded comment
  src/iuse_actor.cpp
Labels: src

#5116 fix: `drop` only drops one item
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/ranged.cpp
Labels: docs, src
