Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2024-08, with the labels that each got.

#5121 feat(content): reuse of .22 casings
  data/json/items/generic/casing.json
  data/json/recipes/ammo/components.json
Labels: data

#5126 fix: turn the small power substation so that the entrance faces the road
  data/json/mapgen/power_station_small.json
Labels: data

#5127 fix: update memory banks CBM description
  data/json/items/bionics.json
Labels: data

#5124 fix: Prime stat weirdness #5123
  data/json/mutations/mutations.json
Labels: data

#5128 fix: Wasp Tower uses the same road connection as Radio Tower
  data/json/overmap/overmap_special/specials.json
Labels: data

#5129 feat(balance): lighters yield plastic scrap instead of plastic chunk when taken apart
  data/json/uncraft/generic.json
Labels: data

#5130 feat: balance fix for leg magazine satchel allowing 2 ammo belts or large magazines
  data/json/items/armor/ammo_pouch.json
Labels: data

#5125 feat(balance): disassembly learning now depends on skill and Int more.
  src/crafting.cpp
Labels: src

#5133 fix: use regional terrain for the antique shop
  data/json/mapgen/antique_store.json
Labels: data

#5134 feat(content): add 2story03
  data/json/mapgen/house/2Story03.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: data

#5117 ci: fix matrix (yet again^2)
  .github/workflows/matrix.yml
  CMakeLists.txt
  Makefile
  build-scripts/gha_compile_only.sh
  build-scripts/gha_test_only.sh
  data/mods/Monster_Girls/thresh_mutation.json
  tests/CMakeLists.txt
Labels: data, tests, mods

#5139 fix: use regional terrain for the dairy farm
  data/json/mapgen/farm_dairy.json
  data/json/mapgen_palettes/farm_dairy.json
Labels: data

#5138 fix: put dirt floor under the gun safes on the farm
  data/json/mapgen/farm.json
Labels: data

#5136 fix(UI): gunmod wield info no longer causes game to crash
  src/character_functions.cpp
Labels: src

#5137 feat(mods/crt_expansion): Remove mainlined constructions from CRIT mod
  data/mods/CRT_EXPANSION/constructions/construction_group.json
  data/mods/CRT_EXPANSION/constructions/crt_constructions.json
  data/mods/CRT_EXPANSION/modinfo.json
Labels: data, mods

#5140 fix: use regional terrain for `s_gun` (gun store)
  data/json/mapgen/s_gun.json
Labels: data

#5142 fix: `s_gun` (gun store) roof
  data/json/mapgen/s_gun.json
Labels: data

#5141 feat(balance): guns dropped by basic zombies can now spawn damaged and/or dirty, like with other zombie gun drops
  data/json/monsterdrops/zombie_default.json
Labels: data

#5143 fix: armored zombie no longer drops entire stacks of wire
  data/json/monsterdrops/zombie.json
Labels: data

#5094 feat(content): moving fungal logic to external settings & dangerous_fungi mod
  data/json/game_balance.json
  data/mods/Dangerous Fungi/modinfo.json
  doc/src/assets/semantic.json
  src/cached_options.cpp
  src/cached_options.h
  src/character.cpp
  src/fungal_effects.cpp
  src/main.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/monattack.cpp
  src/monattack.h
  src/mondeath.cpp
  src/monstergenerator.cpp
  src/options.cpp
  src/options.h
Labels: docs, src, data, mods

#5145 feat(mods/craftgp): obsolete `Craftable Gun Pack` mod, consistency updates for associated mainlined content
  .github/semantic.yml
  data/json/items/book/gun.json
  data/json/recipes/weapon/ranged.json
  data/mods/Craft_Gunpowder/modinfo.json
  doc/src/assets/semantic.json
Labels: docs, mods, data

#5146 fix: correct `stack_size` of hickory nut ambrosia to make sense with recipe requirements
  data/json/items/comestibles/nuts.json
Labels: data

#5147 refactor: further remove reference to faction camp
  doc/src/content/docs/en/mod/json/guides/map/mapgen.md
  doc/src/content/docs/en/mod/json/reference/creatures/npcs.md
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/faction.cpp
  tools/update_blueprint_needs.py
Labels: docs, src

#5151 feat(balance): Add Strong Back to Cattle and Ursine and Optimist to Mouse and Rat categories
  data/json/mutations/mutations.json
  data/mods/Monster_Girls/vanilla_mutations.json
Labels: mods, data

#5150 feat(balance): Allow belt clipping of unsheathable unarmed weapons
  data/json/items/melee/unarmed_weapons.json
Labels: data

#5157 feat: crouching will make you prefer lockpicking over prying, fix being unable to lockpick metal doors with unusable prying tools in inventory
  data/json/bionics.json
  data/json/items/tool/entry_tools.json
  data/raw/tips.json
  src/iexamine.cpp
Labels: src, data

#5159 feat:(balance) Add hairpin lockpick + bone skewer, remove lockpicking from hairpins
  data/json/items/armor/jewelry.json
  data/json/items/generic.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool_armor.json
  data/json/recipes/other/tools.json
Labels: data

#5148 refactor: Merges `deal_damage_handle_type` together.
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/creature.cpp
  src/monster.cpp
  src/monster.h
Labels: docs, src

#5160 fix: change the position of misplaced items in `room_10x10_junk_N` and `room_10x10_junk_S`
  data/json/mapgen/nested/basement_nested.json
Labels: data

#5161 feat(content): 3D printing focused variant of craft shop
  data/json/mapgen/store/printing_shop.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
Labels: data

#5162 fix: use regional terrain for the dollar store `dollarstore`, change the type of door used in the store
  data/json/mapgen/dollar_store.json
Labels: data

#5165 fix: prevent obsolete Extended Claws mutation from still being mutatable.
  data/json/obsoletion/mutations.json
Labels: data

#5163 feat: remove Ugly/Deformed from Feline/Lupine mutation path
  data/json/mutations/mutations.json
  tests/mutation_test.cpp
Labels: tests, data

#5168 fix: use regional terrain for the hardware store `s_hardware_1`
  data/json/mapgen/s_hardware.json
Labels: data

#5166 feat(balance): Easier ways to remove mi-go gas emitters
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-migo.json
  data/json/furniture_and_terrain/furniture-terrains.json
Labels: data

#5175 fix: adjust material usage for vinegar and gin recipes
  data/json/recipes/food/brew.json
  data/json/recipes/food/other.json
Labels: data

#5174 feat(balance): make more lab centrifuge rooms usable for blood analysis
  data/json/mapgen/lab/lab_floorplans.json
  data/json/mapgen/lab/lab_floorplans_1side.json
  data/json/mapgen/lab/lab_rooms.json
Labels: data

#5179 feat(content): revamp of magazine spawns
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
Labels: data

#5184 fix: all rapid strike techniques are consistent with PR 4516
  data/json/martialarts_fictional.json
  data/json/techniques.json
  data/mods/MMA/techniques.json
Labels: mods, data

#5185 docs: add missing martial art fields
  doc/src/content/docs/en/mod/json/reference/creatures/martialart_json.md
Labels: docs

#5180 fix: use regional terrain for the small city dump
  data/json/mapgen/cs_city_dump_small.json
Labels: data

#5182 fix: Tacoma ranch vitamins quest completable on simple nutrition
  data/json/npcs/tacoma_ranch/NPC_ranch_nurse.json
  data/mods/novitamins/modinfo.json
Labels: mods, data

#5183 fix: let burdock spawn again
  data/json/regional_map_settings.json
Labels: data

#5189 feat(content): revamp of ammo spawns
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
Labels: data

#5194 fix: flesh walls are actually made of meat
  data/json/monsters/zed_fusion.json
Labels: data

#5193 feat: don't query the player about stealing from hostile factions, npcs trying to kill you won't stop mid-fight to complain about theft
  src/activity_actor.cpp
  src/activity_item_handling.cpp
  src/consumption.cpp
  src/crafting.cpp
  src/inventory.cpp
  src/item.cpp
  src/pickup.cpp
Labels: src

#5197 feat(balance): changes in base zombie drops
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Weapons_Mods_Ammo/weapons_misc.json
  data/json/itemgroups/tools.json
  data/json/monsterdrops/zombie_default.json
Labels: data

#5198 feat: stop misgendering players in name_g dialogue snippets
  data/json/npcs/talk_tags.json
Labels: data

#5188 refactor: Privatize active field. standardize functions for activating, deactivating and reverting items
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/avatar_functions.cpp
  src/bionics.cpp
  src/character.cpp
  src/explosion.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic_enchantment.cpp
  src/map.cpp
  src/map.h
  src/monattack.cpp
  src/mondeath.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_part.cpp
  tests/active_item_cache_test.cpp
Labels: src, tests

#5072 feat: Basic framework for multiple attacks per weapon
  data/mods/TEST_DATA/monsters.json
  data/mods/TEST_DATA/weapons.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/catalua_bindings_creature.cpp
  src/character.h
  src/character_display.cpp
  src/creature.h
  src/damage.cpp
  src/damage.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
  src/melee.cpp
  src/melee.h
  src/monster.cpp
  src/monster.h
  src/newcharacter.cpp
  tests/item_test.cpp
  tests/melee_test.cpp
Labels: docs, src, JSON, tests, mods, data

#5200 feat(balance): enable befriending certain non-mech bots using ID cards, friendly monsters more proactive about assisting against hostile NPCs, fix error message on retrieving items from pet inventory, assorted fixes to pet menu functions
  data/json/flags.json
  data/json/items/corpses/inactive_bots.json
  data/json/monsters/utility_bot.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/activity_item_handling.cpp
  src/creature.cpp
  src/game.cpp
  src/item.cpp
  src/iuse_actor.cpp
  src/monexamine.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
  src/rot.cpp
Labels: docs, src, data

#5201 feat(balance): randomise the number of charges in the spray cans for the item group `trash_dumpster` and `trash`
  data/json/itemgroups/trash_and_debris.json
Labels: data

#5181 fix: sewage gators no longer have a near-guaranteed infection from bites
  data/json/monsters/reptile_amphibian.json
Labels: data

#5191 feat(mods/innawoods): Tweak spawn chances for map specials in innawood mod.
  data/mods/innawoods/specials.json
Labels: mods, data

#5202 fix: define JSON flag for BIO_IMMUNE
  data/json/flags.json
Labels: data

#5186 feat: `ALLOWS_REMOTE_USE` now works on items that vanish on use, apply flag to all `deploy_furn` and `place_monster` items
  data/json/items/containers.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/items_holiday.json
  data/json/items/resources/misc.json
  data/json/items/resources/plastic.json
  data/json/items/tool/deployable.json
  data/json/items/tool/misc.json
  data/mods/Aftershock/items/inactiverobot.json
  data/mods/Aftershock/items/items.json
  data/mods/No_Hope/Items/tools.json
  src/iuse_actor.cpp
Labels: src, mods, data

#5203 fix: label wooden walls and floors better
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-walls.json
Labels: data

#5204 fix(balance): sanity-checking for giant bees, armored centipedes, and dragonfly naiads
  data/json/monsters/insect_spider.json
Labels: data

#5205 fix: private resort spawns made a bit less restrictive, crazy party scenario marked as `CITY_START`
  data/json/overmap/overmap_special/specials.json
  data/json/scenarios.json
Labels: data

#5192 feat(balance): add `ALLOWS_REMOTE_USE` to more deployable items, heavier explosives
  data/json/items/bionics.json
  data/json/items/tool/deployable.json
  data/json/items/tool/explosives.json
  data/json/items/tool/misc.json
  data/json/items/tool/raincatchers.json
Labels: data

#5206 fix: fermenting vat no longer errors due to not converting when emptied
  src/iexamine.cpp
Labels: src

#5207 perf: combat lag spikes from recipes with large component lists, calorie range now respects what ingredients you actually possess
  src/consumption.cpp
  src/item.cpp
  tests/iteminfo_test.cpp
Labels: src, tests

#5208 fix: audit materials of some guns to allow sawing off stocks
  data/json/items/gun/22.json
  data/json/items/gun/3006.json
  data/json/items/gun/shot.json
Labels: data

#5210 fix: Disable new attack handling for bayonets for now
  src/item.cpp
  src/options.cpp
Labels: src

#5211 fix: use regional terrain for `s_gun_1` (gun store)
  data/json/mapgen/s_gun.json
Labels: data

#5212 feat(balance): updates to electronic uncrafts
  data/json/items/generic.json
  data/json/recipes/electronic/components.json
  data/json/uncraft/generic.json
Labels: data

#5215 fix: use regional terrain for `s_garage` (garage)
  data/json/mapgen/garage.json
Labels: data

#5213 feat(balance): add all-in-one reloading press as grid furntiure, use it for uncraft hackery to re-implement rifle rounds needing pulling 2 to disasassemble
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/itemgroups/tools.json
  data/json/items/fake.json
  data/json/items/tool/handloading.json
  data/json/mapgen/basement/basement_guns.json
  data/json/mapgen/basement/basement_survival.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/recipes/ammo/pistol.json
  data/json/recipes/ammo/rifle.json
  data/json/requirements/toolsets.json
  data/mods/Generic_Guns/recipes/recipes_rifle.json
  data/mods/No_Hope/Mapgen/gunsmith.json
  src/requirements.cpp
Labels: src, mods, data

#5218 fix: Add check to class-limitation warning on learning spells
  src/magic.cpp
Labels: src

#5217 feat(balance): overhaul safecracking to allow more options, allow prying open pickable gun safes, pickable gun safes now jam on failed prying attempts instead of lockpicking
  data/json/furniture_and_terrain/furniture-storage.json
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/iexamine.cpp
Labels: src, data

#5219 fix: replace the dirt under the lockers at the entrance of one of the FEMA camps with wooden floor
  data/json/mapgen/fema/FEMA.json
Labels: data

#5220 fix: use regional terrain for `s_restaurant_3`, fix the chequered floor and the placement of the loot
  data/json/mapgen/diner.json
Labels: data

#5214 refactor: Create Item Category overhaul mod for future integration
  .github/workflows/autofix.yml
  data/mods/Item_Category_Overhaul/categories.json
  data/mods/Item_Category_Overhaul/modinfo.json
  data/mods/Item_Category_Overhaul/overwrite_ingredients.json
  data/mods/Item_Category_Overhaul/overwrite_scrap.json
  data/mods/Item_Category_Overhaul/overwrite_tools.json
  data/mods/Item_Category_Overhaul/zones.json
  data/mods/default.json
  scripts/item_category_mod_test.ts
  scripts/utils.ts
Labels: mods, scripts, data

#5224 fix: replace the wooden floor under the sandbags with dirt in `FEMA_te` (FEMA camp)
  data/json/mapgen/fema/FEMA_te_03.json
Labels: data

#5223 fix: rework `recalc_hp()`
  src/character.cpp
Labels: src

#5226 fix: apply the standard domestic palettes to urban_21_house
  data/json/mapgen/city_blocks/urban_21_house.json
Labels: data

#5229 docs: Add Ubuntu package installation script
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

#5231 fix: Fix `deactivate()`, add revert to `iuse::note_bionic()`
  src/item.cpp
  src/iuse.cpp
Labels: src

#5230 feat(balance): Advanced Microreactor No Longer Irradiates You
  src/suffer.cpp
Labels: src

#5233 fix: put dirt under the tent chairs in `fema_mess_hall`
  data/json/mapgen/nested/fema_nested.json
Labels: data

#5237 fix: replace the groundsheet in `fema_supply` with wooden floor
  data/json/mapgen/nested/fema_nested.json
Labels: data

#5232 feat(balance): support use of prying on other types of safe
  data/json/furniture_and_terrain/furniture-storage.json
  src/activity_actor.cpp
  src/iexamine.cpp
Labels: src, data

#5238 fix(mods/Monster_Girls): Fix crafting recipes for monstergirl mutagens
  data/mods/Monster_Girls/recipes.json
Labels: mods, data

#5241 fix: make reinforced glass description less confusing
  data/json/furniture_and_terrain/terrain-walls.json
Labels: data

#5242 fix: use regional terrain for the sewage treatment plant
  data/json/mapgen/sewage_treatment.json
Labels: data

#5243 fix: add an upper roof above `sewage_treatment_1_0_roof` in the sewage treatment plant
  data/json/mapgen/sewage_treatment.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
Labels: data

#5244 fix: antiseptic rag and cotton balls
  data/json/items/comestibles/med.json
  data/json/recipes/other/medical.json
Labels: data

#5245 fix: replace the pavement outside the wasp-infested radio towers with concrete floor
  data/json/mapgen/bugs/wasp_tower.json
Labels: data

#5251 fix: stop ghee from spoiling as fast as butter
  data/json/items/comestibles/dairy.json
Labels: data

#5252 feat(balance): remove sugar in canned fruit recipe
  data/json/items/comestibles/fruit_dishes.json
  data/json/recipes/food/veggi.json
  data/json/requirements/cooking_components.json
Labels: data

#5254 feat(balance): make use of `attack_cost` to make general attack speed of basic zombies more consistent, instead of tied fully to their movement speed
  data/json/monsters/feral_humans.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_children.json
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_skeletal.json
  data/json/monsters/zed_soldiers.json
  data/json/monsters/zed_survivor.json
Labels: data

#5256 feat(UI): move basic deconstruction from furniture category to other, to make them easier to find
  data/json/construction.json
Labels: data

#5257 fix: move default keybind for auto-travel mode to something less likely to be hit by accident
  data/raw/keybindings/keybindings.json
Labels: data

#5266 fix: antiseptic-soaked items yield correct byproducts when used, sanity-check stats, allow hydrogen peroxide too
  data/json/items/comestibles/med.json
  data/json/recipes/other/medical.json
Labels: data

#5267 feat(content): add more stuff to first aid kit.
  data/json/items/comestibles/med.json
  data/json/uncraft/generic.json
Labels: JSON

#5268 fix: put dirt under the tent chairs in `FEMA_re`
  data/json/mapgen/fema/FEMA_re_03.json
Labels: JSON

#5269 feat(balance): define itemgroups for bandit armor and weapons
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/npcs/NC_BANDIT.json
  data/json/npcs/NC_THUG.json
  data/json/npcs/classes.json
  data/json/npcs/npc.json
  data/json/npcs/tacoma_ranch/NPC_ranch_carpenter2.json
  data/json/npcs/tacoma_ranch/NPC_ranch_farmer1.json
Labels: JSON

#5253 feat(balance): Easier tailoring leveling, overhaul recipe difficulty
  data/json/items/armor/coats.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_clothes.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Labels: JSON

#5272 fix: Correctly add class mutations when class is non-exclusive
  src/magic.cpp
Labels: src

#5273 fix: trailer park and the palette `trailer_park`
  data/json/mapgen/trailer_park.json
  data/json/mapgen_palettes/trailer_park.json
Labels: JSON

#5277 fix: missing roofs in the trailer park outside the cities
  data/json/overmap/overmap_special/specials.json
Labels: JSON

#5274 feat(content): 3D print plastic bags
  data/json/recipes/other/containers.json
Labels: JSON

#5276 feat(content): Carbon fiber vehicle frames, swords, advanced 3d lab printer
  data/json/itemgroups/Weapons_Mods_Ammo/weapons_misc.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/tools.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/vehicle/frames.json
  data/json/materials.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/cutting.json
  data/json/requirements/materials.json
  data/json/vehicle_groups.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/bikes.json
Labels: JSON

#5278 feat(balance): adjustments to survivor zombie and feral spawns and drops
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/monsterdrops/feral_humans.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/monstergroups/military.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/zombies.json
Labels: JSON

#5280 feat: Allow field stone walls to be climable and support roofs
  data/json/furniture_and_terrain/terrain-walls.json
  doc/src/content/docs/en/i18n/reference/edge_cases.md
  doc/src/content/docs/ko/i18n/reference/edge_cases.md
Labels: docs, JSON

#5283 feat: Recharge Scheme handling update
  doc/src/content/docs/en/mod/json/reference/items/relics.md
  src/item.cpp
  src/relic.cpp
Labels: docs, src

#5287 docs: Atomic builds documentation
  doc/src/content/docs/en/dev/guides/building/atomic_cmake.md
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

#5289 fix: Other tools zone is named correctly
  data/mods/Item_Category_Overhaul/zones.json
Labels: JSON, mods
