Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2025-05, with the labels that each got.

#6426 feat(port,UI): random selection keybinds for traits, scenarios, professions, skills
  data/raw/keybindings/keybindings.json
  src/avatar.h
  src/character.h
  src/newcharacter.cpp
Labels: src, JSON

#6473 docs: update lua API for FILTHY
  doc/src/content/docs/en/mod/lua/reference/lua.md
Labels: docs

#6474 fix: update mission name in MISSION_ISHERWOOD_JACK_1 to match count
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
Labels: JSON

#6472 style: remove spaces in `operator"" _<name>`
  src/calendar.h
  src/fmtlib_format.h
  src/units_angle.h
  src/units_energy.h
  src/units_mass.h
  src/units_money.h
  src/units_probability.h
  src/units_temperature.h
  src/units_volume.h
Labels: src

#6477 feat: use the standard domestic palette for urban_15_house
  data/json/mapgen/city_blocks/urban_15_house.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6478 fix: typo in Teleportation Unit CBM description
  data/json/items/bionics.json
Labels: JSON

#6479 fix: too much dissection xp gain
  src/activity_handlers.cpp
Labels: src

#6471 feat: add lua binding for `mtype_id`
  doc/src/content/docs/en/mod/lua/reference/lua.md
  src/catalua_bindings.cpp
  src/catalua_bindings_creature.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_luna_doc.h
  src/mtype.h
Labels: docs, src

#6451 feat: add Mk 19 automatic grenade launcher turret
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/itemgroups/military.json
  data/json/items/book/electronics.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/gun/40x53mm.json
  data/json/monsters/turrets.json
  data/json/recipes/electronic/other.json
Labels: JSON

#6437 refactor: split `workbench_info_wrapper` and it's dependancies off of crafting code
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_speed.cpp
  src/activity_speed.h
  src/activity_speed_adapters.cpp
  src/activity_speed_adapters.h
  src/crafting.cpp
  src/crafting.h
  src/player_activity.h
Labels: src

#6481 feat(balance): give RM298 HMG `MOUNTED_GUN` flag
  data/json/items/gun/8x40mm.json
Labels: JSON

#6489 feat: use the standard domestic palette for urban_16_house_ranch
  data/json/mapgen/city_blocks/urban_16_house_ranch.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6486 fix: iuse build warnings
  src/iuse.cpp
Labels: src

#6485 feat: enhance UI on lua
  doc/src/content/docs/en/mod/lua/reference/lua.md
  src/catalua_bindings.cpp
  src/catalua_luna_doc.h
Labels: docs, src

#6496 fix: change utility light symbol
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: JSON

#6498 feat: use the standard domestic palette for urban_17_house_ranch
  data/json/mapgen/city_blocks/urban_17_house_ranch.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6502 feat: use the standard domestic palette for urban_18_victorian
  data/json/mapgen/city_blocks/urban_18_victorian.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6495 feat(UI): clearer `"info"` field for some json flags
  data/json/flags.json
  src/item.cpp
Labels: src, JSON

#6501 feat: tape up empty windows & glass walls
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-windows.json
Labels: JSON

#6506 docs: update MXE targets for windows cross-compile
  doc/src/content/docs/en/dev/guides/building/makefile.md
Labels: docs

#6509 docs: Add WSL section for cmake
  doc/src/content/docs/en/dev/guides/building/cmake.md
Labels: docs

#6511 feat(balance): exo-suit description fix, warmth removal
  data/json/items/armor/power_armor.json
Labels: JSON

#6515 docs: add cast_spell documentation
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

#6512 test: hide flaky monster move tests
  tests/monster_test.cpp
Labels: tests

#6516 docs: fix bad grammar and potential error in cast_spell documentation
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

#6510 feat: use the standard domestic palette for urban_19_victorian
  data/json/mapgen/city_blocks/urban_19_victorian.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6482 feat(UI): open HHG page buttons, unhardcode wiki page
  data/raw/keybindings/keybindings.json
  src/action.cpp
  src/action.h
  src/examine_item_menu.cpp
  src/game.cpp
  src/handle_action.cpp
  src/options.cpp
Labels: src, JSON

#6519 feat(UI): popup for zombie technician's pull
  src/monattack.cpp
Labels: src

#6499 feat: flagify `BRASS_CATCHER`
  data/json/items/gunmod/brass_catcher.json
  src/avatar_functions.cpp
  src/item.cpp
  src/ranged.cpp
Labels: src, JSON

#6521 feat(mods/MagicalNights): Add orichalcum mines
  data/mods/MagicalNights/MagicalNights_Tiles.png
  data/mods/MagicalNights/mod_tileset.json
  data/mods/MagicalNights/worldgen/orichalcum_mine.json
  data/mods/MagicalNights/worldgen/overmap_specials.json
  data/mods/MagicalNights/worldgen/overmap_terrain.json
Labels: JSON, mods

#6523 docs: Update json_inheritance.md
  doc/src/content/docs/en/mod/json/reference/items/json_inheritance.md
Labels: docs

#6484 fix: Change wielding messages to be a bit more intuitive
  src/item.cpp
Labels: src

#6488 feat(port,balance): Add folding stock to UMP45, correct its and its mag weight, add cooler desc to it
  data/json/items/gun/45.json
  data/json/items/magazine/45.json
  data/json/uncraft/magazine/45.json
Labels: JSON

#6494 feat: Allow for enabling specific spells to be cast by Brawlers
  data/json/debug_spells.json
  src/handle_action.cpp
  src/magic.cpp
  src/magic.h
Labels: src, JSON

#6529 chore(mods): allow plain `mods` scope in PR title
  .github/semantic.yml
  deno.jsonc
  deno.lock
  doc/src/assets/semantic.json
  scripts/semantic.ts
Labels: docs, scripts

#6525 feat: update the basement of the house urban_18_victorian
  data/json/mapgen/city_blocks/urban_18_victorian.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6530 feat: allow choosing color of uilist entry in Lua
  doc/src/content/docs/en/mod/lua/reference/lua.md
  src/catalua_bindings.cpp
Labels: docs, src, lua

#6490 fix: make furnitures able to accept items as charges
  src/map.cpp
Labels: src

#6528 feat: automatic Lua annotation generation
  .emmyrc.json
  .gitattributes
  .vscode/extensions.json
  data/raw/generate_types.lua
  deno.jsonc
  doc/src/content/docs/en/dev/reference/cli_options.md
  doc/src/content/docs/en/mod/lua/reference/lua.md
  lua_annotations.lua
  src/catalua.cpp
  src/catalua.h
  src/catalua_bindings.cpp
  src/main.cpp
Labels: docs, src, JSON, lua

#6536 fix: make symbols of open doors distinct from closed doors
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: JSON

#6487 feat(balance): make exosuits incompatible with power armors, make dimensional anchor power armor compatible
  data/json/items/armor/power_armor.json
  data/json/items/tool_armor.json
Labels: JSON

#6538 feat: Leech plants fight everything
  data/json/monster_factions.json
  data/json/monsters/power_leech.json
Labels: JSON

#6520 feat(mods): make e-ink tablet PC able to scan/read books
  data/mods/default.json
  data/mods/ebook_lua/item_action.json
  data/mods/ebook_lua/items/tools.json
  data/mods/ebook_lua/main.lua
  data/mods/ebook_lua/modinfo.json
  data/mods/ebook_lua/preload.lua
Labels: JSON, mods, lua

#6419 feat: salvage rework
  data/json/item_actions.json
  data/json/items/generic.json
  data/json/items/tool/workshop.json
  data/json/player_activities.json
  data/json/tool_qualities.json
  data/raw/keybindings/keybindings.json
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
  src/action.cpp
  src/action.h
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/activity_speed_adapters.cpp
  src/activity_speed_adapters.h
  src/activity_type.h
  src/examine_item_menu.cpp
  src/examine_item_menu.h
  src/game.cpp
  src/game_inventory.cpp
  src/game_inventory.h
  src/handle_action.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/requirements.cpp
  src/requirements.h
  src/salvage.cpp
  src/salvage.h
  tests/iuse_actor_test.cpp
  tests/salvage_test.cpp
Labels: docs, src, JSON, tests

#6543 feat: Update terrain flags to support different pits and ground types
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-traps.json
Labels: JSON

#6544 fix: copper frying pan uncraft
  data/json/uncraft/tools.json
Labels: JSON

#6545 fix: flat tar paper roofs are roofs
  data/json/furniture_and_terrain/terrain-roofs.json
Labels: JSON

#6539 feat: remove the road connection of multiple urban locations
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6546 style: collapse simple statements
  data/mods/ebook_lua/main.lua
  data/mods/ebook_lua/preload.lua
  data/mods/saveload_lua_test/main.lua
  data/mods/saveload_lua_test/preload.lua
  data/mods/smart_house_remotes/main.lua
  data/mods/smart_house_remotes/preload.lua
  data/mods/teleportation_mod/preload.lua
  data/raw/generate_docs.lua
  data/raw/generate_types.lua
  dprint.json
  tests/lua/called_from_cpp_test.lua
Labels: JSON, tests, mods, lua

#6547 chore: better lua field annotations sorting
  data/raw/generate_types.lua
  lua_annotations.lua
Labels: JSON, lua

#6541 feat: add Lua binding for martial arts techniques
  doc/src/content/docs/en/mod/lua/reference/lua.md
  src/catalua_bindings.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_luna_doc.h
  src/item.cpp
  src/item.h
  src/martialarts.h
  src/string_id_null_ids.cpp
Labels: docs, src

#6550 feat: make `use_furn_fake_item` send the furniture's tripoint to `iuse_function` of `fake_item`
  src/iexamine.cpp
Labels: src

#6480 docs: Redo design document to prevent destruction of additions & prevent bloat
  doc/src/content/docs/en/dev/explanation/design_document.md
Labels: docs

#6552 feat: remove the road connection of two urban locations
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6195 feat(UI,port): partial mouse support in main menu + mouse button utility
  data/raw/keybindings/mouse.json
  src/cata_tiles.cpp
  src/cata_utility.cpp
  src/cata_utility.h
  src/game_ui.cpp
  src/input.cpp
  src/input.h
  src/main_menu.cpp
  src/main_menu.h
  src/ncurses_def.cpp
  src/popup.cpp
  src/sdltiles.cpp
  src/wincurse.cpp
Labels: src, JSON

#6557 fix: fix typo in robotic workbench looks_like
  data/json/furniture_and_terrain/furniture-surfaces.json
Labels: JSON

#6556 fix: return `Get items` button for vehicles
  src/vehicle_use.cpp
Labels: src

#6561 fix(mods): some bugs of e-reader mod
  data/mods/ebook_lua/main.lua
Labels: JSON, mods, lua

#6562 ci: autofix cleanups
  .github/semantic.yml
  .github/workflows/autofix.yml
  doc/src/assets/semantic.json
Labels: docs

#6563 feat(balance): dry rice food processor crafting recipe
  data/json/recipes/food/other.json
Labels: JSON

#6564 feat: remove the road connection of multiple urban locations
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6565 fix: enemies teleporting to recent sources of sound when they reach th…
  src/monmove.cpp
Labels: src

#6500 build: C++23 migration
  .github/workflows/experimental-release.yml
  .github/workflows/manual-release.yml
  .github/workflows/msvc-full-features-cmake.yml
  .github/workflows/release.yml
  CMakeLists.txt
  CMakePresets.json
  Makefile
  android/app/jni/Application.mk
  android/gradle.properties
  doc/src/content/docs/en/dev/guides/building/makefile.md
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.sln
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-vcpkg-static.vcxproj
  src/cata_algo.h
  src/demangle.cpp
  src/editmap.cpp
  src/event_statistics.cpp
  src/event_statistics.h
  src/iexamine_elevator.cpp
  src/init.cpp
  src/mattack_actors.cpp
  src/mattack_actors.h
  src/veh_interact.cpp
  tests/catalua_test.cpp
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/test/check_clang_tidy.py
  tools/clang-tidy-plugin/test/lit.cfg
Labels: docs, src, tests

#6570 feat: Update the house urban_20_duplex
  data/json/mapgen/city_blocks/urban_20_duplex.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6571 feat: amphibious hovercraft
  data/json/items/vehicle/boat.json
  data/json/mapgen/dock.json
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/json/mapgen/marina.json
  data/json/recipes/other/vehicles.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/boats.json
Labels: JSON

#6576 fix(mods/MagicalNights): Fix the rune weapons and other close-by sprites
  data/mods/MagicalNights/mod_tileset.json
Labels: JSON, mods

#6575 feat: turn all the mapgen of urban_21_house to the north
  data/json/mapgen/city_blocks/urban_21_house.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6578 feat: Allow mana regen rates to be adjusted in JSON
  data/json/game_balance.json
  src/magic.cpp
Labels: src, JSON

#6567 refactor: use c++23 ranges on find_auto_consume
  .github/workflows/android.yml
  CMakeLists.txt
  src/activity_item_handling.cpp
  src/cata_algo.h
  src/map_utils.cpp
  src/map_utils.h
  tests/algo_test.cpp
Labels: src, tests

#6581 fix: sake in worthy_wines requirement group
  data/json/requirements/cooking_components.json
Labels: JSON

#6583 feat: Update the house urban_40_house
  data/json/mapgen/city_blocks/urban_40_house.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6505 feat(balance): Injuries cause persistent pain until they heal
  src/character.cpp
  src/character.h
  src/options.cpp
Labels: src

#6549 fix: consume_drug charges error & increase butane spawns
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/misc.json
  data/json/items/tool/smoking.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/items_generic.json
  data/json/obsoletion/items.json
  src/iuse_actor.cpp
Labels: src, JSON

#6582 feat(mods/MonsterGirls): Mutagen Recipe Improvements
  data/json/recipes/chem/mutagen.json
  data/mods/Monster_Girls/recipes.json
Labels: JSON, mods

#6585 fix: stop choking on joints and blunts
  data/json/items/comestibles/med.json
Labels: JSON

#6592 fix: typo in foie gras description
  data/json/items/comestibles/offal_dishes.json
Labels: JSON

#6593 fix: Digestion Bionic now prevents food poisoning from water
  src/consumption.cpp
  src/consumption.h
  src/iuse.cpp
  tests/consumption_test.cpp
Labels: src, tests

#6595 perf: don't use Character::get_bionics most of the time
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/character_turn.cpp
  src/crafting.cpp
  src/memorial_logger.cpp
  src/mutation.cpp
  src/savegame_json.cpp
  src/suffer.cpp
  src/wish.cpp
Labels: src

#6569 feat: Allow magic mods to use Dark, Light, Psi damage types
  data/json/flags.json
  data/json/items/armor/hats.json
  data/json/items/tool_armor.json
  data/json/monsters/nether.json
  data/mods/MagicalNights/Spells/animist.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/character.cpp
  src/damage.cpp
  src/damage.h
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/magic.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/melee.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: docs, src, JSON, mods

#6598 chore: Use better colors for the damage types in spells
  src/magic.cpp
Labels: src

#6600 fix: stop junk metal palisades from being snowy in summer
  data/mods/UDP_BN_FAKE_SNOW/mod_tileset.json
Labels: JSON, mods

#6577 refactor: migrate crafting functions from `player` to `Character`
  src/activity_handlers.cpp
  src/character.cpp
  src/character.h
  src/construction.cpp
  src/construction.h
  src/craft_command.cpp
  src/craft_command.h
  src/crafting.cpp
  src/crafting.h
  src/crafting_gui.cpp
  src/item.cpp
  src/item.h
  src/player.cpp
  src/player.h
  src/recipe.cpp
  src/requirements.cpp
  src/requirements.h
  tests/state_helpers.cpp
Labels: src, tests

#6643 feat: don't try to look through night vision goggles and infrared goggles when they're turned off
  data/json/items/tool_armor.json
Labels: JSON

#6645 feat(mods/MagicalNights): Apply new damage types
  data/mods/MagicalNights/Spells/animist.json
  data/mods/MagicalNights/Spells/classless.json
  data/mods/MagicalNights/Spells/monsterspells.json
  data/mods/MagicalNights/Spells/technomancer.json
  data/mods/MagicalNights/monsters/golems.json
  data/mods/MagicalNights/monsters/monsters.json
Labels: JSON, mods

#6644 fix(balance): shotgun slugs & flechette rebalance
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/shot.json
  data/json/items/ammo/shotcanister.json
Labels: JSON

#6647 fix: NO_SALVAGE applied to copper charges
  data/json/items/ammo.json
Labels: JSON

#6651 fix(balance): nerf sizzurp lean price, and make a few adjustments
  data/json/items/comestibles/med.json
  data/json/recipes/chem/drugs.json
Labels: JSON

#6658 feat: turn all the mapgen of urban_1_house to the north
  data/json/mapgen/house/urban_1_house.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6657 feat(mods/MagicalNights, balance): Lower rock tomb and meteor casting time
  data/mods/MagicalNights/Spells/earthshaper.json
Labels: JSON, mods

#6649 fix(UI): salvage seemingly double report resulting items
  src/salvage.cpp
  src/salvage.h
Labels: src

#6659 feat(balance, mods/MagicalNights): Nerf mana cap bonuses from magi staves
  data/mods/MagicalNights/items/enchanted/enchanted.json
Labels: JSON, mods
