Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2025-07, with the labels that each got.

#6749 feat(UI): port lore & creature tabs
  src/avatar.cpp
  src/avatar.h
  src/character.cpp
  src/character.h
  src/faction.cpp
  src/item.cpp
  src/iuse.cpp
  src/mtype.cpp
  src/mtype.h
  src/savegame_json.cpp
  src/text_snippets.cpp
  src/text_snippets.h
Labels: src

#6774 feat: add religious texts to libraries
  data/json/itemgroups/SUS/library.json
  doc/public/favicon.svg
  doc/src/assets/icon-round.svg
  doc/src/assets/icon.svg
Labels: docs, JSON

#6780 fix: stop cancelling fun by turning scouters into active geiger counters
  data/json/items/tool_armor.json
Labels: JSON

#6784 feat(balance): change vorpalization requirements
  src/mondeath.cpp
Labels: src

#6786 feat: add flowers category to auto-forage
  src/game.cpp
  src/iexamine.cpp
  src/options.cpp
Labels: src

#6791 feat: update the rest area
  data/json/mapgen/reststop.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
Labels: JSON

#6767 feat(port): per category spawnrate control in world options
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/item.cpp
  src/item.h
  src/item_category.cpp
  src/item_category.h
  src/item_group.h
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/options.cpp
Labels: docs, src

#6796 fix: peanut butter is made of nut
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/sandwich.json
Labels: JSON

#6799 fix: temporarily remove massive electric grids from locations
  data/json/overmap/overmap_special/aircraft_carrier.json
  data/json/overmap/overmap_special/specials.json
Labels: JSON

#6801 feat(balance): remove fear of fire from multiple zombie animals
  data/json/monsters/zed-animal.json
Labels: JSON

#6802 fix(mods/lethal_zeds): Stop rock guns from bypassing terrain
  data/mods/lethal_zeds/monster_overwrites.json
Labels: JSON, mods

#6713 feat: morale/status effect weather effects, port japanese weather
  data/json/effects.json
  data/json/weather_type.json
  data/mods/JP_Weather_Variants/mod_tileset.json
  data/mods/JP_Weather_Variants/modinfo.json
  data/mods/JP_Weather_Variants/morale_types.json
  data/mods/JP_Weather_Variants/weather_big.png
  data/mods/JP_Weather_Variants/weather_normal.png
  data/mods/JP_Weather_Variants/weather_regional_map_settings.json
  data/mods/JP_Weather_Variants/weather_type.json
  doc/src/content/docs/en/mod/json/reference/map/weather_type.md
  src/weather.cpp
  src/weather.h
  src/weather_type.cpp
  src/weather_type.h
Labels: docs, src, JSON, mods

#6805 feat: make CO2 tank craftable
  data/json/recipes/other/other.json
Labels: JSON

#6804 feat(balance): store halberd in spear strap
  data/json/items/armor/sheath.json
Labels: JSON

#6806 feat: add uncraft recipes for tiaras, cufflinks, pendant necklaces
  data/json/uncraft/generic.json
Labels: JSON

#6807 fix: vandalized shelter always has working computer
  data/json/mapgen/nested/shelter_nested.json
Labels: JSON

#6812 fix: adds "SOIL" spawn rate category, fix total spawnrate scaling
  src/item.cpp
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/options.cpp
Labels: src

#6817 feat(balance): Make stat scaling percentages for magic an external option
  data/json/game_balance.json
  data/mods/StatsThroughSkills/modinfo.json
  data/mods/stats_through_kills/modinfo.json
  src/magic.cpp
Labels: src, JSON, mods

#6810 fix: typos in radiation platform desc.
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: JSON

#6554 feat: implement GHB as a narcolepsy and alcohol withdrawal treatment
  data/json/effects.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/oa_shared_item_groups.json
  data/json/itemgroups/stashes.json
  data/json/items/comestibles/med.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/items_generic.json
  data/json/recipes/chem/mutagen.json
  data/json/recipes/other/medical.json
  data/mods/Aftershock/npcs/cyborg_npcs/item_groups_cyborg.json
  src/addiction.cpp
  src/character.cpp
  src/suffer.cpp
Labels: src, JSON, mods

#6820 feat(balance): allow more mutation categories to change size
  data/json/mutations/mutations.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/Monster_Girls/vanilla_mutations.json
  tests/itemname_test.cpp
  tests/mutation_test.cpp
Labels: JSON, tests, mods

#6824 feat(port): small solar farm
  data/json/mapgen/solar_farm.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
  data/mods/innawoods/specials.json
Labels: JSON, mods

#6825 feat(mods/MonsterGirls): Update Harpy Description due to gaining flight
  data/mods/Monster_Girls/thresh_mutation.json
Labels: JSON, mods

#6829 feat(mods/MonsterGirls): Add bunnygirl dreams
  data/mods/Monster_Girls/dreams.json
Labels: JSON, mods

#6834 fix: Allow players to climb again
  src/game.cpp
Labels: src

#6836 feat(mods/no_reviving_zombies): add `skeleton_necro`
  data/mods/No_Reviving/modinfo.json
Labels: JSON, mods

#6837 feat: update the abandoned storefront
  data/json/mapgen/abstorefront.json
Labels: JSON

#6841 fix: fix paradox in log wall construction
  data/json/construction.json
Labels: JSON

#6844 fix(balance): Restore default projectile speeds to 1000
  src/itype.h
Labels: src

#6847 fix: make locked wire gates and bar doors pry-able
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: JSON

#6850 fix(mods/MagicalNights): Fix fridge goods spawning in wizard tower furnaces
  data/mods/MagicalNights/worldgen/wizard-towers.json
Labels: JSON, mods

#6845 feat(balance): `NO_PENETRATE_OBSTACLES` weapons go through `THIN_OBSTACLE` targets, better better of `NO_PENETRATE_OBSTACLES` against cover mechanics, implement `NO_PENETRATE_OBSTACLES` for more weapons
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/items/classes/gun.json
  data/json/items/classes/range.json
  data/json/items/fake.json
  data/json/items/gun/bio.json
  data/json/items/gun/misc.json
  data/json/items/gun/monster_gun.json
  data/json/items/gun/paintball.json
  data/json/items/gun/ups.json
  src/ballistics.cpp
  src/map.cpp
  tests/projectile_test.cpp
Labels: src, JSON, tests

#6852 fix(balance): Make sure at least 1 body part is damaged from helicopter crash scenario
  src/start_location.cpp
Labels: src

#6860 feat(UI): show terrain/furniture value as cover in "look around" menu
  src/descriptions.cpp
Labels: src

#6857 feat(balance): reduce cover value of some furniture, allow flipping benches/tables to create obstacles and improvised barricades, allow transform iexamime to support climbing and undeploying furniture
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/mapgen/abandoned01.json
  data/json/mapgen/abandoned_shopping_plaza.json
  data/json/mapgen/abstorefront.json
  data/json/mapgen/campsite.json
  data/json/mapgen/derelict_property.json
  data/json/mapgen/nested/roof_nested.json
  data/json/mapgen/nested/shelter_nested.json
  data/json/mapgen_palettes/abandoned_barn_p.json
  data/json/mapgen_palettes/collapsed_tower.json
  data/json/mapgen_palettes/fema.json
  src/iexamine.cpp
Labels: src, JSON

#6861 feat: atomic irish coffee
  data/json/items/comestibles/alcohol.json
  data/json/recipes/food/drinks.json
Labels: JSON

#6862 feat: Make construction suck less
  data/json/construction.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/items/generic.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
Labels: JSON

#6863 fix: new turrents have corresponding broken item
  data/json/items/generic.json
  data/json/uncraft/generic.json
Labels: JSON

#6865 feat(balance): improve rock wall build times
  data/json/construction.json
Labels: JSON

#6866 feat(UI): make `Wear` the first option in the menu
  src/pickup.cpp
Labels: src

#6872 feat: update the second grocery store
  data/json/mapgen/s_grocery.json
Labels: JSON

#6873 feat: change name of layered carbide to graphene composite
  data/json/materials.json
Labels: JSON
