Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2025-04, with the labels that each got.

#6285 feat(balance, mods/MagicalNights): Make infusion bracelets autolearn
  data/mods/Magical_Nights/recipes/magic_tools.json
Labels: JSON, mods

#6286 feat: H&K G80 steel slugs, handmade coil capacitor, adjustments to coilgun and G80
  data/json/items/ammo/12mm.json
  data/json/items/gun/12mm.json
  data/json/items/gun/nail.json
  data/json/items/gunmod/mechanism.json
  data/json/recipes/ammo/other.json
  data/json/recipes/weapon/mods.json
Labels: JSON

#6287 feat(balance): add compact flag to more items
  data/json/items/armor/bandolier.json
  data/json/items/armor/belts.json
  data/json/items/armor/holster.json
  data/json/items/armor/storage.json
Labels: JSON

#6288 fix: bionic scanner multiplying values
  data/json/items/tool/electronics.json
Labels: JSON

#6289 feat(balance): sanity-check volume of 40mm ammo
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
Labels: JSON

#6290 feat: more lua bindings for manipulating items
  src/catalua_bindings.cpp
  src/catalua_bindings_creature.cpp
  src/character.cpp
  src/character.h
  src/item.cpp
  src/item.h
Labels: src

#6213 feat(UI): relocate history panels, add overmap search history
  src/overmap_ui.cpp
  src/string_input_popup.cpp
Labels: src

#6244 perf: Artificial Brilliance optimization
  src/avatar.cpp
  src/catalua_bindings_creature.cpp
  src/character.cpp
  src/game.cpp
  src/legacy_pathfinding.cpp
  src/legacy_pathfinding.h
  src/map.cpp
  src/monattack.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.h
  src/npc.cpp
  src/pathfinding.cpp
  src/pathfinding.h
  src/pathfinding_dijikstra.cpp
  src/pathfinding_dijikstra.h
Labels: src

#6291 fix(mods/MagicalNights): tailoring missing materials/modifications
  data/json/items/tool/tailoring.json
  data/mods/Magical_Nights/items/enchanted/enchanted_misc.json
  data/mods/Magical_Nights/items/tools.json
Labels: JSON, mods

#6292 feat: even more lua item bindings
  src/catalua_bindings.cpp
  src/catalua_bindings_creature.cpp
  src/character.cpp
  src/character.h
  src/item.cpp
  src/item.h
Labels: src

#6295 fix(mods/aftershock,balance): mainline plutonium fuel cell recipe, bump toxic waste dump plutonium slurry spawn chances
  data/json/mapgen/toxic_dump.json
  data/json/recipes/electronic/components.json
  data/mods/Aftershock/recipes/recipes.json
Labels: JSON, mods

#6294 feat(balance): make soap recipe more granular
  data/json/recipes/chem/chemicals.json
Labels: JSON

#6296 fix: player activity assistable() checks wrong bool
  src/player_activity.h
Labels: src

#6299 feat: allow for lua once_every_x_hooks to remove themselves by returning false
  src/catalua.cpp
Labels: src

#6308 feat(balance, mods/MagicalNights): Make ethereal items' price 0 cents
  data/mods/Magical_Nights/items/ethereal_items.json
Labels: JSON, mods

#6306 fix: take into account mount carry capacity when calculating movecost
  src/character.h
  src/game.cpp
  src/monexamine.cpp
  src/monster.cpp
  src/monster.h
  src/suffer.cpp
Labels: src

#6307 fix: keep invlet to the consumed item if it was split off from the main item stack
  src/consumption.cpp
  src/inventory.cpp
Labels: src

#6267 feat(UI): only print one mutation dream right before waking up, rework Mycus mutation advancement to not be tied to dream rolls
  src/player_hardcoded_effects.cpp
Labels: src

#6310 feat: JSONize pulling nails
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-windows.json
  doc/src/content/docs/en/mod/json/reference/tiles/furn_and_terrain.md
  src/activity_handlers.cpp
  src/iuse.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: docs, src, JSON

#6311 chore: Remove unused include in mapdata.cpp
  src/mapdata.cpp
Labels: src

#6304 feat(UI): highlight overmap tiles revealed by map usage
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/iuse_actor.cpp
  src/overmap_ui.cpp
  src/savegame_json.cpp
  src/sdltiles.cpp
  src/uistate.h
Labels: src

#6298 feat: allow deactivating friendly mechs for repair and storage
  data/json/items/corpses/inactive_bots.json
  data/json/monsters/mechsuits.json
  src/monexamine.cpp
Labels: src, JSON

#6313 feat: add "regional transport map" for revealing airports and bus stations
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/trash_and_debris.json
  data/json/itemgroups/vehicles_fuel_related.json
  data/json/items/book/maps.json
  data/json/npcs/items_generic.json
  data/json/uncraft/generic.json
Labels: JSON

#6270 feat(balance): attacks fully negated by armor no longer damage items worn underneath, add `UNBREAKABLE` flag
  data/json/flags.json
  data/mods/Magical_Nights/items/enchanted/enchanted_belts.json
  data/mods/Magical_Nights/items/ethereal_items.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/character.cpp
  src/flag.cpp
  src/flag.h
Labels: docs, src, JSON, mods

#6314 feat: Add crafting recipe for gunsmith kit
  data/json/items/tool/workshop.json
  data/json/recipes/other/tools.json
Labels: JSON

#6325 fix: fix monster infighting
  src/monmove.cpp
Labels: src

#6320 feat(balance): wood sanding, varnish
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Weapons_Mods_Ammo/weapons_misc.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/supplies.json
  data/json/items/ammo.json
  data/json/items/chemicals_and_resources.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/resources/metal.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/misc.json
  data/json/items/tool/toiletries.json
  data/json/mapgen/irradiator_1.json
  data/json/npcs/NC_THUG.json
  data/json/npcs/items_generic.json
  data/json/recipes/ammo/arrows.json
  data/json/recipes/ammo/launcher.json
  data/json/recipes/ammo/other.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/storage.json
  data/json/recipes/chem/other.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/materials.json
  data/json/tool_qualities.json
Labels: JSON

#6330 feat(balance): spawn 1d3 stacks for grenade ammo, more food in supply crates, fix ammobelt spawns
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
Labels: JSON

#6331 feat: Make the Pride Flags mod default
  data/mods/default.json
Labels: JSON, mods

#6338 feat: add ability to disassemble a few paper/carboard items
  data/json/uncraft/armor.json
  data/json/uncraft/generic.json
Labels: JSON

#6339 chore: Add `metainfo.xml`, `.desktop`, and icon for future Flatpak
  data/XDG/io.github.cataclysmbnteam.Cataclysm-BN.desktop
  data/XDG/io.github.cataclysmbnteam.Cataclysm-BN.metainfo.xml
  data/XDG/io.github.cataclysmbnteam.Cataclysm-BN.svg
Labels: JSON

#6344 build: change XDG domain to `org.cataclysmbn.CataclysmBN`
  data/XDG/org.cataclysmbn.CataclysmBN.desktop
  data/XDG/org.cataclysmbn.CataclysmBN.metainfo.xml
  data/XDG/org.cataclysmbn.CataclysmBN.svg
Labels: JSON

#6343 feat(balance): nerf explosive filler cost for improvised demolition charge
  data/json/recipes/weapon/explosive.json
Labels: JSON

#6346 fix: stop spawning non-existent ammunition
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/obsoletion/items.json
  data/mods/DinoMod/obsolete/fieldoffice.json
Labels: JSON, mods

#6350 feat: Use the standard domestic palette instead of `acidia_residential_commercial_palette` for the house urban_7
  data/json/mapgen/city_blocks/urban_7_house_garden.json
Labels: JSON

#6351 fix: migrate `22_cb` to `22_cphp`
  data/json/obsoletion/migration.json
Labels: JSON

#6353 build: resolve some build warnings
  src/activity_actor.cpp
  src/damage.cpp
  src/game_info.cpp
Labels: src

#6327 build: deduplicate `src/CMakeLists.txt`
  src/CMakeLists.txt
Labels: src

#6337 feat: Lets you install advance butchery station in vehicles
  data/json/vehicleparts/utilities.json
  data/json/vehicleparts/vp_flags.json
  src/activity_handlers.cpp
  src/inventory.cpp
  src/map.cpp
  src/veh_interact.cpp
Labels: src, JSON

#6357 feat: Adds sizzurp lean
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/oa_shared_item_groups.json
  data/json/itemgroups/roof.json
  data/json/itemgroups/trash_and_debris.json
  data/json/items/comestibles/med.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/items_generic.json
  data/json/recipes/chem/drugs.json
Labels: JSON

#6309 refactor: separate activity speed code from player activity
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/activity_speed.cpp
  src/activity_speed.h
  src/crafting.cpp
  src/crafting.h
  src/player_activity.cpp
  src/player_activity.h
Labels: src

#6360 fix: Fridgetanks work now
  data/json/items/vehicle/utilities.json
  src/vehicle_part.cpp
Labels: src, JSON

#6361 fix: add missing `autolearn` in sizzurp lean recipe
  data/json/recipes/chem/drugs.json
Labels: JSON

#6366 feat: Adds non-perishable cheese pouches in MREs
  data/json/items/comestibles/junkfood.json
  data/json/requirements/cooking_components.json
  data/json/requirements/uncraft.json
Labels: JSON

#6356 fix(balance): make Brawlers unable to spellcast
  src/handle_action.cpp
Labels: src

#6368 feat: use the standard domestic palette for the house urban_8_house_brick_garden
  data/json/mapgen/city_blocks/urban_8_house_brick_garden.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6359 fix: don't allow `no_crit` shots to upgrade what would've been a torso hit to a headshot
  src/creature.cpp
Labels: src

#6369 feat(balance): sandpaper
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
  data/json/recipes/other/tools.json
Labels: JSON

#6199 feat: countdown active tile type and a sample mod that uses it
  data/mods/Jump Pad/items/jump_pad.json
  data/mods/Jump Pad/modinfo.json
  data/mods/Jump Pad/recipes/jump_pad.json
  src/active_tile_data.cpp
  src/active_tile_data_def.h
Labels: src, JSON, mods

#6371 fix(balance): laptop uncrafting time
  data/json/uncraft/generic.json
Labels: JSON

#6373 fix: Fixes non-fatal error caused by redefining default charge amount on cheese spread
  data/json/items/comestibles/junkfood.json
Labels: JSON

#6375 fix: activity speed stat overflow
  src/activity_speed.cpp
Labels: src

#6376 fix: Hackers don't jam batteries into their UPS devices
  data/json/professions.json
Labels: JSON

#6381 feat(mods/MagicalNights): Add bulette-based bullets and a magical refilling pouch for them.
  data/mods/Magical_Nights/MagicalNights_Items.png
  data/mods/Magical_Nights/Spells/item_only.json
  data/mods/Magical_Nights/itemgroups/recipe_books.json
  data/mods/Magical_Nights/items/enchanted/enchanted_misc.json
  data/mods/Magical_Nights/items/guns.json
  data/mods/Magical_Nights/items/recipe_books.json
  data/mods/Magical_Nights/mod_tileset.json
  data/mods/Magical_Nights/monstergroups.json
  data/mods/Magical_Nights/recipes/magic_tools.json
Labels: JSON, mods

#6382 feat: use the standard domestic palette for the house urban_9_house_garage_loft
  data/json/mapgen/city_blocks/urban_9_house_garage_loft.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6377 fix: remove checks forbiding value to be same as default or inherited
  src/assign.cpp
  src/assign.h
Labels: src

#6374 chore: add migration scripts
  deno.jsonc
  deno.lock
  scripts/README.md
  scripts/deep_sort.ts
  scripts/deep_sort_test.ts
  scripts/migrations/3312.migrate_legacy_unit.ts
  scripts/migrations/3312.migrate_legacy_unit_test.ts
  scripts/migrations/4214.spear_stab.ts
  scripts/migrations/4214.spear_stab_test.ts
  scripts/migrations/5259.migrate_energy.ts
  scripts/migrations/5259.migrate_energy_test.ts
  scripts/migrations/6363.remove_filthy.ts
  scripts/migrations/6363.remove_filthy_test.ts
  scripts/migrations/migrate_legacy_unit.md
  scripts/utils.ts
  scripts/utils_test.ts
  scripts/valibot_utils.ts
Labels: scripts

#6385 feat: Allow for casting spells to be blocked by mutations
  data/json/debug_spells.json
  src/handle_action.cpp
  src/magic.cpp
  src/magic.h
Labels: src, JSON

#6387 feat(mods/MagicalNights,balance): Change wizard tower metal doors to the non-locked variety
  data/mods/MagicalNights/worldgen/wizard-towers.json
Labels: JSON, mods

#6388 fix: don't overwhelm stores with antibiotics
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/vending_machines.json
Labels: JSON

#6390 ci: remove mxe/msys2 builds
  .github/workflows/experimental-release.yml
  .github/workflows/manual-release.yml
  .github/workflows/msys2-cmake.yml
  .github/workflows/osx.yml
  .github/workflows/release.yml
  CMakeLists.txt
  CMakeModules/Find/FindSDL2.cmake
  build-scripts/requirements.sh
  doc/src/content/docs/en/dev/guides/building/cmake.md
  src/CMakeLists.txt
Labels: docs, src

#4490 feat(balance): remove damage penalty in suppressors
  data/json/items/gunmod/muzzle.json
Labels: JSON

#6340 feat: gps pinpointer & military gps pinpointer
  data/json/item_actions.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/main.json
  data/json/itemgroups/military.json
  data/json/itemgroups/tools.json
  data/json/items/tool/electronics.json
  data/json/vehicles/helicopters.json
  data/json/vehicles/military.json
  src/item_factory.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/overmapbuffer.h
Labels: src, JSON

#6349 feat: Adds .50BMG anti-material turrets
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/itemgroups/military.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/gun/50.json
  data/json/monsters/turrets.json
  data/json/recipes/electronic/other.json
Labels: JSON

#6399 feat: add pistol lanyards
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/classes/gun.json
  data/json/items/gunmod/sling.json
  data/json/professions.json
  data/json/recipes/weapon/mods.json
  src/handle_action.cpp
Labels: src, JSON

#6398 docs: document gun `handling` stat
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
Labels: docs

#6405 chore: combine "player_sees" graphical mods into their respective tilesets by default
  data/mods/sees_player_hitbutton/mod_tileset.json
  data/mods/sees_player_hitbutton/modinfo.json
  data/mods/sees_player_retro/mod_tileset.json
  data/mods/sees_player_retro/modinfo.json
  gfx/HitButton_iso/sees_player_hitbutton_green.png
  gfx/HitButton_iso/sees_player_hitbutton_pink.png
  gfx/HitButton_iso/sees_player_hitbutton_red.png
  gfx/HitButton_iso/sees_player_hitbutton_yellow.png
  gfx/HitButton_iso/tile_config.json
  gfx/RetroDays+Tileset/sees_player_retro.png
  gfx/RetroDays+Tileset/tile_config.json
  gfx/RetroDaysTileset/sees_player_retro.png
  gfx/RetroDaysTileset/tile_config.json
Labels: JSON, mods

#6402 feat(balance): Make 9mm recoil `+P+` > `+P`, add AP to `.380 +P`, increase `7.62x25mm` recoil
  data/json/items/ammo/380.json
  data/json/items/ammo/762x25.json
  data/json/items/ammo/9mm.json
Labels: JSON

#6403 feat: use the standard domestic palette for the house urban_10_house_brick_pool
  data/json/mapgen/city_blocks/urban_10_house_brick_pool.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6408 feat: add grid gunsmith kit
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/items/fake.json
Labels: JSON

#6400 feat(balance): add fine cutting tool quality to razor blade
  data/json/items/tool/toiletries.json
Labels: JSON

#6406 feat: Un-inline some clothing itemgroups
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/mods/pride_flags/item_groups.json
Labels: JSON, mods

#6411 fix(mods/MagicalNights): Fix the garage doors on wizard towers
  data/mods/MagicalNights/worldgen/wizard-towers.json
Labels: JSON, mods

#6393 feat(port): port civilians from DDA as opt-in mod
  data/mods/Civilians/civilians.json
  data/mods/Civilians/modinfo.json
  data/mods/Civilians/monster_gun.json
  data/mods/Civilians/monstergroup.json
  data/mods/Civilians/speech.json
Labels: JSON, mods

#6414 fix: turn all mapgen of urban_11_house_brick to the north
  data/json/mapgen/city_blocks/urban_11_house_brick.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6420 feat: use the standard domestic palette for urban_12_house
  data/json/mapgen/city_blocks/urban_12_house.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6409 feat(balance): Adjusts recoil values for small caliber rounds and 40mm grenades
  data/json/items/ammo/22.json
  data/json/items/ammo/32.json
  data/json/items/ammo/38.json
  data/json/items/ammo/380.json
  data/json/items/ammo/38super.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/45.json
  data/json/items/ammo/46.json
  data/json/items/ammo/57.json
  data/json/items/ammo/762x25.json
  data/json/items/ammo/9mm.json
  data/json/items/ammo/9x18.json
Labels: JSON

#6416 fix: give solar backpacks storage
  data/json/items/tool_armor.json
Labels: JSON

#6372 feat: (atomic) soda machines, co2 tanks & "suicide" soda drink
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/main.json
  data/json/itemgroups/military.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/mutagen.json
  data/json/items/containers.json
  data/json/items/fake.json
  data/json/items/tool/cooking.json
  data/json/items/tool/science.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/items_generic.json
  data/json/recipes/chem/drugs.json
  data/json/recipes/electronic/tools.json
  data/json/recipes/food/drinks.json
Labels: JSON

#6410 feat: JSONize ecigs, smoking, chewing, weed_cake. modernize ecigs
  data/json/item_actions.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/wheat.json
  data/json/items/tool/smoking.json
  data/json/snippets/snippets.json
  data/mods/My_Sweet_Cataclysm/items/vanilla_extentions.json
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: docs, src, JSON, mods

#6365 feat: add vending park & additional vending itemgroups
  data/json/itemgroups/vending_machines.json
  data/json/mapgen/park_vending.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/regional_map_settings.json
Labels: JSON

#6423 feat: Migrate some tools to qualities
  data/json/items/armor/gloves.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/fake.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/science.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/json/recipes/ammo/launcher.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/traps.json
  data/json/requirements/toolsets.json
  data/json/tool_qualities.json
  data/json/uncraft/generic.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
Labels: JSON, mods

#6424 fix: remove the road connection of urban_23_dense_office_theater
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6427 refactor: remove unused functions
  src/iuse.cpp
  src/iuse_actor.cpp
Labels: src

#6413 feat(port): add "monologue" action in speech menu with context
  src/npctalk.cpp
Labels: src

#6347 feat(UI): custom overmap location marker
  data/raw/keybindings/keybindings.json
  src/avatar.cpp
  src/avatar.h
  src/overmap_ui.cpp
  src/sdltiles.cpp
Labels: src, JSON

#6428 fix: remove pots and pans being dropped from the advanced butchery station
  data/json/vehicleparts/utilities.json
Labels: JSON

#6434 fix: monster on_hit actions trigger properly
  src/monster.cpp
  src/monster.h
Labels: src

#6432 fix(balance): Plastic, Carbon Fiber Frames Folding, Description
  data/json/items/vehicle/frames.json
  data/json/vehicleparts/frames.json
Labels: JSON

#6429 fix: introduce missing `hands` workbench to activity speed formula
  src/activity_speed.cpp
  src/crafting.cpp
  src/crafting.h
Labels: src

#6438 chore: use V2 save format as default
  src/world.cpp
Labels: src

#6362 feat(balance): rebalances "handling" stat for all guns and mods
  data/json/items/classes/gun.json
  data/json/items/gun/10mm.json
  data/json/items/gun/20x66mm.json
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/gun/308.json
  data/json/items/gun/32.json
  data/json/items/gun/357sig.json
  data/json/items/gun/38.json
  data/json/items/gun/380.json
  data/json/items/gun/38super.json
  data/json/items/gun/40.json
  data/json/items/gun/44.json
  data/json/items/gun/45.json
  data/json/items/gun/45colt.json
  data/json/items/gun/50.json
  data/json/items/gun/545x39.json
  data/json/items/gun/700nx.json
  data/json/items/gun/8x40mm.json
  data/json/items/gun/9mm.json
  data/json/items/gun/misc.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/barrel.json
  data/json/items/gunmod/grip.json
  data/json/items/gunmod/muzzle.json
  data/json/items/gunmod/stock.json
  data/json/items/gunmod/underbarrel.json
  tests/ranged_burst_balance_test.cpp
Labels: JSON, tests

#6439 feat: Add Lua binding for traps
  src/catalua_bindings.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_luna_doc.h
  src/trap.cpp
  src/trap.h
Labels: src

#6442 feat: write lua docs to given path
  deno.jsonc
  doc/src/content/docs/en/dev/reference/cli_options.md
  src/catalua.cpp
  src/catalua.h
  src/main.cpp
  src/path_display.cpp
  src/path_info.cpp
  src/path_info.h
Labels: docs, src

#6431 feat(UI): `looks_like` for `effect_type`, status effect emotes
  data/json/effects.json
  doc/src/content/docs/en/mod/json/reference/creatures/effects_json.md
  src/character.cpp
  src/character.h
  src/effect.cpp
  src/effect.h
  src/npctalk.cpp
  src/savegame_json.cpp
Labels: docs, src, JSON

#6448 feat: reintroduce shishkebab, aux flamer, makeshift flamethrowers
  data/json/items/gun/flammable.json
  data/json/items/gunmod/barrel.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/mapgen/bandit_camp.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/obsoletion/uncategorized.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/ranged.json
  data/json/uncraft/tools.json
Labels: JSON

#6447 build: always enable Lua
  .github/workflows/experimental-release.yml
  .github/workflows/manual-release.yml
  .github/workflows/matrix.yml
  .github/workflows/osx.yml
  .github/workflows/release.yml
  CMakeLists.txt
  CMakePresets.json
  Makefile
  build-scripts/get_all_mods.py
  build-scripts/gha_compile_only.sh
  build-scripts/gha_test_only.sh
  data/mods/teleportation_mod/item.json
  doc/src/content/docs/en/mod/lua/explanation/lua_integration.md
  doc/src/content/docs/en/mod/lua/guides/binding.md
  src/CMakeLists.txt
  src/catalua.cpp
  src/catalua_bindings.cpp
  src/catalua_bindings_coords.cpp
  src/catalua_bindings_creature.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_bindings_magic.cpp
  src/catalua_bindings_mutation.cpp
  src/catalua_console.cpp
  src/catalua_impl.cpp
  src/catalua_iuse_actor.cpp
  src/catalua_log.cpp
  src/catalua_readonly.cpp
  src/catalua_serde.cpp
  tests/catalua_test.cpp
Labels: docs, src, JSON, tests, mods

#6457 feat(balance): Removes NO_CVD flag from RM42 knife, adjusts stats
  data/json/items/melee/swords_and_blades.json
Labels: JSON

#6450 feat(balance): revamps Kriss Vector & mags, adds 9mm variant, increases drop rate
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_magazines.json
  data/json/items/gun/357sig.json
  data/json/items/gun/40.json
  data/json/items/gun/45.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/40.json
  data/json/items/magazine/45.json
  data/json/items/magazine/9mm.json
  data/json/uncraft/magazine/40.json
  data/json/uncraft/magazine/45.json
  data/json/uncraft/magazine/9mm.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: JSON, mods

#6459 feat(balance): decreases 5.7x26mm and 4.6x30mm recoil, increases FN Five SeveN handling
  data/json/items/ammo/46.json
  data/json/items/ammo/57.json
  data/json/items/gun/57.json
Labels: JSON

#6455 feat: adds G36 stanag adapter, AUG nato conversion kit
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/gunmod/mechanism.json
  data/json/recipes/weapon/mods.json
  data/mods/Generic_Guns/gunmods/gg_gunmods_blacklist.json
Labels: JSON, mods

#6452 fix: renames SIG 552 to SIG 552 SWAT
  data/json/items/gun/223.json
Labels: JSON

#6454 feat(balance): changes MAS 223 to FAMAS G2
  data/json/itemgroups/Weapons_Mods_Ammo/everydaycarry_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/223.json
  data/json/items/magazine/223.json
  data/json/obsoletion/items.json
Labels: JSON

#6462 feat(balance): make M249 unable to load snail mags and 150 round mags
  data/json/items/gun/223.json
Labels: JSON

#6463 feat(balance): increase time it takes to mop tiles
  src/iuse.cpp
Labels: src

#6466 feat: Update the vending park
  data/json/mapgen/park_vending.json
Labels: JSON
