Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2025-09, with the labels that each got.

#7135 fix(UI): pouring liquid directly into an adjacent keg after crafting it wont lock you in a menu
  src/iexamine.cpp
Labels: src

#7139 fix: flotation device doesnt give a swim bonus underwater
  src/character.cpp
Labels: src

#7140 feat(UI): add new sprite for conical helm by Izzy to UDP external tileset
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
Labels: JSON

#7141 fix: multicooker no longer has a chance of disappearing when cooking food
  data/json/items/tool/cooking.json
Labels: JSON

#7127 feat: NPCs burn and regen stamina properly, act more cautious when low on HP or stamina
  src/character.cpp
  src/npc.cpp
  src/npcmove.cpp
Labels: src

#7147 fix: convert obsoleted homemade laser pistol to inherit from V29, remove from Aftershock spawns
  data/json/obsoletion/items.json
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/maps/item_groups.json
Labels: JSON, mods

#7151 fix: make world settings for crafting work as intended
  src/construction.cpp
  src/crafting.cpp
Labels: src

#7149 refactor: fix build and lint warnings
  src/animation.cpp
  src/catalua_hooks.cpp
  src/catalua_hooks.h
  src/character_turn.cpp
  src/visitable.cpp
Labels: src

#7161 feat(mods/crt_expansion): New Lab Room & Rebalance Armor & Rebalance Drop rates
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
  data/mods/CRT_EXPANSION/items/crt_item_groups.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
  data/mods/CRT_EXPANSION/mapgen/lab_floorplans_1side.json
  data/mods/CRT_EXPANSION/mutations/crt_mut_itemgroups.json
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
  data/mods/CRT_EXPANSION/scenarios/crt_scenarios.json
Labels: JSON, mods

#7154 feat(balance): allow holsters to accept launchers, increase volume of M79, add folding stock to MGL
  data/json/items/armor/holster.json
  data/json/items/gun/40x46mm.json
Labels: JSON

#7169 feat(balance): MOLLE pack, Survivor Harness have more holsters, holster options
  data/json/items/armor/holster.json
  data/json/items/armor/storage.json
  data/json/recipes/armor/storage.json
Labels: JSON

#7159 feat: butane can be used as lighter fuel
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/military.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/oa_shared_item_groups.json
  data/json/itemgroups/roof.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/trash_and_debris.json
  data/json/items/ammo_types.json
  data/json/items/fuel.json
  data/json/items/gun/faults_gun.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/fire.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/mapgen/abandoned01.json
  data/json/mapgen/garden_public.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/items_generic.json
  data/json/obsoletion/items.json
  data/json/professions.json
  data/json/recipes/ammo/arrows.json
  data/json/recipes/chem/drugs.json
  data/json/requirements/explosives.json
  data/mods/Aftershock/npcs/cyborg_npcs/item_groups_cyborg.json
  src/item.cpp
  src/item_factory.cpp
  src/itype.h
Labels: src, JSON, mods

#7168 feat(port): port overmap tileset option from DDA
  src/game.cpp
  src/game.h
  src/options.cpp
  src/overmap_ui.cpp
  src/sdltiles.cpp
  src/sdltiles.h
Labels: src

#7170 feat: Enable a wider variety of Adult Toys
  data/json/item_actions.json
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/electronics.json
  data/json/items/tool/electronics.json
  data/json/recipes/electronic/tools.json
  data/mods/MagicalNights/items/enchanted/enchanted_misc.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: src, JSON, mods

#7173 fix: kel-tec 2000 has underbarrel slot
  data/json/items/gun/9mm.json
Labels: JSON

#7162 feat: cave moss and mushrooms in underground locations, subway connection for mines, improve existing subway connections and spawns
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/external_tileset/External_Tileset_DP_terrain_normal.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.png
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/mapgen/bugs/ants.json
  data/json/mapgen/cave.json
  data/json/mapgen/lab/lab_trains.json
  data/json/mapgen/microlab/microlab_connector.json
  data/json/mapgen/mine/mine_amigara.json
  data/json/mapgen/mine/mine_shaft.json
  data/json/mapgen/mine/mine_spiral.json
  data/json/mapgen/mine/mine_wyrms.json
  data/json/mapgen/necropolis/necropolisB2.json
  data/json/mapgen/nested/cave_nested.json
  data/json/mapgen/nested/ore_vein_nested.json
  data/json/mapgen_palettes/necropolis/necropolis_b2.json
  data/json/mapgen_palettes/subway.json
  data/json/overmap/overmap_special/mine.json
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
  data/json/vehicle_groups.json
  data/json/vehicles/trains.json
  src/iexamine.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/sounds.cpp
Labels: src, JSON

#7175 feat(balance): Reloading from bandoliers and pouches is no longer slower when full
  src/locations.cpp
Labels: src

#7176 fix(mods/MonsterGirls): Add forgotten bunnygirl mutagen
  data/mods/Monster_Girls/migration.json
  data/mods/Monster_Girls/mutagens.json
  data/mods/Monster_Girls/recipes.json
Labels: JSON, mods

#7191 feat: Item groups can now be reset and have some items deleted & make CRIT use it
  data/mods/CRT_EXPANSION/items/crt_item_groups.json
  docs/en/mod/json/reference/items/item_spawn.md
  src/item_factory.cpp
  src/item_group.cpp
  src/item_group.h
Labels: docs, src, JSON, mods

#7194 docs: place purge itemgroup documentation in both places it should be
  docs/en/mod/json/reference/items/item_spawn.md
Labels: docs

#7196 feat(mods/crt_expansion): More CRIT rebalances and use of new MOLLE holsters
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
  data/mods/CRT_EXPANSION/items/crt_item_groups.json
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
Labels: JSON, mods

#7201 feat: urban explorer profession, new maps
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/roof.json
  data/json/itemgroups/trash_and_debris.json
  data/json/itemgroups/vehicles_fuel_related.json
  data/json/items/book/maps.json
  data/json/mapgen/cave.json
  data/json/mapgen/sub_station.json
  data/json/monsterdrops/zombie_default.json
  data/json/monsterdrops/zombie_technician.json
  data/json/npcs/items_generic.json
  data/json/professions.json
  data/json/recipes/other/other.json
  data/json/vehicles/trains.json
Labels: JSON

#7216 feat(balance): adds three new shields, related balance adjustments, add crafting subcategory for shields
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/shields.json
  data/json/items/armor/suits_protection.json
  data/json/materials.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/shield.json
  data/json/recipes/armor/suit.json
  data/json/recipes/recipes.json
  data/json/requirements/tailoring.json
Labels: JSON

#7220 fix(UI): standardize profession variable names
  src/newcharacter.cpp
Labels: src

#7223 fix: Resolve Save Id changing errors
  src/world.cpp
Labels: src

#7221 feat(UI): allow player to change their name/nickname
  data/raw/keybindings/keybindings.json
  src/character_display.cpp
  src/game_inventory.cpp
  src/item_action.cpp
Labels: src, JSON

#7224 fix: Item spawnrate applies to corpse loot once more
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/mapgen/map_extras/corpses.json
Labels: JSON

#7225 feat: VP Integrated Tools now can use their use actions
  data/json/vehicleparts/utilities.json
  docs/en/mod/json/reference/vehicles/vehicle_parts.md
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/vehicle_use.cpp
Labels: docs, src, JSON

#7205 feat(balance): implement more `ALLOWS_X` flags for mutation compatability, add material variants for tail warmer, more use of `restricts_gear` for claws and wings, hooves and tentacle legs gain `allowed_items_only`
  data/json/flags.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/bandolier.json
  data/json/items/armor/bedding.json
  data/json/items/armor/belts.json
  data/json/items/armor/boots.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/misc.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/containers.json
  data/json/items/ranged/archery.json
  data/json/items/tool_armor.json
  data/json/materials.json
  data/json/mutations/mutations.json
  data/json/recipes/armor/legs.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/cast_spell_items.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/items/weapons.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  data/mods/DinoMod/mutations/mutations.json
  data/mods/MagicalNights/items/archery.json
  data/mods/MagicalNights/items/enchanted/enchanted_belts.json
  data/mods/MagicalNights/items/enchanted/enchanted_rings.json
  data/mods/MagicalNights/items/ethereal_items.json
  data/mods/MagicalNights/items/tools.json
Labels: JSON, mods

#7228 fix(mods): match monstergirl script behviaor to old one
  data/mods/Monster_Girls/vanilla_mutations.json
  scripts/monster_girls_mutations/main.ts
Labels: JSON, mods, scripts

#7227 feat(balance): add plated lamellar cuirass, clean up inheritance behavior of plated leather armor and armored skirts, other armor-related fixes
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/shield.json
  data/json/recipes/armor/torso.json
Labels: JSON

#7235 feat(port): port heist driver, neighborhood watch, graffiti crew
  data/json/npcs/missiondef.json
  data/json/npcs/professions/graffiti_crew.json
  data/json/npcs/professions/heist_crew.json
  data/json/npcs/professions/neighborhood_watch.json
  data/json/professions.json
  data/json/scenarios.json
Labels: JSON

#7236 fix(UI): ensure_punctuation handles quotes properly
  src/sounds.cpp
Labels: src

#7117 feat: add multiple lua combat hooks
  docs/en/mod/lua/guides/cookbook.md
  lua_annotations.lua
  src/catalua_bindings.cpp
  src/catalua_bindings.h
  src/catalua_hooks.cpp
  src/character.cpp
  src/creature.cpp
  src/melee.cpp
  src/monster.cpp
Labels: docs, src, lua

#7237 feat(balance): guns on slings gain coverage percent based on volume, allow slinging more rocket launchers, M72 LAW can be worn when packed
  data/json/items/gun/66mm.json
  data/json/items/gun/84x246mm.json
  data/json/items/tool/explosives.json
  data/json/uncraft/weapon/explosive.json
  src/item.cpp
  src/iuse_actor.cpp
Labels: src, JSON

#7243 feat: add survivor lighter, rubber recipe, butane obtainable from refrigerant tanks, oil used in bottle jack recipe
  data/json/items/tool/fire.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/tools.json
  data/json/uncraft/generic.json
Labels: JSON

#7241 feat: Groundwork for Prospecting
  data/json/item_actions.json
  data/json/items/tool/workshop.json
  data/json/mapgen/mine/shallow_ore_vein.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/recipes/other/tools.json
  src/item_factory.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/map.h
  src/overmap.cpp
  src/overmap.h
  src/overmapbuffer.cpp
Labels: src, JSON

#7251 fix: survivor lighter takes 45 minutes instead of 45 hours
  data/json/recipes/other/tools.json
Labels: JSON

#7255 feat: wiping and crafting various cards, new software standards
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/science_and_tech.json
  data/json/items/generic.json
  data/json/items/software.json
  data/json/recipes/chem/mutagen.json
  data/json/recipes/electronic/cbms.json
  data/json/recipes/electronic/other.json
  data/json/recipes/electronic/tools.json
  data/json/recipes/other/other.json
  data/json/requirements/toolsets.json
Labels: JSON

#7257 feat: professional chemical thrower, infestation specialist
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/ammo/chemical_spray.json
  data/json/items/gun/chemical_spray.json
  data/json/npcs/items_generic.json
  data/json/npcs/missiondef.json
  data/json/professions.json
Labels: JSON

#7259 feat: replace camper NPC with mutant wandering scavenger
  data/json/mapgen/nested/residential_lawn_nested.json
  data/json/mapgen/nested/roof_nested.json
  data/json/npcs/classes.json
  data/json/npcs/npc.json
  data/json/professions.json
Labels: JSON

#7260 refactor: use `contains` and `empty`
  src/activity_handlers.cpp
  src/activity_type.cpp
  src/advanced_inv_pane.cpp
  src/avatar.cpp
  src/avatar_functions.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/character_turn.cpp
  src/clzones.cpp
  src/construction.cpp
  src/crafting_gui.cpp
  src/dependency_tree.cpp
  src/diary.cpp
  src/distraction_manager.cpp
  src/distribution_grid.cpp
  src/dump.cpp
  src/event_statistics.cpp
  src/examine_item_menu.cpp
  src/explosion.cpp
  src/faction.cpp
  src/fault.cpp
  src/game.cpp
  src/handle_action.cpp
  src/input.cpp
  src/inventory.cpp
  src/item.cpp
  src/item_action.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic.cpp
  src/magic_teleporter_list.cpp
  src/map.cpp
  src/mapgen.cpp
  src/mapsharing.cpp
  src/melee.cpp
  src/monmove.cpp
  src/mtype.cpp
  src/mutation.cpp
  src/mutation_type.cpp
  src/newcharacter.cpp
  src/npcmove.cpp
  src/options.cpp
  src/overmap.cpp
  src/overmap_ui.cpp
  src/player_activity.cpp
  src/profession.cpp
  src/recipe.cpp
  src/recipe_dictionary.cpp
  src/recipe_groups.cpp
  src/savegame_json.cpp
  src/simple_pathfinding.cpp
  src/submap.cpp
  src/text_snippets.cpp
  src/vehicle.cpp
  src/vehicle_autodrive.cpp
  src/vehicle_move.cpp
  src/vitamin.cpp
  src/weather_type.cpp
  src/wish.cpp
Labels: src

#7244 fix: Flying vehicles can now hover at water level & cannot hover at roof level
  src/map.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
Labels: src

#7267 chore: Atomize Construction.json
  data/json/construction.json
  data/json/construction/construct.json
  data/json/construction/construct_deco.json
  data/json/construction/construct_dig.json
  data/json/construction/construct_farm_wood.json
  data/json/construction/construct_furn.json
  data/json/construction/construct_other.json
  data/json/construction/construct_reinforce.json
  data/json/construction/construct_repair.json
  data/json/construction/construct_windows.json
  data/json/construction/construct_workshop.json
Labels: JSON

#7270 fix: remove empty trait entry from `trait_group_EARS`
  data/json/npcs/starting_traits.json
Labels: JSON

#7269 feat: Swing Swing Swing With Me! Mining and Mining Construction Expansion
  data/json/construction/construct_deco.json
  data/json/construction/construct_dig.json
  data/json/construction/construct_other.json
  data/json/construction_group.json
  data/json/external_tileset/ores_and_veins.json
  data/json/external_tileset/ores_and_veins.png
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/item_actions.json
  data/json/itemgroups/misc.json
  data/json/items/chemicals_and_resources.json
  data/json/mapgen/mine/shallow_ore_vein.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/recipes/other/materials.json
  src/item_factory.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/overmap.cpp
  src/overmap.h
Labels: src, JSON

#7240 feat: add clothing mods for hard steel padding and resizing for small mutants, sewing kits can install some clothing mods
  data/json/clothing_mods.json
  data/json/flags.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/bandolier.json
  data/json/items/armor/belts.json
  data/json/items/armor/boots.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/masks.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/tool/tailoring.json
  data/json/items/tool_armor.json
  data/mods/Aftershock/items/armor.json
  data/mods/MagicalNights/items/enchanted/enchanted_misc.json
  data/mods/MagicalNights/items/tools.json
  data/mods/exotic_ammo/bandoliers-pouches.json
  src/character.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/iuse_actor.cpp
Labels: src, JSON, mods

#7274 fix: remove redundant punctuation from `ALLOWS_X` flags descriptions
  data/json/flags.json
Labels: JSON

#7272 feat: transparent floors
  data/json/furniture_and_terrain/terrain-roofs.json
  src/cata_tiles.cpp
  src/map.cpp
  src/map.h
  src/map_memory.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: src, JSON

#7276 feat: wrist computers, control laptop radiocontrol, laptop buff
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/generic.json
  data/json/items/tool/electronics.json
  data/json/mapgen/abandoned01.json
  data/json/mapgen/cs_internet_cafe.json
  data/json/mapgen/field_football.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/items_generic.json
  data/json/obsoletion/itemgroups.json
  data/json/recipes/electronic/tools.json
  data/json/uncraft/generic.json
  data/mods/Aftershock/npcs/cyborg_npcs/item_groups_cyborg.json
Labels: JSON, mods

#7282 fix: give avian heli pilot torso clothes they can wear, better substitution for subject suit with snake tails
  data/json/professions.json
Labels: JSON

#7278 feat(UI): rename the M17's magazine from `P320 9x19mm magazine` to `M17 9x19mm magazine`
  data/json/items/magazine/9mm.json
Labels: JSON

#7284 fix: add wrist computers to crafting standards
  data/json/requirements/toolsets.json
Labels: JSON

#7262 perf: Improve Rotated Vehicle Performance
  src/vehicle.cpp
  src/vehicle.h
Labels: src

#7285 feat: RADIOCONTROL and REMOTEVEH use actions can now be used with all items
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/game.cpp
  src/handle_action.cpp
  src/item.cpp
Labels: src

#7294 feat: rename swimming to athletics, encumbrance benefit
  data/json/skills.json
  data/raw/tips.json
  src/activity_handlers.cpp
  src/character.cpp
  src/character.h
  src/character_turn.cpp
  src/game.cpp
  src/magic_spell_effect.cpp
  src/relic.cpp
  tests/ranged_balance_test.cpp
Labels: src, JSON, tests

#7296 feat(balance): althetics skill reduces stamina burn, athletics and driving now no longer drain and are unaffected by focus
  data/json/skills.json
  data/raw/tips.json
  docs/en/mod/json/reference/json_flags.md
  src/character.cpp
  src/skill.cpp
  src/skill.h
Labels: docs, src, JSON

#7301 fix: Fix Null Ammo Error & add dams to maps
  data/json/items/book/maps.json
  src/character_turn.cpp
Labels: src, JSON
