Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2025-06, with the labels that each got.

#6662 feat: turn all the mapgen of urban_2_house to the north
  data/json/mapgen/house/urban_2_house.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6650 refactor: ripping out player class iteration 1
  src/animation.cpp
  src/avatar.cpp
  src/avatar.h
  src/bionics_ui.cpp
  src/character.cpp
  src/character.h
  src/character_display.cpp
  src/character_martial_arts.cpp
  src/game.cpp
  src/item.cpp
  src/item.h
  src/map.cpp
  src/map.h
  src/player.cpp
  src/player.h
  src/sounds.cpp
  src/sounds.h
  src/veh_interact.cpp
  src/veh_interact.h
  src/vehicle.cpp
  src/vehicle.h
Labels: src

#6666 feat: turn all the mapgen of urban_3_house to the north
  data/json/mapgen/house/urban_3_house.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6663 feat(balance): Thermonuclear nerf to mended heal rate, double natural heal rate
  data/json/effects.json
  data/json/game_balance.json
  tests/char_healing_test.cpp
Labels: JSON, tests

#6677 feat: prevent duplicated noise from spells by default
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: docs, src

#6672 test: Fix issues in bandaged/disinfected healing test
  tests/char_healing_test.cpp
Labels: tests

#6681 fix: change junk metal floor symbol to "`"
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: JSON

#6680 feat: turn all the mapgen of urban_4_house_basement to the north
  data/json/mapgen/house/urban_4_house_basement.json
  data/json/overmap/multitile_city_buildings.json
Labels: JSON

#6682 fix: negative crafting progress from eating
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/pickup.cpp
Labels: src

#6683 fix: tainted blood doesn't spoil
  data/json/items/comestibles/carnivore.json
Labels: JSON

#6688 feat: JSONize digging and filling in pits
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-fungal.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/furniture_and_terrain/terrain-traps.json
  data/json/test_regions.json
  data/json/vehicleparts/engineering.json
  data/mods/MagicalNights/ter_fur_transform/ter_fur_transform.json
  data/mods/MagicalNights/terrain.json
  data/mods/TEST_DATA/magic.json
  data/mods/desert_region/desert_terrain.json
  doc/src/content/docs/en/mod/json/reference/map/ter_furn_transform.md
  doc/src/content/docs/en/mod/json/reference/tiles/constructions.md
  doc/src/content/docs/en/mod/json/reference/tiles/furn_and_terrain.md
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/character.cpp
  src/construction.cpp
  src/construction.h
  src/fungal_effects.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic_ter_fur_transform.cpp
  src/magic_ter_furn_transform.h
  src/map.cpp
  src/map_extras.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/monattack.cpp
  src/monmove.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle_use.cpp
Labels: docs, src, JSON, mods

#6689 feat(balance): set head healing from bandages/disinfectant to match torso
  data/json/effects.json
  tests/char_healing_test.cpp
Labels: JSON, tests

#6687 feat: scouting electronic multitool visor
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/tools.json
  data/json/items/tool_armor.json
  data/json/recipes/electronic/tools.json
Labels: JSON

#6693 fix: override `furn_set` for downed steel targets
  data/json/furniture_and_terrain/furniture-recreation.json
Labels: JSON

#6697 fix(balance): varnish changes, undo #6589
  data/json/items/ammo.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/other.json
  data/json/items/fuel.json
  data/json/items/generic.json
  data/json/items/resources/home_improvement.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/materials.json
Labels: JSON

#6699 feat(mods/MagicalNights, port): Add wards based on the Arcana wards to Magical Nights
  data/mods/MagicalNights/Spells/biomancer.json
  data/mods/MagicalNights/Spells/classless.json
  data/mods/MagicalNights/Spells/kelvinist.json
  data/mods/MagicalNights/Spells/stormshaper.json
  data/mods/MagicalNights/effects/effects.json
  data/mods/MagicalNights/itemgroups/spellbooks.json
  data/mods/MagicalNights/items/spell_scrolls.json
  data/mods/MagicalNights/items/spellbooks.json
  data/mods/MagicalNights/obsolete.json
  data/mods/MagicalNights/recipes/alchemy.json
Labels: JSON, mods

#6700 feat: Add a historical recipe for the `crucible` item
  data/json/recipes/other/tools.json
Labels: JSON

#6706 fix(mods/MagicalNights): Manually specify enchanted boot materials as leather and steel
  data/mods/MagicalNights/items/enchanted/enchanted_boots.json
Labels: JSON, mods

#6705 fix: fix healthy tests, additionally slow down health normalization
  src/catalua_bindings_creature.cpp
  src/character.cpp
  src/character.h
  tests/health_test.cpp
Labels: src, tests

#6708 fix: fill butane tanks
  data/json/items/tool/science.json
Labels: JSON

#6715 fix(mods/MagicalNights): Fix missing `alloy_padded` option for tailor's kits
  data/mods/MagicalNights/items/enchanted/enchanted_misc.json
  data/mods/MagicalNights/items/tools.json
Labels: JSON, mods

#6719 feat: Allow for spell damage to be augmented by melee weapon damage
  data/mods/TEST_DATA/magic.json
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/ranged.cpp
  tests/magic_spell_test.cpp
Labels: docs, src, JSON, tests, mods

#6716 feat: plastic cords
  data/json/items/generic/string.json
  data/json/recipes/other/materials.json
  data/json/requirements/materials.json
Labels: JSON

#6722 fix: stop overdosing on nicotine and choking on smoke
  data/json/items/comestibles/med.json
  data/json/items/tool/smoking.json
Labels: JSON

#6721 fix: blowing up NPCs causes the player to teleport to them
  src/creature.h
  src/explosion.cpp
Labels: src

#6728 feat: replace `11x11_gym_open` with another nested mapgen in the basement of urban_4_house_basement
  data/json/mapgen/house/urban_4_house_basement.json
  data/json/mapgen/nested/basement_nested.json
Labels: JSON

#6667 refactor: ripping out player class iteration 2
  src/avatar.cpp
  src/avatar.h
  src/bionics.cpp
  src/character.h
  src/computer_session.cpp
  src/computer_session.h
  src/construction.cpp
  src/debug_menu.cpp
  src/debug_menu.h
  src/effect.cpp
  src/effect.h
  src/game.cpp
  src/game.h
  src/game_inventory.cpp
  src/gamemode_defense.cpp
  src/gates.cpp
  src/gates.h
  src/magic.cpp
  src/magic.h
  src/monster.cpp
  src/monster.h
  src/newcharacter.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
  src/npctrade.cpp
  src/npctrade.h
  src/turret.cpp
  src/veh_interact.cpp
  src/veh_interact.h
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  src/wish.cpp
  tests/reading_test.cpp
Labels: src, tests

#6727 feat: allow mutations to use more resources
  doc/src/content/docs/en/mod/json/reference/creatures/mutations.md
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
Labels: docs, src

#6732 fix: remove retractable claws + arm tentacles exploit
  data/json/mutations/mutations.json
Labels: JSON

#6735 feat: allows the mechanical winch to work with more different walls
  data/json/construction.json
  data/json/gates.json
Labels: JSON

#6738 feat: folding wagons
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/tools.json
  data/json/items/tool/deployable.json
  data/json/items/vehicle/cargo.json
  data/json/npcs/items_generic.json
  data/json/vehicleparts/cargo.json
  data/json/vehicles/carts.json
Labels: JSON

#6734 feat(balance): ranged triffids can see, move death drops to harvest, add `TRANSPARENT` to root floors
  data/json/furniture_and_terrain/terrain-triffid.json
  data/json/harvest.json
  data/json/monsters/triffid.json
Labels: JSON

#6740 feat(balance): reduce weight of dab pens from monsterdrops to same range as most other items on the list, remove redundant spawn
  data/json/monsterdrops/zombie_default.json
Labels: JSON

#6741 fix: swap volume of minireactor and generator
  data/json/items/furniture.json
  data/json/items/vehicle/utilities.json
Labels: JSON

#6742 fix: make blunts produce blunt smoke
  data/json/emit.json
  data/json/field_type.json
  data/json/items/generic.json
Labels: JSON

#6737 perf: remove rotor rotation shadow calculation
  src/vehicle_autodrive.cpp
Labels: src

#6743 fix: keybind debug menu to F12 by default
  data/raw/keybindings/keybindings.json
Labels: JSON

#6745 fix: diving in rivers
  data/json/furniture_and_terrain/terrain-liquids.json
Labels: JSON

#6753 fix: update utility light ter_set to `t_concrete`
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: JSON

#6754 feat(mods): Add in No Global Uniques as a Mod
  data/mods/No_Global_Uniques/modinfo.json
  data/mods/No_Global_Uniques/overmap/specialsoverride.json
Labels: JSON, mods

#6755 fix: double spawns, friendlier civilians
  data/mods/Civilians/civilians.json
  data/mods/Civilians/monstergroup.json
Labels: JSON, mods

#6540 feat(UI): popup when clothing is completely destroyed
  src/character.cpp
  src/options.cpp
Labels: src

#6763 docs: document sprite selection on spells
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
Labels: docs

#6764 fix: typo FLAMABLE_ASH -> FLAMMABLE_ASH
  data/json/furniture_and_terrain/furniture-tools.json
Labels: JSON

#6766 feat(UI): don't trigger "recent hunt" event while asleep
  src/character.cpp
Labels: src

#6768 feat: add a roof to the bandit cabin
  data/json/mapgen/bandit_cabin.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: JSON

#6770 fix: Fix trying to remove effects that aren't present in `Creature::process_effects()`
  src/creature.cpp
Labels: src

#6772 feat: Allow spells to scale based on caster's stats
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/magic.cpp
  src/magic.h
Labels: docs, src
