Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2025-01, with the labels that each got.

#5853 feat(balance): Rebalance Tree Spawns
  data/json/regional_map_settings.json
Labels: JSON

#5857 fix: remove `t_open_air_rooved` from `s_garage_roof_1`
  data/json/mapgen/garage.json
Labels: JSON

#5859 docs: `cast_spell` doesn't exist, correct function is `spell`
  doc/src/content/docs/en/mod/json/reference/json_info.md
Labels: docs

#5860 docs: `burst_modifier` is orphaned, use `mode_modifier`
  doc/src/content/docs/en/mod/json/reference/json_info.md
Labels: docs

#5861 fix(content): Fix inappropriate vitamin extensions
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/veggy_dishes.json
Labels: JSON

#5864 fix: use regional terrain for `cs_tire_shop` and other changes
  data/json/mapgen/cs_tire_shop.json
Labels: JSON

#5865 feat(balance): allow alternatives to rubber gloves for deconstruction, moved advanced deconstruct to `OTHER`
  data/json/deconstruction.json
  data/json/items/armor/power_armor.json
  data/json/requirements/toolsets.json
Labels: JSON

#5870 fix: More charge usage shenanigans (fireweapon edition)
  src/iuse_actor.cpp
Labels: src

#5849 feat(content,port): add `SEAT_REQUIRES_BALANCE` and skateboard vehicle/profession
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/tool/deployable.json
  data/json/items/vehicle/frames.json
  data/json/items/vehicle/wheel.json
  data/json/mapgen/park_skate.json
  data/json/mapgen/parking_garage.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/items_generic.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/professions.json
  data/json/recipes/other/other.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/vehicles.json
  data/json/regional_map_settings.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/vp_flags.json
  data/json/vehicleparts/wheel.json
  data/json/vehicles/bikes.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/character.cpp
  src/vehicle_move.cpp
  src/vehicle_use.cpp
Labels: docs, src, JSON

#5871 feat(port,content): Day and Night, Dusk and Dawn for enchantment conditions
  data/mods/Magiclysm/effects/enchantments.json
  data/mods/Magiclysm/items/armor.json
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: docs, src, JSON, mods

#5872 revert: "raise amount of itemgroup tests from 100 -> 1000"
  src/item_factory.cpp
Labels: src

#5875 feat(UI): add iteration config for item group debug spawn test
  src/item_factory.cpp
Labels: src

#5877 feat: Allow mutant-spawned liquids to be stored/consumed
  src/mutation.cpp
Labels: src

#5882 fix: Properly add human flesh vitamins to several comestibles
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/mutagen.json
  data/json/items/comestibles/other.json
Labels: JSON

#5846 feat(content,port): `AGGRO_CHARACTER` flag for enemies
  data/json/monsters/bird.json
  data/json/monsters/fish.json
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
  data/json/monsters/mutant_animal.json
  data/json/monsters/mutant_human.json
  data/json/monsters/reptile_amphibian.json
  doc/src/content/docs/en/mod/json/reference/creatures/monsters.md
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/mattack_actors.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.cpp
  src/mtype.h
  src/savegame_json.cpp
Labels: docs, src, JSON

#5883 chore: Smol grammar fixes for CRIT mod
  data/mods/CRT_EXPANSION/items/crt_gunmods.json
Labels: JSON, mods

#5886 docs: Properly link to custom clang-tidy plugin instructions
  doc/src/content/docs/en/dev/reference/tooling.md
Labels: docs

#5889 feat: Stagger item categories for modder support
  data/mods/Item_Category_Overhaul/categories.json
Labels: JSON, mods

#5858 fix: Handle "relative" and "proportional" with encumbrance
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/torso_armor.json
  data/mods/TEST_DATA/items.json
  src/item_factory.cpp
Labels: src, JSON, mods

#5891 fix: Specified the kicker name
  src/monattack.cpp
Labels: src

#5895 feat(balance): Slightly lower solar car odds
  data/json/vehicle_groups.json
Labels: JSON

#5897 chore: Delete the obsolete script for Item Category Overhaul
  scripts/item_category_mod_test.ts
Labels: scripts

#5896 feat(balance): House solar odds lowered from 33% per home to 15%
  data/json/mapgen/nested/roof_nested.json
Labels: JSON

#5893 feat(content): Robotic crafting bench
  data/json/construction.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/items/vehicle/tables.json
  data/json/recipes/other/vehicles.json
  data/json/vehicleparts/vehicle_parts.json
Labels: JSON

#5900 feat(port): increase default search range for mission placement, sanity-check search properties for scenario missions
  data/json/npcs/missiondef.json
  data/json/npcs/necropolis/NPC_Old_Guard_Captain.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/npcs/refugee_center/surface_visitors/NPC_old_guard_representative.json
  data/json/npcs/robofac/NPC_ROBOFAC_MERC_1.json
  data/json/scenarios.json
  src/mission.h
  src/mission_util.cpp
Labels: src, JSON

#5723 feat(port): Implement `GLOBALLY_UNIQUE`
  data/json/overmap/overmap_special/aircraft_carrier.json
  data/json/overmap/overmap_special/specials.json
  src/overmap.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/savegame.cpp
Labels: src, JSON

#5884 feat: Craftable c4 and hydrogen peroxide
  data/json/recipes/chem/chemicals.json
  data/json/recipes/weapon/explosive.json
Labels: JSON

#5902 fix: multiple vehicle faucets no longer multiply supposedly-available crafting materials
  src/inventory.cpp
Labels: src

#5908 docs: Add documentation for building an APK in a fork
  doc/src/content/docs/en/dev/guides/building/makefile.md
Labels: docs

#5912 fix: Migrate worlds with Magiclysm to Magical Nights Properly
  data/mods/replacements.json
Labels: JSON, mods

#5913 fix: sidewalk instead of wooden floor under the vending machines of `craft_shop_2`
  data/json/mapgen/Pottery_Sewing_Shops.json
Labels: JSON

#5911 fix: remove flying flat roofs in the glassblower craft shop
  data/json/mapgen/Glassblower.json
Labels: JSON

#5914 feat(mods/Magical_Nights, balance): Discourage spear cheese against plastic golems
  data/mods/Magical_Nights/Spells/monsterspells.json
  data/mods/Magical_Nights/monsters/golems.json
Labels: JSON, mods

#5915 feat(content): Relic_data expanded to support aboveground as a condition
  data/json/artifact/premade_artifacts.json
  data/json/effects.json
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: docs, src, JSON

#5917 docs: fix documentation for `ABOVEGROUND` enchantment condition
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
Labels: docs

#5919 feat(balance): Permit One-handed casting
  src/handle_action.cpp
  src/magic.cpp
Labels: src

#5921 feat(balance): Reduce gas found at lumberyard
  data/json/mapgen/lumbermill.json
Labels: JSON

#5924 feat(balance, mods/Magical_Nights): Nerf plastic golem's anti-cheese slightly
  data/mods/Magical_Nights/Spells/monsterspells.json
  data/mods/Magical_Nights/monsters/golems.json
Labels: JSON, mods

#5925 feat(balance): add `GLOBALLY_UNIQUE` to Hub01
  data/json/overmap/overmap_special/specials.json
Labels: JSON

#5866 feat(balance): sanity-check spawns in drug deal map extra
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/mapgen/map_extras/corpses.json
Labels: JSON

#5927 chore(mods/Magical_Nights): Add an acknowledgement for sources of certain tiles
  data/mods/Magical_Nights/tileset-acknowledgement.txt
Labels: JSON, mods

#4950 revert: bring aoe shotshell again
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/410shot.json
  data/json/items/ammo/flintlock.json
  data/json/items/ammo/shot.json
  data/json/items/handloaded_bullets.json
  src/projectile.h
  src/ranged_aoe.cpp
Labels: src, JSON

#5926 feat(content,balance): Vehicle collision damage logic update, new vehicle part flags
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/vp_flags.json
  src/map.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
Labels: src, JSON

#5929 fix: use regional terrain for `headshop`
  data/json/mapgen/headshop.json
Labels: JSON

#5932 feat(balance): Allow medieval churl to learn driving
  data/json/scenarios.json
Labels: JSON

#5933 fix: only single exosuit can be worn now
  data/json/flags.json
  data/json/items/armor/power_armor.json
  src/character.cpp
  src/flag.cpp
  src/flag.h
Labels: src, JSON

#5940 chore: bump deno lockfile
  deno.lock
  src/overmap.cpp
Labels: src

#5777 feat: SQLite+Compressed save format (Phase 2 of v2 save format)
  .github/workflows/android.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/manual-release.yml
  .github/workflows/matrix.yml
  .github/workflows/msys2-cmake.yml
  .github/workflows/osx.yml
  .github/workflows/release.yml
  CMakeLists.txt
  Makefile
  android/.gitignore
  android/app/build.gradle
  android/app/jni/sqlite3/Android.mk
  data/raw/keybindings/keybindings.json
  doc/src/content/docs/en/dev/guides/building/atomic_cmake.md
  doc/src/content/docs/en/dev/guides/building/cmake.md
  doc/src/content/docs/en/dev/guides/building/makefile.md
  msvc-full-features/vcpkg.json
  scripts/affected_files.ts
  src/Android.mk
  src/CMakeLists.txt
  src/compress.cpp
  src/compress.h
  src/main_menu.cpp
  src/world.cpp
  src/world.h
  src/worldfactory.cpp
  src/worldfactory.h
Labels: docs, src, JSON, scripts

#5942 feat: use the standard domestic palettes for `urban_11_1` and `urban_11_2`
  data/json/mapgen/city_blocks/urban_11_house_brick.json
Labels: JSON

#5944 feat(balance): sanity-check half-life of sludge trail fields
  data/json/field_type.json
Labels: JSON

#5945 feat: use the standard domestic palettes for `urban_11_3` and `urban_11_4`
  data/json/mapgen/city_blocks/urban_11_house_brick.json
Labels: JSON

#5948 feat(balance, mods/Magical_Nights): Re-price MN professions and scenarios
  data/mods/Magical_Nights/professions.json
  data/mods/Magical_Nights/scenarios.json
Labels: JSON, mods

#5947 feat(balance, mods/Magical_Nights): Nerf spellcasting costs, touch-up a few spells
  data/mods/Magical_Nights/Spells/animist.json
  data/mods/Magical_Nights/Spells/biomancer.json
  data/mods/Magical_Nights/Spells/classless.json
  data/mods/Magical_Nights/Spells/druid.json
  data/mods/Magical_Nights/Spells/earthshaper.json
  data/mods/Magical_Nights/Spells/kelvinist.json
  data/mods/Magical_Nights/Spells/magus.json
  data/mods/Magical_Nights/Spells/stormshaper.json
  data/mods/Magical_Nights/Spells/technomancer.json
Labels: JSON, mods

#5950 fix: recovering beehives grow into correct furniture, use external tileset sprite for item form
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/furniture_and_terrain/furniture-rural.json
Labels: JSON

#5951 feat(balance): sanity-check fatigue gain from infections
  data/json/effects.json
Labels: JSON

#5952 feat(balance): Buff supply drop items, rework their item spawning
  src/map_extras.cpp
Labels: src

#5954 feat: replace `acidia_residential_roof_palette` by `roof_palette` for `urban_11_5` and `urban_11_6`
  data/json/mapgen/city_blocks/urban_11_house_brick.json
Labels: JSON

#5953 fix(UI): displayed disassemble time
  src/game.cpp
Labels: src

#5955 feat: New tiles for t_shingle_flat_roof
  data/mods/UDP_Redux/terrain.json
  data/mods/UDP_Redux/terrain.png
Labels: JSON, mods

#5956 feat(content): More clothing recipes
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/torso.json
Labels: JSON

#5957 feat(content): Craft kitchen stuff
  data/json/recipes/other/other.json
  data/json/recipes/other/tools.json
Labels: JSON

#5959 chore: Partial clear of migrations and obsoletions
  data/json/itemgroups/SUS/clothes_store.json
  data/json/itemgroups/misc.json
  data/json/mapgen/mall/mall_ground.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/obsoletion/items.json
  data/json/obsoletion/migration.json
  data/json/obsoletion/recipes.json
  data/json/obsoletion/uncategorized.json
  data/json/recipes/animals/medium_quadruped_armor.json
  data/json/recipes/other/materials.json
  data/json/requirements/ammo.json
  data/json/uncraft/generic.json
  data/mods/DinoMod/recipes/head.json
  data/mods/DinoMod/recipes/pets_bear.json
Labels: JSON, mods

#5960 feat(content): Remove dialogue that references specific years
  data/json/npcs/refugee_center/beggars/BEGGAR_4_Brandon_Garder.json
Labels: JSON

#5962 feat: Add `INACTIVE` condition for enchantments
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: docs, src

#5963 feat(balance): dissoluted devourer buff scales more slowly, cut max bashing bonus in half
  data/json/effects.json
Labels: JSON

#5964 feat(balance): Plastic, Carbon Fiber Vehicle Frame Buff
  data/json/recipes/other/vehicles.json
Labels: JSON

#5961 fix: cables duplication
  data/json/flags.json
  data/json/items/classes/book.json
  data/json/items/tool/deployable.json
  data/json/items/tool/explosives.json
  data/json/items/tool/firefighting.json
  data/json/items/tool/misc.json
  data/json/items/tool/radio_tools.json
  data/json/items/vehicle/cables.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/character.cpp
  src/flag.cpp
  src/flag.h
  src/iuse.cpp
Labels: docs, src, JSON

#5967 fix: Fireweapons stop being destroyed when running out of charges.
  src/iuse_actor.cpp
Labels: src

#5972 chore: remove `content` scope
  .github/semantic.yml
  doc/src/assets/semantic.json
  doc/src/content/docs/en/contribute/changelog_guidelines.mdx
  scripts/semantic.ts
Labels: docs, scripts

#5971 feat: Trees can be harvested for long sticks
  data/json/furniture_and_terrain/terrain-flora.json
Labels: JSON

#5975 chore: fix typo in `FIREWOOD` flag
  data/json/flags.json
Labels: JSON

#5973 feat: Allow martial arts to require mutations
  doc/src/content/docs/en/mod/json/reference/creatures/martialart_json.md
  src/character_martial_arts.cpp
  src/character_martial_arts.h
  src/martialarts.cpp
  src/martialarts.h
Labels: docs, src

#5976 fix: radiation biomonitor can now load all three types of ultra-light battery
  data/json/items/tool_armor.json
Labels: JSON

#5977 feat(balance): wrist and ankle sheaths can fit pocket knives
  data/json/items/armor/sheath.json
Labels: JSON

#5982 fix: disassemble inactive bots
  data/json/items/corpses/inactive_bots.json
  data/json/uncraft/generic.json
Labels: JSON

#5983 fix(balance): kilnable heavy bones
  src/iexamine.cpp
Labels: src

#5980 feat(balance): vary up AoE range of shotshells more, fix paper shot lacking AoE
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/410shot.json
  data/json/items/ammo/shot.json
  data/json/items/ammo/shotpaper.json
Labels: JSON

#5984 fix: use regional terrain for `s_gardening`
  data/json/mapgen/gardening_store.json
Labels: JSON

#5966 feat(mods/DinoMod): sauropod updates
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/monster_attacks.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/DinoMod/requirements/cooking_components.json
Labels: JSON, mods

#5986 fix(mods/MagicalNights): Attempt to limit mapgen placing things in towns when it shouldn't
  data/mods/Magical_Nights/worldgen/overmap_specials.json
Labels: JSON, mods

#5979 feat(balance): lower cargo space weight
  data/json/items/vehicle/cargo.json
  data/json/recipes/other/vehicles.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/vehicle_parts.json
  tests/vehicle_drag_test.cpp
Labels: JSON, tests

#5989 docs: Reduce alarmism about docs being outdated
  doc/src/content/docs/en/mod/json/tutorial/modding.md
Labels: docs

#5990 fix: prevent folded vehicle item duplication on unfold
  data/json/items/tool/deployable.json
Labels: JSON

#5988 feat(balance): Triple wind turbine power output
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/vehicleparts/vehicle_parts.json
Labels: JSON

#5993 feat(balance): consistency updates for makeshift axes and tomahawks, to allow tomahawks to have woodcutting quality
  data/json/items/tool/woodworking.json
  data/json/recipes/other/tools.json
  data/json/recipes/weapon/cutting.json
Labels: JSON

#5994 feat(balance): move battleaxe to `2H_AXES`category, obsolete `HAND_AXES` in favor of `1H_AXES`
  data/json/items/melee/axes.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool/firefighting.json
  data/json/items/tool/woodworking.json
  data/json/obsoletion/uncategorized.json
  data/json/weapon_categories.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
  data/mods/MMA/martialarts.json
  data/mods/Magical_Nights/items/class_items.json
Labels: JSON, mods

#6000 feat: All bandoliers that accept .38 special now accept .38 super
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/bandolier.json
Labels: JSON

#6004 fix: remove `EASY_DECONSTRUCT` from air conditioners again due to it being accidentally re-added
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: JSON

#6008 chore: survivor hiking backpack description typo fix
  data/json/items/armor/storage.json
Labels: JSON

#6007 fix: differentiate name for opened condiment bottle
  data/json/items/containers.json
Labels: JSON

#6006 chore: fix my auto-included headers
  src/consumption.cpp
  src/martialarts.cpp
Labels: src

#6010 feat(balance): more tin and aluminum recipes
  data/json/items/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/parts.json
  data/json/uncraft/generic.json
  data/json/uncraft/vehicle/other.json
  data/json/uncraft/weapon/melee.json
Labels: JSON

#6005 feat: Train mechanics by deconstructing furniture
  data/json/deconstruction.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/terrain-manufactured.json
Labels: JSON

#6009 fix: crafted items no longer try to set default ammotype for items spawned empty
  src/crafting.cpp
Labels: src

#6012 feat(port): JSONize ammo consumption per shot, allow gunmods to modify ammo use, add a flamethrower gunmod to demonstrate ammo use modifier
  data/json/items/classes/gun.json
  data/json/items/gun/flammable.json
  data/json/items/gunmod/muzzle.json
  data/json/recipes/weapon/mods.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/item.cpp
  src/item_factory.cpp
  src/itype.h
Labels: docs, src, JSON

#6013 feat(UI): show ammo per shot for weapons that use it
  src/item.cpp
Labels: src

#6017 fix: convert strict JSON errors to warning
  src/assign.cpp
  src/debug.cpp
  src/debug.h
Labels: src

#6015 refactor: fix compiler warnings
  src/character.cpp
  src/game.cpp
  src/recipe.cpp
  src/vehicle_move.cpp
Labels: src

#6021 chore(mods/MonsterGirls): Fix a typo in Dryad Threshold's displayed name
  data/mods/Monster_Girls/thresh_mutation.json
Labels: JSON, mods

#6020 feat: clean up item categories more
  data/json/items/ammo.json
  data/json/items/chemicals_and_resources.json
  data/json/items/classes/comestible.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/spice.json
  data/json/items/containers.json
  data/json/items/generic.json
  data/json/items/generic/string.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/container.json
  data/json/items/tool/cooking.json
  data/json/items/tool/deployable.json
  data/json/items/tool/electronics.json
  data/json/items/tool/knives.json
  data/json/items/tool/lighting.json
  data/json/items/tool/med.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/json/items/vehicle/cables.json
  data/json/items/vehicle/utilities.json
  data/mods/Modular_Turrets/items.json
Labels: JSON, mods

#6025 fix: change plastic sheet category to plastic scrap
  data/json/items/resources/plastic.json
Labels: JSON
