Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2025-03, with the labels that each got.

#6142 feat(balance): Add foldable solar panels.
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/science_and_tech.json
  data/json/items/vehicle/solar.json
  data/json/recipes/electronic/parts.json
  data/json/vehicleparts/vehicle_parts.json
Labels: JSON

#6147 fix: invalid safe reference
  src/player_activity.cpp
Labels: src

#6148 feat(balance): make use of foldable panels for electric scooters and solarpack, related updates
  data/json/items/tool_armor.json
  data/json/items/vehicle/solar.json
  data/json/obsoletion/items.json
  data/json/recipes/electronic/other.json
  data/json/uncraft/generic.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/bikes.json
  data/mods/Aftershock/items/armor.json
  tests/vehicle_drag_test.cpp
Labels: JSON, tests, mods

#6149 feat(balance): speedydex bonus takes effect avove 10 dex
  data/mods/speedydex/modinfo.json
Labels: JSON, mods

#6150 feat(balance): allow using other funnels for sausage casing recipe
  data/json/recipes/food/meat.json
Labels: JSON

#6153 feat: use the nested mapgen `s_restaurant_chequered_floor` for the kitchen of the mapgen `s_restaurant_foodplace`
  data/json/mapgen/restaurant.json
Labels: JSON

#6155 feat(balance): smartphone game playing
  data/json/items/tool/electronics.json
Labels: JSON

#6156 feat(balance): make smart shot require nanomaterial
  data/json/items/comestibles/mutagen.json
  data/json/recipes/chem/mutagen.json
Labels: JSON

#6158 refactor: migrate construction to actors
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/construction.cpp
  src/construction.h
  src/iexamine.cpp
  src/player_activity.cpp
Labels: src, JSON

#6160 test: mark monster movement tests as flaky
  tests/monster_test.cpp
Labels: tests

#6162 fix: Make the electrosense bionic scanner actually power down
  src/bionics.cpp
Labels: src

#6161 fix: outdoor fences bash into dirt/pits instead of `t_null`
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: JSON

#6165 feat(balance): metal rails new recipe
  data/json/recipes/ammo/other.json
Labels: JSON

#6166 feat(balance): advanced butchering station
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/items/fake.json
  data/json/items/vehicle/tables.json
  data/json/recipes/other/other.json
Labels: JSON

#6152 feat(UI): wielded tools and sort armor menu show ammo
  src/armor_layers.cpp
  src/character_functions.cpp
Labels: src

#6167 feat(balance): audit survivor exo-suit recipe, allow uncrafting exo-suits
  data/json/items/armor/power_armor.json
  data/json/recipes/armor/suit.json
  data/json/uncraft/armor/suit.json
Labels: JSON

#6168 feat(balance): reduce encumbrance of gloves and boots
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  tests/ranged_balance_test.cpp
Labels: JSON, tests

#6169 fix(mods/aftershock): energy saber battery bug
  data/mods/Aftershock/items/weapons.json
Labels: JSON, mods

#6170 feat(balance): use synthetic fabric in a few more items, recipes for seatbelts/webbing belts
  data/json/items/armor/coats.json
  data/json/items/armor/undergarment.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/other/vehicles.json
  data/json/uncraft/armor.json
  data/json/uncraft/generic.json
Labels: JSON

#6174 fix: reloading magazine properly shows non-empty magazines with different, but compatible ammo
  src/character_functions.cpp
Labels: src

#6173 feat(balance): elevator is a road
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
Labels: JSON

#6176 fix: regression introduced with magazine reload fix
  src/character_functions.cpp
Labels: src

#6172 feat: autopickup checks content of containers
  src/pickup.cpp
Labels: src

#6171 feat: compactor machine furniture
  data/json/construction.json
  data/json/construction_group.json
  data/json/deconstruction.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/items/furniture.json
Labels: JSON

#6180 fix: swap currency of unused faction for money bundle
  data/json/itemgroups/Locations_MapExtras/locations.json
Labels: JSON

#6181 feat(balance): make sarcophagus access code optainable via control laptop
  data/json/recipes/other/other.json
Labels: JSON

#6185 feat(mods/MagicalNights): Add Holy Blade for Animist Spell
  data/mods/Magical_Nights/MagicalNights_Items.png
  data/mods/Magical_Nights/Spells/animist.json
  data/mods/Magical_Nights/items/ethereal_items.json
  data/mods/Magical_Nights/mod_tileset.json
Labels: JSON, mods

#6184 fix: add GUTTER to "connects_to"
  data/json/furniture_and_terrain/terrain-roofs.json
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/mapdata.cpp
  src/mapdata.h
Labels: docs, src, JSON

#6186 refactor: Make special attack code for monsters choose random special attacks instead of using order of insertion.
  src/monmove.cpp
Labels: src

#6164 fix: deconstructing terrain into `t_null` creates roofs or open air automatically, don't spawn deconstruction results in midair
  src/construction.cpp
  src/map.h
Labels: src

#6193 fix: item duplication on furniture deploy
  data/json/items/tool/shelters.json
Labels: JSON

#6196 fix: elevators at the mall
  data/json/mapgen/mall/mall_basement.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/mall/mall_roof.json
  data/json/mapgen/mall/mall_second_floor.json
  data/json/mapgen_palettes/mall_palette.json
Labels: JSON

#6188 feat: add kebabs
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/veggi.json
Labels: JSON

#6194 feat(UI): UDP external tileset sprites for treetops
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#6202 feat(UI): input history on (adv) inventory, and disassembly
  src/advanced_inv.cpp
  src/crafting_gui.cpp
  src/inventory_ui.cpp
Labels: src

#6204 feat(UI): Maps now can be (re)used to display a nearby eligible revealed overmap tile
  doc/src/content/docs/en/mod/json/reference/json_info.md
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: docs, src

#6209 fix: Shorten mx_collegekids description.
  data/json/overmap/map_extras.json
Labels: JSON

#6211 fix(UI): Adds a hotkey for the save format in the main menu
  src/main_menu.cpp
Labels: src

#6192 fix: various cable bugs, refactor cable logic code
  src/bionics.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/vehicle_part.cpp
Labels: src

#6210 fix: change phrasing in monster_attacks.json.
  data/json/monster_attacks.json
Labels: JSON

#6200 feat(UI): show overworld map coordinates in location infopanel
  src/panels.cpp
Labels: src

#6212 fix: cable unable to handle connections made in certain sequence
  src/iuse.cpp
Labels: src

#6069 feat: Artificial Brilliance 0.1: Strong AI pathfinding
  .gitignore
  data/json/pathfinding_options.json
  data/mods/pathfinding_stockfish/modinfo.json
  data/mods/pathfinding_stockfish/pathfinding_options.json
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/creature.h
  src/game.cpp
  src/handle_action.cpp
  src/map.h
  src/monexamine.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.h
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/options.cpp
  src/pathfinding_dijikstra.cpp
  src/pathfinding_dijikstra.h
  src/vehicle.cpp
  src/vehicle.h
Labels: src, JSON, mods

#6182 feat: welding metal doors shut, related updates
  data/json/construction.json
  data/json/construction_group.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.json
  data/json/external_tileset/External_Tileset_DP_terrain_normal.png
  data/json/furniture_and_terrain/terrain-doors.json
  data/mods/UDP_Redux/terrain.json
  data/mods/UDP_Redux/terrain.png
  doc/src/content/docs/en/mod/json/reference/graphics/external_tileset.md
  doc/src/content/docs/en/mod/json/reference/json_flags.md
Labels: docs, JSON, mods

#6146 feat(balance): multiple speed factors for activities
  data/json/player_activities.json
  doc/src/content/docs/en/mod/json/reference/creatures/player_activity.md
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/activity_type.cpp
  src/activity_type.h
  src/avatar_functions.cpp
  src/crafting.cpp
  src/crafting.h
  src/game.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/player_activity.cpp
  src/player_activity.h
  src/savegame_json.cpp
Labels: docs, src, JSON

#6218 feat(UI): Add cost to the name on the nanofabricator template
  src/item.cpp
Labels: src

#6219 fix: Fix UPS usage again for bionic scanner.
  src/iuse.cpp
Labels: src

#6220 feat: replace the concrete under the benches and trash cans in the research facility garden with gravel
  data/json/mapgen/lab/lab_surface/lab_surface_big_z1.json
  data/json/mapgen_palettes/lab_surface_palette.json
Labels: JSON

#6223 feat(balance): rework supply drop map extra to use loaded magazines instead of guns, military accessories without spawning power armor, flesh out variety of spawns
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  src/map_extras.cpp
Labels: src, JSON

#6224 feat(balance): `UNIQUE`-ify Military Outposts, buff their spawn rate
  data/json/overmap/overmap_special/specials.json
Labels: JSON

#6227 fix: missing fridges in some of the nested mapgen of the research facility
  data/json/mapgen/lab/lab_surface/lab_surface_nested.json
Labels: JSON

#6230 fix: add `SLEEP_IGNORE` to bionic scanner
  data/json/items/tool/electronics.json
Labels: JSON

#6232 docs: Start splitting up `JSON INFO` with items, vehicles, and mutations
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
  doc/src/content/docs/en/mod/json/reference/json_info.md
  doc/src/content/docs/en/mod/json/reference/mutations.md
  doc/src/content/docs/en/mod/json/reference/vehicles/vehicle_parts.md
  doc/src/content/docs/en/mod/json/reference/vehicles/vehicles_spawning.md
Labels: docs

#6233 docs: Fix colon number in new files from #6232
  doc/src/content/docs/en/mod/json/reference/items/item_creation.md
  doc/src/content/docs/en/mod/json/reference/mutations.md
  doc/src/content/docs/en/mod/json/reference/vehicles/vehicle_parts.md
Labels: docs

#6235 fix(UI): remove NV mutations description mention on/off toggle
  data/json/mutations/mutations.json
  data/json/obsoletion/mutations.json
Labels: JSON

#6237 feat(UI): Added color-coding for charges in charged items, including batteries,…
  src/item.cpp
Labels: src

#6243 feat: replace the tiles of concrete floor on the roof of the research facility with flat roof
  data/json/mapgen/lab/lab_surface/lab_surface_big_z5.json
Labels: JSON

#6242 feat(balance): Allow spells to hit arms and legs, change spell attacks' `missed_by`
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
  src/creature.cpp
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: docs, src

#6241 fix: Artificial brilliance day zero patch
  src/monmove.cpp
  src/pathfinding_dijikstra.cpp
  src/pathfinding_dijikstra.h
Labels: src

#6245 docs: Split more off of `JSON INFO`, delete some irrelevant areas.
  doc/src/content/docs/en/mod/json/reference/creatures/monster_facs.md
  doc/src/content/docs/en/mod/json/reference/creatures/monster_spawning.md
  doc/src/content/docs/en/mod/json/reference/creatures/mutations.md
  doc/src/content/docs/en/mod/json/reference/items/clothing_mods.md
  doc/src/content/docs/en/mod/json/reference/items/item_categories.md
  doc/src/content/docs/en/mod/json/reference/items/materials.md
  doc/src/content/docs/en/mod/json/reference/items/recipes.md
  doc/src/content/docs/en/mod/json/reference/json_info.md
  doc/src/content/docs/en/mod/json/reference/professions.md
  doc/src/content/docs/en/mod/json/reference/tiles/constructions.md
  doc/src/content/docs/en/mod/json/reference/tiles/furn_and_terrain.md
  doc/src/content/docs/en/mod/json/reference/tiles/plants.md
  doc/src/content/docs/en/mod/json/reference/tiles/traps.md
Labels: docs

#6246 docs: lowercase 't' in "title" for plants page
  doc/src/content/docs/en/mod/json/reference/tiles/plants.md
Labels: docs

#6238 feat: Cable Charger mk II CBM
  data/json/bionics.json
  data/json/itemgroups/bionics.json
  data/json/items/bionics.json
  src/active_tile_data_def.h
  src/bionics.cpp
  src/bionics.h
  src/character.h
Labels: src, JSON

#6248 feat: replace the stairs on the roof of the research facility with ladders
  data/json/mapgen/lab/lab_surface/lab_surface_big_z4.json
  data/json/mapgen/lab/lab_surface/lab_surface_big_z5.json
  data/json/mapgen_palettes/lab_surface_palette.json
Labels: JSON

#6251 fix: remove obsolete mushroom spores from Bird food recipe
  data/json/recipes/food/other.json
Labels: JSON

#6250 feat(balance): Updated Survivor Belt Maxes
  data/json/items/armor/belts.json
Labels: JSON

#6253 chore: Mutation Armor Description Information
  data/json/mutations/mutations.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/DinoMod/mutations/mutations.json
  data/mods/My_Sweet_Cataclysm/sweet_mutations.json
Labels: JSON, mods

#6254 feat(UI): Add a total armor section to armor layering
  src/armor_layers.cpp
Labels: src

#6247 feat(UI): waiting allowed when flying high with options for shorter waits
  src/handle_action.cpp
Labels: src

#6256 fix: remove industrial freezer(off) autostart
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: JSON

#6262 fix: tow cables are detachable again
  src/vehicle_part.cpp
Labels: src

#6263 fix: npc don't forget attitude after assisting, ACT_CHOP_TREE and ACT_CHOP_LOGS search for tools in proper vector
  src/activity_item_handling.cpp
  src/character.cpp
Labels: src

#6255 feat: recipes for more grenades and fuzes, adjust C4 and landmine recipes
  data/json/recipes/ammo/components.json
  data/json/recipes/other/traps.json
  data/json/recipes/weapon/explosive.json
  data/json/requirements/explosives.json
  data/json/uncraft/weapon/explosive.json
Labels: JSON

#6264 build: fix clang-tidy / clang-diagnostic error for StringMaker
  tests/map_setup_helpers.h
Labels: tests

#6231 feat(balance): automatically drop harvested items that aren't comestibles
  src/iexamine.cpp
Labels: src

#6234 feat: translocation gates allow teleporting between known gates on examine
  data/json/items/fake.json
  src/iexamine.cpp
Labels: src, JSON

#6221 fix(UI): don't prompt to open peephole doors that can't be opened
  src/iexamine.cpp
Labels: src

#6225 feat(balance): consistency-check FEMA camps, spread out monster spawns and make loot spawns more reliable
  data/json/mapgen/fema/FEMA.json
  data/json/mapgen/fema/FEMA_blc_01.json
  data/json/mapgen/fema/FEMA_blc_02.json
  data/json/mapgen/fema/FEMA_blc_03.json
  data/json/mapgen/fema/FEMA_brc_01.json
  data/json/mapgen/fema/FEMA_brc_02.json
  data/json/mapgen/fema/FEMA_entrance_01.json
  data/json/mapgen/fema/FEMA_entrance_02.json
  data/json/mapgen/fema/FEMA_entrance_03.json
  data/json/mapgen/fema/FEMA_le_00.json
  data/json/mapgen/fema/FEMA_le_01.json
  data/json/mapgen/fema/FEMA_le_02.json
  data/json/mapgen/fema/FEMA_le_03.json
  data/json/mapgen/fema/FEMA_mid_00.json
  data/json/mapgen/fema/FEMA_mid_01.json
  data/json/mapgen/fema/FEMA_mid_02.json
  data/json/mapgen/fema/FEMA_mid_03.json
  data/json/mapgen/fema/FEMA_re_01.json
  data/json/mapgen/fema/FEMA_re_02.json
  data/json/mapgen/fema/FEMA_te_02.json
  data/json/mapgen/fema/FEMA_te_03.json
  data/json/mapgen/fema/FEMA_tlc_01.json
  data/json/mapgen/fema/FEMA_tlc_02.json
  data/json/mapgen/fema/FEMA_tlc_03.json
  data/json/mapgen/fema/FEMA_trc_01.json
  data/json/mapgen/fema/FEMA_trc_02.json
  data/json/mapgen/fema/FEMA_trc_03.json
  data/json/mapgen/nested/fema_nested.json
  data/json/mapgen_palettes/fema.json
Labels: JSON

#6216 fix: debug messages when finding item positions
  src/location_vector.cpp
Labels: src

#6272 feat(balance): Better batch-crafting of dragon materials
  data/mods/Magical_Nights/recipes/alchemy.json
  data/mods/Magical_Nights/recipes/dragon_black.json
Labels: JSON, mods

#6269 feat: add metal window shutters for vehicles
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/military.json
  data/json/vehicles/vans_busses.json
Labels: JSON

#6279 chore: Fix the latest errant angle-braces on non-system headers
  src/crafting.h
Labels: src

#6274 feat(UI): Adds new dump loot zone for items not otherwise sorted.
  data/json/loot_zones.json
  src/clzones.cpp
Labels: src, JSON

#6275 fix: don't print two messages when dodging skitterbots with uncanny dodge
  src/monattack.cpp
Labels: src

#6214 feat(UI): Adds new overmap option to default to Level 0 when map is opened.
  data/raw/keybindings/keybindings.json
  src/overmap_ui.cpp
  src/uistate.h
Labels: src, JSON

#6215 perf: parallelize overmap generation / overmap tile searches
  data/json/npcs/missiondef.json
  src/coordinates.h
  src/game.cpp
  src/iuse_actor.cpp
  src/iuse_software_minesweeper.cpp
  src/mission_start.cpp
  src/mission_util.cpp
  src/npcmove.cpp
  src/npctalk_funcs.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/point.cpp
  src/point.h
  src/start_location.cpp
  tests/map_extra_test.cpp
Labels: src, JSON, tests

#6283 refactor: remove layer backup from class overmap
  src/overmap.cpp
  src/overmap.h
Labels: src
