Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2025-10, with the labels that each got.

#7312 feat(balance): remove `NO_COOKING_BUFF` from several types of crafted food
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/frozen.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/soup.json
Labels: JSON

#7320 fix: remove bonus EXP from swimming now that burning stamina generates EXP
  src/avatar_action.cpp
  src/character.cpp
  src/character_turn.cpp
Labels: src

#7295 feat: skill training iuse & training furniture
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/furniture_and_terrain/furniture-roof.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/item_actions.json
  data/json/items/fake.json
  data/json/items/tool/electronics.json
  data/json/items/vehicle/engine.json
  data/json/player_activities.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/item_factory.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: src, JSON

#7323 fix: make treadmill & ball machine powered
  data/json/items/fake.json
Labels: JSON

#7329 fix: train skill actor once again supports unpowered items
  src/activity_handlers.cpp
Labels: src

#7332 fix: electrohack, wraitheon phone training, more sleep aids
  data/json/items/armor/bedding.json
  data/json/items/armor/coats.json
  data/json/items/comestibles/med.json
  data/json/items/tool/electronics.json
  data/json/recipes/electronic/tools.json
  data/mods/Aftershock/items/tools.json
Labels: JSON, mods

#7337 fix: update improved multi cooker recipe
  data/json/recipes/electronic/tools.json
Labels: JSON

#7341 feat(UI): remove redundant `(active)`/`(lit)` tagtext from active items
  data/json/items/tool/explosives.json
  data/json/items/tool/fire.json
  data/mods/MagicalNights/items/enchanted/enchanted_misc.json
  src/item.cpp
Labels: src, JSON, mods
