Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2025-02, with the labels that each got.

#6027 feat(balance): second revert of shotgun ammo AoE
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/410shot.json
  data/json/items/ammo/flintlock.json
  data/json/items/ammo/shot.json
  data/json/items/ammo/shotpaper.json
  data/json/items/handloaded_bullets.json
Labels: JSON

#6030 feat(balance): add craftable underbarrel laser sight
  data/json/recipes/weapon/mods.json
Labels: JSON

#6033 fix: Fix cone shot not going through fences
  src/ranged_aoe.cpp
Labels: src

#6029 feat: Fix no hacksaw on metal bar window, closed doors block scent
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-windows.json
Labels: JSON

#6036 feat(balance): implement `armor_multiplier` for several shotgun-type items lacking it
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/22.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/410shot.json
  data/json/items/ammo/flintlock.json
  data/json/items/ammo/shotcanister.json
  data/json/items/handloaded_bullets.json
Labels: JSON

#6040 feat: show save file version in game report
  .github/ISSUE_TEMPLATE/bug_report.yml
  src/debug.cpp
  src/debug.h
Labels: src

#6041 feat(balance): The Springening
  data/json/uncraft/generic.json
Labels: JSON

#5885 feat(port): Rabbit Mutations
  data/json/achievements.json
  data/json/external_tileset/rabbit_mutations/rabbit_ears.png
  data/json/external_tileset/rabbit_mutations/rabbit_fur.png
  data/json/external_tileset/rabbit_mutations/rabbit_mutations.json
  data/json/external_tileset/rabbit_mutations/rabbit_nose.png
  data/json/external_tileset/rabbit_mutations/rabbit_paw.png
  data/json/external_tileset/rabbit_mutations/rabbit_tail.png
  data/json/items/comestibles/mutagen.json
  data/json/mutations/mutation_category.json
  data/json/mutations/mutation_ordering.json
  data/json/mutations/mutations.json
  data/json/recipes/chem/mutagen.json
  data/json/statistics.json
Labels: JSON

#6038 feat(UI): compact armor display
  src/panels.cpp
Labels: src

#6042 feat(mods/MonsterGirls): Add bunny-girl mutation category
  data/mods/Monster_Girls/categories.json
  data/mods/Monster_Girls/thresh_mutation.json
  data/mods/Monster_Girls/vanilla_mutations.json
Labels: JSON, mods

#6043 chore(mods/MagicalNights): Fix lore issue with orichalcum fire axes
  data/mods/Magical_Nights/items/melee.json
Labels: JSON, mods

#6044 fix: Fix monster faction debugmsg after monster::poly
  src/monster.cpp
Labels: src

#6046 feat(UI): item category audit for comestibles
  data/json/items/comestibles/brewing.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/protein.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
Labels: JSON

#6048 refactor: Debug spells from Magical Nights moved into Vanilla
  data/json/debug_spells.json
  doc/src/content/docs/en/mod/json/reference/creatures/magic.md
Labels: docs, JSON

#6049 chore(mods/aftershock): fix typo "robot_carrier" -> "robot carrier"
  data/mods/Aftershock/vehicles/vehicle_parts.json
Labels: JSON, mods

#6050 feat(balance, mods/MagicalNights): Buff legendary weapons, fix typo
  data/mods/Magical_Nights/Spells/item_only.json
  data/mods/Magical_Nights/effects/effects.json
  data/mods/Magical_Nights/effects/enchantments.json
  data/mods/Magical_Nights/items/melee.json
Labels: JSON, mods

#6051 feat: add rabbit mutation to Mr_Lapin
  data/json/npcs/holdouts/Mr_Lapin.json
Labels: JSON

#6052 feat: make more overmaps with unique NPC globally unique
  data/json/overmap/overmap_special/specials.json
  tests/overmap_test.cpp
Labels: JSON, tests

#6055 feat(balance): make salt from salt water in small batches
  data/json/recipes/food/other.json
Labels: JSON

#6056 fix(balance): make NV mutations passive
  data/json/mutations/mutations.json
  data/json/obsoletion/mutations.json
Labels: JSON

#6061 fix(mods/MagicalNights): Upgraded dbone weapons take their base versions
  data/mods/Magical_Nights/recipes/weapons.json
Labels: JSON, mods

#6063 chore: Fix the sqlite and zlib `include`s in world.cpp
  src/world.cpp
Labels: src

#6066 fix(mods/MagicalNights, balance): More consistent protection and reasonable recipes for black dragon armor
  data/mods/Magical_Nights/items/black_dragon_items.json
  data/mods/Magical_Nights/recipes/dragon_black.json
Labels: JSON, mods

#6070 feat(balance, mods/MagicalNights): Nerf the ooze's spell
  data/mods/Magical_Nights/Spells/monsterspells.json
  data/mods/Magical_Nights/monsters/monsters.json
Labels: JSON, mods

#6026 fix: sleep menu no longer complains about deafness when using infolink alarm
  src/handle_action.cpp
Labels: src

#6072 fix: use regional terrain for `s_garage_1`
  data/json/mapgen/garage.json
Labels: JSON

#6074 chore: Obsolete No Hope and Generic Guns
  data/mods/Generic_Guns/modinfo.json
  data/mods/No_Hope/modinfo.json
Labels: JSON, mods

#6075 feat(balance, mods/MagicalNights): Change magic academy spawning conditions, change door type
  data/mods/Magical_Nights/worldgen/magic_academy.json
  data/mods/Magical_Nights/worldgen/overmap_specials.json
Labels: JSON, mods

#6078 fix: water dispensers and purifers don't erase inherited flags anymore
  data/json/furniture_and_terrain/furniture-plumbing.json
Labels: JSON

#6079 fix: Animal blood isn't cannibalism
  data/json/items/comestibles/carnivore.json
Labels: JSON

#5987 feat(port): streams
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/itemgroups/SUS/creek_bed.json
  data/json/mapgen/stream.json
  data/json/mapgen/stream_nested.json
  data/json/mapgen_palettes/stream.json
  data/json/monstergroups/wilderness.json
  data/json/overmap/overmap_mutable/stream.json
  data/json/overmap/overmap_terrain/overmap_terrain_stream.json
Labels: JSON

#6084 feat(balance): be more clear about guns that lack integral sights, spawn affected shotguns with backup iron sights
  data/json/items/gun/shot.json
  data/json/items/gunmod/sights.json
Labels: JSON

#6068 feat(balance): split recipes for primers to allow more granular, reversible production
  data/json/recipes/ammo/components.json
Labels: JSON

#6080 feat(balance): rebalalance steel/hard plating recipes, allow crafting hard armor plates
  data/json/items/vehicle/plating.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/vehicles.json
  tests/vehicle_efficiency_test.cpp
Labels: JSON, tests

#6088 fix: make morel culture recipe consistent with normal mushroom recipe
  data/json/recipes/food/seeds.json
Labels: JSON

#6086 refactor: separate game info to own file
  src/debug.cpp
  src/debug.h
  src/debug_menu.cpp
  src/game_info.cpp
  src/game_info.h
  src/main_menu.cpp
Labels: src

#6090 feat: Add siphon ability to `Integrated Toolset`
  data/json/items/fake.json
Labels: JSON

#6091 feat(balance): consistency update for blackpowder tolerance of firearms
  data/json/items/classes/gun.json
  data/json/items/gun/10mm.json
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/gun/270win.json
  data/json/items/gun/300.json
  data/json/items/gun/3006.json
  data/json/items/gun/308.json
  data/json/items/gun/36paper.json
  data/json/items/gun/38.json
  data/json/items/gun/380.json
  data/json/items/gun/38super.json
  data/json/items/gun/40.json
  data/json/items/gun/410shot.json
  data/json/items/gun/44.json
  data/json/items/gun/44paper.json
  data/json/items/gun/45.json
  data/json/items/gun/454.json
  data/json/items/gun/4570.json
  data/json/items/gun/45colt.json
  data/json/items/gun/500.json
  data/json/items/gun/545x39.json
  data/json/items/gun/762.json
  data/json/items/gun/762R.json
  data/json/items/gun/9mm.json
  data/json/items/gun/combination.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/underbarrel.json
Labels: JSON

#6085 feat(balance): audit basic-tier blacksmithing
  data/json/recipes/other/tools.json
  data/json/requirements/toolsets.json
Labels: JSON

#6092 feat(balance): additional rebalancing for gunmods
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/accessories.json
  data/json/items/gunmod/barrel.json
  data/json/items/gunmod/grip.json
  data/json/items/gunmod/mechanism.json
  data/json/items/gunmod/muzzle.json
  data/json/items/gunmod/rail.json
  data/json/items/gunmod/stock.json
  data/mods/CRT_EXPANSION/items/crt_gunmods.json
  data/mods/Magical_Nights/items/enchanted/enchanted_gunmods.json
  tests/ranged_burst_balance_test.cpp
Labels: JSON, tests, mods

#6094 fix: meth withdrawl won't cause you to die of eepy
  src/addiction.cpp
Labels: src

#5898 feat: reliable finale generation, stubbed in existing rarer buildings for finales
  data/json/regional_map_settings.json
  data/json/test_regions.json
  src/overmap.cpp
  src/overmap.h
  src/regional_settings.cpp
  src/regional_settings.h
Labels: src, JSON

#6095 feat(balance): stamina no longer affects walking movecost, instead affecting dodge rating and melee damage
  src/character.cpp
  src/character.h
  src/melee.cpp
  tests/char_stamina_test.cpp
Labels: src, tests

#6096 feat(balance): reduce material requirements for cleaning guns
  data/json/items/gun/faults_gun.json
Labels: JSON

#6093 feat(UI): further audit of item category
  data/json/items/ammo.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/other.json
  data/mods/TEST_DATA/TALK_TEST.json
  tests/npc_talk_test.cpp
Labels: JSON, tests, mods

#6099 fix: add seeds for spurge flowers
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/items/comestibles/seed.json
Labels: JSON

#6067 feat: JSONize spellcasting encumbrance threshold
  src/magic.cpp
  src/magic.h
Labels: src

#6098 fix: make dangerous chemicals impossible to ingest
  data/json/items/chemicals_and_resources.json
Labels: JSON

#6100 feat(balance): use `trash_dumpster` for the dumpster of the mapgen `dollarstore`
  data/json/mapgen/dollar_store.json
Labels: JSON

#6081 fix: Enemies now bash vehicles and furniture in the way
  src/monmove.cpp
Labels: src

#6089 feat: Ammo casing recipes
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/resources/metal.json
  data/json/items/tool/metalworking.json
  data/json/recipes/ammo/bulletcasings.json
Labels: JSON

#6083 fix: secondary magazine gunmods can inherit more behaviors from parent gun
  data/json/flags.json
  data/json/items/gunmod/underbarrel.json
  doc/src/content/docs/en/mod/json/reference/json_flags.md
  src/flag.cpp
  src/flag.h
  src/ranged.cpp
Labels: docs, src, JSON

#6101 feat(balance): allow hydraulic press to be grid furntiure, minor updates to press and brass items
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/fake.json
  data/json/items/resources/metal.json
  data/json/items/tool/metalworking.json
Labels: JSON

#6102 feat(balance): add uncrafts for casings, recipes for shotshells, fix overrides of casing cutdown recipes, related consistency fixes
  data/json/items/ammo/410shot.json
  data/json/items/generic/casing.json
  data/json/recipes/ammo/bulletcasings.json
  data/json/recipes/ammo/components.json
  data/json/recipes/other/materials.json
  data/json/uncraft/ammo/casings.json
  data/json/uncraft/generic.json
Labels: JSON

#6104 fix: faction currency goes in `valuables` item category
  data/json/items/generic/currency.json
Labels: JSON

#6105 ci: Install sol2 for msys2 build
  .github/workflows/msys2-cmake.yml
Labels: dependencies

#6107 feat: nested chequered floor for the kitchen of the mapgen `s_restaurant`
  data/json/mapgen/restaurant.json
Labels: JSON

#6109 fix: Washing activity now appropriately adds item if split.
  src/activity_item_handling.cpp
Labels: src

#6108 fix(balance): Adds Electrosense bionic scanner. Removes power draw from bionic scanner. Add trigger cost to bionic scanning.
  data/json/bionics.json
  data/json/items/tool/electronics.json
  src/bionics.cpp
  src/iuse.cpp
Labels: src, JSON

#6111 fix: `process_relic` exits early if not carried by a character.
  src/magic_enchantment.cpp
Labels: src

#6113 refactor: `process_relic` logic refactor
  src/magic_enchantment.cpp
Labels: src

#6114 feat(port): Blacklist certain special_attacks from difficulty assessment
  src/monstergenerator.cpp
Labels: src

#6116 feat(balance): re-add submaterial to survivor suits, use ballistic armor overrides
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
Labels: JSON

#6121 fix: movement mode changes movecost like it should
  src/character.cpp
  src/character.h
Labels: src

#6031 feat: Rifle and pistol uncrafts
  data/json/uncraft/ammo/pistol ammo.json
  data/json/uncraft/ammo/rifle ammo.json
Labels: JSON

#6123 feat: `roof_palette` instead of `acidia_residential_roof_palette` for `urban_8_6`
  data/json/mapgen/city_blocks/urban_8_house_brick_garden.json
Labels: JSON

#6124 fix: Make `process_relic` take a pointer and stop crashing the game.
  src/item.cpp
  src/item.h
  src/magic_enchantment.cpp
  src/relic.cpp
  src/relic.h
Labels: src

#6125 fix: Allow UPS charge on/off no matter tools' charge
  src/character.cpp
  src/game_inventory.cpp
Labels: src

#6118 feat(balance): make welded shields thicker than bucklers
  data/json/items/armor/shields.json
Labels: JSON

#6122 fix: sanity-check construction of fire rings, updates to improvised shelter
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-manufactured.json
Labels: JSON

#6064 feat: JSONize activity speed/movecost modifier
  data/json/player_activities.json
  doc/src/content/docs/en/mod/json/reference/creatures/player_activity.md
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/activity_type.cpp
  src/activity_type.h
  src/crafting.cpp
  src/crafting.h
  src/enum_conversions.h
  src/game.cpp
  src/player_activity.cpp
  src/player_activity.h
  src/savegame_json.cpp
  src/veh_interact.cpp
  tests/player_activities_test.cpp
Labels: docs, src, JSON, tests

#6117 feat(balance): point-blank shots deal increased damage against intervening terrain
  src/map.cpp
Labels: src

#6129 refactor: UPS checks use static strings
  src/character.cpp
  src/game_inventory.cpp
Labels: src

#6127 feat(UI): Draw lower z-level for overmap
  gfx/MSX++UnDeadPeopleEdition/tile_config.json
  src/cached_options.cpp
  src/cached_options.h
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/options.cpp
  src/sdltiles.cpp
Labels: src

#6131 feat: `roof_palette` instead of `acidia_residential_roof_palette` for `urban_7_5` and `urban_7_6`
  data/json/mapgen/city_blocks/urban_7_house_garden.json
Labels: JSON

#6130 feat(balance): Purifier Smart Shot Crafting, Loot
  data/json/itemgroups/science_and_tech.json
  data/json/recipes/chem/mutagen.json
  data/mods/Aftershock/recipes/recipes.json
Labels: JSON, mods

#6132 feat(mods/MonsterGirls): Monstergirls don't get `BADBACK`
  data/mods/Monster_Girls/vanilla_mutations.json
Labels: JSON, mods

#6133 feat(balance): more bionics can cancel out bad mutations
  data/json/bionics.json
Labels: JSON

#6136 fix: Hide vebose tooltip for sleep
  data/json/player_activities.json
Labels: JSON

#6135 chore: move all `city_building` from specials.json to multitile_city_buildings.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_special/specials.json
Labels: JSON

#6137 docs: updated monster death functions and monster defense attacks
  doc/src/content/docs/en/mod/json/reference/json_flags.md
Labels: docs

#6138 fix: use regional terrain/furniture for `craft_shop_2`
  data/json/mapgen/Pottery_Sewing_Shops.json
Labels: JSON

#6139 fix: flying monsters wouldn't go down in general, non-flying monsters wouldn't go down ramps
  src/monmove.cpp
Labels: src

#6119 feat(balance): adjustments to ring holster and spear strap
  data/json/items/armor/sheath.json
Labels: JSON

#6143 fix: monsters wouldn't spawn
  src/monmove.cpp
Labels: src

#6140 feat(balance): scavenger cowl inherits components' qualities
  data/json/items/armor/helmets.json
  data/json/recipes/armor/head.json
Labels: JSON
