Repository cataclysmbnteam/Cataclysm-BN, pull requests merged in 2025-08, with the labels that each got.

#6491 fix: replace some ASCII symbols in vehicles
  src/ncurses_def.cpp
  src/output.cpp
  src/output.h
  src/sdl_font.cpp
  src/sdltiles.cpp
  src/tileray.cpp
Labels: src

#6875 feat(mods): Add lua mod to enable changing haircuts
  data/mods/change_hairstyle/item.json
  data/mods/change_hairstyle/iuse.json
  data/mods/change_hairstyle/main.lua
  data/mods/change_hairstyle/modinfo.json
  data/mods/change_hairstyle/preload.lua
  data/mods/default.json
Labels: JSON, mods, lua

#6877 fix: typo - atomic irish coffe
  data/json/items/comestibles/alcohol.json
Labels: JSON

#6879 fix: move damage to top level to fix zombie child clothes
  data/json/monsterdrops/zombie_child.json
Labels: JSON

#6881 fix: make crafting inside a vehicle with a butchery station not crash
  src/map.cpp
Labels: src

#6882 fix: Lean is junk and drug
  data/json/items/comestibles/med.json
Labels: JSON

#6883 fix: fix #6770 being reverted by #6787
  src/creature.cpp
Labels: src

#6858 feat(balance): bullets hitting cover lose armor penetration
  src/map.cpp
Labels: src

#6887 feat(UI): debug info for bullets hitting cover
  src/map.cpp
Labels: src

#6867 feat: bullets can overpenetrate against creatures
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/ammo/50.json
  data/json/items/ammo/66mm.json
  data/json/items/ammo/84x246mm.json
  data/json/items/ammo/atgm.json
  data/json/items/ammo/cannon.json
  data/json/items/ammo/mininuke_mod.json
  data/json/items/ammo/rpg.json
  data/json/items/ammo/shot.json
  data/json/items/ammo/shotpaper.json
  data/json/items/ammo/signal_flare.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  src/ballistics.cpp
  src/creature.cpp
Labels: src, JSON

#6816 feat: disable typewriter rule check
  src/translations.cpp
  tests/json_test.cpp
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/CataTidyModule.cpp
Labels: src, tests

#6889 feat(balance): check cover for furniture and terrain independently if both are on the same tile
  src/map.cpp
Labels: src

#6890 feat(UI, balance): Change self-aware effects to an option in the settings
  data/json/mutations/mutations.json
  data/json/obsoletion/mutations.json
  src/character.cpp
  src/iuse_actor.cpp
  src/mutation.cpp
  src/options.cpp
  src/panels.cpp
Labels: src, JSON

#6891 feat: Bring back leadworks via Exotic calibers mod
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/obsoletion/MOVE_AFTER_NEXT_STABLE/exotic_ammo/uncrafts/ammo.json
  data/json/obsoletion/MOVE_AFTER_NEXT_STABLE/exotic_ammo/uncrafts/casings.json
  data/json/obsoletion/items.json
  data/json/obsoletion/migration.json
  data/json/obsoletion/recipes.json
  data/mods/exotic_ammo/generic/leadworks.json
  data/mods/exotic_ammo/itemgroups/gunmods.json
  data/mods/exotic_ammo/itemgroups/guns.json
  data/mods/exotic_ammo/itemgroups/magazines.json
  data/mods/exotic_ammo/itemgroups/misc.json
  data/mods/exotic_ammo/itemgroups/nested-guns.json
  data/mods/exotic_ammo/items/gun/22.json
  data/mods/exotic_ammo/items/gun/223.json
  data/mods/exotic_ammo/items/gun/460.json
  data/mods/exotic_ammo/items/gun/9mm.json
  data/mods/exotic_ammo/items/gunmod/barrel.json
  data/mods/exotic_ammo/items/gunmod/magazine.json
  data/mods/exotic_ammo/items/gunmod/rail.json
  data/mods/exotic_ammo/items/gunmod/sights.json
  data/mods/exotic_ammo/items/gunmod/underbarrel.json
  data/mods/exotic_ammo/items/magazine/22.json
  data/mods/exotic_ammo/items/magazine/223.json
  data/mods/exotic_ammo/items/magazine/460.json
  data/mods/exotic_ammo/items/magazine/9mm.json
  data/mods/exotic_ammo/recipes/ammo.json
  data/mods/exotic_ammo/recipes/casings.json
  data/mods/exotic_ammo/recipes/guns.json
  data/mods/exotic_ammo/uncrafts/misc.json
Labels: JSON, mods

#6893 feat(balance): increase yield of removing grass to match cutting grass
  data/json/construction.json
Labels: JSON

#6894 feat(UI): add XP progress reporting to studying magic
  src/activity_handlers.cpp
Labels: src

#6827 feat: reveal terrain on walking into it while blind, less blundering into revealed traps
  src/avatar_action.cpp
  src/game.cpp
  src/trap.cpp
Labels: src

#6566 feat: add more lua bindings for `terrain` / `furniture`
  docs/en/mod/lua/reference/lua.md
  lua_annotations.lua
  src/catalua_bindings_ids.cpp
Labels: docs, src, lua

#6900 feat(balance): make zapper zombies stronger
  data/json/monsters/zed_electric.json
Labels: JSON

#6899 feat(i18n): add missing korean nickname and world names
  data/names/ko.json
Labels: JSON

#6908 feat(balance): Remove pit-digging from log walls
  data/json/construction.json
Labels: JSON

#6907 feat(balance): Tweak shocker/zapper zombies again
  data/json/monsters/zed_electric.json
Labels: JSON

#6898 feat(balance): allow stacking money items, move to valuables category and adjust pre-apoc value, adjust uncrafts, spawn in more places
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/corpses.json
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/monsterdrops/zombie.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_default.json
  data/json/monsterdrops/zombie_military_pilot.json
  data/json/monsterdrops/zombie_resort.json
  data/json/monsterdrops/zombie_soldier.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/uncraft/generic.json
Labels: JSON

#6635 refactor: split game, map, ui lua bindings
  src/catalua_bindings.cpp
  src/catalua_bindings_game.cpp
  src/catalua_bindings_map.cpp
  src/catalua_bindings_ui.cpp
Labels: src

#6913 style: use oneline style for Lua bindings
  src/catalua_bindings.cpp
  src/catalua_bindings_coords.cpp
  src/catalua_bindings_creature.cpp
  src/catalua_bindings_game.cpp
  src/catalua_bindings_ids.cpp
  src/catalua_bindings_magic.cpp
  src/catalua_bindings_map.cpp
  src/catalua_bindings_mutation.cpp
  src/catalua_bindings_recipe.cpp
  src/catalua_bindings_ui.cpp
Labels: src

#6914 feat: `on_character_reset_stats` lua hook
  data/mods/speedydex/main.lua
  data/mods/speedydex/preload.lua
  docs/en/mod/lua/reference/lua.md
  docs/en/mod/lua/tutorial/modding.md
  lua_annotations.lua
  src/catalua.cpp
  src/catalua_bindings.cpp
  src/catalua_hooks.cpp
  src/catalua_hooks.h
  src/character_turn.cpp
  src/debug_menu.cpp
Labels: docs, src, JSON, mods, lua

#6917 fix(balance): Make copper wire no-longer free to buy
  data/json/items/ammo.json
Labels: JSON

#6916 fix(mods/speedydex): make speedup actually work again
  data/mods/speedydex/preload.lua
Labels: JSON, mods, lua

#6911 feat: add blinkies, fried blinkies and blinkie van
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/bread.json
  data/json/recipes/food/bread.json
  data/json/recipes/food/meat.json
  data/json/vehicle_groups.json
  data/json/vehicles/vans_busses.json
Labels: JSON

#6919 fix: fix log walls being unable to be finished
  data/json/construction.json
Labels: JSON

#6920 feat(balance, mods/MagicalNights): Reduce max level of spells to at most 20
  data/mods/MagicalNights/Spells/animist.json
  data/mods/MagicalNights/Spells/biomancer.json
  data/mods/MagicalNights/Spells/classless.json
  data/mods/MagicalNights/Spells/druid.json
  data/mods/MagicalNights/Spells/earthshaper.json
  data/mods/MagicalNights/Spells/kelvinist.json
  data/mods/MagicalNights/Spells/magus.json
  data/mods/MagicalNights/Spells/stormshaper.json
  data/mods/MagicalNights/Spells/technomancer.json
Labels: JSON, mods

#6904 feat: more boats and ways to find them
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/stashes.json
  data/json/itemgroups/supplies.json
  data/json/items/book/maps.json
  data/json/mapgen/Bastion_Fort.json
  data/json/mapgen/bandit_cabin.json
  data/json/mapgen/bandit_camp.json
  data/json/mapgen/bandit_garage.json
  data/json/mapgen/dock.json
  data/json/mapgen/lake.json
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/json/mapgen/map_extras/corpses.json
  data/json/mapgen/marina.json
  data/json/mapgen/meth_lab.json
  data/json/mapgen/riverside/whaleys_boat_rental.json
  data/json/mapgen_palettes/bastion_fort_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
  data/json/scenarios.json
  data/json/start_locations.json
  data/json/uncraft/generic.json
  data/json/vehicle_groups.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/boats.json
  data/json/vehicles/vans_busses.json
Labels: JSON

#6924 feat: more specific lua annotation sorting
  data/raw/generate_types.lua
  lua_annotations.lua
Labels: JSON, lua

#6927 feat(UI): add some missing sprites to UDP external tileset
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  docs/en/mod/json/reference/graphics/external_tileset.md
Labels: docs, JSON

#6923 feat: bind `item::{,de}activate`
  docs/en/mod/lua/reference/lua.md
  lua_annotations.lua
  src/catalua_bindings.cpp
Labels: docs, src, lua

#6933 feat: more guns compatible with Krav Maga
  data/json/martialarts.json
Labels: JSON

#6935 fix: dark, light, and psi damage not loading
  docs/en/mod/json/reference/creatures/monsters.md
  src/damage.cpp
Labels: docs, src

#6938 feat(UI): Update the overmap special options
  src/options.cpp
Labels: src

#6941 refactor: use `table.insert`
  data/mods/ebook_lua/preload.lua
  data/mods/saveload_lua_test/preload.lua
  data/mods/smart_house_remotes/main.lua
  data/mods/smart_house_remotes/preload.lua
  data/mods/teleportation_mod/main.lua
  data/mods/teleportation_mod/preload.lua
  data/raw/generate_docs.lua
  docs/en/mod/lua/tutorial/modding.md
Labels: docs, JSON, mods, lua

#6942 fix(mods/JP_Weather_Variants)!: rename weather region for accessibility
  data/mods/JP_Weather_Variants/weather_regional_map_settings.json
Labels: JSON, mods

#6944 feat(balance): rework contents of `toxic_waste` itemgroup to include mutagen in bulk, spawn in HWS
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/nuclear_reactor_groups.json
  data/json/items/chemicals_and_resources.json
  data/json/mapgen/aftershock/municipal_microreactor.json
  data/json/mapgen/hazardous_waste_sarcophagus.json
  data/json/mapgen/toxic_dump.json
Labels: JSON

#6945 feat(UI): Change `transform` item action's name in the menus to be more accurate
  data/json/item_actions.json
Labels: JSON

#6929 feat: elite zombies part 2
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/monster_attacks.json
  data/json/monsterdrops/zombie_soldier.json
  data/json/monstergroups/military.json
  data/json/monstergroups/zombie_upgrades.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_medical.json
  data/json/monsters/zed_soldiers.json
Labels: JSON

#6830 feat(port): auto-find stairs QOL & find_stairs extraction from find_or_make_stairs
  src/game.cpp
  src/game.h
  src/options.cpp
Labels: src

#6950 fix: typo writ of trade
  data/json/items/fluff.json
Labels: JSON

#6949 feat(balance): Remove radiation from hardcoded mx_crater
  src/map_extras.cpp
Labels: src

#6953 fix: Chitinous Plates no longer restrict headgear
  data/json/mutations/mutations.json
Labels: JSON

#6948 feat(UI): Display melee stamina costs, allow for player stamina to be displayed numerically
  src/character.h
  src/item.cpp
  src/item.h
  src/melee.cpp
  src/panels.cpp
  tests/iteminfo_test.cpp
Labels: src, tests

#6955 docs: update dprint vscode guide
  docs/en/mod/lua/explanation/lua_style.md
Labels: docs

#6951 feat(balance, mods/MagicalNights): Make skeleton keys recharge
  data/mods/MagicalNights/items/enchanted/enchanted_misc.json
Labels: JSON, mods

#6960 feat: update the music store
  data/json/mapgen/musicstore.json
Labels: JSON

#6962 feat: bind more item functions
  docs/en/mod/lua/reference/lua.md
  lua_annotations.lua
  src/catalua_bindings.cpp
  src/catalua_bindings_creature.cpp
Labels: docs, src, lua

#6964 fix: stop unloading disposable dab pens
  data/json/items/tool/smoking.json
Labels: JSON

#6968 feat(balance, mods/MagicalNights): Give krabgeks some armor
  data/mods/MagicalNights/monsters/monsters.json
Labels: JSON, mods

#6939 feat(balance): modernize mondeath explosions, rebalance pupa and raptor zeds, fix explosion volume
  data/json/monster_attacks.json
  data/json/monsters/zed-pupating.json
  data/json/monsters/zed-winged.json
  src/explosion.cpp
  src/mondeath.cpp
Labels: src, JSON

#6963 feat: MORE melee damage type and `target_armor_multiplier`
  data/json/artifact/premade_artifacts.json
  docs/en/mod/json/reference/creatures/martialart_json.md
  src/bonuses.cpp
  src/character.h
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
  src/melee.h
Labels: docs, src, JSON

#6972 feat: bring back additional fire weapons, implement elemental melee damage for fire and electric weapons
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/fire.json
  data/json/items/tool/lighting.json
  data/json/items/tool/misc.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/recipes/weapon/cutting.json
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/CrazyCataclysm/crazy_recipes.json
  data/mods/MagicalNights/items/enchanted/enchanted_misc.json
  data/mods/MagicalNights/items/enchanted/enchanted_unarmed.json
  data/mods/MagicalNights/items/ethereal_items.json
  data/mods/MagicalNights/items/melee.json
Labels: JSON, mods

#6975 fix: Remove redundant metal sawing uncrafts
  data/json/recipes/other/materials.json
  data/json/uncraft/generic.json
Labels: JSON

#6976 feat: Remove uncrafts for salvageable items that turn to scrap metal
  data/json/uncraft/generic.json
  data/json/uncraft/magazine/12mm.json
  data/json/uncraft/magazine/22.json
  data/json/uncraft/magazine/223.json
  data/json/uncraft/magazine/300.json
  data/json/uncraft/magazine/3006.json
  data/json/uncraft/magazine/308.json
  data/json/uncraft/magazine/32.json
  data/json/uncraft/magazine/357sig.json
  data/json/uncraft/magazine/38.json
  data/json/uncraft/magazine/380.json
  data/json/uncraft/magazine/40.json
  data/json/uncraft/magazine/410shot.json
  data/json/uncraft/magazine/44.json
  data/json/uncraft/magazine/45.json
  data/json/uncraft/magazine/46.json
  data/json/uncraft/magazine/50.json
  data/json/uncraft/magazine/66mm.json
  data/json/uncraft/magazine/762.json
  data/json/uncraft/magazine/762R.json
  data/json/uncraft/magazine/9mm.json
  data/json/uncraft/magazine/nail.json
  data/json/uncraft/magazine/shot.json
  data/json/uncraft/magazine/weldgas.json
Labels: JSON

#6979 feat: buff lake professions & underwater propellers CBM
  data/json/bionics.json
  data/json/enchantments.json
  data/json/itemgroups/bionics.json
  data/json/items/bionics.json
  data/json/mutations/mutations.json
  data/json/professions.json
  data/json/scenarios.json
Labels: JSON

#6980 feat: jetski, motorized kayak & river boat spawns
  data/json/mapgen/lake.json
  data/json/overmap/overmap_terrain/overmap_terrain_river.json
  data/json/vehicle_groups.json
  data/json/vehicles/boats.json
Labels: JSON

#6984 fix: batch craft time savings for rehydrated foods
  data/json/recipes/food/meat.json
  data/json/recipes/food/veggi.json
Labels: JSON

#6985 fix: obsolete cooked strawberries and cooked blueberries
  data/json/items/comestibles/fruit_dishes.json
  data/json/obsoletion/items.json
  data/json/recipes/food/other.json
Labels: JSON

#6987 feat: allow nails for repairinng wooden vehicle parts, use sewing for cloth vehicle parts
  data/json/requirements/materials.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/rotor.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/wheel.json
Labels: JSON

#6965 docs: modernize C++ style guide
  docs/en/dev/explanation/code_style.md
Labels: docs

#6997 feat(balance, mods/MagicalNights): Rebalance ethereal items
  data/mods/MagicalNights/items/ethereal_items.json
Labels: JSON, mods

#6994 fix: don't dunk players underwater through boats, don't allow surfacing from under a boat, take monsters out of the water when they board boats, disallow aquatic monsters from landsharking onto boats
  src/avatar_action.cpp
  src/game.cpp
  src/map.cpp
  src/monmove.cpp
Labels: src

#6956 feat: more monster evolutions
  data/json/emit.json
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/external_tileset/External_Tileset_DP_Tall.json
  data/json/external_tileset/External_Tileset_DP_Tall.png
  data/json/monster_attacks.json
  data/json/monsterdrops/zombie.json
  data/json/monsterdrops/zombie_technician.json
  data/json/monstergroups/zombie_upgrades.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_misc.json
Labels: JSON

#7019 fix(mods/MagicalNights): Allow unwielding flesh pouches
  data/mods/MagicalNights/items/ethereal_items.json
Labels: JSON, mods

#7021 feat(balance): make glass shivs stabbing weapons, more handle material options
  data/json/items/melee/misc.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
Labels: JSON

#7024 fix: bird achievement and threshold no longer imply you can't obtain flight
  data/json/achievements.json
  data/json/mutations/mutations.json
Labels: JSON

#7025 feat: remove glazed and multi pane windows
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/obsoletion/uncategorized.json
Labels: JSON

#7040 feat(mods): `on_mon_death` lua hook
  .github/workflows/matrix.yml
  data/mods/Test_for_Lua_hooks/main.lua
  data/mods/Test_for_Lua_hooks/modinfo.json
  data/mods/Test_for_Lua_hooks/preload.lua
  data/raw/generate_types.lua
  docs/en/dev/reference/cli_options.md
  docs/en/mod/lua/reference/lua.md
  lua_annotations.lua
  src/catalua_bindings.cpp
  src/catalua_hooks.cpp
  src/monster.cpp
Labels: docs, src, JSON, mods, lua

#7032 feat(balance): fix FAMAS, KSG/KSG-25, TS12 being much larger than other bullpup firearms
  data/json/items/gun/223.json
  data/json/items/gun/shot.json
Labels: JSON

#7042 feat: add a parameterized palette to allow different linoleum colors in houses kitchens
  data/json/mapgen_palettes/house_general_palette.json
Labels: JSON

#7044 refactor: move dozens of recipes to crafting standards
  data/json/recipes/ammo/arrows.json
  data/json/recipes/ammo/other.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/tools.json
  data/json/requirements/toolsets.json
  data/mods/CheesyInnaWoodsFixes/recipes/existing_recipe_changes/tool_recipe_bn.json
  data/mods/MagicalNights/recipes/weapons.json
Labels: JSON, mods

#6958 feat(balance): immolating enemies spawns the corpse burnt, flamer and gasoline zombies require specific damage to detonate and can be triggered prematurely
  data/json/monsters/zed-winged.json
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_soldiers.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  docs/en/mod/json/reference/json_flags.md
  src/creature.cpp
  src/mondeath.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: docs, src, JSON, mods

#7046 fix(UI): show up-to-date item info for attacks
  src/item.cpp
Labels: src

#7052 feat(balance): simplify and standarize wooden vehiclepart recipes, add light wooden seat
  data/json/recipes/other/vehicles.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/boats.json
  tests/vehicle_drag_test.cpp
Labels: JSON, tests

#7053 feat(balance): carbon fiber parts are shock resistant, superalloy parts shock immune
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/vehicle_parts.json
Labels: JSON

#7054 fix: remove `spawn_summoned_monster` failure message
  src/magic_spell_effect.cpp
Labels: src

#7051 feat: Move recipes to tool qualities
  data/json/items/fake.json
  data/json/items/resources/metal.json
  data/json/items/tool/handloading.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/workshop.json
  data/json/recipes/ammo/components.json
  data/json/recipes/ammo/launcher.json
  data/json/recipes/ammo/other.json
  data/json/recipes/ammo/shot.json
  data/json/recipes/armor/head.json
  data/json/recipes/chem/chemicals.json
  data/json/recipes/electronic/components.json
  data/json/recipes/electronic/parts.json
  data/json/recipes/electronic/tools.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/tools.json
  data/json/recipes/other/vehicles.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/ammo.json
  data/json/requirements/toolsets.json
  data/json/tool_qualities.json
  data/json/uncraft/ammo/40x46mm.json
  data/json/uncraft/ammo/40x53mm.json
  data/json/uncraft/generic.json
  data/mods/Aftershock/recipes/recipes.json
  data/mods/MagicalNights/recipes/blacksmithing.json
  data/mods/MagicalNights/recipes/weapons.json
  data/mods/exotic_ammo/recipes/casings.json
Labels: JSON, mods

#7062 fix: make some bullets uncraftable the old way
  data/json/recipes/ammo/launcher.json
  data/json/recipes/ammo/shot.json
  data/json/uncraft/ammo/40x46mm.json
  data/json/uncraft/ammo/40x53mm.json
  data/json/uncraft/ammo/410.json
  data/json/uncraft/ammo/shot.json
Labels: JSON

#7077 feat: Move atomic items from Aftershock to mainline
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/collections_trades.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/furniture.json
  data/json/items/tool/cooking.json
  data/json/items/tool/deployable.json
  data/json/items/tool/electronics.json
  data/json/requirements/cooking_tools.json
  data/json/uncraft/generic.json
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/items/furniture.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/recipes/requirements.json
  data/mods/Aftershock/recipes/uncraft.json
Labels: JSON, mods

#7073 fix: update construction to use wood and steel crafting requirements
  data/json/construction.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/mods/CRT_EXPANSION/constructions/crt_constructions.json
Labels: JSON, mods

#7068 feat(balance): adjust turret install diffuculties
  data/json/vehicleparts/turret.json
Labels: JSON

#7067 feat(balance): standardize names for lifting items, add a wooden crane
  data/json/external_tileset/External_Tileset_DP_Normal.json
  data/json/external_tileset/External_Tileset_DP_Normal.png
  data/json/items/vehicle/engineering.json
  data/json/recipes/other/vehicles.json
  data/json/vehicleparts/engineering.json
Labels: JSON

#7082 feat: Make npcs finish their books
  src/npc.cpp
Labels: src

#7083 feat: palette update for bungalow houses 16 to 30
  data/json/mapgen/house/bungalow16.json
  data/json/mapgen/house/bungalow17.json
  data/json/mapgen/house/bungalow18.json
  data/json/mapgen/house/bungalow19.json
  data/json/mapgen/house/bungalow20.json
  data/json/mapgen/house/bungalow21.json
  data/json/mapgen/house/bungalow22.json
  data/json/mapgen/house/bungalow23.json
  data/json/mapgen/house/bungalow24.json
  data/json/mapgen/house/bungalow25.json
  data/json/mapgen/house/bungalow26.json
  data/json/mapgen/house/bungalow27.json
  data/json/mapgen/house/bungalow28.json
  data/json/mapgen/house/bungalow29.json
  data/json/mapgen/house/bungalow30.json
Labels: JSON

#7086 fix: prevent infinite speech loop via requesting equipment
  data/json/npcs/TALK_COMMON_OTHER.json
  src/npctalk_funcs.cpp
Labels: src, JSON

#7087 fix: NPC generating items are no longer reusable
  src/character.cpp
Labels: src

#7089 fix: Fix cones having weird blindspots at certain angles and rotations
  src/magic_spell_effect.cpp
Labels: src

#7079 feat: NPCs can now activate armor and weapons in combat
  data/json/bionics.json
  data/json/flags.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/power_armor.json
  data/json/items/bionics.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/masonry.json
  data/json/items/tool/woodworking.json
  data/json/items/tool_armor.json
  src/flag.cpp
  src/flag.h
  src/iuse_actor.cpp
  src/melee.cpp
  src/npcmove.cpp
Labels: src, JSON

#7090 docs: Attempt to explain mutation healing changes
  docs/en/mod/json/reference/creatures/mutations.md
Labels: docs

#7094 fix: stop recursively using remove_worn_items_with when removing gear
  src/locations.cpp
Labels: src

#7096 feat: NPCs can use CBMs using Solar or Wind Power
  data/json/bionics.json
  data/json/items/bionics.json
  src/npcmove.cpp
Labels: src, JSON

#7098 docs: fix documentation around astyle
  docs/en/dev/explanation/code_style.md
Labels: docs

#7101 fix: Drugs no longer have double the effect time
  data/json/items/comestibles/med.json
  src/iuse_actor.cpp
Labels: src, JSON

#7102 fix: restore accidentally deleted line
  data/json/items/comestibles/med.json
Labels: JSON

#7049 feat: add possibility for taming to require specified traits
  src/character.h
  src/iuse.cpp
  src/monstergenerator.cpp
  src/mtype.h
  src/mutation.cpp
Labels: src

#7099 fix(mods/teleportation_tech): make teleport furnitures deploy/collectable
  data/mods/teleportation_mod/item.json
  data/mods/teleportation_mod/main.lua
Labels: JSON, mods, lua

#7108 fix: Turrets will no longer return fire when using EMP weapons
  src/ballistics.cpp
  src/mondefense.cpp
Labels: src

#7107 feat: add more tamable animals
  data/json/items/comestibles/other.json
  data/json/monsters/bird.json
  data/json/monsters/mammal.json
  data/json/recipes/food/other.json
Labels: JSON

#7104 fix: also allow taking apart primed .22 casings
  data/json/recipes/ammo/components.json
Labels: JSON

#7103 feat(balance): reduce number of cannons and powderkegs on pirate ship, fix canoes
  data/json/vehicles/boats.json
  tests/vehicle_drag_test.cpp
Labels: JSON, tests

#7109 feat: palette update for duplex houses
  data/json/mapgen/house/house_duplex.json
  data/json/mapgen/house/house_duplex10.json
  data/json/mapgen/house/house_duplex11.json
  data/json/mapgen/house/house_duplex2.json
  data/json/mapgen/house/house_duplex3.json
  data/json/mapgen/house/house_duplex4.json
  data/json/mapgen/house/house_duplex5.json
  data/json/mapgen/house/house_duplex6.json
  data/json/mapgen/house/house_duplex7.json
  data/json/mapgen/house/house_duplex8.json
  data/json/mapgen/house/house_duplex9.json
Labels: JSON

#7111 fix: obsolete washing machine and dishwasher vehicleparts since filthy clothing was removed
  data/json/items/vehicle/utilities.json
  data/json/mapgen/mall/mall_ground.json
  data/json/obsoletion/items.json
  data/json/obsoletion/recipes.json
  data/json/obsoletion/vehicle_parts.json
  data/json/recipes/other/vehicles.json
  data/json/uncraft/generic.json
  data/json/vehicleparts/vehicle_parts.json
Labels: JSON

#7113 feat(balance): add alternative materials to solder recipe
  data/json/recipes/electronic/parts.json
Labels: JSON

#7120 fix: don't give regular pirate profession a vehicle
  data/json/professions.json
Labels: JSON

#7122 feat(balance): metal railing has higher bash resist than metal railing, correct `destroy_threshold` of wooden railing
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: JSON

#7124 feat: adds coves and wooden shipwrecks, additional adjustments to lake content
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/itemgroups/Locations_MapExtras/locations_waterbody.json
  data/json/items/comestibles/raw_veggy.json
  data/json/mapgen/antique_store.json
  data/json/mapgen/cave.json
  data/json/mapgen/lake.json
  data/json/mapgen/lake_buildings/cove_shoal.json
  data/json/mapgen/lake_buildings/lake_sunken_wood.json
  data/json/mapgen/storage_units_large.json
  data/json/mapgen/storage_units_medium.json
  data/json/mapgen/storage_units_small.json
  data/json/mapgen_palettes/bastion_fort_palette.json
  data/json/mapgen_palettes/cabin.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_waterbody.json
  data/json/recipes/food/meat.json
  data/json/recipes/food/veggi.json
  data/json/requirements/cooking_components.json
  data/json/vehicle_groups.json
Labels: JSON

#7123 feat(balance): make junk wall constructions easier and more consistent, add outdoor floor and door versions
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/requirements/materials.json
Labels: JSON

#7116 feat: add RV parks
  data/json/mapgen/rv_park.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  data/json/regional_map_settings.json
  data/json/vehicle_groups.json
Labels: JSON

#7128 feat: UPS can recharge both internal and reloaded batteries
  data/json/flags.json
  data/json/items/tool/electronics.json
  data/json/items/toolmod.json
  data/json/recipes/electronic/components.json
  docs/en/mod/json/reference/items/item_creation.md
  src/avatar.cpp
  src/character.cpp
  src/character_turn.cpp
  src/flag.cpp
  src/flag.h
  src/item_factory.cpp
  src/item_factory.h
  src/itype.h
Labels: docs, src, JSON

#7133 fix: add `ALLOWS_TAIL_SNAKE` to overlooked containers and tool armors
  data/json/items/containers.json
  data/json/items/tool_armor.json
Labels: JSON

#7134 fix: remove meat allergen from artificial sausage casing
  data/json/items/comestibles/offal_dishes.json
Labels: JSON
